@model Dfc.CourseDirectory.Web.ViewModels.YourCourses.YourCoursesViewModel

<style>

    .cd__your-courses__accordion-list {
    }

        .cd__your-courses__accordion-list .govuk-details__summary {
            border-bottom: 1px solid grey;
        }

        .cd__your-courses__accordion-list .govuk-details__summary-text {
            color: #000;
            font-size: 1.5em;
            font-weight: 900;
            text-decoration: none;
        }

        .cd__your-courses__accordion-list .govuk-details__summary {
            width: 100%;
        }

            .cd__your-courses__accordion-list .govuk-details__summary ul {
                padding: 0px;
                color: #000;
                text-decoration: none;
            }

                .cd__your-courses__accordion-list .govuk-details__summary ul li {
                    display: inline;
                    padding-right: 1rem;
                }

        .cd__your-courses__accordion-list .govuk-details__text {
            padding-right: 0px;
            border-left: 0px;
        }

        .cd__your-courses__accordion-list .govuk-accordion__section-heading ul {
            padding: 0px 0px 0px 1rem;
            margin-top: 0px;
            margin-bottom: 0px;
        }

            .cd__your-courses__accordion-list .govuk-accordion__section-heading ul li {
                display: inline;
                padding-right: 1rem;
            }

        .cd__your-courses__accordion-list .govuk-accordion__section-heading .govuk-accordion__section-button {
            color: #000;
        }

            .cd__your-courses__accordion-list .govuk-accordion__section-heading .govuk-accordion__section-button .row-1 {
            }

            .cd__your-courses__accordion-list .govuk-accordion__section-heading .govuk-accordion__section-button .row-2 {
                font-size: 0.8em;
                font-weight: normal;
                color: #666;
            }

            .cd__your-courses__accordion-list .govuk-accordion__section-heading .govuk-accordion__section-button .row-2 {
                font-size: 1rem;
                font-weight: normal;
            }

        .cd__your-courses__accordion-list .govuk-accordion__section-content {
            padding-bottom: 0px;
        }

    .cd__your-courses__accordion-content-card {
        border: 1px solid #ccc;
    }

    .cd__your-courses__accordion-content-card-content {
        padding: 1rem;
    }

    .cd__your-courses__accordion-content-card-controls {
        border: 0px;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
    }

    .flex-item {
        padding: 5px 1rem 5px 0px;
        margin-top: 10px;
        -ms-word-break: break-all;
        word-break: break-all;
        /* Non standard for webkit */
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

        .flex-item label {
            display: block;
            font-weight: 900;
        }

    .cd__your-courses__filters-list {
        margin: 0px;
        padding:0px;
        list-style: none;
    }

    .cd__your-courses__filters-list__link {
        color: #000;
        font-family: nta,Arial,sans-serif;
        text-decoration: none;
    }

    .cd__your-courses__filters-list__link--selected {
        font-weight: 900;
    }
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">@Model.HeadingCaption</span>
            @Model.Heading
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <ul class="cd__your-courses__filters-list">
            @foreach (var filter in Model.LevelFilters)
            {
                @if (filter.IsSelected)
                {
                    <li><a class="cd__your-courses__filters-list__link cd__your-courses__filters-list__link--selected" href="@filter.Value">@filter.Name (@filter.Facet)</a></li>
                }
                else
                {
                    <li><a class="cd__your-courses__filters-list__link" href="@filter.Value">@filter.Name (@filter.Facet)</a></li>
                }
                <hr class="cd__your-courses__filters-list__break">
            }
        </ul>
    </div>
    <div class="govuk-grid-column-three-quarters">
        <div class="cd__your-courses__accordion-list">
            @foreach (var course in Model.Courses)
            {
                <details id="@course.Id" class="govuk-details" data-courseid="@course.Id">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            @course.QualificationTitle
                        </span>
                        <ul>
                            @if (!string.IsNullOrEmpty(course.LearnAimRef))
                            {
                                <li>Lars/QAN: @course.LearnAimRef</li>
                            }
                            @if (!string.IsNullOrEmpty(course.NotionalNVQLevelv2))
                            {
                                <li>Level: @course.NotionalNVQLevelv2</li>
                            }
                            @if (!string.IsNullOrEmpty(course.AwardOrg))
                            {
                                <li>Award Org.: @course.AwardOrg</li>
                            }
                            <li>
                                <a class="govuk-link" asp-controller="EditCourse" asp-action="Index" asp-route-courseId="@course.Id">Edit course description</a>
                            </li>
                        </ul>
                    </summary>
                    <div class="govuk-details__text">
                        <div class="govuk-accordion" data-module="accordion" id="accordion-@course.Id">
                            @foreach (var courseRun in course.CourseRuns)
                            {
                                <div class="govuk-accordion__section" id="@courseRun.Id">
                                    <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading">
                                            <button type="button" id="accordion-default-heading-@courseRun.Id" aria-controls="accordion-default-content-@courseRun.Id" class="govuk-accordion__section-button" aria-expanded="false">
                                                <ul class="row-1">
                                                    <li>@courseRun.CourseName</li>
                                                </ul>
                                                @if (!string.IsNullOrEmpty(courseRun.CourseId)
                                                 || !string.IsNullOrEmpty(courseRun.StudyMode)
                                                 || !string.IsNullOrEmpty(courseRun.StartDate))
                                                {
                                                <ul class="row-2">
                                                    @if (!string.IsNullOrEmpty(courseRun.CourseId))
                                                    {
                                                        <li>
                                                            @courseRun.CourseId
                                                        </li>
                                                    }
                                                    @if (courseRun.DeliveryMode == "Classroom based")
                                                    {
                                                        @if (!string.IsNullOrEmpty(courseRun.Venue))
                                                        {
                                                            <li>
                                                                @courseRun.Venue
                                                            </li>
                                                        }
                                                    }
                                                    @if (courseRun.DeliveryMode == "Work based")
                                                    {
                                                        @if (!string.IsNullOrEmpty(courseRun.Region))
                                                        {
                                                            <li>
                                                                @courseRun.Region
                                                            </li>
                                                        }
                                                    }
                                                    @if (!string.IsNullOrEmpty(courseRun.StudyMode))
                                                    {
                                                        <li>
                                                            @courseRun.StudyMode
                                                        </li>
                                                    }
                                                    @if (!string.IsNullOrEmpty(courseRun.StartDate))
                                                    {
                                                        <li>
                                                            @courseRun.StartDate
                                                        </li>
                                                    }
                                                </ul>
                                                }
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="accordion-default-content-@courseRun.Id" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-@courseRun.Id">
                                        <div class="cd__your-courses__accordion-content-card">
                                            <div class="cd__your-courses__accordion-content-card-content">
                                                @if (courseRun.DeliveryMode == "Classroom based")
                                                {
                                                    <ul class="flex-container">
                                                        <li class="flex-item">
                                                            <label>Venue</label> @courseRun.Venue
                                                        </li>
                                                        <li class="flex-item">
                                                            <label>Url</label>
                                                            <a href="@courseRun.Url">@courseRun.Url</a>
                                                        </li>
                                                    </ul>
                                                    <ul class="flex-container">
                                                        <li class="flex-item">
                                                            <label>Cost</label> @courseRun.Cost
                                                        </li>
                                                        <li class="flex-item">
                                                            <label>Mode</label> @courseRun.StudyMode
                                                        </li>
                                                        <li class="flex-item">
                                                            <label>Duration</label> @courseRun.Duration
                                                        </li>
                                                        <li class="flex-item">
                                                            <label>ID</label> @courseRun.CourseId
                                                        </li>
                                                        <li class="flex-item">
                                                            <label>Delivery</label> @courseRun.DeliveryMode
                                                        </li>
                                                        <li class="flex-item">
                                                            <label>Attendance</label> @courseRun.AttendancePattern
                                                        </li>
                                                        <li class="flex-item">
                                                            <label>Start date</label> @courseRun.StartDate
                                                        </li>
                                                    </ul>
                                                }

                                                @if (courseRun.DeliveryMode == "Online")
                                                {
                                                    <ul class="flex-container">
                                                        <li class="flex-item">
                                                            <label>Url</label>
                                                            <a href="@courseRun.Url">@courseRun.Url</a>
                                                        </li>
                                                    </ul>
                                                    <ul class="flex-container">
                                                        <li class="flex-item">
                                                            <label>Cost</label> @courseRun.Cost
                                                        </li>
                                                        <li class="flex-item">
                                                            <label>Duration</label> @courseRun.Duration
                                                        </li>
                                                        <li class="flex-item">
                                                            <label>ID</label> @courseRun.CourseId
                                                        </li>
                                                        <li class="flex-item">
                                                            <label>Delivery</label> @courseRun.DeliveryMode
                                                        </li>
                                                        <li class="flex-item">
                                                            <label>Start date</label> @courseRun.StartDate
                                                        </li>
                                                    </ul>
                                                }

                                                @if (courseRun.DeliveryMode == "Work based")
                                                {
                                                    <ul class="flex-container">
                                                        <li class="flex-item">
                                                            <label>Region</label> @courseRun.Region
                                                        </li>
                                                        <li class="flex-item">
                                                            <label>Url</label>
                                                            <a href="@courseRun.Url">@courseRun.Url</a>
                                                        </li>
                                                    </ul>
                                                    <ul class="flex-container">
                                                        <li class="flex-item">
                                                            <label>Cost</label> @courseRun.Cost
                                                        </li>
                                                        <li class="flex-item">
                                                            <label>Duration</label> @courseRun.Duration
                                                        </li>
                                                        <li class="flex-item">
                                                            <label>ID</label> @courseRun.CourseId
                                                        </li>
                                                        <li class="flex-item">
                                                            <label>Delivery</label> @courseRun.DeliveryMode
                                                        </li>
                                                        <li class="flex-item">
                                                            <label>Start date</label> @courseRun.StartDate
                                                        </li>
                                                    </ul>
                                                }
                                            </div>

                                        </div>
                                        <div class="cd__your-courses__accordion-content-card-controls">
                                            <ul class="flex-container">
                                                <li class="flex-item">
                                                    <a href="">Edit course details</a>
                                                </li>
                                                <li class="flex-item">
                                                    <a href="">Copy this course</a>
                                                </li>
                                                <li class="flex-item">
                                                    <a href="">Archive this course</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </details>
            }
        </div>
    </div>
</div>
