@using Dfc.CourseDirectory.Services.Models
@using Dfc.CourseDirectory.Web.Helpers;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfc.CourseDirectory.Web.ViewComponents.Apprenticeships.ApprenticeshipLocationList.ApprenticeshipLocationListModel


@if (Model.Locations != null && Model.Locations.Any())
{
    <div class="govuk-form-group">

        @{
            bool displayRadius = Model.Locations.Any(x => x.Radius.HasValue);
            }

        <span id="TooManyLocations" class="" style="display: none"
              val-required-message="Enter Apprenticeship information for employers">Number of locations for this apprenticeship offering is already at the maximum value of 250</span>

        <table id="ResultsTable" class="govuk-table">

            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" >Location</th>
                    <th class="govuk-table__header">Delivery method</th>

                    @if (displayRadius)
                    {
                        <th class="govuk-table__header" >Radius</th>
                    }


                    @if (Model.SummaryPage.HasValue && Model.SummaryPage == false)
                    {
                        <th class="govuk-table__header"></th>
                    }
                </tr>
            </thead>
            <tbody>
                @{

                    for (int i = 0; i < Model.Locations.Count; i++)
                    {
                        var baseId = "DeliveryOptionsListItemModel_DeliveryOptionsListItemModel_";
                        var baseName = "DeliveryOption.DeliveryOption[";
                        var locationFieldId = "__LocationName";
                        var locationIdFieldId = "__LocationId";
                        var postcodeFieldId = "__PostCode";
                        var deliveryFieldId = "__Delivery";
                        var radiusFieldId = "__Radius";
                        var locationFieldName = "].LocationName";
                        var deliveryFieldName = "].Delivery";
                        var radiusFieldName = "].Radius";
                        var locationIdFieldName = "].LocationId";
                        var postcodeFieldName = "].PostCode";

                        <tr class="govuk-table__row">


                            @{
                                var idValue = @baseId + @i.ToString() + @locationFieldId;
                                var nameValue = @baseName + @i.ToString() + @locationFieldName;

                                <input id="@idValue" name="@nameValue" type="hidden" value="@Model.Locations[i].Name">

                                idValue = @baseId + @i.ToString() + @locationIdFieldId;
                                nameValue = @baseName + @i.ToString() + @locationIdFieldName;

                                <input id="@idValue" name="@nameValue" type="hidden" value="@Model.Locations[i].LocationId">

                                idValue = @baseId + @i.ToString() + @postcodeFieldId;
                                nameValue = @baseName + @i.ToString() + @postcodeFieldName;

                                <input id="@idValue" name="@nameValue" type="hidden" value="@Model.Locations[i].Address?.Postcode">

                                idValue = @baseId + @i.ToString() + @deliveryFieldId;
                                nameValue = @baseName + @i.ToString() + @deliveryFieldName;

                                <input id="@idValue" name="@nameValue" type="hidden" value="@Model.Locations[i].DeliveryModes">

                                idValue = @baseId + @i.ToString() + @radiusFieldId;
                                nameValue = @baseName + @i.ToString() + @radiusFieldName;
                                Html.HiddenFor(x => x.Locations[i].VenueId);
                                if (displayRadius)
                                 {
                                     <input id="@idValue" name="@nameValue" type="hidden" value="@Model.Locations[i].Radius">
                                 }

                                <td class="govuk-table__header" >
                                    <span>@Model.Locations[i].Name</span>
                                    <br>
                                    <span class="govuk-hint">@Model.Locations[i].Address?.Postcode</span>
                                </td>
                                <td class="govuk-table__cell">@string.Join(',', Model.Locations[i].DeliveryModes.Select(x => @WebHelper.GetEnumDescription((ApprenticeShipDeliveryLocation)x)))</td>

                                @if (displayRadius)
                                 {
                                     
                                     @if (Model.Locations[i].Radius.HasValue)
                                      {
                                          <td class="govuk-table__cell">@Model.Locations[i].Radius Miles</td>
                                      }
                                      else
                                      {
                                          @if (Model.Locations[i].National.HasValue)
                                           {
                                               <td class="govuk-table__cell" >Across England</td>
                                           }
                                           else
                                           {
                                               <td class="govuk-table__cell"></td>
                                           }
                                      }
                                 }

                                @if (Model.SummaryPage.HasValue && Model.SummaryPage == false)
                                {
                                    <td class="govuk-table__cell">

                                        <a class="" asp-controller="Apprenticeships" asp-action="DeleteDeliveryOption" asp-route-Id="@Model.Locations[i].Id" asp-route-LocationName=@Model.Locations[i].Name asp-route-Mode=@ViewBag.Mode>Delete<span class="govuk-visually-hidden">@Model.Locations[i].Name</span></a>



                                    </td>
                                }
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
