@model Dfc.CourseDirectory.Web.ViewComponents.DashboardCard.DashboardCardModel
@using Dfc.CourseDirectory.Web.Helpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="cd-migration-panel">
    <h2 class="cd-migration-panel__title">@Model.Title</h2>
    <h2 class="cd-migration-panel__title">@Model.Title2</h2>
    <span class="cd-migration-panel__number">
        @if (Model.Value == 0 || string.IsNullOrWhiteSpace(Model.ValueHref))
        {
            @Model.Value <span>@Model.Description</span>
        }
        else
        {
            <a href="@Model.ValueHref" class="govuk-link">@Model.Value <span> @Model.Description</span></a>
        }
    </span>
    <br />
    <br />
</div>

<ul class="govuk-list cd-homepage__list">
    @if (null != Model.Links)
    {
        @foreach (var item in Model.Links)
        {
            if (!string.IsNullOrWhiteSpace(item.Href))
            {
                <li class="cd-homepage__list--item">
                    @if (item.Disabled)
                    {
                        <span class="govuk-link--muted">@item.Description</span>
                    }
                    else
                    {
                        <a href="@item.Href" class="govuk-link">@item.Description</a>
                    }
                </li>
            }
        }
    }
</ul>
