
@using Dfc.CourseDirectory.Web.Helpers;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfc.CourseDirectory.Web.ViewComponents.Apprenticeships.ChooseLocationModel


<div class="govuk-form-group">
    <label class="govuk-label" for="LocationId">
        @Model.LabelText
    </label>
    @if (!string.IsNullOrWhiteSpace(Model.HintText))
    {
        <span class="govuk-hint">
            @Model.HintText
        </span>
    }
    <select asp-for="@Model.LocationId" asp-items="@Model.Locations" class="govuk-select" val-required-message="Select location" aria-labelledby="LocationId">
        <option selected value="">Please select</option>
    </select>
    @if (Model.DisplayLink)
    {
        <a href="#" class="govuk-link" id="addNewLocation">I need to add a venue to this list</a>
    }
</div>





<script>
    (function ($) {
        $(function ()
        {
           var $addNewVenueButton = $("#addNewLocation");
             var replaceAll = function (search, find, replace) {
                return search.split(find).join(replace);
            };
            var makeRequestWithPayload = function (payload, success)
            {
                console.log(payload);
                var qs = $.param(payload);
                qs = replaceAll(qs, "%5B%5D", "");
                $.get("/Apprenticeships/AddNewVenue?" + qs, success);
            };
            var onSucess = function (data)
            {
                window.location.href = data;
            };
            $addNewVenueButton.on("click", function (e)
            {               
                e.preventDefault();
                makeRequestWithPayload({"type":"@(Model.Type)"},onSucess);

            });

        });
    })(jQuery);
</script>
