@using Dfc.CourseDirectory.Web.ViewComponents.VenueList;

@model Dfc.CourseDirectory.Web.ViewComponents.VenueList.VenueListModel;

<div class="venue-list">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-tabs" data-module="tabs">
                @*<h2 class="govuk-tabs__title">
                        Contents
                    </h2>*@
                <ul class="govuk-tabs__list" role="tablist">
                    <li class="govuk-tabs__list-item" role="presentation">
                        <a class="govuk-tabs__tab" href="#live" id="tab_live" role="tab" aria-controls="live" tabindex="0" aria-selected="true">
                            Live
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item" role="presentation">
                        <a class="govuk-tabs__tab" href="#archived" id="tab_archived" role="tab" aria-controls="archived" tabindex="-1" aria-selected="false">
                            Archived
                        </a>
                    </li>

                </ul>

                <section class="govuk-tabs__panel" id="live" role="tabpanel" aria-labelledby="tab_live">
                    <div class="form-group govuk-checkboxes">

                        @foreach (var venue in Model.Venues)
                        {
                            <div class="govuk-checkboxes__item">
                                <label class="govuk-label govuk-checkboxes__label" for="study0">
                                    @venue.VenueName<br>
                                    @venue.AddressLine1<br>
                                    @venue.AddressLine2<br>
                                    @venue.AddressLine3<br>
                                    @venue.PostCode<br><a href="">Edit</a>


                                    <br><a href="">Archive</a>
                                </label>
                            </div>
                        }
                    </div>
                    <div class="govuk-form-group" style="margin-top:30px;">
                    </div>
                    <a href="your-venues-archive-confirm">Archive happy path</a>
                </section>

                <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="archived" role="tabpanel" aria-labelledby="tab_archived">

                   

                </section>

            </div>
            <div class="govuk-form-group" style="margin-top:30px;">
                <a href="add-venue" role="button" class="govuk-button">
                    + Add new venue
                </a>
            </div>


        </div>
    </div>
</div>