@using Dfc.CourseDirectory.Web.Configuration
@using Microsoft.Extensions.Options
@model Dfc.CourseDirectory.Web.ViewComponents.VenueName.VenueNameModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IOptions<VenueNameComponentSettings> venueNameComponentSettings

@{ var regex = @"^\S+(?: \S+)*$"; }

<div class="govuk-character-count" data-module="character-count" data-maxlength=255>
    <div class="govuk-form-group">


        <label class="govuk-label" asp-for="@Model.VenueName" id="VenueNameLabel">
            Location name
        </label>
        @if (!string.IsNullOrWhiteSpace(Model.HintText))
        {
            <span class="govuk-hint">
                @Model.HintText
            </span>
        }




        <span id="DuplicateVenueName" class="" val-message="Location name already exists" style="display:none"><span class="govuk-visually-hidden">Error:</span>Location name already exists</span>


        <textarea class="govuk-textarea js-character-count" asp-for="@Model.VenueName" type="text" aria-describedby="@Model.VenueName" aria-labelledby="VenueNameLabel" rows="1"
                  val-required-message="Enter a location name"
                  val-max-length="255"
                  val-max-length-message="Location name must be 255 characters or less"
                  val-regex="@regex"
                  val-regex-message="Location name must not have any leading, trailing or contain multiple consecutive spaces"></textarea>

    </div>
</div>

<script>
    (function ($) {
        $(function () {

            var $elementVenueName = $("#@nameof(Model.VenueName)");

            $elementVenueName.on("blur", function () {

                var trimmed = $elementVenueName.val().trim();
                $elementVenueName.val(trimmed);

                var $characterCountValue = 255;
                var $countMessage = $("#VenueName-info");

                var $actualCharacterCount = $characterCountValue - $elementVenueName.val().length;

                if ($actualCharacterCount <= 0) {

                } else {

                    if ($actualCharacterCount === 1) {
                        $countMessage.text("You have " + $actualCharacterCount + " character remaining");
                    } else {
                        $countMessage.text("You have " + $actualCharacterCount + " characters remaining");

                        $countMessage.addClass('govuk-hint');
                        $elementVenueName.removeClass('govuk-textarea--error');
                        $countMessage.removeClass('govuk-error-message');
                        $countMessage.addClass('govuk-character-count__message');
                    }
                }

            });

        });
    })(jQuery);
</script>
