@using Dfc.CourseDirectory.Services.Enums
@using Dfc.CourseDirectory.Web.Helpers
@{
    ViewData["Title"] = "Which type of courses would you like to upload?"; 
    Layout = "_Layout_Your_Courses";
}

@model Dfc.CourseDirectory.Web.ViewModels.BulkuploadLandingViewModel


<form class="govuk-!-margin-bottom-9" id="BulkUploadWhatWouldYouLikeToDoForm" asp-controller="Bulkupload" asp-action="LandingOptions" method="post">
    <div class="cd-dashboard provider">
        
        <div id="errorsummary" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary" style="display: none;">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list"></ul>
            </div>
        </div>

        <div class="govuk-grid-column">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Which type of courses would you like to upload?
                        </h1>
                    </legend>
                    <span id="how-contacted-conditional-hint" class="govuk-hint">
                        Select one option.
                    </span>




                    <div class="govuk-radios" val-required-message="Select what would you like to do?" id="BulkUploadWhatWouldYouLikeToDo">
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.BulkUploadLandingOptions, BulkUploadLandingOptions.FE, new {@class = "govuk-radios__input", id = BulkUploadLandingOptions.FE})
                            <label class="govuk-label govuk-radios__label" for="@BulkUploadLandingOptions.FE">@WebHelper.GetEnumDescription(BulkUploadLandingOptions.FE)</label>
                        </div>
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.BulkUploadLandingOptions, BulkUploadLandingOptions.Apprenticeship, new {@class = "govuk-radios__input", id = BulkUploadLandingOptions.Apprenticeship})
                            <label class="govuk-label govuk-radios__label" for="@BulkUploadLandingOptions.Apprenticeship">@WebHelper.GetEnumDescription(BulkUploadLandingOptions.Apprenticeship)</label>
                        </div>


                    </div>

                </fieldset>

            </div>
            <a class="govuk-button" asp-controller="Bulkupload" asp-action="LandingOptions" id="continue">Continue</a>
        </div>
    </div>
</form>


<script>
    (function ($) {
        $(function () {
            var validStates = [];
            var $button = $("#continue");
            var $errorSummary = $("#errorsummary").govUkErrorSummary();
            var $bulkUploadWhatWouldYouLikeToDo = $("#BulkUploadWhatWouldYouLikeToDo").govUkRadios();

            function isAllValid(currentValue) {
                return currentValue === true;
            }

            function validate() {

                validStates = [];
                $errorSummary.govUkErrorSummary("removeAll");
                $bulkUploadWhatWouldYouLikeToDo.govUkRadios("validState");

                if ($("#errorsummary").is(":visible")) {
                    $("#errorsummary").hide();
                }
                if ($.requiredValidate($bulkUploadWhatWouldYouLikeToDo.find("input[type='radio']:checked").val())) {
                    $bulkUploadWhatWouldYouLikeToDo.govUkRadios("validState");
                    validStates.push(true);
                } else {
                    $bulkUploadWhatWouldYouLikeToDo.govUkRadios("invalidState", $bulkUploadWhatWouldYouLikeToDo.attr("val-required-message"));
                    validStates.push(false);
                    var $anchor = document.createElement("a");
                    $anchor.href = "#BulkUploadWhatWouldYouLikeToDo";
                    $anchor.innerHTML = $bulkUploadWhatWouldYouLikeToDo.attr("val-required-message");
                    $anchor.id = "error-hash-link-" + "a" + "-" + 1;
                    $errorSummary.govUkErrorSummary("add", $anchor);
                    $errorSummary.govUkErrorSummary("show");
                }
            }

            $button.on("click", function (event) {
                event.preventDefault();
                validate();
                if (validStates.every(isAllValid)) {
                    $("#BulkUploadWhatWouldYouLikeToDoForm").submit();
                }
            });

        });
    })(jQuery);
</script>


