@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity
@model Dfc.CourseDirectory.Web.ViewModels.BulkUpload.PublishCompleteViewModel

@{
    ViewData["Title"] = "Publish complete"; 
    Layout = "_Layout_Your_Courses";
}
@*might need to change model property as this is number of courses actually published, not what is live?*@
    <div class="govuk-panel govuk-panel--confirmation">

        <div class="govuk-panel__body">
            <h1 class="govuk-panel__title">
               Publish complete
            </h1>
            
            You have @Model.NumberOfCoursesPublished @(Model.NumberOfCoursesPublished.Equals(1) ? "course" : "courses") listed on the course directory
        </div>

        @*@if (Model.Mode.Equals(PublishMode.BulkUpload))
        {
            <div class="govuk-panel__body">
                <h1 class="govuk-panel__title">
                    Your file has been published
                </h1>

                You have added <strong>@Model.NumberOfCoursesPublished</strong> @(Model.NumberOfCoursesPublished.Equals(1) ? "course" : "courses") to the course directory
            </div>
        }

        @if (Model.Mode.Equals(PublishMode.Migration))
        {
            <div class="govuk-panel__body">
                <h1 class="govuk-panel__title">
                    Migration complete
                </h1>
                You have published <strong>@Model.NumberOfCoursesPublished</strong> @(Model.NumberOfCoursesPublished.Equals(1) ? "course" : "courses") to the course directory.
            </div>
        }*@
    </div>
@*<div class="Publish-Complete">
    <div class="govuk-!-margin-top-6">
        <h2 class="govuk-heading-l govuk-!-font-size-36">Next steps</h2>
    </div>
</div>*@


