@{
    ViewData["Title"] = "Publish Courses"; 
    Layout = "_Layout_Your_Courses";
}

@using System.Net
@using Dfc.CourseDirectory.Web.ViewComponents.Notification
@using Dfc.CourseDirectory.Web.ViewComponents.PublishCourses.Publish
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService Authorization
@model Dfc.CourseDirectory.Web.ViewModels.PublishCourses.PublishViewModel

@{
    var adminLogin = await Authorization.AuthorizeAsync(User, "Admin");
    var helpdeskLogin = await Authorization.AuthorizeAsync(User, "Helpdesk");
}

<form asp-controller="PublishCourses" asp-action="Index" id="PublishCourses">

    @if (!string.IsNullOrWhiteSpace(Model.NotificationTitle))
    {
        @await Component.InvokeAsync(nameof(Notification), new NotificationModel
        {
            NotificationTitle = Model.NotificationTitle,
            NotificationMessage = Model.NotificationMessage,
            ClassType = "success-summary"
        })
    }

    @await Component.InvokeAsync(nameof(Publish), new { model = Model })


    <div class="govuk-form-group">
        @Html.HiddenFor(m => m.PublishMode)
        @Html.HiddenFor(m => m.NumberOfCoursesInFiles)

        @Html.HiddenFor(m => m.CourseId)
        @Html.HiddenFor(m => m.CourseRunId)

        @if (Model.AreAllReadyToBePublished)
        {
            <button name="publishButton" type="submit" class="govuk-button" id="publish">
                Publish all
            </button>
        }

        @if (adminLogin.Succeeded || helpdeskLogin.Succeeded)
        {
            <div class="cta-container">
                @if (Model.PublishMode != Dfc.CourseDirectory.Services.Models.PublishMode.DataQualityIndicator)
                {
                 @Html.ActionLink("Cancel", "Index", "Home", new { }, new { @class = "govuk-link" })
                }
            </div>
        }
        </div>

</form>



<script>
    (function ($) {
        $(function () {
            var $courseid = $("#CourseId");

            var $courserunid = $("#CourseRunId");

            if ($courseid.val() !== "") {

                var $courseRowId = $("#" + "CourseId_" + $courseid.val());

                if ($courserunid.val() !== "") {

                    var $courseRunRowId = $("#" + "CourseRunId_" + $courserunid.val());

                    $("html,body").animate({
                        scrollTop: $courseRunRowId.offset().top
                    }, "slow");

                } else {

                    $("html,body").animate({
                        scrollTop: $courseRowId.offset().top
                    }, "slow");
                }



            }
        });
    })(jQuery);
</script>

