@using Dfc.CourseDirectory.Services.Models
@using Dfc.CourseDirectory.Services.Models.Apprenticeships
@using Dfc.CourseDirectory.Web.Helpers
@using Dfc.CourseDirectory.Web.ViewComponents.Apprenticeships
@using Dfc.CourseDirectory.Web.ViewComponents.Apprenticeships.ApprenticeshipLocationList
@using Dfc.CourseDirectory.Web.ViewComponents.Notification
@{
    ViewData["Title"] = "Select delivery options";     
    Layout = "_Layout_Your_Apprenticeship";
}

@*@model Dfc.CourseDirectory.Web.ViewModels.Apprenticeships.DeliveryOptionsViewModel*@
@model Dfc.CourseDirectory.Web.ViewModels.EditApprenticeship.EditApprenticeshipViewModel



<div class="cd-dashboard govuk-body ">
    <form class="govuk-!-margin-bottom-9" id="editDeliveryMethod" asp-controller="EditDeliveryMethod" asp-action="Index" method="post">
        <span class="govuk-caption-l">@Model.ApprenticeshipTitle</span>
        @Html.HiddenFor(x => x.ApprenticeshipId)
        @Html.HiddenFor(x => x.StandardCode)
        @Html.HiddenFor(x => x.FrameworkCode)
        @Html.HiddenFor(x => x.ApprenticeshipTitle)
        @Html.HiddenFor(x => x.ApprenticeshipType)
        @Html.HiddenFor(x => x.ApprenticeshipPreviousPage)
        @Html.HiddenFor(x => x.Mode)
        @Html.HiddenFor(x => x.Cancelled)
        @Html.HiddenFor(x => x.NotionalNVQLevelv2)
        @Html.HiddenFor(x => x.ShowCancelled)
        @Html.HiddenFor(x => x.Version)
        @Html.HiddenFor(x => x.PathwayCode)
        @Html.HiddenFor(x => x.ProgType)

        @Html.HiddenFor(x => x.Mode)
        @if (!string.IsNullOrEmpty(@ViewBag.Message))
        {
            @await Component.InvokeAsync(nameof(Notification), new NotificationModel
            {
                NotificationTitle = "",
                NotificationMessage = @ViewBag.Message,
                ClassType = "info-summary"
            })
        }

        <div id="errorsummary" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary" style="display: none;">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is an issue with this apprenticeship
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list"></ul>
            </div>
        </div>

        <h1 class="govuk-heading-l">Select delivery options</h1>

        @await Component.InvokeAsync(nameof(ChooseLocation), new ChooseLocationModel()

        {
            LabelText = "Location",
            HintText = "Select a location you can travel from to deliver training",
            LocationId = Model.LocationId ?? (Guid?)null,
            DisplayLink = true,
            DeliveryLocations = Model.locations,
            Type = ApprenticeshipLocationType.ClassroomBased

        })

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">
                        How is the training delivered at this location?
                    </h2>
                </legend>
                <span class="govuk-hint">
                    Select all that apply.
                </span>
                <div class="govuk-checkboxes govuk-checkboxes--small" id="deliveryoptions" val-required-message="Select how is the training delivered at this location">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" asp-for="@Model.DayRelease" />
                        <label class="govuk-label govuk-checkboxes__label" for="DayRelease">
                            @WebHelper.GetEnumDescription(ApprenticeShipDeliveryLocation.DayRelease)
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" asp-for="@Model.BlockRelease">
                        <label class="govuk-label govuk-checkboxes__label" for="BlockRelease">
                            @WebHelper.GetEnumDescription(ApprenticeShipDeliveryLocation.BlockRelease)
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="cta-container">
            <button type="submit" class="govuk-button" id="continue" value="continue">
                Save
            </button>

        </div>

      
    </form>
      

</div>





<script>
    (function ($) {
        $(function () {
            var $SaveAndContinue = $("#next1");
            var $AddAnother = $("#next2");
            var validStates = [];
            var $errorSummary = $("#errorsummary").govUkErrorSummary();
            var $selectedVenue = $("#@nameof(Model.LocationId)").govUkSelect();
            var $checkboxesdeliverymethod = $("#deliveryoptions").govUkCheckboxes();
            var $TooManyLoctions = $("#TooManyLocations");
            var $Continue = $("#continue");
            var returnToSummery = @(Model.HasOtherDeliveryOptions.ToString().ToLower());


        var $DayRelease = $("#@nameof(Model.DayRelease)")
    var $BlockRelease = $("#@nameof(Model.BlockRelease)")

            function isAllValid(currentValue) {
                return currentValue === true;
            }

            function validate() {

                validStates = [];
                $errorSummary.govUkErrorSummary("removeAll");
                $selectedVenue.govUkSelect("validState");
                $checkboxesdeliverymethod.govUkCheckboxes("validState");

                            
               

                // venue
                $selectedVenue.govUkSelect("validState");
                $errorSummary.govUkErrorSummary("removeErrorHashLinksFor", $selectedVenue[0].id);
                $errorSummary.govUkErrorSummary("hideIfEmpty")
                validStates.push(true);
                if (!$.requiredValidate($selectedVenue.val())) {
                    $selectedVenue.govUkSelect("invalidState", $selectedVenue.attr("val-required-message"));
                    var selectedVenueErrorHashLinks = $selectedVenue.govUkSelect("getErrorHashLinks");
                    $errorSummary.govUkErrorSummary("add", selectedVenueErrorHashLinks);
                    $errorSummary.govUkErrorSummary("show");
                    validStates.push(false);
                }

                $checkboxesdeliverymethod.govUkCheckboxes("validState");
                $errorSummary.govUkErrorSummary("removeErrorHashLinksFor", $checkboxesdeliverymethod[0].id);
                $errorSummary.govUkErrorSummary("hideIfEmpty");
                validStates.push(true);
                if ($.requiredValidate($checkboxesdeliverymethod.find("input[type='checkbox']:checked").val())) {
                    $checkboxesdeliverymethod.govUkCheckboxes("validState");
                    validStates.push(true);
                } else {
                    $checkboxesdeliverymethod.govUkCheckboxes("invalidState", $checkboxesdeliverymethod.attr("val-required-message"));
                    var deliveryMethodErrorHashLinks = $checkboxesdeliverymethod.govUkCheckboxes("getErrorHashLinks");
                    $errorSummary.govUkErrorSummary("add", deliveryMethodErrorHashLinks);
                    $errorSummary.govUkErrorSummary("show");
                    validStates.push(false);
                }



                if (!validStates.every(isAllValid)) {
                    $("html, body").animate({
                        scrollTop: $errorSummary.offset().top
                    }, 600);
                    $errorSummary.focus();
                }
            }

           


            $Continue.on("click", function (event) {
                 event.preventDefault();
                 validate();
                if (validStates.every(isAllValid)) {
                    $("#editDeliveryMethod").submit();
                }

            });

        });
    })(jQuery);
</script>


