@using Dfc.CourseDirectory.Core.Models;
@using Dfc.CourseDirectory.Web.Helpers;
@model Dfc.CourseDirectory.Web.ViewComponents.Courses.CourseType.CourseTypeModel

<div class="govuk-form-group" id="Delivery">

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading govuk-heading-m">
                @Model.LabelText
            </h2>
        </legend>
        <div class="govuk-hint">
            @Model.HintText
        </div>
        <div class="govuk-radios govuk-radios" val-required-message="Select Course Type" id="CourseTypeRadioButtons">

            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.CourseType, CourseType.EssentialSkills, new { @class = "govuk-radios__input", id = CourseType.EssentialSkills })
                <label class="govuk-label govuk-radios__label" for="@CourseType.EssentialSkills">@CourseType.EssentialSkills.ToDescription()</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.CourseType, CourseType.TLevels, new { @class = "govuk-radios__input", id = CourseType.TLevels })
                <label class="govuk-label govuk-radios__label" for="@CourseType.TLevels">@CourseType.TLevels.ToDescription()</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.CourseType, CourseType.HTQs, new { @class = "govuk-radios__input", id = CourseType.HTQs })
                <label class="govuk-label govuk-radios__label" for="@CourseType.HTQs">@CourseType.HTQs.ToDescription()</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.CourseType, CourseType.FreeCourseForJobs, new { @class = "govuk-radios__input", id = CourseType.FreeCourseForJobs })
                <label class="govuk-label govuk-radios__label" for="@CourseType.FreeCourseForJobs">@CourseType.FreeCourseForJobs.ToDescription()</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.CourseType, CourseType.Multiply, new { @class = "govuk-radios__input", id = CourseType.Multiply })
                <label class="govuk-label govuk-radios__label" for="@CourseType.Multiply">@CourseType.Multiply.ToDescription()</label>
            </div>
        </div>
    </fieldset>
</div>
