@using Dfc.CourseDirectory.Web.ViewComponents.ZCodeSearchResult
@model UnRegulatedNotFoundViewModel
@{
    Layout = "_Layout_Your_Courses";
}
<div>
    <div class="cd-fullwidth-">
        <main class="cd-fullwidth-">
            <a asp-controller="UnregulatedCourses" asp-action="Index" class="govuk-back-link">Back</a>
            <div class="grid-row govuk-body" data-sf-element="Row">
                <div class="">
                    <div>
                        <h1 class="govuk-heading-l govuk-!-margin-top-4">Choose a non-regulated provision</h1>
                    </div>
                    <div class="govuk-form-group">
                        <div class="govuk--row cd-nonregulated-provision">
                            <div class="cd-flex">
                                <div class="">
                                    <div class="cd-level-select govuk-form-group">
                                        <label class="govuk-label" for="level1">
                                            Level 1
                                        </label>

                                        <select asp-for="@Model.Level1Id" asp-items="@Model.Level1" class="govuk-select" id="LevelOneSelect" style="width: 400px"></select>
                                    </div>
                                </div>
                                <div id="LevelTwo" class="">
                                    <div class="cd-level-select govuk-form-group">
                                        <label class="govuk-label" for="level2">
                                            Level 2
                                        </label>

                                        <select asp-for="@Model.Level2Id" asp-items="@Model.Level2" class="govuk-select" id="LevelTwoSelect" disabled style="width: 400px"></select>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cd-flex" id="message" style="display:none">
                            <h1>No Records Found</h1>
                        </div>

                        <div class="cd-flex" id="Filters" style="visibility: hidden">
                            <div class="cd-non-regulated-filters govuk-!-width-one-uarter">
                                <div class="govuk-form-group">

                                    <select asp-for="@Model.LevelId" asp-items="@Model.Levels" class="govuk-select" id="LevelsSelect"></select>

                                    <select asp-for="@Model.CategoryId" asp-items="@Model.Categories" class="govuk-select" id="CategoriesSelect"></select>
                                </div>
                            </div>
                            <div class="cd-grid-coloumn-0 " id="results">


                                @await Component.InvokeAsync(nameof(ZCodeSearchResult))

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>
</div>



<script>
    (function ($) {
        $(function () {

            var $x = $('.govuk-link');
            var $y = $('.pagination__item');
            $('#LevelOneSelect').change(function () {
                // alert($(this).val());

                $('#LevelTwoSelect').attr('disabled', true);
                $('#LevelTwoSelect').find('option:eq(0)').attr('selected', true);
                var $SelectedValue = $(this).val();

                if ($SelectedValue !== "") {

                    $.ajax({
                        url: '/UnregulatedCourses/GetSSALevelTwo',
                        type: "GET",
                        dataType: "json",
                        data: { Level1Id: $SelectedValue },
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            var s = '';
                            for (var i = 0; i < data.length; i++) {
                                s += '<option value="' + data[i].value + '">' + data[i].text + '</option>';
                            }
                            $("#LevelTwoSelect").html(s);

                            $('#LevelTwoSelect').prop("disabled", false);
                            $('#LevelTwoSelect').removeAttr("disabled");

                        },
                        error: function (xhr, ajaxOptions, thrownError) {

                        }
                    });

                } else {
                    $('#Filters').css('visibility', 'hidden');
                    $('#LevelTwoSelect').attr('disabled', true);
                }
            });


            var replaceAll = function (search, find, replace) {
                return search.split(find).join(replace);
            };

            var makeRequestWithPayload = function (payload, success) {
                console.log(payload);
                var qs = $.param(payload);
                qs = replaceAll(qs, "%5B%5D", "");
                $.get("/UnregulatedCourses/ZCodeNotKnown?" + qs, success);
            };

            var doSearch = function () {


                makeRequestWithPayload({
                    Level1Id: $('#LevelOneSelect').val(),
                    Level2Id: $('#LevelTwoSelect').val(),
                    LevelId: $('#LevelsSelect').val(),
                    CategoryId: $('#CategoriesSelect').val(),

                },
                    onSucess);

            };

          

            var onSucess = function (data) {

                if (data.includes("No Records Found")) {
                    $('#Filters').css('visibility', 'hidden');
                    $('#message').css('display', 'flex');
                    $('#LevelsSelect').find('option:eq(0)').attr('selected', true);
                    $('#CategoriesSelect').find('option:eq(0)').attr('selected', true);
                } else {
                    $('#message').css('display', 'none');
                    $('#results').html("");
                    $('#results').html(data);

                    $('#Filters').css('visibility', 'visible');
                }

            };

            $(document).on('click', '.pagination__item', function (e) {
                e.preventDefault()
                var url = $(this).attr("href");
                var params = url.substring(url.indexOf("?") + 1, url.length);
                var paramsArrary = params.split("&");
                var ssa1 = paramsArrary[0].split("=")[1];
                var ssa2 = paramsArrary[1].split("=")[1];
                var levelId = paramsArrary[2].split("=")[1];
                var categoryId = paramsArrary[3].split("=")[1];
                var pageNo = paramsArrary[4].split("=")[1];


                makeRequestWithPayload({
                    Level1Id: ssa1,
                    Level2Id: ssa2,
                    LevelId: levelId,
                    CategoryId: categoryId,
                    PageNo: pageNo

                },
                    onSucess);
            });


            $('#LevelTwoSelect').change(function () {


                var $Level1Id = $('#LevelOneSelect').val();
                var $SelectedValue = $(this).val();
                if ($SelectedValue !== "") {

                    doSearch();

                } else {
                    $('#Filters').css('visibility', 'hidden');
                }
            });

            $('#LevelsSelect').change(function () {

                doSearch();

            });

            $('#CategoriesSelect').change(function () {

                doSearch();

            });



        });
    })(jQuery);
</script>




