@model Dfc.CourseDirectory.WebV2.Features.Apprenticeships.DeleteApprenticeship.ViewModel
@{
    Layout = "_V2LayoutProviderContext";
    ViewBag.Title = "Confirm";
}

<govuk-error-summary>
    <govuk-error-summary-item asp-for="Confirm" />
</govuk-error-summary>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="Post" asp-route-apprenticeshipId="@Model.ApprenticeshipId">
            <h1 class="govuk-heading-xl">Delete Apprenticeship</h1>

            <p class="govuk-body">
                Deleting this Apprenticeship will remove it from Publish to the course directory and National Careers Service, Find a course.
            </p>

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Apprenticeship Title</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.ApprenticeshipTitle</govuk-summary-list-row-value>
                </govuk-summary-list-row>


                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Apprenticeship Level</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.NotionalNVQLevelv2</govuk-summary-list-row-value>
                </govuk-summary-list-row>

            </govuk-summary-list>

            <govuk-checkboxes class="govuk-checkboxes--small" asp-for="Confirm">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Are you sure?
                        </h2>
                    </govuk-checkboxes-fieldset-legend>
                </govuk-checkboxes-fieldset>
                <govuk-checkboxes-item value="@(true)">
                    Yes, I want to delete this Apprenticeship
                </govuk-checkboxes-item>
            </govuk-checkboxes>

            <govuk-button type="submit" class="govuk-button--warning govuk-!-margin-right-5" id="pttcd-delete-apprenticeship__delete-btn">Delete</govuk-button>

            <a asp-controller="ProviderApprenticeships" asp-action="index"  asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">Cancel</a>

        </form>
    </div>
</div>

@section Scripts {
    <script>
        (function ($) {
            var confirm = $('#Confirm');

            function disableDeleteBtn() {
                $('#pttcd-delete-apprenticeship__delete-btn')
                    .attr('disabled', confirm.is(':checked') ? null : 'disabled');
            }

            disableDeleteBtn();
            confirm.change(disableDeleteBtn);
        })(jQuery);
    </script>
}

