@using System.Net
@using Dfc.CourseDirectory.Web.Validation
@model Dfc.CourseDirectory.Web.ViewComponents.Courses.AwardingBody.AwardingBodyModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var regex = RegexPattern.AllowValidCharactersRelaxed;
}

    <div class="govuk-form-group">
        <label id="govuk-label-AwardingBody" class="govuk-label--m"  asp-for="@Model.AwardingBody">
            @Model.LabelText
        </label>
        @if (!string.IsNullOrWhiteSpace(Model.HintText))
        {
            <span class="govuk-hint govuk-!-margin-top-3">
                @Model.HintText
            </span>
        }

    <input class="govuk-input" asp-for="@Model.AwardingBody" type="text" aria-label="@Model.AwardingBody" value="@WebUtility.HtmlDecode(@Model.AwardingBody)"
               val-required-message="Enter awarding body"
               val-max-length="255"
               val-max-length-message="The maximum length of Awarding body is 255 characters"
               val-regex="@regex"
               val-regex-message="Awarding body contains invalid characters" />

    </div>



<script>
    (function ($) {
        $(function () {
            var $elementAwardingBody = $("#@nameof(Model.AwardingBody)");

            $elementAwardingBody.on("blur", function () {
                var trimmed = $elementAwardingBody.val().trim();
                $elementAwardingBody.val(trimmed);
            });
        });
    })(jQuery);
</script>
