@using Dfc.CourseDirectory.Models.Models.Courses
@using Dfc.CourseDirectory.Web.ViewComponents.Courses.DeliveryType
@model Dfc.CourseDirectory.Web.ViewComponents.Courses.CourseRun.CourseRunModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form id="your-courses" asp-controller="Courses" asp-action="Index" method="post">
    <li class="course-run-container" id="course-run-@Model.courseRun.id">
        <div class="govuk-form-group">
            <label class="govuk-label">Course name</label>
            <input readonly="@(Model.Readonly)" class="govuk-input" asp-for="@Model.courseRun.CourseName" type="text" aria-describedby="course name">

        </div>

        <div class="govuk-form-group">
            <label class="govuk-label">ID</label>
            <input readonly="@(Model.Readonly)" class="govuk-input govuk-input--width-10" asp-for="@Model.courseRun.ProviderCourseID" type="text" aria-describedby="id" style="width: 100px;">

        </div>


        <div class="govuk-form-group">
            <div>
                <label class="govuk-label">Delivery</label>
                <select asp-for="@Model.deliveryMode" asp-items="@Model.deliveryModes" class="govuk-select"></select>


            </div>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label">Start date</label>
            @if (Model.courseRun.FlexibleStartDate)
            {
                <input readonly="@(Model.Readonly)" class="govuk-input govuk-input--width-10" type="text" aria-describedby="start date" value="Flexible start date" style="width: 120px;">
            }
            else
            {
                {
                    var startDate = Model.courseRun.StartDate.ToString("dd/MM/yyyy");
                    <input readonly="@(Model.Readonly)" class="govuk-input govuk-input--width-10" type="text" aria-describedby="start date" value=@startDate style="width: 120px;">
                }

            }


        </div>

        <div class="govuk-form-group">
            <label class="govuk-label">Venue</label>
            <select asp-for="@Model.VenueId" asp-items="@Model.venues" class="govuk-select"></select>


        </div>

        <div class="popUpContainer">
            <label class="govuk-label" style="margin-bottom: 18px;">URL</label>
            <a href="#" id="URLLink" data-HREF-Id="@Model.courseRun.id" class="govuk-link view">View</a>
            <div class="popUpSection" id="course-run-url-@Model.courseRun.id" style="display: none;">

                <input readonly="@(Model.Readonly)" class="govuk-input" asp-for="@Model.courseRun.CourseURL" type="text" aria-describedby="url">

                <a href="#" id="@Model.courseRun.id" data-HREF-Id="@Model.courseRun.id" class="govuk-link close" style="">Close</a>
            </div>
        </div>


        <div class="govuk-form-group">

            <div style="display: inline-block">
                <label class="govuk-label">Cost</label>
                <div style="position: relative">
                    <span class="govuk-body" style="position: absolute; left: -10px;top: 8px;">
                        £
                    </span>
                </div>

                <input id="cost" class="govuk-input govuk-input--width-10" style="display: inline;margin-left: 10px;width:75px" asp-for="@Model.courseRun.Cost" type="text">
            </div>
        </div>



    <div class="popUpContainer" style="width:150px">
        <label class="govuk-label" style="margin-bottom:18px;">Cost Description</label>
        <a href="#" id="CostDetailLink" data-HREF-Id="@Model.courseRun.id" class="govuk-link viewCostDesc">View</a>
        <div class="popUpSection" id="course-run-cost-desc-@Model.courseRun.id" style="display: none;">

                <input readonly="@(Model.Readonly)" class="govuk-input" asp-for="@Model.courseRun.CostDescription" type="text" aria-describedby="cost description">

                <a href="#" data-HREF-Id="@Model.courseRun.id" class="govuk-link closeCostDesc" style="">Close</a>
            </div>
        </div>


        @*<div class="govuk-form-group small" style="text-align:center;">
                <label class="govuk-label" style="margin-bottom:18px;">Cost detail</label>
                <a href="#" class="govuk-link" data-url="https://www.google.com">View</a>
                @*<div class="edit-url-cont" style="display: none;">
                        <input class="govuk-input edit-url-input" type="text" readonly="" value="https://coursedirectoryproviderportal.org.uk/Course/Create/50097453">
                        <a href="#" class="edit-btn cancel-url" style="margin-top:10px;float:left;">Close</a>
                    </div>
            </div>*@


        <div class="govuk-form-group small">
            <label class="govuk-label">Duration</label>
            <input readonly="@(Model.Readonly)" class="govuk-input" asp-for="@Model.courseRun.DurationValue" type="text" aria-describedby="duration value" style="width: 75px;">

        </div>


    <div class="govuk-form-group" style="width: 150px">
        <label class="govuk-label">Duration Unit</label>
        <select asp-for="@Model.durationUnit" asp-items="@Model.durationUnits" class="govuk-select"></select>


        </div>

        <div class="govuk-form-group">
            <label class="govuk-label">Attendance</label>
            <select asp-for="@Model.attendance" asp-items="@Model.attendances" class="govuk-select"></select>


        </div>

        <div class="govuk-form-group">
            <label class="govuk-label">Mode</label>
            <select asp-for="@Model.mode" asp-items="@Model.modes" class="govuk-select"></select>


        </div>

        @*<div id="btns-course-run-@Model.courseRun.id" class="govuk-form-group medium" style="display: none;">
                <section id="btns" class="btns btns3" style="margin-bottom: 10px; width: 400px;">


                    <button id="save-button" type="submit" class="govuk-button">
                        Save
                    </button>


                    <a href="#" class="govuk-button discard" data-id="@Model.courseRun.id">Discard</a>




                </section>
            </div>*@


        <div id="btns-course-run-@Model.courseRun.id" style="display: none; margin-bottom: 5px;width: 400px;margin-left:0px">
            <button id="save-button" type="submit" class="govuk-button">
                Save
            </button>
            <a href="#" class="govuk-link discard" style="display:inline-block;margin-top:10px;" data-id="@Model.courseRun.id">Discard</a>
        </div>

    </li>
</form>

<script>
    (function ($) {
        $(function () {

            $('form').find(':input').each(function (i, elem) {
                var input = $(elem);
                input.data('initialState', input.val());
            });

            $(".govuk-select ").on('change', function (e) {
                var $rowId = $(this).closest(".course-run-container").attr("id");

                if ($("#btns-" + $rowId).is(":visible")) {

                } else {
                   
                    $("#btns-" + $rowId).css("display", "block");
                }

                $("li[id^='course-run']").each(function (index) {
                    var $courseRunId = $(this).attr("id").substr(11, $(this).attr("id").length - 11);


                    $("#course-run-" + $courseRunId).removeClass("unselected-courses");

                    //if ($("#btns-" + $id).is(":visible")) {

                    //} else {
                    //    $("#btns-" + $id).css("display", "block");
                    //}

                });

                $("div[id^='btns-course-run']").each(function (index) {
                    var $id = $(this).attr("id").substr(5, $(this).attr("id").length - 5);

                    if ($id !== $rowId) {
                        var $justTheId = $id.substr(11, $id.length - 11);
                        $("#course-run-" + $justTheId).addClass("unselected-courses");

                        if ($("#btns-" + $id).is(":visible")) {
                            $("#btns-" + $id).hide();

                            $("#course-run-" + $justTheId).find(':input').each(function (i, elem) {
                                var input = $(elem);
                                input.val(input.data('initialState'));
                            });
                        }
                    } 
                });

            });

            $(".govuk-input").on('input', function (e) {
                var $rowId = $(this).closest(".course-run-container").attr("id");

                if ($("#btns-" + $rowId).is(":visible")) {

                } else {

                    $("#btns-" + $rowId).css("display", "block");
                }

                $("div[id^='btns-course-run']").each(function (index) {
                    var $id = $(this).attr("id").substr(5, $(this).attr("id").length - 5);

                    if ($id !== $rowId) {
                        var $justTheId = $id.substr(11, $id.length - 11);
                        $("#course-run-" + $justTheId).addClass("unselected-courses");

                        if ($("#btns-" + $id).is(":visible")) {
                            $("#btns-" + $id).hide();

                            $("#course-run-" + $justTheId).find(':input').each(function (i, elem) {
                                var input = $(elem);
                                input.val(input.data('initialState'));
                            });
                        }
                    }
                });

            });

            $(".discard").click(function () {

                var $id = $(this).closest(".course-run-container").attr("id");

                var $justTheId = $id.substr(11, $id.length - 11);
                //$('form').find(':input').each(function (i, elem) {
                //    var input = $(elem);
                //    input.val(input.data('initialState'));
                //});



                $("#course-run-" + $justTheId).find(':input').each(function (i, elem) {
                    var input = $(elem);
                    input.val(input.data('initialState'));
                });


                $("li[id^='course-run']").each(function (index) {
                    var $courseRunId = $(this).attr("id").substr(11, $(this).attr("id").length - 11);


                    $("#course-run-" + $courseRunId).removeClass("unselected-courses");

                    //if ($("#btns-" + $id).is(":visible")) {

                    //} else {
                    //    $("#btns-" + $id).css("display", "block");
                    //}

                });


                var $id = $(this).attr("data-id");

                var $btn = $("#btns-course-run-" + $id);
                $btn.css("display", "none");
            });


            $(".close").click(function () {

                var id = $(this).attr("data-HREF-Id");
                var $courseRunContainer = $("#course-run-" + id);
                var $courseRunCUrl = $("#course-run-url-" + id);

                $courseRunContainer.removeClass("popUpSectionHeight");

                $courseRunCUrl.hide();
            });


            $(".view").click(function() {
                event.preventDefault();
                var id = $(this).attr("data-HREF-Id");
                var $courseRunContainer = $("#course-run-" + id);
                var $courseRunCostDesc = $("#course-run-cost-desc-" + id);
                var $courseRunCUrl = $("#course-run-url-" + id);

                $courseRunContainer.addClass("popUpSectionHeight");

                if ($courseRunCostDesc.is(":visible")) {
                    $courseRunCostDesc.hide();
                };

                $courseRunCUrl.show();
            });

            $(".closeCostDesc").click(function(){
                event.preventDefault();
                var id = $(this).attr("data-HREF-Id");

                var $courseRunContainer = $("#course-run-" + id);

                $courseRunContainer.removeClass("popUpSectionHeight");

                var $courseRunCostDesc = $("#course-run-cost-desc-" + id);

                $courseRunCostDesc.hide();
            });


            $(".viewCostDesc").click(function(){
                event.preventDefault();
                var id = $(this).attr("data-HREF-Id");
                var $courseRunContainer = $("#course-run-" + id);
                var $courseRunCostDesc = $("#course-run-cost-desc-" + id);
                var $courseRunCUrl = $("#course-run-url-" + id);

                $courseRunContainer.addClass("popUpSectionHeight");

                if ($courseRunCUrl.is(":visible")) {
                    $courseRunCUrl.hide();
                };

                $courseRunCostDesc.show();
            });


        });
    })(jQuery);
</script>