@using Dfc.CourseDirectory.Models.Models.Courses
@using Dfc.CourseDirectory.Web.ViewComponents.Courses.DeliveryType
@model Dfc.CourseDirectory.Web.ViewComponents.Courses.CourseRun.CourseRunModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form id="your-courses" asp-controller="Courses" asp-action="Index" method="post">

    @Html.HiddenFor(x => x.CourseId)
    @Html.HiddenFor(x => x.courseRun.id)
    @Html.HiddenFor(x => x.courseRun.FlexibleStartDate)

    <div id="course-run-@Model.courseRun.id" class="course-run-container" data-courserun-id="course-run-@Model.courseRun.id">
        <div class="govuk-grid-column-full">
            <div class="govuk-form-group" style="margin-right: 5px; display:inline-block">
                <label class="govuk-label">Course name</label>
                <span asp-validation-for="@Model.courseRun.CourseName" class="govuk-error-message"></span>
                <input readonly="@(Model.Readonly)" class="govuk-input" asp-for="@Model.courseRun.CourseName" type="text" aria-describedby="course name">

            </div>

            <div class="govuk-form-group" style="margin-right: 5px; display:inline-block">
                <label class="govuk-label">ID</label>
                <span asp-validation-for="@Model.courseRun.ProviderCourseID" class="govuk-error-message"></span>
                <input readonly="@(Model.Readonly)" class="govuk-input govuk-input--width-10" asp-for="@Model.courseRun.ProviderCourseID" type="text" aria-describedby="id" style="width: 100px;">

            </div>


            <div class="govuk-form-group" style="margin-right: 5px; display:inline-block">

                <label class="govuk-label">Delivery</label>
                <select asp-for="@Model.courseRun.DeliveryMode" asp-items="@Model.deliveryModes" class="govuk-select"></select>



            </div>
            <div class="govuk-form-group" style="margin-right: 5px; display:inline-block">
                <label class="govuk-label">Start date</label>
                @if (Model.courseRun.FlexibleStartDate)
                {
                    <input readonly="@(Model.Readonly)" class="govuk-input govuk-input--width-10" type="text" aria-describedby="start date" value="Flexible start date" style="width: 120px;">
                }
                else
                {
                    {

                        <input readonly="@(Model.Readonly)" class="govuk-input govuk-input--width-10" type="text" aria-describedby="start date" style="width: 120px;" asp-for="@Model.courseRun.StartDate">

                    }

                }


            </div>

            <div class="govuk-form-group" style="margin-right: 5px; display:inline-block">
                <label class="govuk-label">Venue</label>
                <select asp-for="@Model.courseRun.VenueId" asp-items="@Model.venues" class="govuk-select"></select>


            </div>

            <div class="popUpContainer">
                <label class="govuk-label" style="margin-bottom: 18px;">URL</label>
                <a href="#" id="URLLink" data-HREF-Id="@Model.courseRun.id" class="govuk-link view">View</a>
                <div class="popUpSection" id="course-run-url-@Model.courseRun.id" style="display: none;">

                    <input readonly="@(Model.Readonly)" class="govuk-input" asp-for="@Model.courseRun.CourseURL" type="text" aria-describedby="url">

                    <a href="#" id="@Model.courseRun.id" data-HREF-Id="@Model.courseRun.id" class="govuk-link close" style="">Close</a>
                </div>
            </div>

            <div id="costContainer" class="govuk-form-group" style="margin-right: 5px; display:inline-block">
                <label class="govuk-label">Cost</label>

                <span class="govuk-error-message field-validation-error" id="invalidCost" style="display: none;margin-bottom: 15px;">
                    <span id="invalidCostMessage" class="">Enter the cost in pounds and pence</span>
                </span>
                <span class="govuk-error-message field-validation-error" id="invalidCostLength" style="display: none;margin-bottom: 15px;">
                    <span id="invalidCostLengthMessage" class="">Maximum value for cost is £999,999.99</span>
                </span>
                <span class="govuk-error-message field-validation-error" id="missingCostAndDescription" style="display: none;margin-bottom: 15px;">
                    <span id="invalidCostMessage" class="">Enter Cost or Cost detail</span>
                </span>
                <span class="govuk-body">£</span>
                <input readonly="@(Model.Readonly)" id="cost" class="govuk-input govuk-input--width-10" style="display: inline; margin-left: 10px; width: 75px" asp-for="@Model.courseRun.Cost" type="text">
            </div>



            <div class="popUpContainer" style="width: 150px;margin: 10px; display:inline-block">
                <label class="govuk-label" style="margin-bottom: 18px;">Cost Description</label>
                <a href="#" id="CostDetailLink" data-HREF-Id="@Model.courseRun.id" class="govuk-link viewCostDesc">View</a>
                <div class="popUpSection" id="course-run-cost-desc-@Model.courseRun.id" style="display: none;">

                    <input readonly="@(Model.Readonly)" id="costdescription" class="govuk-input" asp-for="@Model.courseRun.CostDescription" type="text" aria-describedby="cost description">

                    <a href="#" data-HREF-Id="@Model.courseRun.id" class="govuk-link closeCostDesc" style="">Close</a>
                </div>
            </div>




            <div class="govuk-form-group small" style="margin-right: 5px; display:inline-block">
                <label class="govuk-label">Duration</label>
                <span asp-validation-for="@Model.courseRun.DurationValue" class="govuk-error-message"></span>
                <input readonly="@(Model.Readonly)" class="govuk-input" asp-for="@Model.courseRun.DurationValue" type="text" aria-describedby="duration value" style="width: 75px;">

            </div>


            <div class="govuk-form-group" style="width: 150px;margin: 10px; display:inline-block">
                <label class="govuk-label">Duration Unit</label>
                <select asp-for="@Model.courseRun.DurationUnit" asp-items="@Model.durationUnits" class="govuk-select"></select>


            </div>

            <div class="govuk-form-group" style="margin-right: 5px; display:inline-block">
                <label class="govuk-label">Attendance</label>
                <select asp-for="@Model.courseRun.AttendancePattern" asp-items="@Model.attendances" class="govuk-select"></select>


            </div>

            <div class="govuk-form-group" style="margin-right: 5px; display:inline-block">
                <label class="govuk-label">Mode</label>
                <select asp-for="@Model.courseRun.StudyMode" asp-items="@Model.modes" class="govuk-select"></select>


            </div>

            @*<div id="btns-course-run-@Model.courseRun.id" class="govuk-form-group medium" style="display: none;">
                    <section id="btns" class="btns btns3" style="margin-bottom: 10px; width: 400px;">


                        <button id="save-button" type="submit" class="govuk-button">
                            Save
                        </button>


                        <a href="#" class="govuk-button discard" data-id="@Model.courseRun.id">Discard</a>




                    </section>
                </div>*@
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-form-group" style="margin-right: 5px; display:inline-block">
                <div id="btns-course-run-@Model.courseRun.id" style="display: none; margin-bottom: 5px; width: 400px; margin-left: 0px">
                    <button type="submit" class="govuk-button" id="save">
                        Save
                    </button>
                    <a href="#" class="govuk-link discard" style="display: inline-block; margin-top: 10px;" data-id="@Model.courseRun.id">Discard</a>
                    <a href="#" class="govuk-link preview" style="display: inline-block; margin-top: 10px;" data-id="@Model.courseRun.id">Preview</a>
                </div>

            </div>
        </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--visible">

</form>

<script>
    (function ($) {
        $(function () {

            var formGroupErrorClass = "govuk-form-group--error";
            var elementErrorClass = "govuk-input--error";

            var $validationMessageForCost = $("#invalidCost");
            var $validationMessageForCostLength = $("#invalidCostLength");
            var $validationMessageForMissingCostAndDescription = $("#missingCostAndDescription");

            $("#cost").on("keypress", function (event) {
                var charCode = event.which ? event.which : event.keyCode;

                if ((charCode >= 48 && charCode <= 57) || charCode === 46) {
                    return true;
                }

                return false;
            });

            $(".govuk-input").on("blur", function () {
                var elem = $(this);
                var $form = elem.closest("form");
                var trimmed = elem.val().trim();
                elem.val(trimmed);

                if (elem.attr('name').toLowerCase() === "courserun.cost") {

                    var $elemCostDescription = $("#costdescription");
                    var $formGroupCost = elem.closest('.govuk-form-group');

                    $validationMessageForCost.hide();
                    $validationMessageForCostLength.hide();
                    $validationMessageForMissingCostAndDescription.hide();

                    elem.removeClass(elementErrorClass);
                    $formGroupCost.removeClass(formGroupErrorClass);

                    trimmed = elem.val().trim().replace(",", "");

                    if (trimmed !== "") {

                        if ($.isNumeric(trimmed)) {
                            var formatted = parseFloat(Math.floor(trimmed * 100) / 100).toFixed(2);
                            elem.val(formatted);

                            $form.addTriggersToJqueryValidate().triggerElementValidationsOnFormValidation();
                            var costValidator = $form.validate();

                            var costResult = costValidator.element(elem);

                            if (costResult) {
                                elem.removeClass(elementErrorClass);
                                $formGroupCost.removeClass(formGroupErrorClass);
                                $validationMessageForCost.hide();
                                $validationMessageForCost.css("margin-bottom", "0");
                            } else {
                                elem.addClass(elementErrorClass);
                                $formGroupCost.addClass(formGroupErrorClass);
                                $validationMessageForCost.show();
                                $validationMessageForCost.css("margin-bottom", "15px");
                            }

                            if (elem.val() === "") {
                                if ($elemCostDescription.val() === "") {
                                    elem.addClass(elementErrorClass);
                                    $validationMessageForMissingCostAndDescription.show();
                                    $formGroupCost.addClass(formGroupErrorClass);
                                } else {
                                    elem.removeClass(elementErrorClass);
                                    $validationMessageForCost.hide();
                                    $formGroupCost.removeClass(formGroupErrorClass);
                                }
                            } else {

                                $validationMessageForCost.hide();
                                $formGroupCost.removeClass(formGroupErrorClass);

                                if (elem.val().length < 1 || elem.val().length > 9) {
                                    elem.addClass(elementErrorClass);
                                    $formGroupCost.addClass(formGroupErrorClass);
                                    $validationMessageForCostLength.show();
                                    $validationMessageForCostLength.css("margin-bottom", "15px");
                                } else {
                                    elem.removeClass(elementErrorClass);
                                    $validationMessageForCostLength.hide();
                                    $formGroupCost.removeClass(formGroupErrorClass);
                                    $validationMessageForCostLength.css("margin-bottom", "0");
                                }
                            }
                        } else {
                            elem.addClass(elementErrorClass);
                            $formGroupCost.addClass(formGroupErrorClass);
                            $validationMessageForCost.show();
                            $validationMessageForCost.css("margin-bottom", "15px");
                        }
                    }

                }
                else {

                    if (elem.attr("id") != undefined) {

                        var elementName = elem.attr("id").split("_")[1];

                        var $validationMessageCourseName = elem.prev('[data-valmsg-for="' + elementName + '"]');

                        $validationMessageCourseName.css("margin-bottom", "0");
                        var $formGroupCourseName = elem.closest('.govuk-form-group');

                        //var $form = elem.closest("form");
                        $form.addTriggersToJqueryValidate().triggerElementValidationsOnFormValidation();
                        var validator = $form.validate();

                        var result = validator.element(elem);

                        if (result) {

                            elem.removeClass(elementErrorClass);
                            $formGroupCourseName.removeClass(formGroupErrorClass);
                            $validationMessageCourseName.hide();
                            $validationMessageCourseName.css("margin-bottom", "0");
                        } else {
                            elem.addClass(elementErrorClass);
                            $formGroupCourseName.addClass(formGroupErrorClass);
                            $validationMessageCourseName.show();
                            $validationMessageCourseName.css("margin-bottom", "15px");
                        }
                    }
                }
            });

            $('form').find(':input').each(function (i, elem) {
                var input = $(elem);
                input.data('initialState', input.val());
            });
            ;

            $(".govuk-select ").on('change', function (e) {

                var $courseRunId = $(this).closest(".course-run-container").attr("id").substr(11, $(".course-run-container").attr("id").length - 11);

                //console.log($courseRunId);

                if ($("#btns-course-run-" + $courseRunId).is(":visible")) {

                } else {

                    $("#btns-course-run-" + $courseRunId).css("display", "block");
                }

                //$("div[id^='btns-course-run']").each(function (index) {
                //    var $id = $(this).attr("id").substr(16, $(this).attr("id").length - 16);
                //    // console.log($id);

                //    if ($id !== $courseRunId) {
                //        //$("#course-run-" + $id).addClass("unselected-courses");

                //        //$("#course-run-" + $id).find(':input').each(function (i, elem) {
                //        //    $(elem).attr('disabled', true);

                //        //});

                //        if ($("#btns-course-run-" + $id).is(":visible")) {
                //            $("#btns-course-run-" + $id).hide();

                //            $("#course-run-" + $id).find(':input').each(function (i, elem) {
                //                var input = $(elem);
                //                input.val(input.data('initialState'));
                //            });
                //        }
                //    }
                //});

            });

            $(".govuk-input").on('input', function (e) {

                var $courseRunId = $(this).closest(".course-run-container").attr("id").substr(11, $(".course-run-container").attr("id").length - 11);

                if ($("#btns-course-run-" + $courseRunId).is(":visible")) {

                } else {

                    $("#btns-course-run-" + $courseRunId).css("display", "block");
                }

                //$("div[id^='btns-course-run']").each(function (index) {
                //    var $id = $(this).attr("id").substr(16, $(this).attr("id").length - 16);
                //    //console.log($id);

                //    if ($id !== $courseRunId) {
                //       // $("#course-run-" + $id).addClass("unselected-courses");

                //        //$("#course-run-" + $id).find(':input').each(function (i, elem) {
                //        //    $(elem).attr('disabled', true);

                //        //});

                //        if ($("#btns-course-run-" + $id).is(":visible")) {
                //            $("#btns-course-run-" + $id).hide();

                //            $("#course-run-" + $id).find(':input').each(function (i, elem) {
                //                var input = $(elem);
                //                input.val(input.data('initialState'));

                //            });
                //        }
                //    }
                //});

            });

            $(".discard").click(function () {
                event.preventDefault();
                var $container = $(this).closest('.govuk-grid-row').prev();

                var $courseRunId = $container.attr("id").substr(11, $container.attr("id").length - 11);
                // console.log("discard" + $courseRunId);

                $("#course-run-" + $courseRunId).find(':input').each(function (i, elem) {
                    // $("div[id^='course-run-'+ $courseRunId]").find(':input').each(function (i, elem) {
                    var input = $(elem);
                    input.val(input.data('initialState'));
                    //$(elem).prop("disabled", false);
                    //$(elem).removeAttr("disabled");
                    $(elem).trigger("blur");
                });

                //$("div[id^='course-run-']").each(function (index) {
                //    $(this).removeClass("unselected-courses");
                //});

                var $btn = $("#btns-course-run-" + $courseRunId).css("display", "none");
            });


            $(".close").click(function () {
                event.preventDefault();
                var id = $(this).attr("data-HREF-Id");
                var $courseRunContainer = $("#course-run-" + id);
                var $courseRunCUrl = $("#course-run-url-" + id);

                $courseRunContainer.removeClass("popUpSectionHeight");

                $courseRunCUrl.hide();
            });


            $(".view").click(function () {
                event.preventDefault();
                var id = $(this).attr("data-HREF-Id");
                var $courseRunContainer = $("#course-run-" + id);
                var $courseRunCostDesc = $("#course-run-cost-desc-" + id);
                var $courseRunCUrl = $("#course-run-url-" + id);

                $courseRunContainer.addClass("popUpSectionHeight");

                if ($courseRunCostDesc.is(":visible")) {
                    $courseRunCostDesc.hide();
                };

                $courseRunCUrl.show();
            });

            $(".closeCostDesc").click(function () {
                event.preventDefault();
                var id = $(this).attr("data-HREF-Id");

                var $courseRunContainer = $("#course-run-" + id);

                $courseRunContainer.removeClass("popUpSectionHeight");

                var $courseRunCostDesc = $("#course-run-cost-desc-" + id);

                $courseRunCostDesc.hide();
            });


            $(".viewCostDesc").click(function () {
                event.preventDefault();
                var id = $(this).attr("data-HREF-Id");
                var $courseRunContainer = $("#course-run-" + id);
                var $courseRunCostDesc = $("#course-run-cost-desc-" + id);
                var $courseRunCUrl = $("#course-run-url-" + id);

                $courseRunContainer.addClass("popUpSectionHeight");

                if ($courseRunCUrl.is(":visible")) {
                    $courseRunCUrl.hide();
                };

                $courseRunCostDesc.show();
            });



            var $publish = $("#save");
            $publish.on("click",
                function (e) {
                    e.preventDefault();

                    $validationMessageForCost.hide();
                    $validationMessageForCostLength.hide();
                    $validationMessageForMissingCostAndDescription.hide();
                   

                    var $elementCost = $("#cost");
                    var $elementCostDescription = $("#costdescription");
                    var $formGroupCost = $elementCost.closest('.govuk-form-group');

                    $elementCost.removeClass(elementErrorClass);
                    $formGroupCost.removeClass(formGroupErrorClass);

                    if ($elementCost.val() === "") {
                        if ($elementCostDescription.val() === "") {
                            $elementCost.addClass(elementErrorClass);
                            $validationMessageForMissingCostAndDescription.show();
                            $formGroupCost.addClass(formGroupErrorClass);
                        } else {
                            $elementCost.removeClass(elementErrorClass);
                            $validationMessageForCost.hide();
                            $formGroupCost.removeClass(formGroupErrorClass);
                        }
                    } else {

                        $validationMessageForCost.hide();
                        $formGroupCost.removeClass(formGroupErrorClass);

                        if ($elementCost.val().length < 1 || $elementCost.val().length > 9) {
                            $elementCost.addClass(elementErrorClass);
                            $validationMessageForCostLength.show();
                            $formGroupCost.addClass(formGroupErrorClass);
                        } else {
                            $elementCost.removeClass(elementErrorClass);
                            $validationMessageForCostLength.hide();
                            $formGroupCost.removeClass(formGroupErrorClass);

                            $("#your-courses").submit();
                        }
                    }

                    
                });

        });
    })(jQuery);
</script>
