@using Dfc.CourseDirectory.Models.Models.Courses
@using Dfc.CourseDirectory.Web.Helpers
@model Dfc.CourseDirectory.Web.ViewComponents.Courses.CourseRun.CourseRunModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<li class="course-run-container">





    <div class="govuk-form-group" style="display: inline-block; padding-right: 10px;width:230px;">
        <label class="govuk-label">Course name</label>
        <input readonly="@(true)" style="width:230px;" class="govuk-input" asp-for="@Model.courseRun.CourseName" type="text" aria-describedby="course name">

    </div>


    @*<div class="govuk-form-group" style="display: inline-block;padding-right: 10px;width:110px;">
        <label class="govuk-label">Delivery</label>
        @Html.DropDownListFor(m => m.DeliveryType,
            @Model.DeliveryTypes.ToSelectList<DeliveryType>(), new { id = "deliveryType", @class = "govuk-select" })
    </div>*@

    @*<div class="govuk-form-group" style="display: inline-block; padding-right: 10px;width:50px;">
        <label class="govuk-label">@Model.IdLabel</label>
        <input readonly="@(true)" style="width:50px;" class="govuk-input govuk-input--width-10" asp-for="@Model.Id" type="text" aria-describedby="@Model.IdAriaDescribedBy">

    </div>



    <div class="govuk-form-group" style="display: inline-block;padding-right: 10px">
        <label class="govuk-label">@Model.StartDateLabel</label>
        <input readonly="@(true)" style="width:130px;" class="govuk-input govuk-input--width-10" asp-for="@Model.StartDate" type="text" aria-describedby="@Model.StartDateAriaDescribedBy">

    </div>*@



    @*<div class="govuk-form-group" style="display: inline-block;padding-right: 10px;width:230px;">
            <label class="govuk-label">Venue</label>
            <select class="govuk-select" name="venue"><option>Kent Innovation Centre</option></select>
        </div>*@


    @*@*<div class="govuk-form-group" style="display: inline-block;padding-right: 10px">
        <label class="govuk-label">@Model.UrlLabel</label>
        <a href="#" class="govuk-linkdata-url="https://coursedirectoryproviderportal.org.uk/Course/Create/50097453">View</a>
        <div class="edit-url-cont">
            @*<input class="govuk-input edit-url-input" type="text" readonly="" value="https://coursedirectoryproviderportal.org.uk/Course/Create/50097453">*@
            
            @*<input readonly="@(true)" class="govuk-input govuk-input--width-10" asp-for="@Model.Url" type="text" aria-describedby="@Model.UrlAriaDescribedBy">

            <a href="#" class="govuk-link" style="margin-top:10px;float:left;">Close</a>
        </div>*@
        

  
    @*</div>*@@*@

    @*<div style="display: inline-block;padding-right: 10px;width:80px;text-align:center;">
            <label class="govuk-label" style="margin-bottom:18px;">URL</label>
            <a href="#" class="edit-btn open-url" data-url="https://coursedirectoryproviderportal.org.uk/Course/Create/50097453">View</a>
            <a href="#" class="edit-btn save-url">&nbsp;</a>
            <div class="edit-url-cont">
                <input class="govuk-input edit-url-input" type="text" readonly="" value="https://coursedirectoryproviderportal.org.uk/Course/Create/50097453">
                <a href="#" class="edit-btn cancel-url" style="margin-top:10px;float:left;">Close</a>
            </div>
        </div>

        <div class="govuk-form-group" style="display: inline-block; padding-right: 10px;width:70px;">
            <label class="govuk-label">Cost</label>
            <input class="govuk-input govuk-input--width-10" type="text" placeholder="£" value="£1417" readonly="">
        </div>

        <div class="govuk-form-group" style="display: inline-block;padding-right: 10px;text-align:center;width:110px;">
            <label class="govuk-label" style="margin-bottom:20px;">Cost detail</label>
            <a href="#" class="edit-btn open-cost" data-cost="The total cost for completing this qualification with an advanced learner loan. ">View</a>
            <a href="#" class="edit-btn save-cost">&nbsp;</a>
            <div class="edit-cost-cont">
                <input class="govuk-input edit-cost-input" type="text" readonly="" value="The total cost for completing this qualification with an advanced learner loan. ">
                <a href="#" class="edit-btn cancel-cost" style="margin-top:10px;float:left;">Close</a>
            </div>
        </div>

        <div class="govuk-form-group" style="display: inline-block;padding-right: 10px;width:75px;">
            <label class="govuk-label">Duration</label>
            <input class="govuk-input" name="duration" value="12" readonly="">
        </div>

        <div class="govuk-form-group" style="display: inline-block;padding-right: 10px;width:110px;">
            <label class="govuk-label">Duration unit</label>
            <select name="durationunit" class="govuk-select"><option>Months</option></select>
        </div>


        <div class="govuk-form-group" style="display: inline-block;padding-right: 10px;width:110px;">
            <label class="govuk-label">Attendance</label>
            <select name="attendance" class="govuk-select"><option>Daytime</option></select>
        </div>

        <div class="govuk-form-group" style="display: inline-block;padding-right: 10px;width:115px;">
            <label class="govuk-label">Mode</label>
            <select name="mode" class="govuk-select"><option>Full-time</option></select>
        </div>*@

</li>

<script>
    (function ($) {
        $(function () {



        });
    })(jQuery);
</script>