@using Dfc.CourseDirectory.Models.Models.Courses
@using Dfc.CourseDirectory.Web.ViewComponents.Courses.DeliveryType
@model Dfc.CourseDirectory.Web.ViewComponents.Courses.CourseRun.CourseRunModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<li class="course-run-container" id="course-run-@Model.courseRun.id">





    <div class="govuk-form-group large">
        <label class="govuk-label">Course name</label>
        <input readonly="@(true)" class="govuk-input" asp-for="@Model.courseRun.CourseName" type="text" aria-describedby="course name">

    </div>

    <div class="govuk-form-group medium">
        <label class="govuk-label">ID</label>
        <input readonly="@(true)" class="govuk-input govuk-input--width-10" asp-for="@Model.courseRun.id type=" text" aria-describedby="id">

    </div>


    <div class="govuk-form-group medium">
        <div>
            <label class="govuk-label">Delivery</label>
            <select asp-for="@Model.deliveryMode" asp-items="@Model.deliveryModes" class="govuk-select"></select>


        </div>
    </div>
    <div class="govuk-form-group medium">
        <label class="govuk-label">Start date</label>
        @if (Model.courseRun.FlexibleStartDate)
        {
            <input readonly="@(true)" class="govuk-input govuk-input--width-10" type="text" aria-describedby="start date" value="Flexible start date">
        }
        else
        {
            <input readonly="@(true)" class="govuk-input govuk-input--width-10" asp-for="@Model.courseRun.StartDate" type="date" ,aria-describedby="start date">
        }


    </div>

    <div class="govuk-form-group medium">
        <label class="govuk-label">Venue</label>
        <select asp-for="@Model.VenueId" asp-items="@Model.venues" class="govuk-select"></select>


    </div>
 
    <div class="popUpContainer">
        <label class="govuk-label" style="margin-bottom:18px;">URL</label>
        <a href="#" id="URLLink" data-HREF-Id="@Model.courseRun.id" class="govuk-link view">View</a>
        <div class="popUpSection" id="@Model.courseRun.id" style="display: none;">

            <input readonly="@(true)" class="govuk-input" asp-for="@Model.courseRun.CourseURL" type="text" aria-describedby="url">

            <a href="#" id="@Model.courseRun.id" data-HREF-Id="@Model.courseRun.id" class="govuk-link close" style="">Close</a>
        </div>
    </div>




    <div class="govuk-form-group small">
        <label class="govuk-label">Cost</label>
        @{
            var costValue = "£" + Model.courseRun.Cost;
            <input readonly="@(true)" class="govuk-input govuk-input--width-10" type="text" aria-describedby="start date" value=@costValue>
        }

    </div>

    <div class="govuk-form-group small" style="text-align:center;">
        <label class="govuk-label" style="margin-bottom:18px;">Cost detail</label>
        <a href="#" class="govuk-link" data-url="https://www.google.com">View</a>
        @*<div class="edit-url-cont" style="display: none;">
                <input class="govuk-input edit-url-input" type="text" readonly="" value="https://coursedirectoryproviderportal.org.uk/Course/Create/50097453">
                <a href="#" class="edit-btn cancel-url" style="margin-top:10px;float:left;">Close</a>
            </div>*@
    </div>


    <div class="govuk-form-group small">
        <label class="govuk-label">Duration</label>
        <input readonly="@(true)" class="govuk-input govuk-input--width-10" asp-for="@Model.courseRun.DurationValue" type="text" aria-describedby="duration value">

    </div>


    <div class="govuk-form-group medium">
        <label class="govuk-label">Duration Unit</label>
        <select asp-for="@Model.durationUnit" asp-items="@Model.durationUnits" class="govuk-select"></select>


    </div>

    <div class="govuk-form-group medium">
        <label class="govuk-label">Attendance</label>
        <select asp-for="@Model.attendance" asp-items="@Model.attendances" class="govuk-select"></select>


    </div>

    <div class="govuk-form-group medium">
        <label class="govuk-label">Mode</label>
        <select asp-for="@Model.mode" asp-items="@Model.modes" class="govuk-select"></select>


    </div>


</li>

<script>
    (function ($) {
        $(function () {

            var $urlLink = $("#URLLink");
            var $urlSection = $("#inner");
            var $closeLink = $("#closeLink");

            //$urlLink.on("click", function (e) {
            //    $urlLink.text("-");
            //    $urlSection.show();
            //});

            //$closeLink.on("click", function (e) {
            //    var id = $(this).attr("data-HREF-Id");
            //    $('#' + id).hide();
            //});

            $(".close").click(function(){

                //$(".course-run-container").attr('style', 'min-height:auto');


                var id = $(this).attr("data-HREF-Id");

                var $courseRunContainer = $("#course-run-" + id);

                $courseRunContainer.attr('style', 'min-height:auto');

                $('#' + id).hide();
            });


            $(".view").click(function(){

               // $(".course-run-container").css('min-height', '160px');
                var id = $(this).attr("data-HREF-Id");

                var $courseRunContainer = $("#course-run-" + id);

                //ar $courseRunContainer = "#course-run-" + id;

                $courseRunContainer.css('min-height', '160px');

                $('#' + id).show();
            });


        });
    })(jQuery);
</script>