@using System.Text.RegularExpressions
@model Dfc.CourseDirectory.Web.ViewComponents.UrlInput.UrlInputModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="govuk-form-group">
    <label class="govuk-label" asp-for="@Model.Url">
        @Model.LabelText
    </label>


    @{ var regex = @"^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$";}

    @if (!string.IsNullOrWhiteSpace(Model.HintText))
    {
        <span class="govuk-hint">
            @Model.HintText
        </span>
    }
    <input class="govuk-input" asp-for="@Model.Url" type="text" aria-describedby="@Model.AriaDescribedBy"
           val-max-length="255"
           val-max-length-message="The maximum length of URL is 255 characters"
           val-regex="@regex" 
           val-regex-message="The format of URL is incorrect" />
</div>

<script>
    (function ($) {
        $(function () {
            var $elementUrl = $("#@nameof(Model.Url)");

            $elementUrl.on("blur", function () {
                var trimmed = $elementUrl.val().trim();
                $elementUrl.val(trimmed);
            });
        });
    })(jQuery);
</script>