@using Dfc.CourseDirectory.Web.Validation
@using Dfc.CourseDirectory.Services.CourseService
@using Microsoft.Extensions.Options
@model Dfc.CourseDirectory.Web.ViewComponents.Courses.CourseFor.CourseForModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IOptions<CourseForComponentSettings> courseForComponentSettings

@{
    //Allowing everything got test to open up the input fields.
    @* var regex = @"^[a-zA-Z0-9 /\n/\r/\\u/\¬\!\£\$\%\^\&\*\\é\\è\\ﬁ\(\)_\+\-\=\{\}\[\]\;\:\@\'\#\~\,\<\>\.\?\/\|\`\•\·\●\\’\‘\“\”\—\-\–\‐\‐\…\:/\°\®\\â\\ç\\ñ\\ü\\ø\♦\™\\t/\s\¼\¾\½\" + "\"" + "\\\\]+$";*@
    var regex = RegexPattern.AllowEverything;

    var courseForTextFieldMaxChars = courseForComponentSettings.Value.TextFieldMaxChars;
}




<div class="govuk-character-count" data-module="character-count" data-maxlength=@courseForTextFieldMaxChars>
    <div class="govuk-form-group">
        <label id="govuk-label-@nameof(Model.CourseFor)" class="govuk-label govuk-label--m " for="word-count" name="Course-For">
            @Model.LabelText
        </label>
        @if (!string.IsNullOrWhiteSpace(Model.HintText))
        {
            <div class="govuk-hint">
                @Model.HintText
            </div>
        }



        <textarea class="govuk-textarea js-character-count " asp-for="@Model.CourseFor" rows="7" aria-label="Course-For"
                  aria-describedby="@Model.AriaDescribedBy"
                  val-required-message="Enter who is this course for"
                  val-max-length="@courseForTextFieldMaxChars" val-max-length-message="Who is this course for? must be @courseForTextFieldMaxChars characters or less"
                  val-regex="@regex"
                  val-regex-message="Who is this course for? contains invalid characters"></textarea>

    </div>
</div>

<script>
    (function ($) {
        $(function () {

                var $elementCourseFor = $("#@nameof(Model.CourseFor)");

                $elementCourseFor.on("blur", function () {

                var trimmed = $elementCourseFor.val().trim();
                $elementCourseFor.val(trimmed);

                var $characterCountValue = @courseForTextFieldMaxChars;
                var $countMessage = $("#CourseFor-info");

                var $actualCharacterCount = $characterCountValue - $elementCourseFor.val().length;

                if ($actualCharacterCount <= 0) {

                } else {

                    if ($actualCharacterCount === 1) {
                        $countMessage.text("You have " + $actualCharacterCount + " character remaining");
                    } else {
                        $countMessage.text("You have " + $actualCharacterCount + " characters remaining");

                        $countMessage.addClass('govuk-hint');
                        $elementCourseFor.removeClass('govuk-textarea--error');
                        $countMessage.removeClass('govuk-error-message');
                        $countMessage.addClass('govuk-character-count__message');
                    }
                }

            });

        });
    })(jQuery);
</script>
