@model Dfc.CourseDirectory.WebV2.Features.DataManagement.Courses.DeleteRow.ViewModel
@{
    ViewBag.Title = "Delete unpublished course";
}

<govuk-error-summary>
    <govuk-error-summary-item asp-for="Confirm" />
</govuk-error-summary>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Delete unpublished course</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <form asp-action="DeleteRow" asp-all-route-data="@ProviderContext.RouteValues" asp-route-rowNumber="@Model.RowNumber">
        <div class="govuk-grid-column-full">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header" style="width: 200px">Course</th>
                        <th scope="col" class="govuk-table__header" style="width: 150px">Delivery type</th>
                        <th scope="col" class="govuk-table__header" style="width: 90px">Start date</th>
                        <th scope="col" class="govuk-table__header">Error(s)</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell pttcd-table--no-border govuk-body-s">
                            <div><strong>LARS title</strong> @Model.LearnAimRefTitle</div>
                            <div><strong>LARS</strong> @Model.LearnAimRef</div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="govuk-table__row pttcd-table__row-!-border">
                        <td class="govuk-table__cell pttcd-table--no-border govuk-body-s" data-testid="CourseName">@Model.CourseName</td>
                        <td class="govuk-table__cell pttcd-table--no-border govuk-body-s" data-testid="DeliveryMode">@Model.DeliveryMode</td>
                        <td class="govuk-table__cell pttcd-table--no-border govuk-body-s" data-testid="StartDate">@Model.StartDate</td>
                        <td class="govuk-table__cell pttcd-table--no-border govuk-body-s pttcd-dm-error" data-testid="Errors">
                            @for (var i = 0; i < Model.ErrorFields.Count; i++)
                            {
                                <span class="govuk-!-display-inline-block">
                                    @Model.ErrorFields.ElementAt(i)@(i != Model.ErrorFields.Count - 1 ? "," : "")
                                </span>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>

            <govuk-checkboxes class="govuk-checkboxes--small" asp-for="Confirm">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--m" id="areyousure">
                        <h2 class="govuk-fieldset__heading">
                            Are you sure?
                        </h2>
                    </govuk-checkboxes-fieldset-legend>
                </govuk-checkboxes-fieldset>
                <govuk-checkboxes-item value="@(true)">
                    Yes, I want to delete this unpublished course
                </govuk-checkboxes-item>
            </govuk-checkboxes>

            <div class="govuk-button-group">
                <govuk-button type="submit" class="govuk-button--warning govuk-!-margin-right-5" id="pttcd-delete-course__delete-btn">Delete</govuk-button>
                <a asp-action="ResolveList" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link govuk-!-margin-left-3">Cancel</a>
            </div>

        </div>
    </form>
</div>

@section Scripts {
    <script type="text/javascript">
        function enableDeleteBtn() {
            $('#pttcd-delete-course__delete-btn').attr(
                'disabled',
                $('#Confirm').is(':checked') ? null : 'disabled');
        }
        setTimeout(enableDeleteBtn, 100);
        $('#Confirm').change(enableDeleteBtn);
    </script>
}
