@model Dfc.CourseDirectory.WebV2.Features.DataManagement.Courses.ResolveRowDeliveryMode.Command
@{
    ViewContext.SetLayoutData(title: "How will the course be delivered?");
}

<form asp-action="ResolveRowDeliveryMode" asp-all-route-data="@RouteValuesHelper.FromQueryString()">
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="DeliveryMode" />
    </govuk-error-summary>

    <govuk-radios asp-for="DeliveryMode">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                How will the course be delivered?
            </govuk-radios-fieldset-legend>
        </govuk-radios-fieldset>
        <govuk-radios-item value="@CourseDeliveryMode.Online">Online</govuk-radios-item>
        <govuk-radios-item value="@CourseDeliveryMode.ClassroomBased">Classroom based</govuk-radios-item>
        <govuk-radios-item value="@CourseDeliveryMode.WorkBased">Work based</govuk-radios-item>
    </govuk-radios>

    <govuk-button type="Submit">Resolve errors</govuk-button>

    <govuk-button asp-action="ResolveList" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-button--secondary">Cancel</govuk-button>
</form>
