@using Dfc.CourseDirectory.WebV2.Features.ChooseQualification
@model CheckAndPublish
@{
    ViewContext.SetLayoutData(title: "Check and publish your course data");
}

<govuk-error-summary>
    <govuk-error-summary-item asp-for="@Model.CourseName" />
</govuk-error-summary>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Publish your course data</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form asp-action="CheckAndPublish" asp-all-route-data="@ProviderContext.RouteValues">

            <p class="govuk-body">Publishing your courses will add them to Publish to the course directory.</p>

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Course Name</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.CourseName</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Your reference</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.ProviderCourseRef</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Course type</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.DeliveryMode</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Start date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.FlexibleStartDate</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Venue</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.VenueId</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Course webpage</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.CourseWebPage</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Cost</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>£ @Model.Cost</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Cost description</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.CostDescription</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Duration</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Duration</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Attendance</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.AttendancePattern</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <p class="govuk-body">Course Description</p>

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Who is this course for</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Your reference</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.ProviderCourseRef</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Course type</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.DeliveryMode</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Start date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.FlexibleStartDate</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Venue</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.VenueId</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Course webpage</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.CourseWebPage</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Cost</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>£ @Model.Cost</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Cost description</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.CostDescription</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Duration</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Duration</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Attendance</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.AttendancePattern</govuk-summary-list-row-value>
                    <govuk-summary-list-row-value> <a asp-controller="ChooseQualifications" asp-action="CourseRun">Change</a></govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>


            <govuk-warning-text icon-fallback-text="warning">
                Publishing will replace all of your courses on Publish to the course directory
            </govuk-warning-text>

            <govuk-checkboxes class="govuk-checkboxes--small" asp-for="@true">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Are you sure?
                        </h2>
                    </govuk-checkboxes-fieldset-legend>
                </govuk-checkboxes-fieldset>
                <govuk-checkboxes-item value="@(true)">
                    Yes - I want to publish these courses
                </govuk-checkboxes-item>
            </govuk-checkboxes>

            <div class="govuk-button-group">
                <govuk-button type="submit" prevent-double-click="true" id="pttcd-delete-courseupload__delete-btn" class="govuk-!-margin-right-3">Publish</govuk-button>
                <a asp-controller="ProviderDashboard" asp-action="Index" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link govuk-!-margin-left-3" data-testid="cancel-btn">Cancel</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function enableDeleteBtn() {
            $('#pttcd-delete-courseupload__delete-btn').attr(
                'disabled',
                $('#Confirm').is(':checked') ? null : 'disabled');
        }

        // timeout is required otherwise the _checked_ property check doesn't return the correct value
        // (maybe GDS scripts need chance to run?)
        setTimeout(enableDeleteBtn, 100);

        $('#Confirm').change(enableDeleteBtn);
    </script>
}
