@using Dfc.CourseDirectory.Common.Settings
@using Dfc.CourseDirectory.Services.Interfaces.ProviderService
@using Dfc.CourseDirectory.Services.ProviderService
@using Dfc.CourseDirectory.Web.Helpers
@using Microsoft.Extensions.Options
@using Dfc.CourseDirectory.Web.ViewComponents.Notification
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http
@model Dfc.CourseDirectory.Web.ViewComponents.Dashboard.DashboardModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject IAuthorizationService Authorization
@inject IHttpContextAccessor HttpContextAccessor
@inject IProviderService providerService




@if (Model.ValidationMessages != null && Model.ValidationMessages.Any())
{
    <div class="cd-info-summary" aria-labelledby="info-summary-title" role="alert" tabindex="-1" data-module="info-summary">
        <div class="cd-info-summary__body">
            <div class="cd-info-summary__list">
                @foreach (string msg in Model?.ValidationMessages)
                {
                    <a href="/DQI"> @msg </a>
                }
            </div>
        </div>
    </div>
}

@if (Model.BulkUploadReadyToGoLiveCount > 0 || Model.BulkUploadPendingCount > 0)
{
    var link = "";
    @if (Model.BulkUpLoadHasErrors == true)
    {

        link = $"<a class='govuk-link' href='/Bulkupload/WhatDoYouWantToDoNext'>{Model.BulkUploadMessage}</a>";
    }
    else
    {
        link = $"<a class='govuk-link' href='/PublishCourses/Index?publishMode=Bulkupload'>{Model.BulkUploadMessage}</a>";
    }

    @await Component.InvokeAsync(nameof(Notification), new NotificationModel
    {
        NotificationTitle = "Bulk upload",
        ClassType = "info-summary",
        Link = link
    })
}

@if (Model.DisplayMigrationButton == true)
{
    <div class=" homepage-item govuk-body ">
        <div class="cd-status-panel slim blue">
            Migration
            <a asp-controller="Migration" asp-action="Report" class="govuk-link">View details about the information we have transferred about your courses.</a>
        </div>
    </div>
}

@if (User.Identity.IsAuthenticated)
{
    var authorised = await Authorization.AuthorizeAsync(User, "ElevatedUserRole");
    var superUser = await Authorization.AuthorizeAsync(User, "SuperUser");
    var feUser = await Authorization.AuthorizeAsync(User, "Fe");
    var apprenticeshipUser = await Authorization.AuthorizeAsync(User, "apprenticeship");

    <h1 class="govuk-heading-xl cd-dashboard-title">Publish to the course directory</h1>
    <hr class="spacer" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (feUser.Succeeded && apprenticeshipUser.Succeeded)
            {
                <div class="govuk-grid-row govuk-!-margin-bottom-6 homepage-item--container">
                    <div class="govuk-grid-column-one-half homepage-item ">
                        <div class="cd-migration-panel">
                            <h2 class="cd-migration-panel__title">Manage your courses</h2>
                            <span class="cd-migration-panel__number">
                                @if (Model.PublishedCourseCount == 0)
                                {
                                    @Model.PublishedCourseCount
                                }
                                else
                                {
                                    <a asp-controller="providercourses" asp-action="index" class="govuk-link">@Model.PublishedCourseCount</a>
                                }

                            </span>
                            <span> @WebHelper.GetCourseTextToUse(Model.PublishedCourseCount)</span><br />
                            <br />
                        </div>
                        <ul class="govuk-list cd-homepage__list">
                            <li class="cd-homepage__list--item">
                                <a asp-controller="RegulatedQualification" asp-action="Index" class="govuk-link">Add a new course</a>
                            </li>
                            @if (Model.PublishedCourseCount > 0)
                            {
                                <li class="cd-homepage__list--item">
                                    <a asp-controller="Providercourses" asp-action="index" class="govuk-link">View, edit, copy or delete a course</a>
                                </li>
                            }
                            <li class="cd-homepage__list--item">
                                <a asp-controller="Bulkupload" asp-action="index" class="govuk-link">Bulk upload course information</a>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half homepage-item ">
                        <div class="cd-migration-panel">
                            <h2 class="cd-migration-panel__title">Manage your apprenticeships</h2>
                            <span class="cd-migration-panel__number">
                                @if (Model.PublishedApprenticeshipsCount == 0)
                                {
                                    @Model.PublishedApprenticeshipsCount
                                }
                                else
                                {
                                    <a asp-controller="ProviderApprenticeships" asp-action="index" class="govuk-link">@Model.PublishedApprenticeshipsCount</a>
                                }

                            </span>
                            <span> @WebHelper.GetApprenticeshipsTextToUse(Model.PublishedApprenticeshipsCount)</span><br />
                            <br />
                        </div>
                        <ul class="govuk-list cd-homepage__list">
                            <li class="cd-homepage__list--item">
                                <a asp-controller="Apprenticeships" asp-action="Index" class="govuk-link">Add a new apprenticeship</a>
                            </li>
                            @if (Model.PublishedApprenticeshipsCount > 0)
                            {
                                <li class="cd-homepage__list--item">
                                    <a asp-controller="ProviderApprenticeships" asp-action="index" class="govuk-link">View, edit or delete a apprenticeship</a>
                                </li>
                            }
                            <li class="cd-homepage__list--item">
                                <a asp-controller="Bulkupload" asp-action="ApprenticeshipIndex" class="govuk-link">Bulk upload apprenticeship information</a>
                            </li>

                        </ul>
                    </div>

                </div>
                <div class="govuk-grid-row govuk-!-margin-bottom-6 homepage-item--container">
                    <div class="govuk-grid-column-one-half homepage-item ">
                        <div class="cd-migration-panel">
                            <h2 class="cd-migration-panel__title">Manage your locations</h2>
                            <span class="cd-migration-panel__number">
                                @if (Model.VenueCount == 0)
                                {
                                    @Model.VenueCount
                                }
                                else
                                {
                                    <a asp-controller="venues" asp-action="index" class="govuk-link">@Model.VenueCount</a>
                                }

                            </span>
                            <span> @WebHelper.GetLocationsTextToUse(Model.VenueCount)</span><br />
                            <br />
                        </div>
                        <ul class="govuk-list cd-homepage__list">
                            <li class="cd-homepage__list--item">
                                <a asp-controller="Venues" asp-action="AddVenue" class="govuk-link">Add a new location</a>
                            </li>
                            @if (Model.VenueCount > 0)
                            {
                                <li class="cd-homepage__list--item">
                                    <a asp-controller="Venues" asp-action="Index" class="govuk-link">View, edit or delete a location</a>
                                </li>
                            }
                        </ul>
                    </div>

                </div>

            }
            else
            {
                @if (feUser.Succeeded)
                {
                    <div class="govuk-grid-row govuk-!-margin-bottom-6 homepage-item--container">
                        <div class="govuk-grid-column-one-half homepage-item ">
                            <div class="cd-migration-panel">
                                <h2 class="cd-migration-panel__title">Manage your courses</h2>
                                <span class="cd-migration-panel__number">
                                    @if (Model.PublishedCourseCount == 0)
                                    {
                                        @Model.PublishedCourseCount
                                    }
                                    else
                                    {
                                        <a asp-controller="providercourses" asp-action="index" class="govuk-link">@Model.PublishedCourseCount</a>
                                    }

                                </span>
                                <span> @WebHelper.GetCourseTextToUse(Model.PublishedCourseCount)</span><br />
                                <br />
                            </div>
                            <ul class="govuk-list cd-homepage__list">
                                <li class="cd-homepage__list--item">
                                    <a asp-controller="RegulatedQualification" asp-action="Index" class="govuk-link">Add a new course</a>
                                </li>
                                @if (Model.PublishedCourseCount > 0)
                                {
                                    <li class="cd-homepage__list--item">
                                        <a asp-controller="Providercourses" asp-action="index" class="govuk-link">View, edit, copy or delete a course</a>
                                    </li>
                                }
                                <li class="cd-homepage__list--item">
                                    <a asp-controller="Bulkupload" asp-action="index" class="govuk-link">Bulk upload course information</a>
                                </li>
                            </ul>
                        </div>
                        <div class="govuk-grid-column-one-half homepage-item ">
                            <div class="cd-migration-panel">
                                <h2 class="cd-migration-panel__title">Manage your locations</h2>
                                <span class="cd-migration-panel__number">
                                    @if (Model.VenueCount == 0)
                                    {
                                        @Model.VenueCount
                                    }
                                    else
                                    {
                                        <a asp-controller="venues" asp-action="index" class="govuk-link">@Model.VenueCount</a>
                                    }

                                </span>
                                <span> @WebHelper.GetLocationsTextToUse(Model.VenueCount)</span><br />
                                <br />
                            </div>
                            <ul class="govuk-list cd-homepage__list">
                                <li class="cd-homepage__list--item">
                                    <a asp-controller="Venues" asp-action="AddVenue" class="govuk-link">Add a new location</a>
                                </li>
                                @if (Model.VenueCount > 0)
                                {
                                    <li class="cd-homepage__list--item">
                                        <a asp-controller="Venues" asp-action="Index" class="govuk-link">View, edit or delete a location</a>
                                    </li>
                                }
                            </ul>
                        </div>

                    </div>

                }

                @if (apprenticeshipUser.Succeeded)
                {
                    <div class="govuk-grid-row govuk-!-margin-bottom-6 homepage-item--container">
                        <div class="govuk-grid-column-one-half homepage-item ">
                            <div class="cd-migration-panel">
                                <h2 class="cd-migration-panel__title">Manage your apprenticeships</h2>
                                <span class="cd-migration-panel__number">
                                    @if (Model.PublishedApprenticeshipsCount == 0)
                                    {
                                        @Model.PublishedApprenticeshipsCount
                                    }
                                    else
                                    {
                                        <a asp-controller="ProviderApprenticeships" asp-action="index" class="govuk-link">@Model.PublishedApprenticeshipsCount</a>
                                    }

                                </span>
                                <span> @WebHelper.GetApprenticeshipsTextToUse(Model.PublishedApprenticeshipsCount)</span><br />
                                <br />
                            </div>
                            <ul class="govuk-list cd-homepage__list">
                                <li class="cd-homepage__list--item">
                                    <a asp-controller="Apprenticeships" asp-action="Index" class="govuk-link">Add a new apprenticeship</a>
                                </li>
                                @if (Model.PublishedCourseCount > 0)
                                {
                                    <li class="cd-homepage__list--item">
                                        <a asp-controller="ProviderApprenticeships" asp-action="index" class="govuk-link">View, edit or delete a apprenticeship</a>
                                    </li>
                                }
                                <li class="cd-homepage__list--item">
                                    <a asp-controller="Bulkupload" asp-action="ApprenticeshipIndex" class="govuk-link">Bulk upload apprenticeship information</a>
                                </li>

                            </ul>
                        </div>
                        <div class="govuk-grid-column-one-half homepage-item ">
                            <div class="cd-migration-panel">
                                <h2 class="cd-migration-panel__title">Manage your locations</h2>
                                <span class="cd-migration-panel__number">
                                    @if (Model.VenueCount == 0)
                                    {
                                        @Model.VenueCount
                                    }
                                    else
                                    {
                                        <a asp-controller="venues" asp-action="index" class="govuk-link">@Model.VenueCount</a>
                                    }

                                </span>
                                <span> @WebHelper.GetLocationsTextToUse(Model.VenueCount)</span><br />
                                <br />
                            </div>
                            <ul class="govuk-list cd-homepage__list">
                                <li class="cd-homepage__list--item">
                                    <a asp-controller="Venues" asp-action="AddVenue" class="govuk-link">Add a new location</a>
                                </li>
                                @if (Model.VenueCount > 0)
                                {
                                    <li class="cd-homepage__list--item">
                                        <a asp-controller="Venues" asp-action="Index" class="govuk-link">View, edit or delete a location</a>
                                    </li>
                                }
                            </ul>
                        </div>

                    </div>


                }
            }



        </div>
        <div class="govuk-grid-column-one-third">
            <aside class="sidebar">
                <div class="widget white ">
                    <h3>Other actions</h3>

                    <ul class="govuk-list cd-homepage__lis">
                        <li class="cd-homepage__list--item">
                            <a asp-controller="Provider" asp-action="Details" class="govuk-link">View and edit your organisation details in the course directory</a>
                        </li>
                        @if (superUser.Succeeded)
                        {
                            <li class="cd-homepage__list--item">
                                <a href="https://signin-test-svc-as.azurewebsites.net/approvals/FD039496-0B39-4F75-994A-20B03E060255/users" target="_blank" class="govuk-link">Add a new user</a>
                            </li>
                        }
                        <li class="cd-homepage__list--item">

                            <a href="https://signin-test-pfl-as.azurewebsites.net/" target="_blank" class="govuk-link">Edit my user account</a>
                        </li>
                    </ul>
                </div>
            </aside>

        </div>
    </div>
}



<script>
    (function ($) {
        $(function () {

        });
    })(jQuery);
</script>