@using Dfc.CourseDirectory.Models.Models.Courses;
@using Dfc.CourseDirectory.Web.Helpers;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfc.CourseDirectory.Web.ViewComponents.Courses.ChooseVenue.ChooseVenueModel



<div class="govuk-form-group">
    <label id="govuk-label-choosevenue" class="govuk-label" for="VenueId">
        @Model.LabelText
    </label>


    @if (!string.IsNullOrWhiteSpace(Model.HintText))
    {
        <span class="govuk-hint">
            @Model.HintText
        </span>
    }


    <div class="">
        <select asp-for="@Model.VenueId" asp-items="@Model.Venues" class="govuk-select" val-required-message="Select venue"></select>

@*        <select asp-for="@Model.VenueId" asp-items="@Model.Venues" class="govuk-select" val-required-message="Select venue" name="ChooseVenue" aria-labelledby="govuk-label-choosevenue"></select>*@
        @if (Model.DisplayLink)
        {
            <a href="#" class="govuk-link" id="addNewVenue">Add a new venue</a>
        }
    </div>
</div>

<script>
    (function ($) {
        $(function () {

        });
    })(jQuery);
</script>