@using System.Net
@using Dfc.CourseDirectory.Core.Models
@using Dfc.CourseDirectory.WebV2.ViewComponents.Notification
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Dfc.CourseDirectory.WebV2.ViewModels.ProviderCourses.ProviderCoursesViewModel

@{
    var hasCourses = Model.ProviderCourseRuns.Any();

    var clearFiltersUrl = Model.NonLarsCourse
        ? Url.Action("ClearFilters", "ProviderCourses", new { nlc = "true" })
        : Url.Action("ClearFilters", "ProviderCourses");

    var returnUrl = Model.NonLarsCourse
        ? Url.Action("Index", "ProviderCourses", new { nlc = "true" })
        : Url.Action("Index", "ProviderCourses");

    var levelHasSelected = Model.Levels?.Any(x => x.IsSelected) == true;
    var deliveryHasSelected = Model.DeliveryModes?.Any(x => x.IsSelected) == true;
    var venueHasSelected = Model.Venues?.Any(x => x.IsSelected) == true;
    var attendanceHasSelected = Model.AttendancePattern?.Any(x => x.IsSelected) == true;
    var regionHasSelected = Model.Regions?.Any(x => x.IsSelected) == true;
}

@if (!hasCourses)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-body">
            <span class="govuk-visually-hidden">Data Unavailable</span>
            @await Component.InvokeAsync(nameof(Notification), new NotificationModel
            {
                NotificationTitle = "",
                NotificationMessage = "No courses found that match your search criteria",
                ClassType = "error-summary"
            })
        </div>
    </div>
}
else
{
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third">
            <div class="pttcd-accordion">
                <div class="pttcd-accordion__header">
                    <h2 class="govuk-heading-s govuk-!-margin-0">Filter</h2>
                </div>
                <div class="pttcd-accordion__content">
                    <govuk-accordion id="accordion-with-filter-sections" class="govuk-checkboxes--small">
                        @if (!Model.NonLarsCourse && Model.Levels?.Any() == true)
                        {
                            <govuk-accordion-item>
                                <govuk-accordion-item-heading>Education level</govuk-accordion-item-heading>
                                <govuk-accordion-item-content>
                                    <govuk-checkboxes name="LevelFilter">
                                        <govuk-checkboxes-fieldset>
                                            <govuk-checkboxes-fieldset-legend class="govuk-visually-hidden">
                                                Which education levels do you want to filter by?
                                            </govuk-checkboxes-fieldset-legend>
                                            @foreach (var level in Model.Levels)
                                            {
                                                <govuk-checkboxes-item id="@level.Id" value="@level.Value" checked="@level.IsSelected">
                                                    @level.Text
                                                </govuk-checkboxes-item>
                                            }
                                        </govuk-checkboxes-fieldset>
                                    </govuk-checkboxes>
                                </govuk-accordion-item-content>
                            </govuk-accordion-item>
                        }

                        @if (Model.DeliveryModes?.Any() == true)
                        {
                            <govuk-accordion-item>
                                <govuk-accordion-item-heading>Delivery mode</govuk-accordion-item-heading>
                                <govuk-accordion-item-content>
                                    <govuk-checkboxes name="DeliveryModeFilter">
                                        <govuk-checkboxes-fieldset>
                                            <govuk-checkboxes-fieldset-legend class="govuk-visually-hidden">
                                                Which delivery modes do you want to filter by?
                                            </govuk-checkboxes-fieldset-legend>
                                            @foreach (var deliveryMode in Model.DeliveryModes)
                                            {
                                                <govuk-checkboxes-item id="@deliveryMode.Id" value="@deliveryMode.Value" checked="@deliveryMode.IsSelected">
                                                    @deliveryMode.Text
                                                </govuk-checkboxes-item>
                                            }
                                        </govuk-checkboxes-fieldset>
                                    </govuk-checkboxes>
                                </govuk-accordion-item-content>
                            </govuk-accordion-item>
                        }

                        @if (Model.Venues?.Any() == true)
                        {
                            <govuk-accordion-item>
                                <govuk-accordion-item-heading>Venue</govuk-accordion-item-heading>
                                <govuk-accordion-item-content>
                                    <govuk-checkboxes name="VenueFilter">
                                        <govuk-checkboxes-fieldset>
                                            <govuk-checkboxes-fieldset-legend class="govuk-visually-hidden">
                                                Which venues do you want to filter by?
                                            </govuk-checkboxes-fieldset-legend>
                                            @foreach (var venue in Model.Venues)
                                            {
                                                <govuk-checkboxes-item id="@venue.Id" value="@venue.Value" checked="@venue.IsSelected">
                                                    @venue.Text
                                                </govuk-checkboxes-item>
                                            }
                                        </govuk-checkboxes-fieldset>
                                    </govuk-checkboxes>
                                </govuk-accordion-item-content>
                            </govuk-accordion-item>
                        }

                        @if (Model.AttendancePattern?.Any() == true)
                        {
                            <govuk-accordion-item>
                                <govuk-accordion-item-heading>Attendance pattern</govuk-accordion-item-heading>
                                <govuk-accordion-item-content>
                                    <govuk-checkboxes name="AttendancePatternFilter">
                                        <govuk-checkboxes-fieldset>
                                            <govuk-checkboxes-fieldset-legend class="govuk-visually-hidden">
                                                Which attendance patterns do you want to filter by?
                                            </govuk-checkboxes-fieldset-legend>
                                            @foreach (var attendancePattern in Model.AttendancePattern)
                                            {
                                                <govuk-checkboxes-item id="@attendancePattern.Id" value="@attendancePattern.Value" checked="@attendancePattern.IsSelected">
                                                    @attendancePattern.Text
                                                </govuk-checkboxes-item>
                                            }
                                        </govuk-checkboxes-fieldset>
                                    </govuk-checkboxes>
                                </govuk-accordion-item-content>
                            </govuk-accordion-item>
                        }

                        @if (Model.Regions?.Any() == true)
                        {
                            <govuk-accordion-item>
                                <govuk-accordion-item-heading>Region</govuk-accordion-item-heading>
                                <govuk-accordion-item-content>
                                    <govuk-checkboxes name="RegionFilter">
                                        <govuk-checkboxes-fieldset>
                                            <govuk-checkboxes-fieldset-legend class="govuk-visually-hidden">
                                                Which regions do you want to filter by?
                                            </govuk-checkboxes-fieldset-legend>
                                            @foreach (var region in Model.Regions)
                                            {
                                                <govuk-checkboxes-item id="@region.Id" value="@region.Value" checked="@region.IsSelected">
                                                    @region.Text
                                                </govuk-checkboxes-item>
                                            }
                                        </govuk-checkboxes-fieldset>
                                    </govuk-checkboxes>
                                </govuk-accordion-item-content>
                            </govuk-accordion-item>
                        }
                    </govuk-accordion>
                </div>
                <div class="pttcd-accordion__footer">
                    <govuk-button type="submit" class="govuk-button govuk-!-margin-bottom-3" prevent-double-click="true">
                        Apply filters
                    </govuk-button>
                    @if (Model.HasFilters)
                    {
                        <a class="govuk-link govuk-!-display-block" href="@clearFiltersUrl">Clear filters</a>
                    }
                </div>
            </div>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row govuk-!-margin-bottom-4">
                <div class="govuk-grid-column-two-thirds">
                    @if (Model.Pagination.TotalItems > 0)
                    {   
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            @Model.Pagination.TotalItems results found
                        </p>
                    }
                </div>
                <div class="govuk-grid-column-one-third">
                </div>
            </div>

            @if (hasCourses)
            {
                <div class="pttcd-provider-courses">
                    @foreach (var courseRun in Model.ProviderCourseRuns)
                    {
                        <govuk-summary-card id="@courseRun.CourseRunId">
                            <govuk-summary-card-title>@WebUtility.HtmlDecode(courseRun.CourseName)</govuk-summary-card-title>
                            <govuk-summary-card-actions>
                                <govuk-summary-card-action 
                                    href="@Url.Action("Index", "CourseSummary", new { courseRun.CourseId, courseRun.CourseRunId })"
                                    visually-hidden-text="@courseRun.CourseName">
                                    View or edit
                                </govuk-summary-card-action>
                                @if (!courseRun.IsExpired)
                                {
                                    <govuk-summary-card-action asp-controller="CopyCourseRun"
                                        asp-action="Index"
                                        asp-route-learnAimRef="@courseRun.LearnAimRef"
                                        asp-route-notionalNVQLevelv2="@courseRun.NotionalNVQLevelv2"
                                        asp-route-awardOrgCode="@courseRun.AwardOrgCode"
                                        asp-route-learnAimRefTitle="@courseRun.QualificationCourseTitle"
                                        asp-route-learnAimRefTypeDesc="@courseRun.QualificationType"
                                        asp-route-courseId="@courseRun.CourseId"
                                        asp-route-courseRunId="@courseRun.CourseRunId"
                                        visually-hidden-text="@courseRun.CourseName">
                                        Copy course
                                    </govuk-summary-card-action>
                                }
                                <govuk-summary-card-action asp-controller="DeleteCourseRun"
                                    asp-action="Get"
                                    asp-route-courseId="@courseRun.CourseId"
                                    asp-route-courseRunId="@courseRun.CourseRunId"
                                    asp-route-returnUrl="@returnUrl"
                                    visually-hidden-text="@courseRun.CourseName">
                                    Delete
                                </govuk-summary-card-action>
                            </govuk-summary-card-actions>
                            <govuk-summary-list>
                                @if (!string.IsNullOrEmpty(courseRun.LearnAimRef))
                                {
                                    <govuk-summary-list-row>
                                        <govuk-summary-list-row-key>
                                            LARS/QAN
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @courseRun.LearnAimRef
                                        </govuk-summary-list-row-value>
                                    </govuk-summary-list-row>
                                }

                                @if (courseRun.DeliveryMode == "Classroom based" && !string.IsNullOrEmpty(courseRun.Venue))
                                {
                                    <govuk-summary-list-row>
                                        <govuk-summary-list-row-key>
                                            Venue
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @WebUtility.HtmlDecode(courseRun.Venue)
                                        </govuk-summary-list-row-value>
                                    </govuk-summary-list-row>
                                }
                                @if (courseRun.DeliveryMode == "Work based")
                                {
                                    if (courseRun.National)
                                    {
                                        <govuk-summary-list-row>
                                            <govuk-summary-list-row-key>
                                                Venue
                                            </govuk-summary-list-row-key>
                                            <govuk-summary-list-row-value>
                                                National
                                            </govuk-summary-list-row-value>
                                        </govuk-summary-list-row>
                                    }
                                    else if (!string.IsNullOrEmpty(courseRun.Region))
                                    {
                                        <govuk-summary-list-row>
                                            <govuk-summary-list-row-key>
                                                Venue
                                            </govuk-summary-list-row-key>
                                            <govuk-summary-list-row-value>
                                                @courseRun.Region
                                            </govuk-summary-list-row-value>
                                        </govuk-summary-list-row>
                                    }
                                }

                                @if (!string.IsNullOrEmpty(courseRun.CourseTextId))
                                {
                                    <govuk-summary-list-row>
                                        <govuk-summary-list-row-key>
                                            Your reference
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @WebUtility.HtmlDecode(courseRun.CourseTextId)
                                        </govuk-summary-list-row-value>
                                    </govuk-summary-list-row>
                                }

                                @if (courseRun.DeliveryMode == "Classroom based" && !string.IsNullOrEmpty(courseRun.StudyMode))
                                {
                                    <govuk-summary-list-row>
                                        <govuk-summary-list-row-key>
                                            Course hours
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @courseRun.StudyMode
                                        </govuk-summary-list-row-value>
                                    </govuk-summary-list-row>
                                }

                                @if (Model.NonLarsCourse && !string.IsNullOrEmpty(courseRun.EducationLevel))
                                {
                                    <govuk-summary-list-row>
                                        <govuk-summary-list-row-key>
                                            Education level
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @courseRun.EducationLevel
                                        </govuk-summary-list-row-value>
                                    </govuk-summary-list-row>
                                }
                                else
                                {
                                    if (!string.IsNullOrEmpty(courseRun.NotionalNVQLevelv2))
                                    {
                                        <govuk-summary-list-row>
                                            <govuk-summary-list-row-key>
                                                Education level
                                            </govuk-summary-list-row-key>
                                            <govuk-summary-list-row-value>
                                                @courseRun.NotionalNVQLevelv2
                                            </govuk-summary-list-row-value>
                                        </govuk-summary-list-row>
                                    }
                                }

                                @if (!string.IsNullOrEmpty(courseRun.DeliveryMode))
                                {
                                    <govuk-summary-list-row>
                                        <govuk-summary-list-row-key>
                                            Delivery mode
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @courseRun.DeliveryMode
                                        </govuk-summary-list-row-value>
                                    </govuk-summary-list-row>
                                }

                                @if (courseRun.DeliveryMode == "Classroom based" && !string.IsNullOrEmpty(courseRun.AttendancePattern))
                                {
                                    <govuk-summary-list-row>
                                        <govuk-summary-list-row-key>
                                            Attendance pattern
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @courseRun.AttendancePattern
                                        </govuk-summary-list-row-value>
                                    </govuk-summary-list-row>
                                }

                                @if (!string.IsNullOrEmpty(courseRun.StartDate))
                                {
                                    <govuk-summary-list-row>
                                        <govuk-summary-list-row-key>
                                            Start date
                                        </govuk-summary-list-row-key>
                                        <govuk-summary-list-row-value>
                                            @courseRun.StartDate
                                        </govuk-summary-list-row-value>
                                    </govuk-summary-list-row>
                                }

                            </govuk-summary-list>
                        </govuk-summary-card>
                    }
                </div>
            }
        </div>
    </div>
}

