@model Dfc.CourseDirectory.WebV2.Features.Courses.ExpiredCourseRuns.ViewModel
@{
    Layout = "_V2LayoutAdmin";
    ViewContext.SetLayoutData(title: "Courses");
}

@section BackLink {
    <govuk-back-link asp-controller="ProviderDashboard" asp-action="Index" asp-all-route-data="@ProviderContext.RouteValues">Back</govuk-back-link>
}

<h1 class="govuk-govuk-grid-column-one-half-l">Courses</h1>

<p class="govuk-body-l">
    Courses with a start date 2 months in the past will not be visible to learners searching for opportunities on
    National Careers Service. Find a Course.
</p>

<p class="govuk-body">
    Select a course to update. Searching multiple courses will update the start date for those courses.
</p>


<p class="govuk-body">
    If you have courses with multiple mew start date you can <a asp-controller="DataManagement" asp-action="Dashboard" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">update all courses by data upload</a>
</p>
<form asp-action="Update" asp-all-route-data="@ProviderContext.RouteValues">

    <table class="govuk-table">

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Select</th>
                <th scope="col" class="govuk-table__header">Course name</th>
                <th scope="col" class="govuk-table__header" style="width: 150px">Your reference</th>
                <th scope="col" class="govuk-table__header" style="width: 150px">Delivery type</th>
                <th scope="col" class="govuk-table__header" style="width: 150px">Start date</th>
            </tr>
            @*Hidden by default and only displays when javascript is executed on page load*@
            <tr id="selectAllRow" class="govuk-table__row" style="display: none">
                <th class="govuk-table__header" colspan="1">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small">
                        <input class="govuk-checkboxes__input" type="checkbox" id="selectAllCheckbox" onClick="toggle(this)" testid ="SelectAll">
                        <label class="govuk-label govuk-checkboxes__label"></label>
                    </div>
                </th>
                <th class="govuk-table__header" id="selectAllLabel" style="text-align:left" colspan="4">Select all courses</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @if (Model.Rows.Count > 0)
            {
                foreach (var expiredCourse in Model.Rows)
                {

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" style="border:none">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                <input class="govuk-checkboxes__input" type="checkbox" name="selectedCourses" value="@expiredCourse.CourseId" checked="@expiredCourse.IsChecked" testid ="SelectCourse">
                                <label class="govuk-label govuk-checkboxes__label">
                                </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell" style="border:none" data-testid="CourseName">@expiredCourse.CourseName</td>
                        <td class="govuk-table__cell" style="border:none" data-testid="ProviderCourseRef">@expiredCourse.ProviderCourseRef</td>
                        <td class="govuk-table__cell" style="border:none" data-testid="DeliveryMode">@expiredCourse.DeliveryMode.ToDescription()</td>
                        <td class="govuk-table__cell" style="border:none" data-testid="StartDate">@expiredCourse.StartDate.ToString("dd/MM/yyyy")</td>
                    </tr>
                }
            }
            else
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-padding-bottom-5 govuk-!-padding-top-5" colspan="3">You have no expired courses</td>
                </tr>
            }
        </tbody>
    </table>
    <govuk-button type="Submit">Continue</govuk-button>
</form>

<script language="javascript">
    // load select all checkbox when javascript loads
    document.getElementById("selectAllRow").style.display = "table-row";
    // select all checkboxes logic
    function toggle(source, expiredCourseCheckbox, selectAllCheckbox) {
        checkboxes = document.getElementsByName("selectedCourses");
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }

        // update select all label with select or deselect
        var checkboxToggle = document.getElementById("selectAllCheckbox");
        var labelText = document.getElementById("selectAllLabel");
        if (!checkboxToggle.checked) {
            labelText.innerHTML = "Select all courses";
        }
        else {
            labelText.innerHTML = "Deselect all courses";
        }
    }
</script>
