@model Dfc.CourseDirectory.WebV2.Features.Courses.ExpiredCourseRuns.ViewModel
@{
    Layout = "_V2LayoutProviderContext";
    ViewContext.SetLayoutData(title: $"{Model.Total} courses need their start date updating");
}

@if (TempData.ContainsKey(TempDataKeys.ExpiredCoursesNotification))
{
    <pttcd-notification title="Start date edited">
        @TempData[TempDataKeys.ExpiredCoursesNotification]
    </pttcd-notification>
}

<h1 class="govuk-govuk-grid-column-one-half-l">@Model.Total courses need their start date updating</h1>

@if (Model.Rows.Count > 0)
{
    <table class="govuk-table">
        <tbody class="govuk-table__body">
            @foreach (var row in Model.Rows)
            {
                <tr class="govuk-table__row" data-testid="CourseRunRow">
                    <td class="govuk-table__cell">
                        <div data-testid="CourseName"><strong>@row.CourseName</strong></div>
                        <ul class="govuk-list govuk-!-margin-bottom-0 pttcd-list--inline">
                            @if (!string.IsNullOrWhiteSpace(row.ProviderCourseRef))
                            {
                                <li>@row.ProviderCourseRef</li>
                            }

                            @if (row.DeliveryMode == CourseDeliveryMode.ClassroomBased)
                            {
                                <li>@row.VenueName</li>
                            }
                            else if (row.DeliveryMode == CourseDeliveryMode.WorkBased)
                            {
                                <li>
                                    @if (row.National == true)
                                    {
                                        <text>National</text>
                                    }
                                    else
                                    {
                                        @row.SubRegionNames.ToCommaSeparatedString(",")
                                    }
                                </li>
                            }

                            <li>@row.DeliveryMode.ToDescription()</li>

                            @if (row.StudyMode.HasValue)
                            {
                                <li>@row.StudyMode.ToDescription()</li>
                            }

                            <li data-testid="StartDate">@row.StartDate.ToString("dd/MM/yyyy")</li>
                        </ul>
                    </td>
                    <td class="govuk-table__cell" style="width: 75px">
                        <a asp-controller="EditCourseRun"
                           asp-action="Index"
                           asp-route-courseId="@row.CourseId"
                           asp-route-courseRunId="@row.CourseRunId"
                           asp-route-learnAimRef="@row.LearnAimRef"
                           asp-route-notionalNVQLevelv2="row.NotionalNVQLevelv2"
                           asp-route-awardOrgCode="@row.AwardOrgCode"
                           asp-route-learnAimRefTitle="@row.LearnAimRefTitle"
                           asp-route-learnAimRefTypeDesc="@row.LearnAimRefTypeDesc"
                           asp-route-mode="DataQualityIndicator"
                           class="govuk-link">
                            Fix
                            <span class="govuk-visually-hidden">@row.LearnAimRefTitle</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
