@model Dfc.CourseDirectory.WebV2.Features.Courses.ExpiredCourseRuns.ViewModel

@{
    Layout = "_V2LayoutAdmin";
    ViewContext.SetLayoutData(title: "Enter the start date for your course(s)");
}

@section BackLink {
    <govuk-back-link asp-action="Update" asp-all-route-data="@ProviderContext.RouteValues">Back</govuk-back-link>
}

<h1>
    Enter the start date for your course(s)
</h1>

<div class="govuk-hint">For example, 12 11 2007</div>

<form asp-action="UpdatedCourses" asp-all-route-data="@ProviderContext.RouteValues">

    <div class="govuk-date-input">
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label">
                    Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" pattern="[0-9]*" inputmode="numeric" name="day" asp-validation-for="NewStartDate">
            </div>
        </div>
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label">
                    Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" pattern="[0-9]*" inputmode="numeric" name="month" asp-validation-for="NewStartDate">
            </div>
        </div>
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label">
                    Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" type="text" pattern="[0-9]*" inputmode="numeric" name="year" asp-validation-for="NewStartDate">
            </div>
        </div>
    </div>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Course name</th>
                <th scope="col" class="govuk-table__header" style="width: 150px">Your reference</th>
                <th scope="col" class="govuk-table__header" style="width: 150px">Delivery type</th>
                <th scope="col" class="govuk-table__header" style="width: 150px">Start date</th>
            </tr>

        <tbody class="govuk-table__body">
            @if (Model.Rows.Count > 0)
            {
                
                foreach (var selectedExpiredCourse in Model.Rows)
                {
                    <tr class="govuk-table__row" type="row" name="selectedRows" value=@selectedExpiredCourse.CourseId>
                        <td class="govuk-table__cell" style="border:none" data-testid="SelectedCourseName">@selectedExpiredCourse.CourseName</td>
                        <td class="govuk-table__cell" style="border:none" data-testid="SelectedProviderCourseRef">@selectedExpiredCourse.ProviderCourseRef</td>
                        <td class="govuk-table__cell" style="border:none" data-testid="SelectedDeliveryMode">@selectedExpiredCourse.DeliveryMode.ToDescription()</td>
                        <td class="govuk-table__cell" style="border:none" data-testid="SelectedStartDate">@selectedExpiredCourse.StartDate.ToString("dd/MM/yyyy")</td>       
                        <td>
                          <div class="input">
                                <input name="selectedRows" value=@selectedExpiredCourse.CourseId type="hidden">
                          </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

  <p class="govuk-body">
      Your course(s) will be updated on Publish to the course directory and available to learners searching for
      learning and training
      opportunities on the National Career Service, Find a course.
  </p>

     <govuk-button type="Submit">Continue</govuk-button>
</form>


