@using Microsoft.AspNetCore.Http
@using Dfc.CourseDirectory.Services.Models.Providers;
@using Dfc.CourseDirectory.Web.ViewModels.SearchProvider
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SearchProviderResultsViewModel

@if (Model.Providers != null && Model.Providers.Any() && Model.Providers.FirstOrDefault() != null) // && !Model.HasErrors)
{
    <div class="">
        <div id="OnBoardingAjaxCallResult" style="display: none;"></div>
        <table class="cd-provider-results govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">UKRPN</th>
                    <th class="govuk-table__header" scope="col">Name</th>
                    <th class="govuk-table__header" scope="col">Town/City</th>
                    <th class="govuk-table__header" scope="col">Postcode</th>
                    <th class="govuk-table__header" scope="col">UKPRN Status</th>
                    <th class="govuk-table__header" scope="col">CD Status</th>
                    <th class="govuk-table__header" scope="col"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var p in Model.Providers)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@p.UKPRN</td>
                        <td class="govuk-table__cell">@p.CourseDirectoryName</td>
                        <td class="govuk-table__cell">@p.Town</td>
                        <td class="govuk-table__cell">@p.Postcode</td>
                        <td class="govuk-table__cell">@p.ProviderStatus</td>
                        <td class="govuk-table__cell">@p.Status</td>
                        <td class="govuk-table__cell">
                            @if (p.Status == Status.Onboarded && p.ProviderStatus.Equals("Active", StringComparison.InvariantCultureIgnoreCase))
                            {
                                @Html.ActionLink("View Dashboard", "SearchProvider", "ProviderSearch", new { UKPRN = p.UKPRN })
                            }
                            else if (p.Status == Status.Registered && p.ProviderStatus.Equals("Active", StringComparison.InvariantCultureIgnoreCase))
                            {
                            <a id="btnOnboardProvider" style="margin: auto;" onclick="OnBoardProvider('@p.UKPRN','@p.Id'); return false;" href="#" class="govuk-link"><span id="btnOnboardProviderText">Add provider</span> <span class="govuk-visually-hidden">@p.CourseDirectoryName</span></a>
                            }                           
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

} else if (!string.IsNullOrEmpty(Model.Search)) {

    <div class="">
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                No records found
            </h2>
        </div>
    </div>
}
<script type="text/javascript">

    function OnBoardProvider(UKPRN,id) {

        $.ajax({
            url: '/ProviderSearch/OnBoardProvider',
            type: "POST",
            dataType: "json",
            data: JSON.stringify({
                ProviderId:id,
                UKPRN:UKPRN
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#OnBoardingAjaxCallResult').html("<h1 class=\"govuk-heading-m\">(" + UKPRN + ") " + data.resultText + "</h1>");
                $('#OnBoardingAjaxCallResult').show();

                if (data.success == true) {                  
                    $('#OnBoardingAjaxCallResult').addClass("success-container");
                }
                else {
                    $('#OnBoardingAjaxCallResult').addClass("failure-container");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#OnBoardingAjaxCallResult').html("<h1 class=\"govuk-heading-m\">" + xhr + ", " + ajaxOptions + ", " + thrownError + "</h1>");
                $('#OnBoardingAjaxCallResult').addClass("failure-container");
                $('#OnBoardingAjaxCallResult').show();
            }

        });
      
        return false;
    }
</script>
