@model Dfc.CourseDirectory.WebV2.Features.EditVenue.Details.ViewModel
@{
    ViewContext.SetLayoutData(title: "Check your location details before saving");
}

@if (Model.NewAddressIsOutsideOfEngland)
{
    <pttcd-notification title="Non England address" data-testid="outsideofengland-notification">
        You are adding an address that is outside of England. Your course for this address will not appear in any search results.
    </pttcd-notification>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="Save">
            <h1 class="govuk-heading-xl">Check your location details before saving</h1>

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Location name</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.LocationName</govuk-summary-list-row-value>
                    <govuk-summary-list-row-action asp-action="Name" asp-route-venueId="@Model.VenueId" visually-hidden-text="location name">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Address</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @foreach (var part in Model.AddressParts)
                        {
                            @part<br />
                        }
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-action asp-action="Address" asp-route-venueId="@Model.VenueId" visually-hidden-text="address">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Email</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Email</govuk-summary-list-row-value>
                    <govuk-summary-list-row-action asp-action="Email" asp-route-venueId="@Model.VenueId" visually-hidden-text="email">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Phone</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.PhoneNumber</govuk-summary-list-row-value>
                    <govuk-summary-list-row-action asp-action="PhoneNumber" asp-route-venueId="@Model.VenueId" visually-hidden-text="phone number">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Website</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Website</govuk-summary-list-row-value>
                    <govuk-summary-list-row-action asp-action="Website" asp-route-venueId="@Model.VenueId" visually-hidden-text="website">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <govuk-button type="submit" class="govuk-!-margin-right-1">Save and continue</govuk-button>
            <govuk-button type="submit" asp-action="Cancel" asp-route-venueId="@Model.VenueId" class="govuk-button--secondary">Cancel</govuk-button>
        </form>
    </div>
</div>