
@using Dfc.CourseDirectory.Models.Enums
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity
@using Dfc.CourseDirectory.Web.Areas.Identity.Data;
@using Dfc.CourseDirectory.Web.ViewComponents.Notification
@using Dfc.CourseDirectory.Services.Interfaces.CourseService;

@{
    Layout = "_Layout_Your_Courses";
}

@model Dfc.CourseDirectory.Web.ViewModels.DashboardViewModel;

@{
    ViewData["Title"] = "Course management dashboard";
    //var authorised = await Authorization.AuthorizeAsync(User, "Admin");
}

<div>

    @await Component.InvokeAsync(nameof(Notification), new NotificationModel
{
NotificationTitle = "",
NotificationMessage = @Model.LiveCourseCount + @Model.LiveCourseCount > 0 ? " courses":" course" + " have been migrated to the new Course directory. Any courses with a missing LARS have been deleted." + "<a class='govuk-link' asp-controller='Home' asp-action='Index'> What now?</a>",
ClassType = "info-summary"
})

    <span class="govuk-caption-xl">Course Directory</span>
    <h1 class="govuk-heading-xl">Course management dashboard</h1>
    <hr />
    <br />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <div class="cd-status-panel">
                <h3 class="govuk-heading-l">@Model.LiveCourseCount</h3>
                <div class="govuk-heading-s">Live courses</div>
            </div>
            <div>
                <ul class="govuk-list">
                    <li><a class="govuk-link" asp-controller="AddCourse" asp-action="AddCourse">Publish a course</a></li>

                    <li><a class="govuk-link" asp-controller="ProviderCourses" asp-action="Index">@(Model.LiveCourseCount > 0 ? "Manage your courses" : "")</a></li>
                </ul>
            </div>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <div class="cd-status-panel">
                <h3 class="govuk-heading-l">@Model.PendingCourseCount</h3>
                <div class="govuk-heading-s">Pending courses</div>
            </div>
            <div>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="#">Benefits calculators</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">Benefit overpayments</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>














<script>
    (function ($) {
        $(function () {

        });
    })(jQuery);
</script>
