
@using Dfc.CourseDirectory.Services.Enums
@using Dfc.CourseDirectory.Web.Helpers
@{
    ViewData["Title"] = "Delete Location";
    Layout = "_Layout_Your_Courses";
}

@model Dfc.CourseDirectory.Web.ViewModels.Locations.LocationDeleteViewModel

<form class="govuk-!-margin-bottom-9" id="LocationConfirmDeleteForm" asp-controller="Locations" asp-action="DeleteLocation" method="post">
    @Html.HiddenFor(x => x.VenueId)
    @Html.HiddenFor(x => x.VenueName)
    @Html.HiddenFor(x => x.PostCode)
    @Html.HiddenFor(x => x.AddressLine1)
    <div class="cd-dashboard provider">

        <div id="errorsummary" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary" style="display: none;">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list"></ul>
            </div>
        </div>

        <h1 class="govuk-heading-l">
            Delete Location
        </h1>

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">Location name</td>
                    <td class="govuk-table__cell">@Model.VenueName</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Address Line 1</td>
                    <td class="govuk-table__cell">@Model.AddressLine1</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Postcode</td>
                    <td class="govuk-table__cell">@Model.PostCode</td>
                </tr>


            </tbody>
        </table>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                Are you sure?
            </strong>
        </div>


        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h1 class="govuk-fieldset__heading">
                        Please select
                    </h1>
                </legend>
                <div class="govuk-radios" val-required-message="Select an option" id="LocationConfirmDelete">

                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(m => m.LocationDelete, LocationDelete.Delete, new { @class = "govuk-radios__input", id = LocationDelete.Delete })
                        <label class="govuk-label govuk-radios__label" for="@LocationDelete.Delete">@WebHelper.GetEnumDescription(LocationDelete.Delete)</label>
                    </div>
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(m => m.LocationDelete, LocationDelete.Back, new { @class = "govuk-radios__input", id = LocationDelete.Back })
                        <label class="govuk-label govuk-radios__label" for="@LocationDelete.Back">@WebHelper.GetEnumDescription(LocationDelete.Back)</label>
                    </div>

                </div>
            </fieldset>
        </div>

        <div class="cta-container">
            <a class="govuk-button govuk-!-margin-right-3" asp-controller="Locations" asp-action="DeleteLocation" id="Confirm" asp-route-VenueId=@Model.VenueId>Confirm</a>
        </div>
    </div>

</form>

<script>
    (function ($) {
        $(function () {
            var validStates = [];
            var $button = $("#Confirm");
            var $errorSummary = $("#errorsummary").govUkErrorSummary();
            var $locationConfirmDelete = $("#LocationConfirmDelete").govUkRadios();

            function isAllValid(currentValue) {
                return currentValue === true;
            }

            function validate() {

                validStates = [];
                $errorSummary.govUkErrorSummary("removeAll");
                $locationConfirmDelete.govUkRadios("validState");

                if ($.requiredValidate($locationConfirmDelete.find("input[type='radio']:checked").val())) {
                    $locationConfirmDelete.govUkRadios("validState");
                    validStates.push(true);
                } else {
                    $locationConfirmDelete.govUkRadios("invalidState", $locationConfirmDelete.attr("val-required-message"));
                    validStates.push(false);
                    var $anchor = document.createElement("a");
                    $anchor.href = "#LocationConfirmDelete";
                    $anchor.innerHTML = $locationConfirmDelete.attr("val-required-message");
                    $anchor.id = "error-hash-link-" + "a" + "-" + 1;
                    $errorSummary.govUkErrorSummary("add", $anchor);
                    $errorSummary.govUkErrorSummary("show");
                }
            }

            $button.on("click", function (event) {
                event.preventDefault();
                validate();
                if (validStates.every(isAllValid)) {
                    $("#LocationConfirmDeleteForm").submit();
                }
            });

        });
    })(jQuery);
</script>





