@using Dfc.CourseDirectory.WebV2.Views.Shared
@using GovUk.Frontend.AspNetCore
@inject GovUk.Frontend.AspNetCore.PageTemplateHelper PageTemplateHelper
@{ var layoutModel = ViewData.GetLayoutModel(); }

<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="blue" />
    <meta property="og:image" content="~/assets/images/govuk-opengraph-image-tudor-crown.png">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="~/assets/images/govuk-favicon-tudor-crown.ico" type="image/x-icon" />
    <link rel="mask-icon" href="~/assets/images/govuk-mask-icon-tudor-crown.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" href="~/assets/images/govuk-icon-180.png">
    <link href="~/dist/site.min.css" rel="stylesheet" />
    <partial name="~/SharedViews/Partials/_V2Styles.cshtml" />
    <script src="https://cloud.tinymce.com/4/tinymce.min.js?apiKey=z0ozy7rkwybyt6ygjzmzpdb48ubu095r3auqciv6ngdxzo0d"></script>
    <partial name="_ScriptsPartial" />
        @PageTemplateHelper.GenerateStyleImports()
</head>

<body class="govuk-template__body app-body-class">

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <vc:cookie-banner />

    <partial name="_GovukHeaderPartial_Your_Courses" />

    <div class=" cd-fullwidth-container">
        @if (layoutModel.BackLink)
        {
            <a href="@layoutModel.BackLinkHref" class="govuk-back-link">
                    @layoutModel.BackLinkText
                    </a>
        } 
        <main class="cd-dashboard provider govuk-body" id="main-content">
            @RenderBody()
        </main>
    </div>
        @PageTemplateHelper.GenerateScriptImports(null)
    <script type="module">
        document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');

        $(".govuk-header__navigation-list").hide();
        $(".govuk-header__menu-button").on("click",
            function () {
                if ($(".govuk-header__navigation-list").is(":visible")) {
                    $("#menu").removeClass("govuk-header__menu-button--open");
                    $(".govuk-header__navigation-list").hide();
                } else {
                    $("#menu").addClass("govuk-header__menu-button--open");
                    $(".govuk-header__navigation-list").show();
                }


            });
    </script>
    <partial name="_GovukFooterPartial" />

    @RenderSection("Scripts", required: false)
    <partial name="~/SharedViews/Partials/_V2Scripts.cshtml" />
</body>


</html>
