@using Dfc.CourseDirectory.Web.ViewComponents.Extensions
@using Dfc.CourseDirectory.Web.ViewComponents.Notification
@using Dfc.CourseDirectory.Web.ViewComponents.Pagination;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using Dfc.CourseDirectory.Web.Areas.Identity.Data;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfc.CourseDirectory.Web.ViewComponents.VenueSearchResult.VenueSearchResultModel;

@using Microsoft.AspNetCore.Authorization;

@inject IAuthorizationService Authorization
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{ 
    var adminLogin = await Authorization.AuthorizeAsync(User, "Admin");
    var providerLogin = await Authorization.AuthorizeAsync(User, "Provider");
}
<div class="govuk-width-container govuk-!-margin-top-4">
    <form id="venueSearchResultForm" asp-controller="Venues" asp-action="AddVenue" method="get">
        @{
            if (Model.Items.Any() && Model.NewItem != null)
            {



                @*if (Model.Updated)
                    {
                        <span class="govuk-heading-m">Your venue updated:</span>
                    }
                    else
                    {
                        <span class="govuk-heading-m">New venue added:</span>
                    }*@
                string message = "";
                if (!string.IsNullOrWhiteSpace(Model.NewItem.VenueName))
                {
                    message += string.Concat(Model.NewItem.VenueName, ", ");
                }
                if (!string.IsNullOrWhiteSpace(Model.NewItem.AddressLine1))
                {
                    message += string.Concat(@Model.NewItem.AddressLine1, ", ");
                }
                if (!string.IsNullOrWhiteSpace(Model.NewItem.AddressLine2))
                {
                    message += string.Concat(@Model.NewItem.AddressLine2, ", ");
                }
                if (!string.IsNullOrWhiteSpace(Model.NewItem.Town))
                {
                    message += string.Concat(@Model.NewItem.Town, ", ");
                }
                if (!string.IsNullOrWhiteSpace(Model.NewItem.County))
                {
                    message += string.Concat(@Model.NewItem.County, ", ");
                }
                if (!string.IsNullOrWhiteSpace(Model.NewItem.PostCode))
                {
                    message += @Model.NewItem.PostCode;

                }


                @await Component.InvokeAsync(nameof(Notification), new NotificationModel
                {

                    NotificationTitle = Model.Updated ? "Your venue updated:" : "New venue added:",
                    NotificationMessage =message,
                    ClassType = "success-summary"
                })
                ;
            }
        }
        <div class="venue-list">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">


                    @if (adminLogin.Succeeded || providerLogin.Succeeded)
                    {
                        <div class="govuk-form-group" style="margin-top: 30px;">
                            <button type="submit" class="govuk-button">
                                Add new venue
                            </button>
                        </div>
                    }

                    @if (Model.Items.Any())
                    {
                        <div class="govuk-tabs" data-module="tabs">
                            <h2 class="govuk-tabs__title">
                                Contents
                            </h2>
                            <ul class="govuk-tabs__list" role="tablist">
                                <li class="govuk-tabs__list-item" role="presentation">
                                    <a class="govuk-tabs__tab" href="#live" id="tab_live" role="tab" aria-controls="live" tabindex="0" aria-selected="true">
                                        Live
                                    </a>
                                </li>


                            </ul>

                            <section class="govuk-tabs__panel" id="live" role="tabpanel" aria-labelledby="tab_live">
                                <table class="govuk-table">
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th class="govuk-table__header" scope="col">Venue</th>
                                            <th class="govuk-table__header" scope="col">Address</th>
                                            <th class="govuk-table__header" scope="col">Postcode</th>
                                            <th class="govuk-table__header" scope="col"></th>
                                        </tr>
                                    </thead>

                                    <tbody class="govuk-table__body">
                                        @foreach (var venue in Model.Items)
                                        {
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell">
                                                    @venue.VenueName
                                                </td>
                                                <td class="govuk-table__cell">
                                                    @if (!string.IsNullOrWhiteSpace(venue.AddressLine1))
                                                    {
                                                        @venue.AddressLine1
                                                        <br />
                                                    }
                                                    @if (!string.IsNullOrWhiteSpace(venue.AddressLine2))
                                                    {
                                                        @venue.AddressLine2
                                                        <br />
                                                    }
                                                    @if (!string.IsNullOrWhiteSpace(venue.Town))
                                                    {
                                                        @venue.Town
                                                        <br />
                                                    }
                                                    @if (!string.IsNullOrWhiteSpace(venue.County))
                                                    {
                                                        @venue.County
                                                    }
                                                </td>
                                                <td class="govuk-table__cell">
                                                    @if (!string.IsNullOrWhiteSpace(venue.PostCode))
                                                    {
                                                        @venue.PostCode
                                                    }
                                                </td>
                                                @{
                                                    if (adminLogin.Succeeded || providerLogin.Succeeded)
                                                    {
                                                        <td class="govuk-table__cell">
                                                            <a asp-controller="venues" asp-action="EditVenue" asp-route-id=@venue.Id class="govuk-link edit-venue-link">Edit</a>
                                                        </td>
                                                    }
                                                }
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </section>

                        </div>



                    }

                    @if (adminLogin.Succeeded || providerLogin.Succeeded)
                    {
                        <div class="govuk-form-group" style="margin-top: 30px;">
                            <button type="submit" class="govuk-button">
                                Add new venue
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
</div>
