@using Dfc.CourseDirectory.Web.ViewComponents.Notification
@using Microsoft.AspNetCore.Authorization;
@model Dfc.CourseDirectory.Web.ViewComponents.VenueSearchResult.VenueSearchResultModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IAuthorizationService Authorization

@{
    var adminLogin = await Authorization.AuthorizeAsync(User, "Admin");
    var providerLogin = await Authorization.AuthorizeAsync(User, "Provider");

    string message = "";

    if (Model.Items.Any() && Model.NewItem != null)
    {

        if (!string.IsNullOrWhiteSpace(Model.NewItem.VenueName))
        {
            message += string.Concat(Model.NewItem.VenueName, ", ");
        }
        if (!string.IsNullOrWhiteSpace(Model.NewItem.AddressLine1))
        {
            message += string.Concat(@Model.NewItem.AddressLine1, ", ");
        }
        if (!string.IsNullOrWhiteSpace(Model.NewItem.AddressLine2))
        {
            message += string.Concat(@Model.NewItem.AddressLine2, ", ");
        }
        if (!string.IsNullOrWhiteSpace(Model.NewItem.Town))
        {
            message += string.Concat(@Model.NewItem.Town, ", ");
        }
        if (!string.IsNullOrWhiteSpace(Model.NewItem.County))
        {
            message += string.Concat(@Model.NewItem.County, ", ");
        }
        if (!string.IsNullOrWhiteSpace(Model.NewItem.PostCode))
        {
            message += @Model.NewItem.PostCode;
        }

        @await Component.InvokeAsync(nameof(Notification), new NotificationModel
        {

            NotificationTitle = Model.Updated ? "Your location updated:" : "New location added:",
            NotificationMessage = message,
            ClassType = "success-summary"
        });

    }
}

<h1 class="govuk-heading-xl">Your locations</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Location</th>
                    <th class="govuk-table__header" scope="col">Address</th>
                    <th class="govuk-table__header" scope="col">Postcode</th>
                    @if (adminLogin.Succeeded || providerLogin.Succeeded)
                    {
                        <th class="govuk-table__header" scope="col"></th>
                        <th class="govuk-table__header" scope="col"></th>
                    }
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                @if (Model.Items.Any())
                {
                    foreach (var venue in Model.Items.OrderBy(v => v.VenueName))
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@venue.VenueName</td>
                            <td class="govuk-table__cell">
                                @foreach (var item in new[] { venue.AddressLine1, venue.AddressLine2, venue.Town, venue.County }.Where(i => !string.IsNullOrWhiteSpace(i)))
                                {
                                    @item<br />
                                }
                            </td>
                            <td class="govuk-table__cell">@venue.PostCode</td>

                            @if (adminLogin.Succeeded || providerLogin.Succeeded)
                            {
                                <td class="govuk-table__cell">
                                    <a asp-controller="EditVenue" asp-action="Details" asp-route-venueId=@venue.Id class="govuk-link">
                                        View <span class="govuk-visually-hidden">@venue.VenueName</span>
                                    </a>
                                </td>
                                <td class="govuk-table__cell">
                                    <a asp-controller="DeleteVenue" asp-action="DeleteVenue" asp-route-venueId="@venue.Id" class="govuk-link">
                                        Delete <span class="govuk-visually-hidden">@venue.VenueName</span>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-padding-bottom-5 govuk-!-padding-top-5" colspan="5">You have no locations</td>
                    </tr>
                }

            </tbody>
        </table>

        @if (adminLogin.Succeeded || providerLogin.Succeeded)
        {
            <a asp-controller="AddVenue" asp-action="Index" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-button">Add a location</a>
        }
    </div>
</div>
