@using System.Text.RegularExpressions
@using Dfc.CourseDirectory.Models.Enums
@using Dfc.CourseDirectory.Models.Models.Courses
@model Dfc.CourseDirectory.Web.ViewModels.PublishCourses.PublishViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@Html.HiddenFor(x => x.PublishMode)

@foreach (var course in Model.Courses)
{
    <div class="error-line">
        <div class="govuk-grid-column-one-third m100 col"><strong>@course.QualificationCourseTitle</strong><br />@course.NotionalNVQLevelv2, @course.AwardOrgCode, Lars: @course.LearnAimRef</div>

        <div id="courseid" style="display:none">@course.id</div>
        <div class="govuk-grid-column-two-thirds">
            @if (course.IsValid)
            {
                @*<div class="govuk-grid-column-one-quarter"><div class="error-box no-error">No errors</div></div>
                    <div class="govuk-grid-column-one-quarter">&nbsp;</div>*@


                <div class="govuk-grid-column-one-third col"><div class="error-box no-error">No errors</div></div>
                <div class="govuk-grid-column-two-thirds align-right col right center">&nbsp;</div>

            }
            else
            {
                <div class="govuk-grid-column-one-third col"><div class="error-box">Errors</div></div>
                <div class="govuk-grid-column-two-thirds align-right col right center">

                    <a id="course-fix-@course.id" class="error-link" asp-controller="EditCourse" asp-action="Index" style="display:block"
                       asp-route-courseId="@course.id" asp-route-mode=@Model.PublishMode>Fix</a>
                </div>
            }
        </div>

    </div>

    foreach (var courseRun in course.CourseRuns)
    {
        @if ((Model.PublishMode.Equals(PublishMode.BulkUpload) && courseRun.RecordStatus == RecordStatus.BulkUloadPending) ||
             (Model.PublishMode.Equals(PublishMode.Migration) && courseRun.RecordStatus == RecordStatus.MigrationPending))
        {
            <div id="courserunid" style="display:none">@courseRun.id</div>

            <div class="error-line-in">
                <div class="govuk-grid-column-one-third col">@courseRun.CourseName</div>
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-grid-column-one-third col">
                        <div class="error-box">Errors</div>
                    </div>
                    <div class="govuk-grid-column-two-thirds align-right col right center">

                        @*<a href="#" class="error-link">Fix</a>
                            <a href="#" class="error-link">Delete</a>*@
                        <a id="course-run-fix-@courseRun.id" class="error-link" asp-controller="EditCourseRun" asp-action="Index"
                           asp-route-courseId="@course.id" asp-route-courseRunId="@courseRun.id" asp-route-mode=@Model.PublishMode>Fix</a>

                        @if (courseRun.RecordStatus == RecordStatus.MigrationPending)
                        {
                            <a href="#" class="error-link delete" id="delete-@courseRun.id" data-course-run-id="@courseRun.id">Delete</a>

                            <a id="migration-confirm-delete-@courseRun.id" class="govuk-button" asp-controller="PublishCourses" asp-action="Delete"
                               asp-route-courseId="@course.id"
                               asp-route-courseRunId="@courseRun.id" asp-route-mode=@Model.PublishMode style="display: none">Confirm delete</a>

                            <a href="#" class="error-link cancel-delete" id="migration-cancel-delete-@courseRun.id" data-course-run-id="@courseRun.id" style="display: none">Cancel</a>
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            if ((Model.PublishMode.Equals(PublishMode.BulkUpload) && courseRun.RecordStatus == RecordStatus.BulkUploadReadyToGoLive) ||
            (Model.PublishMode.Equals(PublishMode.Migration) && courseRun.RecordStatus == RecordStatus.MigrationReadyToGoLive))
            {
                <div id="courserunid" style="display:none">@courseRun.id</div>

                <div class="error-line-in">
                    <div class="govuk-grid-column-one-third col">@courseRun.CourseName</div>
                    <div class="govuk-grid-column-two-thirds">
                        <div class="govuk-grid-column-one-third col">
                            <div class="error-box no-error">No errors</div>
                        </div>
                        <div class="govuk-grid-column-two-thirds align-right col right center">
                            &nbsp;
                        </div>
                    </div>
                </div>
            }
        }
    }
}

<script>
    (function ($) {
        $(function () {
            var $deleteButton = $(".delete");

            var $canceldeleteButton = $(".cancel-delete");

            var $fixButton = $(".fix");

            $canceldeleteButton.on("click",
                function (event) {
                    event.preventDefault();
                    {
                        var courseRunId = $(this).attr("data-course-run-id");

                        var deleteOptions = $("#delete-" + courseRunId);
                        deleteOptions.show();

                        var migrationConfirmDelete = $("#migration-confirm-delete-" + courseRunId);
                        migrationConfirmDelete.hide();

                        var migrationCancelDelete = $("#migration-cancel-delete-" + courseRunId);
                        migrationCancelDelete.hide();

                        var fix = $("#course-run-fix-" + courseRunId);
                        fix.show();
                    }
                });


            $deleteButton.on("click",
                function (event) {
                    event.preventDefault();

                    var courseRunId = $(this).attr("data-course-run-id");

                    var deleteOptions = $("#delete-" + courseRunId);
                    deleteOptions.hide();

                    var migrationConfirmDelete = $("#migration-confirm-delete-" + courseRunId);
                    migrationConfirmDelete.show();

                    var migrationCancelDelete = $("#migration-cancel-delete-" + courseRunId);
                    migrationCancelDelete.show();

                    var fix = $("#course-run-fix-" + courseRunId);
                    fix.hide();

                });
        });
    })(jQuery);
</script>

