@using Dfc.CourseDirectory.Common
@using Dfc.CourseDirectory.Common.Settings
@using Microsoft.Extensions.Options
@model Dfc.CourseDirectory.Web.ViewComponents.Courses.EntryRequirements.EntryRequirementsModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IOptions<EntryRequirementsComponentSettings> entryRequirementsComponentSettings

@{
    @*var regex = @"^[a-zA-Z0-9 /\n/\r/\\u/\¬\!\£\$\%\^\&\*\\é\\è\\ﬁ\(\)_\+\-\=\{\}\[\]\;\:\@\'\#\~\,\<\>\.\?\/\|\`\•\·\●\\’\‘\“\”\—\-\–\‐\‐\…\:/\°\®\\â\\ç\\ñ\\ü\\ø\♦\™\\t/\s\¼\¾\½\" + "\"" + "\\\\]+$";*@
    var regex = RegexPattern.AllowEverything;
    var entryRequirementsTextFieldMaxChars = entryRequirementsComponentSettings.Value.TextFieldMaxChars;
}



<div class="govuk-character-count" data-module="character-count" data-maxlength=@entryRequirementsTextFieldMaxChars>
    <div class="govuk-form-group">
        <label id="govuk-label-@nameof(Model.EntryRequirements)" class="govuk-label--m" for="word-count" name="Entry-Requirements">
            @Model.LabelText
        </label>
        @if (!string.IsNullOrWhiteSpace(Model.HintText))
        {
            <span class="govuk-hint govuk-!-margin-top-3">
                @Model.HintText
            </span>
        }
        <textarea class="govuk-textarea js-character-count " asp-for="@Model.EntryRequirements" rows="7"  aria-label="Entry-Requirements"
                 aria-describedby="@Model.AriaDescribedBy"
                  val-max-length=@entryRequirementsTextFieldMaxChars val-max-length-message="Entry requirements must be @entryRequirementsTextFieldMaxChars characters or less"
                  val-regex="@regex"
                  val-regex-message="Entry requirements contains invalid character"></textarea>

    </div>
</div>

<script>
    (function ($) {
        $(function () {

            var $elementEntryRequirements = $("#@nameof(Model.EntryRequirements)");

                $elementEntryRequirements.on("blur", function () {

                var trimmed = $elementEntryRequirements.val().trim();
                $elementEntryRequirements.val(trimmed);

                var $characterCountValue = @entryRequirementsTextFieldMaxChars;
                var $countMessage = $("#EntryRequirements-info");

                var $actualCharacterCount = $characterCountValue - $elementEntryRequirements.val().length;

                if ($actualCharacterCount <= 0) {

                } else {

                    if ($actualCharacterCount === 1) {
                        $countMessage.text("You have " + $actualCharacterCount + " character remaining");
                    } else {
                        $countMessage.text("You have " + $actualCharacterCount + " characters remaining");

                        $countMessage.addClass('govuk-hint');
                        $elementEntryRequirements.removeClass('govuk-textarea--error');
                        $countMessage.removeClass('govuk-error-message');
                        $countMessage.addClass('govuk-character-count__message');
                    }
                }

            });

        });
    })(jQuery);
</script>
