@using Dfc.CourseDirectory.WebV2.ViewComponents.Notification
@using Dfc.CourseDirectory.WebV2.ViewComponents.ProviderCoursesResults
@using Dfc.CourseDirectory.WebV2.ViewModels.ProviderCourses
@model Dfc.CourseDirectory.WebV2.ViewModels.ProviderCourses.ProviderCoursesViewModel

@{
    ViewData["Title"] = "Your published courses";
    Layout = "_Layout_Your_Courses";

    var baseUrl = Url.Action("Index", "ProviderCourses");
    var pageUrlFormat = Model.NonLarsCourse
        ? baseUrl + "?nlc=true&page={0}"
        : baseUrl + "?page={0}";

    var hasCourses = Model.TotalCoursesCount > 0;
}

@if (!hasCourses)
{
    <div class="govuk-body">
        <main id="Cd-course-list" class="govuk-main-wrapper">
            <span class="govuk-caption-l">Course directory</span>
            <h2 class="govuk-heading-l">Your published courses</h2>

            <p class="govuk-body-l">
                You have no courses listed on the course directory.
            </p>
            <h3 class="govukbody govuk-heading-m">What next?</h3>

            <p>
                <span class="govuk-caption-l">You can</span>
            </p>

            <ul>
                <li>
                    <p>
                        <a href="~/RegulatedQualification" class="govuk-link">publish a course </a>to the course directory
                    </p>
                </li>
                <li>
                    <p>
                        <a href="~/BulkUpload" class="govuk-link">publish all your courses </a> with a file upload
                    </p>
                </li>
                @if (Model.PendingCoursesCount.HasValue && Model.PendingCoursesCount.Value > 0)
                {
                    <li>
                        <p>
                            <a href="~/Migration" class="govuk-link">or add information to @Model.PendingCoursesCount of your courses </a>that can’t be published until they are fixed
                        </p>
                    </li>
                }
            </ul>
        </main>
    </div>
}
else
{
    @if (!string.IsNullOrWhiteSpace(Model.NotificationTitle))
    {
        @await Component.InvokeAsync(nameof(Notification), new NotificationModel
        {
            NotificationTitle = Model.NotificationTitle,
            NotificationMessage = Model.NotificationMessage,
            ClassType = "info-summary"
        })
    }

    <h1 class="govuk-heading-l">Your courses</h1>
    <p class="govuk-body-l">These courses are published on the course directory.</p>

    var keywordErrors = ViewData.ModelState[nameof(Model.Keyword)]?.Errors
           ?? new Microsoft.AspNetCore.Mvc.ModelBinding.ModelErrorCollection();

    @if (keywordErrors.Any())
    {
        <govuk-error-summary>
            <govuk-error-summary-title>There is a problem</govuk-error-summary-title>
            <govuk-error-summary-item href="#Keyword">@ViewData.ModelState["Keyword"]?.Errors[0].ErrorMessage</govuk-error-summary-item>
        </govuk-error-summary>
    }

    <form asp-controller="ProviderCourses" asp-action="Search" method="post">
        <input type="hidden" name="NonLarsCourse" value="@(Model.NonLarsCourse ? "true" : "false")">

        <div class="govuk-form-group@(keywordErrors.Any() ? " govuk-form-group--error" : string.Empty)">
            
            <label class="govuk-label govuk-label--s" for="Keyword">
                @(Model.NonLarsCourse ? "Search by keyword" : "Search by LARS/QAN code or keyword")
            </label>

            @if (keywordErrors.Any())
            {
                <govuk-error-message>@keywordErrors[0].ErrorMessage</govuk-error-message>
            }

            <div class="govuk-input__wrapper">
                <input class="govuk-input govuk-input--width-20" id="Keyword" name="Keyword" type="search" value="@Model.Keyword" autocomplete="off">

                <button type="submit" class="govuk-button">
                    Search
                </button>
            </div>
        </div>

        @await Component.InvokeAsync(nameof(ProviderCoursesResults), Model)

    </form>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">&emsp;</div>
        <div class="govuk-grid-column-three-quarters">
            @await Component.InvokeAsync("GdsPagination", new { pagination = Model.Pagination, pageUrlFormat })
        </div>
    </div>
    
}
