@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity
@using Dfc.CourseDirectory.Services.Enums
@using Dfc.CourseDirectory.Web.Helpers
@model Dfc.CourseDirectory.Web.ViewModels.Apprenticeships.WhatWouldYouLikeToDoViewModel
@{
    ViewData["Title"] = "What would you like to do?"; 
    Layout = "_Layout_Your_Courses";
}

<form class="govuk-!-margin-bottom-9" id="ApprenticeshipWhatWouldYouLikeToDoForm" asp-controller="Apprenticeships" asp-action="WhatWouldYouLIkeToDo" method="post">
    <div class="cd-dashboard provider">

        <div id="errorsummary" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary" style="display: none;">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list"></ul>
            </div>
        </div>

        <div class="govuk-grid-column">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            What would you like to do?
                        </h1>
                    </legend>
                    <span id="how-contacted-conditional-hint" class="govuk-hint">
                        Select one option.
                    </span>




                    <div class="govuk-radios" val-required-message="Select what would you like to do?" id="ApprenticeshipWhatWouldYouLikeToDo">
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.ApprenticeshipWhatWouldYouLikeToDo, ApprenticeshipWhatWouldYouLikeToDo.Add, new { @class = "govuk-radios__input", id = ApprenticeshipWhatWouldYouLikeToDo.Add })
                            <label class="govuk-label govuk-radios__label" for="@ApprenticeshipWhatWouldYouLikeToDo.Add">@WebHelper.GetEnumDescription(ApprenticeshipWhatWouldYouLikeToDo.Add)</label>
                        </div>
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.ApprenticeshipWhatWouldYouLikeToDo, ApprenticeshipWhatWouldYouLikeToDo.Upload, new { @class = "govuk-radios__input", id = ApprenticeshipWhatWouldYouLikeToDo.Upload })
                            <label class="govuk-label govuk-radios__label" for="@ApprenticeshipWhatWouldYouLikeToDo.Upload">@WebHelper.GetEnumDescription(ApprenticeshipWhatWouldYouLikeToDo.Upload)</label>
                        </div>
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.ApprenticeshipWhatWouldYouLikeToDo, ApprenticeshipWhatWouldYouLikeToDo.View, new { @class = "govuk-radios__input", id = ApprenticeshipWhatWouldYouLikeToDo.View })
                            <label class="govuk-label govuk-radios__label" for="@ApprenticeshipWhatWouldYouLikeToDo.View">@WebHelper.GetEnumDescription(ApprenticeshipWhatWouldYouLikeToDo.View)</label>
                        </div>

                    </div>

                </fieldset>

            </div>
            <a class="govuk-button" asp-controller="Apprenticeships" asp-action="WhatWouldYouLIkeToDo" id="continue">Continue</a>
        </div>
    </div>
</form>


<script>
    (function ($) {
        $(function () {
            var validStates = [];
            var $button = $("#continue");

            var $apprenticeshipWhatWouldYouLikeToDo= $("#ApprenticeshipWhatWouldYouLikeToDo").govUkRadios();
            var $errorSummary = $("#errorsummary").govUkErrorSummary();

            function isAllValid(currentValue) {
                return currentValue === true;
            }

            function validate() {

                validStates = [];
                $errorSummary.govUkErrorSummary("removeAll");
                $apprenticeshipWhatWouldYouLikeToDo.govUkRadios("validState");

                if ($.requiredValidate($apprenticeshipWhatWouldYouLikeToDo.find("input[type='radio']:checked").val())) {
                    $apprenticeshipWhatWouldYouLikeToDo.govUkRadios("validState");
                    validStates.push(true);
                } else {
                    $apprenticeshipWhatWouldYouLikeToDo.govUkRadios("invalidState", $apprenticeshipWhatWouldYouLikeToDo.attr("val-required-message"));
                    validStates.push(false);
                    var $anchor = document.createElement("a");
                    $anchor.href = "#ApprenticeshipWhatWouldYouLikeToDo";
                    $anchor.innerHTML = $apprenticeshipWhatWouldYouLikeToDo.attr("val-required-message");
                    $anchor.id = "error-hash-link-" + "a" + "-" + 1;
                    $errorSummary.govUkErrorSummary("add", $anchor);
                    $errorSummary.govUkErrorSummary("show");
                }
            }

            $button.on("click", function (event) {
                event.preventDefault();
                validate();
                if (validStates.every(isAllValid)) {
                    $("#ApprenticeshipWhatWouldYouLikeToDoForm").submit();
                }
            });

        });
    })(jQuery);
</script>