@model Dfc.CourseDirectory.WebV2.Features.DataManagement.Venues.Dashboard.ViewModel
@{
    ViewContext.SetLayoutData(title: "Data upload");
}

<h1 class="govuk-heading-xl">Data upload</h1>

<p class="govuk-body-m">You can upload a CSV file to update your data in Publish to the course directory.</p>

<div class="govuk-grid-row govuk-!-margin-bottom-2 pttcd-provider-dashboard__row">
    @if (Model.ShowCourses)
    {
        <div class="govuk-grid-column-one-third" data-testid="CoursesCard">
            <div class="pttcd-provider-dashboard__card">
                <div class="pttcd-provider-dashboard__card__content">
                    <h2 class="govuk-heading-m">Courses</h2>
                    <p class="govuk-body-s">You have <strong data-testid="PublishedCourseCount">@Model.PublishedCourseCount</strong> published @string.Format("course{0}", Model.PublishedCourseCount > 1 || Model.PublishedCourseCount == 0 ? "s" : string.Empty)</p>
                    <p class="govuk-body-s">You have <strong data-testid="UnpublishedCourseCount">@Model.UnpublishedCourseCount</strong> unpublished  @string.Format("course{0}", Model.UnpublishedCourseCount > 1 || Model.UnpublishedCourseCount == 0 ? "s" : string.Empty)</p>
                </div>
                <div class="pttcd-provider-dashboard__card__actions">
                    <ul class="govuk-list pttcd-list--small">
                        @if (FeatureFlagProvider.HaveFeature(FeatureFlags.CoursesDataManagement))
                        {
                        <li>
                            @if (Model.CourseUploadInProgress)
                            {
                                <a asp-controller="CoursesDataManagement" asp-action="InProgress" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link" data-testid="courses-in-progress-link">Upload in progress</a>
                            }
                            else
                            {
                                <a asp-controller="CoursesDataManagement" asp-action="Index" asp-all-route-data="@ProviderContext.RouteValues"  data-testid="courses-upload-new-link" class="govuk-link">Upload new course data</a>
                            }
                            </li>
                            <li>
                                <a asp-controller="CoursesDataManagement" asp-action="Download" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">
                                    Download your published course data (CSV)
                                </a>
                            </li>
                            <li>
                                <a asp-controller="CoursesDataManagement" asp-action="Template" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">
                                    Download course data template (CSV)
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-controller="BulkUpload" asp-action="Courses" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">
                                    Upload new course data
                                </a>
                            </li>
                            <li>
                                <a asp-controller="BlobStorage" asp-action="GetCurrentCoursesTemplateFile" class="govuk-link">
                                    Download your published course data (CSV)
                                </a>
                            </li>
                            <li>
                                <a asp-controller="BlobStorage" asp-action="GetBulkUploadTemplateFile" class="govuk-link">
                                    Download course data template (CSV)
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }

    @if (Model.ShowApprenticeships)
    {
        <div class="govuk-grid-column-one-third" data-testid="ApprenticeshipsCard">
            <div class="pttcd-provider-dashboard__card">
                <div class="pttcd-provider-dashboard__card__content">
                    <h2 class="govuk-heading-m">Apprenticeships</h2>
                    <p class="govuk-body-s">You have <strong data-testid="PublishedCourseCount">@Model.PublishedApprenticeshipsCount</strong> published apprenticeships</p>
                </div>
                <div class="pttcd-provider-dashboard__card__actions">
                    <ul class="govuk-list pttcd-list--small">
                        <li>
                            <a asp-controller="BulkUpload" asp-action="Apprenticeships" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">
                                Upload new apprenticeship data
                            </a>
                        </li>
                        <li>
                            <a asp-controller="BlobStorage" asp-action="GetCurrentApprenticeshipsTemplateFile" class="govuk-link">
                                Download your published apprenticeship data (CSV)
                            </a>
                        </li>
                        <li>
                            <a asp-controller="BlobStorage" asp-action="GetApprenticeshipBulkUploadTemplateFile" class="govuk-link">
                                Download apprenticeship data template (CSV)
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }

    @if (FeatureFlagProvider.HaveFeature(FeatureFlags.VenuesDataManagement))
    {
        <div class="govuk-grid-column-one-third" data-testid="VenuesCard">
            <div class="pttcd-provider-dashboard__card">
                <div class="pttcd-provider-dashboard__card__content">
                    <h2 class="govuk-heading-m">Venues</h2>
                    <p class="govuk-body-s">You have <strong data-testid="PublishedVenueCount">@Model.PublishedVenueCount</strong> published @string.Format("venue{0}", Model.PublishedVenueCount > 1 || Model.PublishedVenueCount == 0 ? "s" : string.Empty)</p>
                    <p class="govuk-body-s">You have <strong data-testid="UnpublishedVenueCount">@Model.UnpublishedVenueCount</strong> unpublished  @string.Format("venue{0}", Model.UnpublishedVenueCount > 1 || Model.UnpublishedVenueCount == 0 ? "s" : string.Empty)</p>
                </div>
                <div class="pttcd-provider-dashboard__card__actions">
                    <ul class="govuk-list pttcd-list--small">
                        @if (Model.UnpublishedVenueCount > 0)
                        {
                            <li>
                                <a asp-controller="VenuesDataManagement" asp-action="CheckAndPublish" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link" data-testid="venues-view-edit-link">Your unpublished venues</a>
                            </li>
                        }
                        <li>
                            @if (Model.VenueUploadInProgress)
                            {
                                <a asp-controller="VenuesDataManagement" asp-action="InProgress" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link" data-testid="venues-in-progress-link">Upload in progress</a>
                            }
                            else
                            {
                                <a asp-controller="VenuesDataManagement" asp-action="Index" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link" data-testid="venues-upload-new-link">Upload new venue data</a>
                            }
                        </li>
                        @if (Model.PublishedVenueCount > 0)
                        {
                            <li>
                                <a asp-controller="VenuesDataManagement" asp-action="Download" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link" data-testid="DownloadVenues">
                                    Download your published venue data (CSV)
                                </a>
                            </li>
                        }
                        <li>
                            <a asp-controller="VenuesDataManagement" asp-action="Template" class="govuk-link">
                                Download venue data template (CSV)
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
