@model Dfc.CourseDirectory.WebV2.Features.ProviderDashboard.Dashboard.ViewModel

<vc:qa-notifications />

@if (Model.PastStartDateCourseRunCount > 0)
{
    <pttcd-notification title="Course start dates" data-testid="courseStartDateNotification">
        <p class="govuk-body">The start date of @Model.PastStartDateCourseRunCount courses are in the past.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a asp-controller="DQI" asp-action="Index" class="govuk-link">Update course start dates</a></p>
    </pttcd-notification>
}

@if (Model.BulkUploadFileCount == 0 && (Model.MigrationPendingCourseRunCount > 0 || Model.LarslessCourseCount > 0))
{
    <pttcd-notification title="Migration" data-testid="migrationNotification">
        <p class="govuk-body">We have transferred information about your courses.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a asp-controller="Migration" asp-action="Report" class="govuk-link">View details of migration</a></p>
    </pttcd-notification>
}

@if (Model.BulkUploadInProgress)
{
    <pttcd-notification title="Processing bulk upload of courses" data-testid="processingCoursesBulkUploadNotification">
        <govuk-warning-text icon-fallback-text="Warning">
            Do not add a new course or attempt another bulk upload during this process
        </govuk-warning-text>
        <p class="govuk-body govuk-!-margin-bottom-0">Continue to refresh this page until you receive a notification that the bulk upload process has been completed.</p>
    </pttcd-notification>
}
else if (Model.BulkUploadPendingCourseRunCount > 0 || Model.BulkUploadReadyToGoLiveCourseRunCount > 0)
{
    @if (Model.BulkUploadCoursesErrorCount > 0 || Model.BulkUploadCourseRunsErrorCount > 0 || Model.BulkUploadPendingCourseRunCount > 0)
    {
        <pttcd-notification title="Error on bulk upload of courses" data-testid="coursesBulkUploadErrorNotification">
            <p class="govuk-body">@(Model.BulkUploadPendingCourseRunCount + Model.BulkUploadReadyToGoLiveCourseRunCount) courses uploaded have @Model.BulkUploadCourseRunsErrorCount errors.</p>
            <p class="govuk-body govuk-!-margin-bottom-0"><a asp-action="WhatDoYouWantToDoNext" asp-controller="BulkUpload" class="govuk-link">Fix errors to publish your courses</a></p>
        </pttcd-notification>
    }
    else
    {
        <pttcd-notification title="Successful bulk upload of courses" data-testid="coursesBulkUploadSuccessfulNotification">
            <p class="govuk-body">@Model.BulkUploadReadyToGoLiveCourseRunCount courses have been uploaded and are ready to publish to the course directory.</p>
            <p class="govuk-body govuk-!-margin-bottom-0"><a asp-action="Index" asp-controller="PublishCourses" asp-route-publishMode="BulkUpload" class="govuk-link">Publish your courses</a></p>
        </pttcd-notification>
    }
}

@if (Model.ApprenticeshipsBulkUploadErrorCount > 0)
{
    <pttcd-notification title="Error on bulk upload of apprenticeships" data-testid="apprenticeshipsBulkUploadErrorNotification">
        <p class="govuk-body">@(Model.BulkUploadPendingApprenticeshipsCount + Model.BulkUploadReadyToGoLiveApprenticeshipsCount) apprenticeships uploaded have @Model.ApprenticeshipsBulkUploadErrorCount errors.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a asp-action="WhatDoYouWantToDoNext" asp-controller="BulkUploadApprenticeships" class="govuk-link">Fix errors to publish your apprenticeships</a></p>
    </pttcd-notification>
}
else if (Model.BulkUploadReadyToGoLiveApprenticeshipsCount > 0)
{
    <pttcd-notification title="Successful bulk upload of apprenticeships" data-testid="apprenticeshipsBulkUploadSuccessfulNotification">
        <p class="govuk-body">@Model.BulkUploadReadyToGoLiveApprenticeshipsCount apprenticeships have been uploaded and are ready to publish to the course directory.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a asp-action="Index" asp-controller="PublishApprenticeships" class="govuk-link">Publish your apprenticeships</a></p>
    </pttcd-notification>
}

<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l" data-testid="provider-name">@Model.ProviderName</h1>
        <p class="govuk-body">
            Your UK Provider Reference Number (UKPRN) is
            <span class="govuk-!-font-weight-bold" data-testid="ukprn">@Model.Ukprn</span>
        </p>
        <p>
            <a asp-controller="Providers" asp-action="ProviderDetails" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">
                Your provider details
            </a>
        </p>
    </div>
</div>

@if (Model.IsNewProvider)
{
    <div class="govuk-grid-row govuk-!-margin-bottom-5" data-testid="NewProvider">
        <div class="govuk-grid-column-full">
            <p class="govuk-body">As a new provider to Publish to the course directory you will need to <a class="govuk-link" href="mailto:support@coursedirectory.org.uk">contact the support team</a> providing your UKPRN.</p>

            <p class="govuk-body">The support team will set your provider type.  Once set you can publish the courses and training you offer in Publish to the course directory.</p>
        </div>
    </div>
}

@if (Model.ShowCourses)
{
    <div class="govuk-grid-row" data-testid="courses-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m section-heading">Courses</h2>
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-2 pttcd-provider-dashboard__row">
        <div class="govuk-grid-column-one-third">
            <div class="pttcd-provider-dashboard__card pttcd-provider-dashboard__card--summary">
                <h2 class="govuk-heading-s">Published courses</h2>
                <p class="pttcd-provider-dashboard__card__number" data-testid="course-count">@Model.LiveCourseRunCount</p>
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <div class="pttcd-provider-dashboard__card">
                <div class="pttcd-provider-dashboard__card__content">
                    <h2 class="govuk-heading-s">Your courses</h2>
                    <p class="govuk-body-s">View and manage the courses you offer to learners.</p>
                </div>
                <div class="pttcd-provider-dashboard__card__actions">
                    <ul class="govuk-list pttcd-list--small">
                        <li>
                            <a asp-controller="RegulatedQualification" asp-action="Index" class="govuk-link">Add a course</a>
                        </li>
                        @if (Model.LiveCourseRunCount > 0)
                        {
                            <li>
                                <a asp-controller="ProviderCourses" asp-action="Index" class="govuk-link" data-testid="courses-view-edit-link">View and edit courses</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <div class="pttcd-provider-dashboard__card">
                <div class="pttcd-provider-dashboard__card__content">
                    <h2 class="govuk-heading-s">Bulk upload</h2>
                    <p class="govuk-body-s">Manage your courses as a CSV file.</p>
                </div>
                <div class="pttcd-provider-dashboard__card__actions">
                    <ul class="govuk-list pttcd-list--small">
                        <li>
                            <a asp-controller="BlobStorage" asp-action="GetCurrentCoursesTemplateFile" class="govuk-link">Your published course information (CSV)</a>
                        </li>
                        <li>
                            <a asp-controller="BlobStorage" asp-action="GetBulkUploadTemplateFile" class="govuk-link">A course information template (CSV)</a>
                        </li>
                        <li>
                            <a asp-controller="BulkUpload" asp-action="Courses" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">Bulk upload courses</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.ShowApprenticeships)
{
    <div class="govuk-grid-row" data-testid="apprenticeships-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m section-heading">Apprenticeships</h2>
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-2 pttcd-provider-dashboard__row">
        <div class="govuk-grid-column-one-third">
            <div class="pttcd-provider-dashboard__card pttcd-provider-dashboard__card--summary">
                <h2 class="govuk-heading-s">Published apprenticeships</h2>
                <p class="pttcd-provider-dashboard__card__number" data-testid="apprenticeship-count">@Model.ApprenticeshipCount</p>
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <div class="pttcd-provider-dashboard__card">
                <div class="pttcd-provider-dashboard__card__content">
                    <h2 class="govuk-heading-s">Your apprenticeships</h2>
                    <p class="govuk-body-s">View and manage the apprenticeship training courses you offer to employers.</p>
                </div>
                <div class="pttcd-provider-dashboard__card__actions">
                    <ul class="govuk-list pttcd-list--small">
                        <li>
                            <a asp-controller="Apprenticeships" asp-action="Index" class="govuk-link">Add an apprenticeship</a>
                        </li>
                        @if (Model.ApprenticeshipCount > 0)
                        {
                            <li>
                                <a asp-controller="ProviderApprenticeships" asp-action="Index" class="govuk-link" data-testid="apprenticeships-view-edit-link">View and edit apprenticeships</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <div class="pttcd-provider-dashboard__card">
                <div class="pttcd-provider-dashboard__card__content">
                    <h2 class="govuk-heading-s">Bulk upload</h2>
                    <p class="govuk-body-s">Manage your apprenticeship training courses as a CSV file.</p>
                </div>
                <div class="pttcd-provider-dashboard__card__actions">
                    <ul class="govuk-list pttcd-list--small">
                        <li>
                            <a asp-controller="BlobStorage" asp-action="GetCurrentApprenticeshipsTemplateFile" class="govuk-link">Your published apprenticeship training course information (CSV)</a>
                        </li>
                        <li>
                            <a asp-controller="BlobStorage" asp-action="GetApprenticeshipBulkUploadTemplateFile" class="govuk-link">An apprenticeships training course template (CSV)</a>
                        </li>
                        <li>
                            <a asp-controller="BulkUpload" asp-action="Apprenticeships" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">Bulk upload apprenticeships<span class="govuk-visually-hidden"> further education courses</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.ShowTLevels)
{
    <div class="govuk-grid-row" data-testid="tlevels-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m section-heading">T Levels</h2>
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-2 pttcd-provider-dashboard__row">
        <div class="govuk-grid-column-one-third">
            <div class="pttcd-provider-dashboard__card pttcd-provider-dashboard__card--summary">
                <h2 class="govuk-heading-s">Published T Levels</h2>
                <p class="pttcd-provider-dashboard__card__number" data-testid="tlevel-count">@Model.TLevelCount</p>
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <div class="pttcd-provider-dashboard__card">
                <div class="pttcd-provider-dashboard__card__content">
                    <h2 class="govuk-heading-s">Your T Levels</h2>
                    <p class="govuk-body-s">View and manage the T Levels you offer to learners.</p>
                </div>
                <div class="pttcd-provider-dashboard__card__actions">
                    <ul class="govuk-list pttcd-list--small">
                        <li>
                            <a asp-controller="AddTLevel" asp-action="SelectTLevel" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">Add a T Level</a>
                        </li>
                        @if (Model.TLevelCount > 0)
                        {
                            <li>
                                <a asp-controller="ViewTLevels" asp-action="List" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link" data-testid="tlevels-view-edit-link">View and edit T Levels</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m section-heading">Venues</h2>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-4 pttcd-provider-dashboard__row">
    <div class="govuk-grid-column-one-third">
        <div class="pttcd-provider-dashboard__card pttcd-provider-dashboard__card--summary">
            <h2 class="govuk-heading-s">Published venues</h2>
            <p class="pttcd-provider-dashboard__card__number" data-testid="venue-count">@Model.VenueCount</p>
            @if (Model.UnpublishedVenueCount > 0)
            {
                <h2 class="govuk-heading-s govuk-!-padding-top-2">Unpublished venues</h2>
                <p class="pttcd-provider-dashboard__card__number" data-testid="UnpublishedVenueCount">@Model.UnpublishedVenueCount</p>
            }
        </div>

    </div>

    <div class="govuk-grid-column-one-third">
        <div class="pttcd-provider-dashboard__card">
            <div class="pttcd-provider-dashboard__card__content">
                <h2 class="govuk-heading-s">Your venues</h2>
                <p class="govuk-body-s">View and manage the venues for your learning and training.</p>
            </div>
            <div class="pttcd-provider-dashboard__card__actions">
                <ul class="govuk-list pttcd-list--small">
                    <li>
                        <a asp-controller="AddVenue" asp-action="Index" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">Add a venue</a>
                    </li>
                    @if (Model.VenueCount > 0)
                    {
                        <li>
                            <a asp-controller="ViewVenues" asp-action="ViewVenues" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link" data-testid="venues-view-edit-link">View and edit venues</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    @if (FeatureFlagProvider.HaveFeature(FeatureFlags.VenuesDataManagement))
    {
        <div class="govuk-grid-column-one-third">
            <div class="pttcd-provider-dashboard__card">
                <div class="pttcd-provider-dashboard__card__content">
                    <h2 class="govuk-heading-s">Venue data upload</h2>
                    <p class="govuk-body-s">Upload your venues with a CSV file.</p>
                </div>
                <div class="pttcd-provider-dashboard__card__actions">
                    <ul class="govuk-list pttcd-list--small">
                        @if (Model.UnpublishedVenueCount > 0)
                        {
                            <li>
                                <a asp-controller="VenuesDataManagement" asp-action="CheckAndPublish" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link" data-testid="venues-view-edit-link">Your unpublished venues</a>
                            </li>
                        }
                        <li>
                            @if (Model.VenueUploadInProgress)
                            {
                                <a asp-controller="VenuesDataManagement" asp-action="InProgress" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">
                                    Upload in progress
                                </a>
                            }
                            else
                            {
                                <a asp-controller="VenuesDataManagement" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">Upload new venue data</a>
                            }
                        </li>
                        @if (Model.VenueCount > 0)
                        {
                            <li>
                                <a asp-action="Download" asp-controller="VenuesDataManagement" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link" data-testid="DownloadVenues">Download your published venue data (CSV)</a>
                            </li>
                        }
                        <li>
                            <a asp-action="Template" asp-controller="VenuesDataManagement" class="govuk-link">Download venue data template (CSV)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }

</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="pttcd-provider-dashboard__contact-panel">
            <h2 class="govuk-heading-m">Need help?</h2>
            <p class="govuk-body">
                If you’ve got a question about Publish to the course directory, <a asp-controller="Home" asp-action="Contact" class="govuk-link">contact the support team</a>.
            </p>
        </div>
    </div>
</div>
