
@model Dfc.CourseDirectory.Web.ViewComponents.Notification.NotificationModel

@{
    var divClass = "cd-" + Model.ClassType;
    var h2Class = divClass + "__title";
    var divBodyClass = divClass + "__body";
    var h2Id = divClass + "-title";

    <div class="@divClass" aria-labelledby="info-summary-title" role="alert" tabindex="-1" data-module="@Model.ClassType">
        @if (!string.IsNullOrEmpty(Model.NotificationTitle))
        {
            <h2 class="@h2Class" id="@h2Id">
                @Model.NotificationTitle
            </h2>
        }
        <div class="@divBodyClass">
            
            <span>
                @Html.Raw(@Model.NotificationMessage)
                @if (!string.IsNullOrEmpty(Model.Link))
                {
                    <span style="color:black"> @Html.Raw(@Model.Link)</span>
                }
            </span>
        </div>
    </div>
}