@using Dfc.CourseDirectory.Common
@using Dfc.CourseDirectory.Common.Settings
@using Microsoft.Extensions.Options
@model Dfc.CourseDirectory.Web.ViewComponents.Courses.WhatYouNeed.WhatYouNeedModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IOptions<WhatYouNeedComponentSettings> whatYouNeedComponentSettings

@{
@*    var regex = @"^[a-zA-Z0-9 /\n/\r/\\u/\¬\!\£\$\%\^\&\*\\é\\è\\ﬁ\(\)_\+\-\=\{\}\[\]\;\:\@\'\#\~\,\<\>\.\?\/\|\`\•\·\●\\’\‘\“\”\—\-\–\‐\‐\…\:/\°\®\\â\\ç\\ñ\\ü\\ø\♦\™\\t/\s\¼\¾\½\" + "\"" + "\\\\]+$";*@
    var regex = RegexPattern.AllowEverything;
    var whatYouNeedTextFieldMaxChars = whatYouNeedComponentSettings.Value.TextFieldMaxChars;
}



<div class="govuk-character-count" data-module="character-count" data-maxlength=@whatYouNeedTextFieldMaxChars>
    <div class="govuk-form-group">
        <label id="govuk-label-@nameof(Model.WhatYouNeed)" class="govuk-label govuk-label--m" for="word-count" name="WhatYouNeed">
            @Model.LabelText
        </label>
        @if (!string.IsNullOrWhiteSpace(Model.HintText))
        {
            <div class="govuk-hint">
                @Model.HintText
            </div>
        }
        <textarea class="govuk-textarea js-character-count " asp-for="@Model.WhatYouNeed" rows="7"
                   aria-describedby="@Model.AriaDescribedBy" aria-label="WhatYouNeed"
                          val-max-length=@whatYouNeedTextFieldMaxChars val-max-length-message="What you’ll need to bring must be @whatYouNeedTextFieldMaxChars characters or less"
                          val-regex="@regex"
                          val-regex-message="What you’ll need to bring contains invalid characters"></textarea>

    </div>
</div>

<script>
    (function ($) {
        $(function () {

            var $elementHowWhatYouNeed = $("#@nameof(Model.WhatYouNeed)");

            $elementHowWhatYouNeed.on("blur", function () {

                var trimmed = $elementHowWhatYouNeed.val().trim();
                $elementHowWhatYouNeed.val(trimmed);

                var $characterCountValue = @whatYouNeedTextFieldMaxChars;
                var $countMessage = $("#WhatYouNeed-info");

                var $actualCharacterCount = $characterCountValue - $elementHowWhatYouNeed.val().length;

                if ($actualCharacterCount <= 0) {

                } else {

                    if ($actualCharacterCount === 1) {
                        $countMessage.text("You have " + $actualCharacterCount + " character remaining");
                    } else {
                        $countMessage.text("You have " + $actualCharacterCount + " characters remaining");

                        $countMessage.addClass('govuk-hint');
                        $elementHowWhatYouNeed.removeClass('govuk-textarea--error');
                        $countMessage.removeClass('govuk-error-message');
                        $countMessage.addClass('govuk-character-count__message');
                    }
                }

            });

        });
    })(jQuery);
</script>
