
@using Dfc.CourseDirectory.Web.Helpers;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfc.CourseDirectory.Web.ViewComponents.Apprenticeships.DeliveryOptionsListModel


@if (Model.DeliveryOptionsListItemModel != null && Model.DeliveryOptionsListItemModel.Any())
{
    <div class="govuk-form-group">

        @{
            bool displayRadius = false || !string.IsNullOrEmpty(Model.DeliveryOptionsListItemModel.FirstOrDefault()?.Radius);
            }

        <span id="TooManyLocations" class="" style="display: none"
              val-required-message="Enter Apprenticeship information for employers">Number of locations for this apprenticeship offering is already at the maximum value of 250</span>

        <table id="ResultsTable" class="govuk-table">

            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" >Location</th>
                    <th class="govuk-table__header">Delivery method</th>

                    @if (displayRadius)
                    {
                        <th class="govuk-table__header" >Radius</th>
                    }


                    @if (Model.SummaryPage.HasValue && Model.SummaryPage == false)
                    {
                        <th class="govuk-table__header"></th>
                    }
                </tr>
            </thead>
            <tbody>
                @{

                    for (int i = 0; i < Model.DeliveryOptionsListItemModel.Count; i++)
                    {
                        var baseId = "DeliveryOptionsListItemModel_DeliveryOptionsListItemModel_";
                        var baseName = "DeliveryOptionsListItemModel.DeliveryOptionsListItemModel[";
                        var locationFieldId = "__LocationName";
                        var locationIdFieldId = "__LocationId";
                        var postcodeFieldId = "__PostCode";
                        var deliveryFieldId = "__Delivery";
                        var radiusFieldId = "__Radius";
                        var locationFieldName = "].LocationName";
                        var deliveryFieldName = "].Delivery";
                        var radiusFieldName = "].Radius";
                        var locationIdFieldName = "].LocationId";
                        var postcodeFieldName = "].PostCode";

                        <tr class="govuk-table__row">


                            @{
                                var idValue = @baseId + @i.ToString() + @locationFieldId;
                                var nameValue = @baseName + @i.ToString() + @locationFieldName;

                                <input id="@idValue" name="@nameValue" type="hidden" value="@Model.DeliveryOptionsListItemModel[i].LocationName">

                                idValue = @baseId + @i.ToString() + @locationIdFieldId;
                                nameValue = @baseName + @i.ToString() + @locationIdFieldName;

                                <input id="@idValue" name="@nameValue" type="hidden" value="@Model.DeliveryOptionsListItemModel[i].LocationId">

                                idValue = @baseId + @i.ToString() + @postcodeFieldId;
                                nameValue = @baseName + @i.ToString() + @postcodeFieldName;

                                <input id="@idValue" name="@nameValue" type="hidden" value="@Model.DeliveryOptionsListItemModel[i].PostCode">

                                idValue = @baseId + @i.ToString() + @deliveryFieldId;
                                nameValue = @baseName + @i.ToString() + @deliveryFieldName;

                                <input id="@idValue" name="@nameValue" type="hidden" value="@Model.DeliveryOptionsListItemModel[i].Delivery">

                                idValue = @baseId + @i.ToString() + @radiusFieldId;
                                nameValue = @baseName + @i.ToString() + @radiusFieldName;

                                if (displayRadius)
                                 {
                                     <input id="@idValue" name="@nameValue" type="hidden" value="@Model.DeliveryOptionsListItemModel[i].Radius">
                                 }

                                <td class="govuk-table__header" >
                                    <span>@Model.DeliveryOptionsListItemModel[i].LocationName</span>
                                    <br>
                                    <span class="govuk-hint">@Model.DeliveryOptionsListItemModel[i].PostCode</span>
                                </td>
                                <td class="govuk-table__cell">@Model.DeliveryOptionsListItemModel[i].Delivery</td>

                                @if (displayRadius)
                                 {
                                     
                                     @if (Model.DeliveryOptionsListItemModel[i].Radius != null)
                                      {
                                          <td class="govuk-table__cell">@Model.DeliveryOptionsListItemModel[i].Radius Miles</td>
                                      }
                                      else
                                      {
                                          @if (Model.DeliveryOptionsListItemModel[i].National != null)
                                           {
                                               <td class="govuk-table__cell" >Across England</td>
                                           }
                                           else
                                           {
                                               <td class="govuk-table__cell"></td>
                                           }
                                      }
                                 }

                                @if (Model.SummaryPage.HasValue && Model.SummaryPage == false)
                                {
                                    <td class="govuk-table__cell">

                                        <a class="" asp-controller="Apprenticeships" asp-action="DeleteDeliveryOption" asp-route-LocationName=@Model.DeliveryOptionsListItemModel[i].LocationName asp-route-Mode=@ViewBag.Mode>Delete</a>



                                    </td>
                                }
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
