
@using Dfc.CourseDirectory.Web.Helpers;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfc.CourseDirectory.Web.ViewComponents.Apprenticeships.DeliveryOptionSummary


@if (Model.DeliveryOptions != null && Model.DeliveryOptions.Any())
{
    <div class="govuk-form-group">

        @{
            bool displayRadius = Model.DeliveryOptions.Any(x => string.IsNullOrEmpty(x.Radius));
            }

        <span id="TooManyLocations" class="" style="display: none"
              val-required-message="Enter Apprenticeship information for employers">Number of venues for this apprenticeship offering is already at the maximum value of 250</span>

        <table id="ResultsTable" class="govuk-table">

            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Venue</th>
                    <th class="govuk-table__header">Delivery method</th>

                    @if (displayRadius)
                    {
                        <th class="govuk-table__header" >Radius</th>
                    }


                    @if (Model.SummaryPage.HasValue && Model.SummaryPage == false)
                    {
                        <th class="govuk-table__header"></th>
                    }
                </tr>
            </thead>
            <tbody>
                @{

                    for (int i = 0; i < Model.DeliveryOptions.Count; i++)
                    {
                        var baseId = "DeliveryOptionsListItemModel_DeliveryOptionsListItemModel_";
                        var baseName = "DeliveryOption.DeliveryOption[";
                        var locationFieldId = "__LocationName";
                        var locationIdFieldId = "__LocationId";
                        var postcodeFieldId = "__PostCode";
                        var deliveryFieldId = "__Delivery";
                        var radiusFieldId = "__Radius";
                        var locationFieldName = "].LocationName";
                        var deliveryFieldName = "].Delivery";
                        var radiusFieldName = "].Radius";
                        var locationIdFieldName = "].LocationId";
                        var postcodeFieldName = "].PostCode";

                        <tr class="govuk-table__row">


                            @{
                                var idValue = @baseId + @i.ToString() + @locationFieldId;
                                var nameValue = @baseName + @i.ToString() + @locationFieldName;

                                <input id="@idValue" name="@nameValue" type="hidden" value="@Model.DeliveryOptions[i].LocationName">

                                idValue = @baseId + @i.ToString() + @locationIdFieldId;
                                nameValue = @baseName + @i.ToString() + @locationIdFieldName;

                                <input id="@idValue" name="@nameValue" type="hidden" value="@Model.DeliveryOptions[i].LocationId">

                                idValue = @baseId + @i.ToString() + @postcodeFieldId;
                                nameValue = @baseName + @i.ToString() + @postcodeFieldName;

                                <input id="@idValue" name="@nameValue" type="hidden" value="@Model.DeliveryOptions[i].PostCode">

                                idValue = @baseId + @i.ToString() + @deliveryFieldId;
                                nameValue = @baseName + @i.ToString() + @deliveryFieldName;

                                <input id="@idValue" name="@nameValue" type="hidden" value="@Model.DeliveryOptions[i].Delivery">

                                idValue = @baseId + @i.ToString() + @radiusFieldId;
                                nameValue = @baseName + @i.ToString() + @radiusFieldName;
                                Html.HiddenFor(x => x.DeliveryOptions[i].Venue);
                                if (displayRadius)
                                 {
                                     <input id="@idValue" name="@nameValue" type="hidden" value="@Model.DeliveryOptions[i].Radius">
                                 }

                                <td class="govuk-table__header" >
                                    <span>@Model.DeliveryOptions[i].LocationName</span>
                                    <br>
                                    <span class="govuk-hint">@Model.DeliveryOptions[i].PostCode</span>
                                </td>
                                <td class="govuk-table__cell">@Model.DeliveryOptions[i].Delivery</td>

                                @if (displayRadius)
                                 {
                                     
                                     @if (!string.IsNullOrEmpty(Model.DeliveryOptions[i].Radius))
                                      {
                                          <td class="govuk-table__cell">@Model.DeliveryOptions[i].Radius Miles</td>
                                      }
                                      else
                                      {
                                          @if (Model.DeliveryOptions[i].National != null)
                                           {
                                               <td class="govuk-table__cell" >Across England</td>
                                           }
                                           else
                                           {
                                               <td class="govuk-table__cell"></td>
                                           }
                                      }
                                 }

                                @if (Model.SummaryPage.HasValue && Model.SummaryPage == false)
                                {
                                    <td class="govuk-table__cell">

                                        <a class="" asp-controller="Apprenticeships" asp-action="DeleteDeliveryOption" asp-route-LocationName=@Model.DeliveryOptions[i].LocationName asp-route-Mode=@ViewBag.Mode>Delete<span class="govuk-visually-hidden">@Model.DeliveryOptions[i].LocationName</span></a>



                                    </td>
                                }
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
