
@using Dfc.CourseDirectory.Web.Helpers;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Dfc.CourseDirectory.Web.ViewComponents.Apprenticeships.DeliveryOptionsListItemModel>


@if (Model != null)
{
    <table id="ResultsTable" class="govuk-table hide">
        <caption class="govuk-table__caption">Delivery options</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Location</th>
                <th class="govuk-table__header" scope="col">Delivery</th>
                <th class="govuk-table__header" scope="col">Radius</th>
                <th class="govuk-table__header" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                @*@Html.HiddenFor(model => Model[i].LocationId)
                @Html.HiddenFor(model => Model[i].LocationName)
                @Html.HiddenFor(model => Model[i].Delivery)
                @Html.HiddenFor(model => Model[i].Radius)*@

            <tr class="govuk-table__row">
                <td class="govuk-table__header" scope="col">@Model[i].LocationName</td>
                <td class="govuk-table__cell" scope="col">@Model[i].Delivery</td>
                <td class="govuk-table__cell" scope="col">@Model[i].Radius</td>
                <td class="govuk-table__cell" scope="col"><a class="" asp-controller="" asp-action="">Edit</a></td>
                
            </tr>
            }

        </tbody>
    </table>
}
