
@using Dfc.CourseDirectory.Web.Helpers;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfc.CourseDirectory.Web.ViewComponents.Apprenticeships.DeliveryOptionsListModel


@if (Model.DeliveryOptionsListItemModel != null)
{
    <table id="ResultsTable" class="govuk-table hide">
        <caption class="govuk-table__caption">Delivery options</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Location</th>
                <th class="govuk-table__header" scope="col">Delivery</th>
                <th class="govuk-table__header" scope="col">Radius</th>
                <th class="govuk-table__header" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @{
                

                

                for (int i = 0; i < Model.DeliveryOptionsListItemModel.Count; i++)
                {
                                        var baseId = "DeliveryOptionsListItemModel_DeliveryOptionsListItemModel_";
                    var baseName = "DeliveryOptionsListItemModel.DeliveryOptionsListItemModel[";
                    var locationFieldId = "__LocationName";
                    var deliveryFieldId = "__Delivery";
                    var radiusFieldId = "__Radius";
                    var locationFieldName = "].LocationName";
                    var deliveryFieldName = "].Delivery";
                    var radiusFieldName = "].Radius";

                        <tr class="govuk-table__row">


                            @{
                                var idValue = @baseId + @i.ToString() + @locationFieldId;
                                var nameValue = @baseName + @i.ToString() + @locationFieldName;

                                <input id="@idValue" name="@nameValue" type="hidden" value="@Model.DeliveryOptionsListItemModel[i].LocationName">

                                idValue = @baseId + @i.ToString() + @deliveryFieldId;
                                nameValue = @baseName + @i.ToString() + @deliveryFieldName;

                                <input id="@idValue" name="@nameValue" type="hidden" value="@Model.DeliveryOptionsListItemModel[i].Delivery">

                                idValue = @baseId + @i.ToString() + @radiusFieldId;
                                nameValue = @baseName + @i.ToString() + @radiusFieldName;

                                <input id="@idValue" name="@nameValue" type="hidden" value="@Model.DeliveryOptionsListItemModel[i].Radius">

                                <td class="govuk-table__cell" scope="col">@Model.DeliveryOptionsListItemModel[i].LocationName</td>
                                <td class="govuk-table__cell" scope="col">@Model.DeliveryOptionsListItemModel[i].Delivery</td>
                                <td class="govuk-table__cell" scope="col">@Model.DeliveryOptionsListItemModel[i].Radius</td>
                                <td class="govuk-table__cell" scope="col"><a class="" asp-controller="" asp-action="">Edit</a></td>
                            }
                        </tr>
                }
                    }
            </tbody>
    </table>
}
