@using Dfc.CourseDirectory.Core.Models;
@using Dfc.CourseDirectory.Web.Helpers;

@model Dfc.CourseDirectory.Web.ViewComponents.Courses.StudyMode.StudyModeModel


<div class="govuk-form-group" id="Study">

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading govuk-heading-m">
                @Model.LabelText
                </h2>
            <span class="govuk-hint govuk-!-margin-top-3">
                @Model.HintText
            </span>
        </legend>
        <div class="govuk-radios govuk-radios" val-required-message="Select study mode" id="StudyModeRadioButtons">

            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.StudyMode, CourseStudyMode.FullTime, new { @class = "govuk-radios__input", id = CourseStudyMode.FullTime })
                <label class="govuk-label govuk-radios__label" for="@CourseStudyMode.FullTime">@CourseStudyMode.FullTime.ToDescription()</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.StudyMode, CourseStudyMode.PartTime, new { @class = "govuk-radios__input", id = CourseStudyMode.PartTime })
                <label class="govuk-label govuk-radios__label" for="@CourseStudyMode.PartTime">@CourseStudyMode.PartTime.ToDescription()</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.StudyMode, CourseStudyMode.Flexible, new { @class = "govuk-radios__input", id = CourseStudyMode.Flexible })
                <label class="govuk-label govuk-radios__label" for="@CourseStudyMode.Flexible">@CourseStudyMode.Flexible.ToDescription()</label>
            </div>

        </div>
    </fieldset>
</div>


@*<div class="govuk-form-group" id="time">
    <fieldset class="govuk-fieldset">
        <label id="govuk-label-StudyModeRadioButtons" class="govuk-label">@Model.LabelText</label>
        <span class="govuk-hint">@Model.HintText</span>
        <div id="StudyModeRadioButtons" class="govuk-radios govuk-radios--inline"
             val-required-message="Select study mode">
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.StudyMode, StudyMode.FullTime, new { @class = "govuk-radios__input time", id = @StudyMode.FullTime })
                <label class="govuk-label govuk-radios__label" for="@StudyMode.FullTime">@WebHelper.GetEnumDescription(@StudyMode.FullTime)</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.StudyMode, StudyMode.PartTime, new { @class = "govuk-radios__input time", id = @StudyMode.PartTime })
                <label class="govuk-label govuk-radios__label" for="@StudyMode.PartTime">@WebHelper.GetEnumDescription(@StudyMode.PartTime)</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.StudyMode, StudyMode.Flexible, new { @class = "govuk-radios__input time", id = @StudyMode.Flexible })
                <label class="govuk-label govuk-radios__label" for="@StudyMode.Flexible">@WebHelper.GetEnumDescription(@StudyMode.Flexible)</label>
            </div>
        </div>
    </fieldset>
</div>*@
