@model Dfc.CourseDirectory.WebV2.SharedViews.Components.PagerViewModel

<nav class="pttcd-c-pager">
    @if (Model.CurrentPage > 1)
    {               
        <a href="@Model.GetPageUrl(Model.CurrentPage - 1)" class="govuk-link pttcd-c-pager__previous-page" rel="previous">
            Previous page
        </a>
    }

    <ul class="pttcd-c-pager__page-list">
        @for (int i = 0; i < Model.PageNumbers.Count; i++)
        {
            var thisPage = Model.PageNumbers[i];

            @if (i > 0 && Model.PageNumbers[i - 1] - thisPage > 1)
            {
                <li class="pttcd-c-pager__pre-ellipsis">…</li>
            }

            @if (thisPage == Model.CurrentPage)
            {
                <li class="pttcd-c-pager__page-list__current-page">@thisPage</li>
            }
            else
            {
                <li><a href="@Model.GetPageUrl(thisPage)" class="govuk-link">@thisPage</a></li>
            }

            @if (i < Model.PageNumbers.Count - 1 && Model.PageNumbers[i + 1] - thisPage > 1)
            {
                <li class="pttcd-c-pager__post-ellipsis">…</li>
            }
        }
    </ul>

    @if (Model.CurrentPage < Model.TotalPages)
    {
        <a href="@Model.GetPageUrl(Model.CurrentPage + 1)" class="govuk-link pttcd-c-pager__next-page" rel="next">
            Next page
        </a>
    }
</nav>
