@model Dfc.CourseDirectory.WebV2.SharedViews.Components.PagerViewModel
@{
    var addedEllipsis = false;
    <nav role="navigation">
        <ul class="pttcd-pagination">
            @if (Model.CurrentPage > 1)
            {
                <li class="pttcd-previous">
                    <a href="@Model.GetPageUrl.Invoke(Model.CurrentPage -1)" id="pttcd-pager__previouspage" class="pttcd-c-pager-previous" rel="previous">
                        &#8592 Previous page
                    </a>
                </li>
            }
            <li class="pttcd-middle">
                @foreach (var item in Model.PageNumbers)
                {

                    @if (item == Model.CurrentPage)
                    {
                        <span class="pttcd-c-pager__currentpage pagination__item-current">@item</span>
                    }
                    else if (item <= Model.TotalPages)
                    {
                        <a href="@Model.GetPageUrl.Invoke(item)" class="pttcd-c-pager__Page">@item</a>
                    }

                    @if (Model.CurrentPage > 3)
                    {
                        @if (!addedEllipsis)
                        {
                            addedEllipsis = true;
                            <span class="pttcd-c-pager__ellipsis__first">&ctdot;</span>
                        }
                    }
                    @if (item == Model.CurrentPage + 1 && item <= (Model.TotalPages - 3))
                    {

                        <span class="pttcd-c-pager__ellipsis__second">&ctdot;</span>

                    }
                }
            </li>

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="pttcd-next">
                    <a href="@Model.GetPageUrl.Invoke(Model.CurrentPage + 1)" class="pttcd-pager__nextpage" rel="next">
                        Next page &#8594;
                    </a>
                </li>
            }
        </ul>
    </nav>
}