@using Microsoft.AspNetCore.Http;
@model Dfc.CourseDirectory.Web.ViewComponents.VenueAddressSelectionConfirmation.VenueAddressSelectionConfirmationModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form id="postCodeSearchResultForm" asp-controller="Venues" method="post">
    <div class="govuk-grid-row">

        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Address)
        @Html.HiddenFor(x => x.Address.Id)
        @*@Html.HiddenFor(x => x.Address.AddressLine1)
        @Html.HiddenFor(x => x.Address.AddressLine2)*@
        @*@Html.HiddenFor(x => x.Address.TownOrCity)
        @Html.HiddenFor(x => x.Address.County)
        @Html.HiddenFor(x => x.Address.Postcode)*@
        @Html.HiddenFor(x => x.PostCodeId)

        <input type="hidden" id="AddressLine1" value="@Model.Address.AddressLine1" />
        <input type="hidden" id="AddressLine2" value="@Model.Address.AddressLine2" />
        <input type="hidden" id="TownCity" value="@Model.Address.TownOrCity" />
        <input type="hidden" id="PostCode" value="@Model.Address.Postcode" />
        <input type="hidden" id="County" value="@Model.Address.County" />

        <div class="govuk-grid-column-full">
            <table class="govuk-table">
                <tbody>
                    <tr>
                        <td class="govuk-table__header">Location name</td>
                        <td class="govuk-table__cell">
                            <input asp-for="@Model.VenueName" type="hidden" />

                            <label>@Model.VenueName</label>
                        </td>
                        <td class="govuk-table__cell">
                            <button type="submit" asp-action="EditVenueName" class="link--button" id="">
                                Change
                            </button>
                        </td>



                    </tr>
                    <tr>
                        <td class="govuk-table__header">Address</td>
                        <td class="govuk-table__cell">
                            <input asp-for="@Model.Address.AddressLine1" name="@nameof(Model.Address.AddressLine1)" type="hidden" />
                            <label>@Model.Address.AddressLine1</label><br>
                            @if (!String.IsNullOrEmpty(Model.Address.AddressLine2))
                            {
                                <input asp-for="@Model.Address.AddressLine2" name="@nameof(Model.Address.AddressLine2)" type="hidden" />
                                <label>@Model.Address.AddressLine2</label><br>
                            }
                            @if (!String.IsNullOrEmpty(@Model.Address.TownOrCity))
                            {
                                <input asp-for="@Model.Address.TownOrCity" name="@nameof(Model.Address.TownOrCity)" type="hidden" />
                                <label>@Model.Address.TownOrCity</label><br>
                            }
                            @if (!String.IsNullOrEmpty(@Model.Address.County))
                            {
                                <input asp-for="@Model.Address.County" name="@nameof(Model.Address.County)" type="hidden" />
                                <label>@Model.Address.County</label><br>
                            }

                            <input asp-for="@Model.Address.Postcode" name="@nameof(Model.Address.Postcode)" type="hidden" />
                            <label>@Model.Address.Postcode</label><br>
                        </td>
                        <td class="govuk-table__cell">
                            <button type="submit" asp-action="EditVenueAddress" class="link--button" asp-route-VenueName=@Model.VenueName asp-route-Id=@Model.Id>
                                Change
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="govuk-form-group">

                <button type="submit" asp-action="AddVenueSelectionConfirmation" class="govuk-button" id="">
                    Update location
                </button>

                @{
                    if (string.IsNullOrWhiteSpace(Model.Id))
                    {
                        @Html.ActionLink("Cancel", "AddVenue", "Venues", null, new { @class = "govuk-link cd-cancel-link" })
                    }
                    else
                    {
                        @Html.ActionLink("Cancel", "ViewVenues", "ViewVenues", null, new { @class = "govuk-link cd-cancel-link" })
                    }
                }

            </div>
        </div>
    </div>
</form>

<script>
    (function () {
        $(function () {

        });
    })(jQuery);
</script>
