@model Dfc.CourseDirectory.Web.ViewComponents.VenueAddressSelectionConfirmation.VenueAddressSelectionConfirmationModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form id="postCodeSearchResultForm" asp-controller="Venues" method="post">
    <div class="govuk-grid-row">

        @Html.HiddenFor(x => x.Address)
        @Html.HiddenFor(x => x.Address.Id)
        @Html.HiddenFor(x => x.Address.AddressLine1)
        @Html.HiddenFor(x => x.Address.AddressLine2)
        @Html.HiddenFor(x => x.Address.TownOrCity)
        @Html.HiddenFor(x => x.Address.County)
        @Html.HiddenFor(x => x.Address.Postcode)

        <div class="govuk-grid-column-full">
            <table class="govuk-table">
                <tbody>
                    <tr>
                        <th class="govuk-table__header" scope="col">Name</th>
                        <td class="govuk-table__cell">
                            <input asp-for="@Model.VenueName" type="hidden" />

                            <label>@Model.VenueName</label>
                        </td>
                        <td class="govuk-table__cell">
                            <button type="submit" asp-action="EditVenueName" class="govuk-button" id="">
                                Change
                            </button>
                        </td>



                    </tr>
                    <tr>
                        <th class="govuk-table__header" scope="col">Venue address</th>
                        <td class="govuk-table__cell">
                            <input asp-for="@Model.Address.AddressLine1" name="@nameof(Model.Address.AddressLine1)" type="hidden" />
                            <label>@Model.Address.AddressLine1</label><br>
                            @if (!String.IsNullOrEmpty(Model.Address.AddressLine2))
                            {
                                <input asp-for="@Model.Address.AddressLine2" name="@nameof(Model.Address.AddressLine2)" type="hidden" />
                                <label>@Model.Address.AddressLine2</label><br>
                            }
                            @if (!String.IsNullOrEmpty(@Model.Address.TownOrCity))
                            {
                                <input asp-for="@Model.Address.TownOrCity" name="@nameof(Model.Address.TownOrCity)" type="hidden" />
                                <label>@Model.Address.TownOrCity</label><br>
                            }
                            @if (!String.IsNullOrEmpty(@Model.Address.County))
                            {
                                <input asp-for="@Model.Address.County" name="@nameof(Model.Address.County)" type="hidden" />
                                <label>@Model.Address.County</label><br>
                            }

                            <input asp-for="@Model.Address.Postcode" name="@nameof(Model.Address.Postcode)" type="hidden" />
                            <label>@Model.Address.Postcode</label><br>
                        </td>
                        <td class="govuk-table__cell">
                            <button type="submit" asp-action="EditVenueAddress" class="govuk-button" id="">
                                Change
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="govuk-form-group">
                <p>By submitting you confirm your venue name and address are correct.</p>
                <button type="submit" asp-action="AddVenueSelectionConfirmation" class="govuk-button" id="">
                    Continue
                </button>
            </div>
        </div>
    </div>
</form>

<script>
    (function () {
        $(function () {

        });
    })(jQuery);
</script>