
@using Dfc.CourseDirectory.Web.Extensions
@using Dfc.CourseDirectory.Web.ViewComponents.CourseName
@using Dfc.CourseDirectory.Web.ViewComponents.CourseProviderReference
@using Dfc.CourseDirectory.Web.ViewComponents.UrlInput
@using Dfc.CourseDirectory.Web.ViewComponents.Courses.Attendance
@using Dfc.CourseDirectory.Web.ViewComponents.Courses.DeliveryType
@using Dfc.CourseDirectory.Web.ViewComponents.Courses.StudyMode
@using Dfc.CourseDirectory.Web.ViewComponents.Courses.AddStartDate
@using Dfc.CourseDirectory.Web.ViewComponents.AdvancedLearnerLoan
@using Dfc.CourseDirectory.Web.ViewComponents.Courses.Duration
@using Duration = Dfc.CourseDirectory.Web.ViewComponents.Courses.Duration.Duration
@using Dfc.CourseDirectory.Web.ViewComponents.Courses.Cost
@using Dfc.CourseDirectory.Web.ViewComponents.Notification
@using Dfc.CourseDirectory.Web.ViewComponents.Extensions
@using Microsoft.AspNetCore.Mvc.Razor.Extensions
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor

@model AddCourseDetailsViewModel

<h1 class="govuk-heading-l" style="padding-top: 20px;">
    Add course details
</h1>

@await Component.InvokeAsync(nameof(Notification), new NotificationModel
{
    NotificationTitle = "Qualification added",
    NotificationMessage = @Model.LearnAimRefTitle + "<br>" + "Level: " + @Model.NotionalNVQLevelv2 + "<br> Awarding organisation: " + @Model.AwardOrgCode + "<br> LARS / QAN: " + @Model.LearnAimRef,
    ClassType = "info-summary"
})

<form asp-controller="AddCourse" asp-action="AddCourseRun" id="addCourseSection2">
    @Html.HiddenFor(x => x.CourseMode)
    @Html.HiddenFor(x => x.CourseId)
    @Html.HiddenFor(x => x.CourseRunId)
    <div id="sectionCourseName">
        @await Component.InvokeAsync(nameof(CourseName), new CourseNameModel
        {
            CourseName = Model.CourseName,
            LabelText = "Course name",
            HintText = "This is the name people will see when they search for your course.",
            AriaDescribedBy = "Please enter the course name."
        })
    </div>

    <div id="sectionCourseProviderReference">
        @await Component.InvokeAsync(nameof(CourseProviderReference), new CourseProviderReferenceModel
        {
            CourseProviderReference = Model.CourseProviderReference,
            LabelText = "ID",
            HintText = "This is how you identify a course in your internal system.",
            AriaDescribedBy = "Please enter the ID for this course"
        })
    </div>

    <div id="sectionDeliveryType">
        @await Component.InvokeAsync(nameof(DeliveryType), new DeliveryTypeModel
        {
            DeliveryMode = Model.DeliveryMode,
            LabelText = "Delivery Mode",
            HintText = "Select how this course will be delivered",
            AriaDescribedBy = "How the course will be delivered"
        })
    </div>

    <div id="sectionStartDate">
        @await Component.InvokeAsync(nameof(AddStartDate), new AddStartDateModel()
        {
            StartDateType = Model.StartDateType,
            Day = Model.Day ,
            Month = Model.Month,
            Year = Model.Year,
            DayAriaDescribedBy = "",
            DayLabelText = "Day",
            MonthAriaDescribedBy = "",
            MonthLabelText = "Month",
            YearAriaDescribedBy = "",
            YearLabelText = "Year",
            AriaDescribedBy = "",
            SpecifiedDateHintText = "e.g. 'For example, 30 9 2019",
            FlexibleDateHintText = "Or select a flexible start date:",
            LabelText = "Start date"
        })
    </div>

    @*No view component here in order to get checkbox list validation to work without it's own form*@
    <div class="govuk-form-group" id="VenueItemsCheckboxList" style="@Model.DeliveryMode.IfNotClassroomBasedDisplayNone()">
        <label class="govuk-label" for="select-venue">
            @Model.SelectVenue.LabelText
        </label>
        <span id="select-venue-hint" class="govuk-hint">
            @Model.SelectVenue.HintText
        </span>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-checkboxes" id="SelectVenueCheckBoxes" val-required-message="Select a venue">
                    @{ var i = 0; }
                    @if (Model.SelectVenue.VenueItems.Count() == 1)
                    {
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="VenueName-@i" name="SelectedVenues" type="checkbox" value="@Model.SelectVenue.VenueItems.First().Id" checked="checked" onclick="return false;" />
                            <label class="govuk-label govuk-checkboxes__label" for="SelectedVenues">@Model.SelectVenue.VenueItems.First().VenueName</label>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.SelectVenue.VenueItems)
                        {
                            i++;
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="VenueName-@i" name="SelectedVenues" type="checkbox" value="@item.Id" @item.Checked.ThenNullableCheck() />
                                <label class="govuk-label govuk-checkboxes__label" for="SelectedVenues">@item.VenueName</label>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-form-group" id="RegionItemsCheckboxList" style="@Model.DeliveryMode.IfNotWorkBasedDisplayNone()">
        <label class="govuk-label" for="select-region">
            @Model.SelectRegion.LabelText
        </label>
        <span id="select-region-hint" class="govuk-hint">
            @Model.SelectRegion.HintText
        </span>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-checkboxes" id="SelectRegionCheckBoxes" val-required-message="Select a region">
                    @{ var j = 0; }
                    @if (Model.SelectRegion.RegionItems.Count() == 1)
                    {
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="RegionName-@j" name="SelectedRegions" type="checkbox" value="@Model.SelectRegion.RegionItems.First().Id" checked="checked" onclick="return false;" />
                            <label class="govuk-label govuk-checkboxes__label" for="SelectedRegions">@Model.SelectRegion.RegionItems.First().RegionName</label>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.SelectRegion.RegionItems)
                        {
                            j++;
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="RegionName-@j" name="SelectedRegions" type="checkbox" value="@item.Id" @item.Checked.ThenNullableCheck() />
                                <label class="govuk-label govuk-checkboxes__label" for="SelectedRegions">@item.RegionName</label>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div id="sectionUrl">
        @await Component.InvokeAsync(nameof(UrlInput), new UrlInputModel
        {
            Url = Model.Url,
            LabelText = "URL",
            HintText = "Enter the URL for this course e.g. http://www.google.com",
            AriaDescribedBy = "Enter the URL for this course"
        })
    </div>

    <div id="sectionCost">
        @await Component.InvokeAsync(nameof(Cost), new CostModel
        {
            Cost = Model.Cost,
            CostDescription = Model.CostDescription,
            CostLabelText = "Cost",
            CostHintText = "Enter the cost for the course in pounds and pence e.g. 125.00",
            CostAriaDescribedBy = "Enter the cost in pounds and pence",
            CostDescriptionLabelText = "Cost description",
            CostDescriptionHintText = "Enter details related to the cost of this course",
            CostDescriptionAriaDescribedBy = "Enter details of related to the cost of this course"
        })
    </div>

    <div id="sectionDuration">
        @await Component.InvokeAsync(nameof(Duration), new DurationModel
        {
            DurationLength = Model.DurationLength,
            DurationUnit =  Model.DurationUnit,
            LabelText = "Duration",
            HintText = "Select the duration of the course",
            AriaDescribedBy = "Select course duration"
        })
    </div>

    <div id="FullPartTimeRadioButtons">
        @await Component.InvokeAsync(nameof(Dfc.CourseDirectory.Web.ViewComponents.Courses.StudyMode.StudyMode), new StudyModeModel
        {
            StudyMode = Model.StudyMode,
            LabelText = "Full time or part time",
            HintText = "Select the attendance pattern"
        })
    </div>

    <div id="AttendancePatternRadioButtons">
        @await Component.InvokeAsync(nameof(Attendance), new AttendanceModel
        {
            AttendanceMode = Model.AttendanceMode,
            LabelText = "Attendance",
            HintText = "Select the time of day the course takes place"
        })
    </div>



    @{
        var lastAddCoursePage = HttpContextAccessor.HttpContext.Session.GetObject<AddCoursePage>("LastAddCoursePage");
        var summaryPageLoadedAtLeastOnce = HttpContextAccessor.HttpContext.Session.GetObject<bool>("SummaryLoadedAtLeastOnce");
        switch (lastAddCoursePage)
        {
            case AddCoursePage.AddCourse:
                if (summaryPageLoadedAtLeastOnce)
                {
                    <button name="submitButton" type="submit" class="govuk-button" id="publish" value="publish">
                        Summary
                    </button>
                    <a class="govuk-link" href="#" id="goToSection1Link">Page 1</a>
                }
                else
                {
                    <button name="submitButton" type="submit" class="govuk-button" id="publish" value="publish">
                        Review your changes
                    </button>
                    <a class="govuk-link" href="#" id="goToSection1Link">Page 1</a>
                }
                break;
            case AddCoursePage.Summary:
                    <div class="govuk-form-group">
                        @*id="goToSummary"*@
                        <button type="submit" class="govuk-button" id="publish" value="publish">
                            Summary
                        </button>

                        <a class="govuk-link" href="#" id="goToSection1Link">Page 1</a>
                    </div>
                break;
        }
    }

</form>

<script>
    (function ($) {
        $(function () {
            var $courseName = $("#@nameof(Model.CourseName)").govUkInput();
            var $URL = $("#@nameof(Model.Url)").govUkInput();
            var $courseProviderReference = $("#@nameof(Model.CourseProviderReference)").govUkInput();
            var $deliveryRadios = $("#DeliveryModeRadioButtons input[type=radio]");
            var $regionItemsCheckboxList = $("#RegionItemsCheckboxList");
            
            var $duration = $("#duration").govUkDurationInput();
            var $checkboxsregions = $("#SelectRegionCheckBoxes").govUkCheckboxes();
            var $checkboxVenues = $("#SelectVenueCheckBoxes").govUkCheckboxes();

            var $radioDeliveryMode = $("#DeliveryModeRadioButtons").govUkRadios();
            var $radioStudyMode = $("#StudyModeRadioButtons").govUkRadios();
            var $radioAttendance = $("#AttendanceRadioButtons").govUkRadios();

            var $selectvenue = $("#selectvenue").govUkSelect();
            var $startDate = $("#start_date").govUkDateInput();
            var $cost = $("#@nameof(Model.Cost)").govUkInput();
            var $costDescription = $("#@nameof(Model.CostDescription)").govUkTextarea();

            var isClassroomBased = true;
            var isOnline = false;
            var isWorkBased = false;

            switch ($radioDeliveryMode.find("input[type='radio']:checked").val()) {
                case "ClassroomBased":
                {
                        isClassroomBased = true;
                        isOnline = false;
                    isWorkBased = false;
                    break;
                }
                case "Online":
                {
                        isClassroomBased = false;
                        isOnline = true;
                    isWorkBased = false;
                    break;
                }
                case "WorkBased":
                {
                        isClassroomBased = false;
                        isOnline = false;
                    isWorkBased = true;
                    break;
                }
            }

            function isAllValid(currentValue) {
                return currentValue === true;
            }

            var $publishbutton = $("#publish");
            $publishbutton.on("click", function(event) {
                    event.preventDefault();
                    if (validateAddCourseRun()) {
                        $("#addCourseSection2").submit();
                    }
                });

            var $goToSection1Link = $("#goToSection1Link");
            $goToSection1Link.click(function () {
                event.preventDefault();
                if (validateAddCourseRun()) {
                    $("#addCourseSection2").attr("action", "AddCourseRunToAddCourse");
                    $("#addCourseSection2").submit();
                }
            });


            function validateAddCourseRun() {
                var validStates = [];

                if ((!$.requiredValidate($cost.val()) && !$.requiredValidate($costDescription.val()))) {
                    $cost.govUkInput("invalidState", $cost.attr("val-required-message"));
                    validStates.push(false);
                } else if (
                    !$.regexValidate({ regex: $costDescription.attr("val-regex") }, $costDescription.val())) {
                    $costDescription.govUkTextarea("invalidState", $costDescription.attr("val-regex-message"));
                    validStates.push(false);
                } else if (
                    !$.maxLengthValidate({ max: $costDescription.attr("val-max-length") }, $costDescription.val())) {
                    $costDescription.govUkTextarea("invalidState", $costDescription.attr("val-max-length-message"));
                    validStates.push(false);
                }
                else {

                    $cost.govUkInput("validState");
                    $costDescription.govUkTextarea("validState");
                    validStates.push(true);
                }

                if (isWorkBased) {
                    if ($.requiredValidate($checkboxsregions.find("input[type='checkbox']:checked").val())) {
                        $checkboxsregions.govUkCheckboxes("validState");
                        validStates.push(true);
                    } else {
                        $checkboxsregions.govUkCheckboxes("invalidState", $checkboxsregions.attr("val-required-message"));
                        validStates.push(false);
                    }
                }

                if (isClassroomBased) {
                    if ($.requiredValidate($checkboxVenues.find("input[type='checkbox']:checked").val())) {
                        $checkboxVenues.govUkCheckboxes("validState");
                        validStates.push(true);
                    } else {
                        $checkboxVenues.govUkCheckboxes("invalidState", $checkboxVenues.attr("val-required-message"));
                        validStates.push(false);
                    }

                }

                if (!$.requiredValidate($courseName.val())) {
                    $courseName.govUkInput("invalidState", $courseName.attr("val-required-message"));
                    validStates.push(false);
                } else if (
                    !$.regexValidate({ regex: $courseName.attr("val-regex") }, $courseName.val())) {
                    $courseName.govUkInput("invalidState", $courseName.attr("val-regex-message"));
                    validStates.push(false);
                } else if (
                    !$.maxLengthValidate({ max: $courseName.attr("val-max-length") }, $courseName.val())) {
                    $courseName.govUkInput("invalidState", $courseName.attr("val-max-length-message"));
                    validStates.push(false);
                }
                else {

                    $courseName.govUkInput("validState");
                    validStates.push(true);
                }

                if (!$.regexValidate({ regex: $courseProviderReference.attr("val-regex") }, $courseProviderReference.val())) {
                    $courseProviderReference.govUkInput("invalidState", $courseProviderReference.attr("val-regex-message"));
                    validStates.push(false);
                } else if (
                    !$.maxLengthValidate({ max: $courseProviderReference.attr("val-max-length") }, $courseProviderReference.val())) {
                    $courseProviderReference.govUkInput("invalidState", $courseProviderReference.attr("val-max-length-message"));
                    validStates.push(false);
                }
                else {

                    $courseProviderReference.govUkInput("validState");
                    validStates.push(true);
                }

                if (!$.regexValidate({ regex: $URL.attr("val-regex") }, $URL.val())) {
                    $URL.govUkInput("invalidState", $URL.attr("val-regex-message"));
                    validStates.push(false);
                } else if (
                    !$.maxLengthValidate({ max: $URL.attr("val-max-length") }, $URL.val())) {
                    $URL.govUkInput("invalidState", $URL.attr("val-max-length-message"));
                    validStates.push(false);
                }
                else {

                    $URL.govUkInput("validState");
                    validStates.push(true);
                }

                if (!$.requiredValidate($duration.find("input").val())) {
                    $duration.govUkDurationInput("invalidState", $duration.attr("val-duration-message"));
                } else if (!$.rangeValidate({
                    min: $duration.attr("val-range-min"),
                    max: $duration.attr("val-range-max")
                },
                    $duration.find("input").val())) {
                    $duration.govUkDurationInput("invalidState", $duration.attr("val-duration-message"));
                } else if (!$.requiredValidate($duration.find("select").val())) {
                    $duration.govUkDurationInput("invalidState", $duration.attr("val-duration-message"));
                } else {
                    $duration.govUkDurationInput("validState");
                }

                if ($.requiredValidate($radioDeliveryMode.find("input[type='radio']:checked").val())) {
                    $radioDeliveryMode.govUkRadios("validState");
                } else {
                    $radioDeliveryMode.govUkRadios("invalidState", $radioDeliveryMode.attr("val-required-message"));
                }

                if ($.requiredValidate($radioStudyMode.find("input[type='radio']:checked").val())) {
                    $radioStudyMode.govUkRadios("validState");
                } else {
                    $radioStudyMode.govUkRadios("invalidState", $radioStudyMode.attr("val-required-message"));
                }

                if ($.requiredValidate($radioAttendance.find("input[type='radio']:checked").val())) {
                    $radioAttendance.govUkRadios("validState");
                } else {
                    $radioAttendance.govUkRadios("invalidState", $radioAttendance.attr("val-required-message"));
                }

                var radioValue = $("input[name='StartDateType']:checked").val();
                if (radioValue.toUpperCase() === "SPECIFIEDSTARTDATE") {

                    var startDateValue = $startDate.govUkDateInput("getISODateString");

                    if (startDateValue === "") {
                        $startDate.govUkDateInput("invalidState", $startDate.attr("val-required-message"));
                        validStates.push(false);
                    }
                    else {
                        if ($.dateValidate(startDateValue)) {
                            $startDate.govUkDateInput("validState");
                            validStates.push(true);
                        } else {
                            $startDate.govUkDateInput("invalidState", $startDate.attr("val-date-message"));
                            validStates.push(false);
                        }

                        // in the past
                        if ($.pastDateValidate({
                            ref: $startDate.attr("val-past-date-ref") 
                        }, startDateValue)) {
                            $startDate.govUkDateInput("invalidState", $startDate.attr("val-past-date-message"));
                            validStates.push(false);
                        } else {
                            $startDate.govUkDateInput("validState");
                            validStates.push(true);

                            // past was ok, check the future date
                            if ($.futureDateValidate ({
                                ref: $startDate.attr("val-future-date-ref")
                            }, startDateValue)) {
                                $startDate.govUkDateInput("invalidState", $startDate.attr("val-future-date-message"));
                                validStates.push(false);
                            } else {
                                $startDate.govUkDateInput("validState");
                                validStates.push(true);
                            }
                        } 

                    }
                };

                return validStates.every(isAllValid);
            }

            $deliveryRadios.change(function () {
                var $venueItemsCheckboxList = $("#VenueItemsCheckboxList");
                var $fullPartTimeRadioButtons = $("#FullPartTimeRadioButtons");
                var $attendancePatternRadioButtons = $("#AttendancePatternRadioButtons");
                var $specifiedStartDate = $("#SpecifiedStartDate");
                var $flexibleStartDate = $("#FlexibleStartDate");

                switch (this.id) {
                    case "ClassroomBased":
                        {
                            $specifiedStartDate.prop("checked", true);
                            $flexibleStartDate.prop("checked", false);
                            $venueItemsCheckboxList.show();
                            $regionItemsCheckboxList.hide();
                            $fullPartTimeRadioButtons.show();
                            $attendancePatternRadioButtons.show();
                            isClassroomBased = true;
                            isOnline = false;
                            isWorkBased = false;
                            break;
                        }
                    case "Online":
                        {
                            $flexibleStartDate.prop("checked", true);
                            $specifiedStartDate.prop("checked", false);
                            $venueItemsCheckboxList.hide();
                            $regionItemsCheckboxList.hide();
                            $fullPartTimeRadioButtons.hide();
                            $attendancePatternRadioButtons.hide();
                            isClassroomBased = false;
                            isOnline = true;
                            isWorkBased = false;
                            break;
                        }
                    case "WorkBased":
                        {
                            $flexibleStartDate.prop("checked", true);
                            $specifiedStartDate.prop("checked", false);
                            $venueItemsCheckboxList.hide();
                            $regionItemsCheckboxList.show();
                            $fullPartTimeRadioButtons.hide();
                            $attendancePatternRadioButtons.hide();
                            isClassroomBased = false;
                            isOnline = false;
                            isWorkBased = true;
                            break;
                        }
                }


            });

        });
    })(jQuery);
</script>