@using Dfc.CourseDirectory.Models.Models.Courses
@using Dfc.CourseDirectory.Web.ViewComponents.Summary.SummaryList
@using Dfc.CourseDirectory.Web.ViewComponents.Summary.SummaryComponent
@model AddCourseSummaryViewModel
<h1 class="govuk-heading-xl">Check your answers before publishing your course</h1>
<h2 class="govuk-heading-m">
    @Model.LearnAimRef Level @Model.NotionalNVQLevelv2 @Model.LearnAimRefTitle

</h2>
@*addcourse needs a new model*@
<form asp-controller="Courses" asp-action="AddCourse" id="addCourseSummaryPage">
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        @await Component.InvokeAsync(nameof(SummaryComponent), new SummaryComponentModel
        {
            Id = "CourseName", Title = "Course name", Value = @Model.CourseName,
            Action = "BackToAddCourseSection2",
            Controller = "Courses",
            Section = "sectionCourseName"
        })
        @await Component.InvokeAsync(nameof(SummaryComponent), new SummaryComponentModel
        {
            Id = "CourseId", Title = "Course ID", Value = @Model.CourseId,
            Action = "BackToAddCourseSection2",
            Controller = "Courses",
            Section = "sectionCourseProviderReference"
        })

        @await Component.InvokeAsync(nameof(SummaryComponent), new SummaryComponentModel
        {
            Id="DeliveryMode", Title = "Delivery mode", Value = Model.DeliveryMode,
            Action = "BackToAddCourseSection2",
            Controller = "Courses",
            Section = "sectionDeliveryType"
        })

        @await Component.InvokeAsync(nameof(SummaryComponent), new SummaryComponentModel
        {
            Id="StartDate", Title = "Start date", Value = Model.StartDate,
            Action = "BackToAddCourseSection2",
            Controller = "Courses",
            Section = "sectionStartDate"
        })

        @{
            if (Model.DeliveryModeEnum == DeliveryMode.ClassroomBased)
            {
                @await Component.InvokeAsync(nameof(SummaryList), new SummaryListModel
                {
                    Id = "Venues", Title = "Course venue(s)", Value = Model.Venues,
                    Action = "BackToAddCourseSection2",
                    Controller = "Courses",
                    Section = "VenueItemsCheckboxList"
                })
            }
            if (Model.DeliveryModeEnum == DeliveryMode.WorkBased)
            {
                @await Component.InvokeAsync(nameof(SummaryList), new SummaryListModel
                {
                    Id = "Regions", Title = "Course region(s)", Value = Model.Regions,
                    Action = "BackToAddCourseSection2",
                    Controller = "Courses",
                    Section = "RegionItemsCheckboxList"
                })
            }
        }

        @await Component.InvokeAsync(nameof(SummaryComponent), new SummaryComponentModel
        {
            Id="Url", Title = "URL", Value = Model.Url,
            Action = "BackToAddCourseSection2",
            Controller = "Courses",
            Section = "sectionUrl"
        })
        @await Component.InvokeAsync(nameof(SummaryComponent), new SummaryComponentModel
        {
            Id="Cost", Title = "Cost", Value = string.IsNullOrWhiteSpace(Model.Cost) ? Model.Cost : "£" + Model.Cost,
            Action = "BackToAddCourseSection2",
            Controller = "Courses",
            Section = "sectionCost"
        })
        @await Component.InvokeAsync(nameof(SummaryComponent), new SummaryComponentModel
        {
            Id="CostDesc", Title = "Cost description", Value = Model.CostDescription,
            Action = "BackToAddCourseSection2",
            Controller = "Courses",
            Section = "sectionCost"
        })
        @await Component.InvokeAsync(nameof(SummaryComponent), new SummaryComponentModel
        {
            Id="AdvancedLearnerLoan", Title = "Advanced learner loan", Value = Model.AdvancedLearnerLoan,
            Action = "BackToAddCourseSection2",
            Controller = "Courses",
            Section = "sectionAdvancedLearnerLoan"
        })
        @await Component.InvokeAsync(nameof(SummaryComponent), new SummaryComponentModel
        {
            Id="CourseLength", Title = "Course length", Value = Model.CourseLength,
            Action = "BackToAddCourseSection2",
            Controller = "Courses",
            Section = "sectionDuration"
        })
        @await Component.InvokeAsync(nameof(SummaryComponent), new SummaryComponentModel
        {
            Id="AttendancePattern", Title = "Attendance pattern", Value = Model.AttendancePattern,
            Action = "BackToAddCourseSection2",
            Controller = "Courses",
            Section = "FullPartTimeRadioButtons"
        })
        @await Component.InvokeAsync(nameof(SummaryComponent), new SummaryComponentModel
        {
            Id="AttendanceTime", Title = "Attendance time", Value = Model.AttendanceTime,
            Action = "BackToAddCourseSection2",
            Controller = "Courses",
            Section = "AttendancePatternRadioButtons"
        })
    </dl>

    <h2 class="govuk-heading-m">Course description</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        @await Component.InvokeAsync(nameof(SummaryComponent), new SummaryComponentModel
        {
            Id="WhoCourseFor", Title = "Who is the course for", Value = Model.WhoIsThisCourseFor,
            Action = "BackToAddCourseSection1",
            Controller = "Courses",
            Section = "sectionCourseFor"
        })
        @await Component.InvokeAsync(nameof(SummaryComponent), new SummaryComponentModel
        {
            Id="EntryRequirements", Title = "Entry requirements", Value = Model.EntryRequirements,
            Action = "BackToAddCourseSection1",
            Controller = "Courses",
            Section = "sectionEntryRequirements"
        })
        @await Component.InvokeAsync(nameof(SummaryComponent), new SummaryComponentModel
        {
            Id="WhatWillLearn", Title = "What you'll learn", Value = Model.WhatYouWillLearn,
            Action = "BackToAddCourseSection1",
            Controller = "Courses",
            Section = "sectionWhatWillLearn"
        })
        @await Component.InvokeAsync(nameof(SummaryComponent), new SummaryComponentModel
        {
            Id="HowWillLearn", Title = "How you'll learn", Value = Model.HowYouWillLearn,
            Action = "BackToAddCourseSection1",
            Controller = "Courses",
            Section = "sectionHowYouWillLearn"
        })
        @await Component.InvokeAsync(nameof(SummaryComponent), new SummaryComponentModel
        {
            Id="WhatYouNeedBring", Title = "What you'll need to bring", Value = Model.WhatYouWillNeedToBring,
            Action = "BackToAddCourseSection1",
            Controller = "Courses",
            Section = "sectionWhatYouNeed"
        })
        @await Component.InvokeAsync(nameof(SummaryComponent), new SummaryComponentModel
        {
            Id="HowAssessed", Title = "How you'll be assessed", Value = Model.HowAssessed,
            Action = "BackToAddCourseSection1",
            Controller = "Courses",
            Section = "sectionHowAssessed"
        })
        @await Component.InvokeAsync(nameof(SummaryComponent), new SummaryComponentModel
        {
            Id="WhereNext", Title = "Where next?", Value = Model.WhereNext,
            Action = "BackToAddCourseSection1",
            Controller = "Courses",
            Section = "sectionWhereNext"
        })


    </dl>
    <h2 class="govuk-heading-m">Now publish your course</h2>
    <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
    <div class="govuk-form-group">
        <button name="submitButton" type="submit" class="govuk-button" id="publish" value="publish">
            Accept & Publish
        </button>
    </div>

</form>


