@model Dfc.CourseDirectory.WebV2.Features.Providers.EditProviderType.ViewModel
@{
    ViewBag.Title = "Provider type settings";
}

<govuk-error-summary>
    <govuk-error-summary-item asp-for="ProviderType" />
    <govuk-error-summary-item asp-for="SelectedProviderTLevelDefinitionIds" />
</govuk-error-summary>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Provider type</h1>

        <form asp-action="Post" asp-all-route-data="@ProviderContext.RouteValues">
            @Html.HiddenFor(m => m.ProviderId)
            <govuk-checkboxes asp-for="ProviderType">
                <govuk-checkboxes-item value="@((int)ProviderType.FE)" checked="@(Model.ProviderType.HasFlag(ProviderType.FE))" input-data-testid="fe">
                    @ProviderType.FE.ToDescription()
                </govuk-checkboxes-item>
                <govuk-checkboxes-item value="@((int)ProviderType.Apprenticeships)" checked="@(Model.ProviderType.HasFlag(ProviderType.Apprenticeships))" input-data-testid="apprenticeships">
                    @ProviderType.Apprenticeships.ToDescription()
                </govuk-checkboxes-item>
                <govuk-checkboxes-item value="@((int)ProviderType.TLevels)" checked="@(Model.ProviderType.HasFlag(ProviderType.TLevels))" input-data-testid="tLevels">
                    @ProviderType.TLevels.ToDescription()
                    <govuk-checkboxes-item-conditional>
                        <govuk-checkboxes asp-for="@Model.SelectedProviderTLevelDefinitionIds">
                            <govuk-checkboxes-fieldset>
                                <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--s">
                                    What T Levels can this provider offer?
                                </govuk-checkboxes-fieldset-legend>
                            </govuk-checkboxes-fieldset>

                            @foreach (var providerTLevelDefinition in Model.ProviderTLevelDefinitions)
                            {
                                <govuk-checkboxes-item value="@providerTLevelDefinition.TLevelDefinitionId" checked="@providerTLevelDefinition.Selected" input-data-testid="@($"tLevelDefinition-{providerTLevelDefinition.TLevelDefinitionId}")">
                                    @providerTLevelDefinition.Name
                                </govuk-checkboxes-item>
                            }

                        </govuk-checkboxes>
                    </govuk-checkboxes-item-conditional>
                </govuk-checkboxes-item>
            </govuk-checkboxes>

            <div class="govuk-button-group">
                <govuk-button type="submit" class="cd-cancel-btn">Save</govuk-button>
                <a asp-controller="Providers" asp-action="ProviderDetails" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link cd-cancel-link">Cancel</a>
            </div>

        </form>
    </div>
</div>
