@inject Dfc.CourseDirectory.WebV2.IFeatureFlagProvider FeatureFlagProvider
@model Dfc.CourseDirectory.WebV2.Features.Providers.ProviderDetails.ViewModel
@{
    ViewContext.SetLayoutData(title: Model.ProviderName);
}

@section BackLink {
    <govuk-back-link asp-controller="Provider" asp-action="Dashboard">Back to home screen</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" data-testid="ProviderName">@Model.ProviderName</h1>

        <govuk-summary-list class="pttcd-summary-list">
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Course directory status</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@Model.CourseDirectoryStatus</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>UKPRN</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@Model.Ukprn</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Trading name</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@Model.TradingName</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Provider type</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@Model.ProviderType.ToDisplayName()</govuk-summary-list-row-value>
                @if (Model.CanChangeProviderType)
                {
                    <govuk-summary-list-row-action asp-controller="Provider" asp-action="AddOrEditProviderType" asp-route-updateProviderType="true" class="govuk-link" data-testid="ChangeProviderType">
                        Change
                        <span class="govuk-visually-hidden">provider type</span>
                    </govuk-summary-list-row-action>
                }
            </govuk-summary-list-row>
            @if (Model.ShowMarketingInformation)
            {
                <govuk-summary-list-row class="pttcd-summary-list__row__split" data-testid="MarketingInformation">
                    <govuk-summary-list-row-key>Provider information</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @Html.Raw(Model.MarketingInformation)
                    </govuk-summary-list-row-value>
                    @if (Model.CanUpdateMarketingInformation)
                    {
                        <govuk-summary-list-row-action asp-action="EditProviderInfo" asp-route-providerId="@Model.ProviderId" visually-hidden-text="provider information" data-testid="ChangeMarketingInformation">
                            Change
                        </govuk-summary-list-row-action>
                    }
                </govuk-summary-list-row>
            }
        </govuk-summary-list>

        <govuk-details>
            <govuk-details-summary>
                Help with your provider details
            </govuk-details-summary>
            <govuk-details-text>
                <h3 class="govuk-heading-s">UKPRN</h3>
                <p class="govuk-body">A unique number allocated to providers by the UKRLP verification team, after successful UKRLP registration.</p>
                <h3 class="govuk-heading-s">Trading name</h3>
                <p class="govuk-body">The name your organisation trades under if it is different to the organisation name.</p><p>
                    Trading names can be added when registering with UKRLP or after registration. Sign in to the <a href="https://www.ukrlp.co.uk/ukrlp/ukrlp.login" target="_blank" class="govuk-link">UK Register of Learning Providers</a> to add or edit your trading name.
                </p>
                @if (FeatureFlagProvider.HaveFeature(FeatureFlags.ProviderDisplayName))
                {
                    <h3 class="govuk-heading-s">Display name</h3>
                    <p class="govuk-body">The name displayed to learners who can view and search for learning opportunities on the National Careers Service, Find a course.</p>
                }
            </govuk-details-text>
        </govuk-details>
    </div>

    <div class="govuk-grid-column-one-third">
        <vc:provider-info-panel provider-id="@Model.ProviderId" />
    </div>
</div>