@using Dfc.CourseDirectory.Services.Models.Apprenticeships
@using Microsoft.AspNetCore.Authorization;

@model Dfc.CourseDirectory.Web.ViewModels.PublishApprenticeships.PublishApprenticeshipsViewModel
@*@model Dfc.CourseDirectory.Web.ViewModels.EditApprenticeship.EditApprenticeshipViewModel*@

@inject IAuthorizationService Authorization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var adminLogin = await Authorization.AuthorizeAsync(User, "Admin");
}

@foreach (var apprenticeship in Model.ListOfApprenticeships)
{
    <div class="error-line" id="ApprenticeshipId_@apprenticeship.id">
        <div class="govuk-grid-column-two-thirds m100 col">
            <div class="govuk-form-group--error">
                <h2 class="govuk-heading-m">
                    @apprenticeship.ApprenticeshipTitle
                    @if (apprenticeship.ApprenticeshipType == ApprenticeshipType.FrameworkCode)
                    {
                        <span class="govuk-!-margin-left-3 govuk-tag">Framework</span>
                    }
                </h2>
                @if (!string.IsNullOrEmpty(apprenticeship.NotionalNVQLevelv2))
                {
                    <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">@apprenticeship.NotionalNVQLevelv2</span></p>
                }

                @{
                    if (apprenticeship.ValidationErrors.Any())
                    {
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">

                                @if (apprenticeship.ValidationErrors.Any())
                                {

                                    @foreach (var error in apprenticeship.ValidationErrors)
                                    {
                                        <li class="govuk-error-message">@error</li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="govuk-grid-column">
                            <div class="align-right col right center">
                                <a id="course-fix-@apprenticeship.id" class="error-link" asp-controller="EditApprenticeship" asp-action="Index" style="display:block"
                                   asp-route-ApprenticeshipId="@apprenticeship.id"
                                   asp-route-MarketingInformation="@apprenticeship.MarketingInformation"
                                   asp-route-ApprenticeshipLocations="@apprenticeship.ApprenticeshipLocations"
                                   asp-route-Cancelled=null
                                   asp-route-Mode="@ApprenticeshipMode.EditYourApprenticeships">Resolve</a>
                            </div>
                        </div>

                    }
                   
                }
            </div>
        </div>
        <div style="display:none">@apprenticeship.id</div>

      
    </div>

}
