@model Dfc.CourseDirectory.WebV2.Features.Apprenticeships.FindStandardOrFramework.ViewModel
@{
    ViewBag.Title = "Find apprenticeship";

    var mptxInstanceId = Context.Features.Get<Dfc.CourseDirectory.WebV2.MultiPageTransaction.MptxInstanceFeature>().Instance.InstanceId;
}

@if (!ViewContext.ModelState.IsValid)
{
    <govuk-error-summary>
        <govuk-error-summary-title>There is a problem</govuk-error-summary-title>
        <govuk-error-summary-item asp-for="Search" />
    </govuk-error-summary>
}

<form asp-action="FindStandardOrFrameworkSearch" method="get" append-mptx-id>
    <h1 class="govuk-heading-l govuk-!-margin-top-4">Find apprenticeship</h1>

    <pttcd-search-input asp-for="Search">
        <pttcd-search-input-label>
            Search by name or keyword for the apprenticeship this training is for.
        </pttcd-search-input-label>
        <pttcd-search-input-hint>Enter a minimum of 3 characters</pttcd-search-input-hint>
    </pttcd-search-input>

    @if (Model.SearchWasDone)
    {
        @if (Model.Results.Count > 0)
        {
            <div id="pttcd-apprenticeships__find-provision__results-count" class="govuk-!-margin-bottom-4">
                Found <span class="govuk-!-font-weight-bold">@Model.Results.Count</span> results for <span class="govuk-!-font-weight-bold">@Model.Search</span>
            </div>

            @foreach (var result in Model.Results)
            {
                var resultReturnUrl = new Flurl.Url(Url.Action("FindStandardOrFrameworkSelect"))
                    .WithMptxInstanceId(mptxInstanceId);

                if (result.IsFramework)
                {
                    resultReturnUrl
                        .SetQueryParam("standardOrFrameworkType", "framework")
                        .SetQueryParam("frameworkCode", result.FrameworkCode)
                        .SetQueryParam("progType", result.FrameworkProgType)
                        .SetQueryParam("pathwayCode", result.FrameworkPathwayCode);
                }
                else
                {
                    resultReturnUrl
                        .SetQueryParam("standardOrFrameworkType", "standard")
                        .SetQueryParam("standardCode", result.StandardCode)
                        .SetQueryParam("version", result.StandardVersion);
                }

                <div class="pttcd-apprenticeships__find-standard-or-framework__search-result govuk-!-margin-bottom-4">
                    <h2 class="govuk-heading-m">
                        @result.ApprenticeshipTitle

                        @if (result.IsFramework)
                        {
                            <govuk-tag class="govuk-!-margin-left-3">Framework</govuk-tag>
                        }
                    </h2>

                    @if (result.OtherBodyApprovalRequired == true)
                    {
                        <govuk-hint>
                            You may need approval from the regulator of this occupation before you can deliver this training.<br />
                            The <a href="https://www.instituteforapprenticeships.org/developing-new-apprenticeships/resources/regulated-occupations/" class="govuk-link" rel="noreferrer" target="_blank">Institute for Apprenticeships</a> can tell you more.
                        </govuk-hint>
                    }

                    @if (!string.IsNullOrEmpty(result.NotionalNVQLevelv2))
                    {
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">@result.NotionalNVQLevelv2</span></p>
                    }

                    <a href="@resultReturnUrl" class="govuk-link">
                        Choose this apprenticeship
                        <span class="govuk-visually-hidden">@result.ApprenticeshipTitle</span>
                    </a>
                </div>
            }
        }
        else
        {
            <h3 class="govuk-heading-m">Sorry, no results were found</h3>

            <p class="govuk-body govuk-!-font-weight-bold">Search suggestions</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>check your spelling</li>
                <li>do not use acronyms</li>
                <li>enter a different apprenticeship name or keyword</li>
            </ul>
        }

        <govuk-details>
            <govuk-details-summary>I can't find my standard</govuk-details-summary>
            <govuk-details-text>
                <p class="govuk-body">You may be unable to find your standard if it's waiting approval or in development, contact us for further details.</p>

                <h3 class="govuk-heading-s">Telephone</h3>
                <p class="govuk-body">
                    Telephone: 0844 811 5073<br />
                    Monday to Friday, 9am to 5pm (except public holidays)
                </p>
                <p class="govuk-body">
                    <a class="govuk-link" href="https://www.gov.uk/call-charges" target="_blank" rel="noreferrer">
                        Find out about call charges
                    </a>
                </p>

                <h3 class="govuk-heading-s">Email</h3>
                <p class="govuk-body">
                    <a class="govuk-link" href="mailto: support@coursedirectory.org.uk">support@coursedirectory.org.uk</a><br />
                    We aim to respond within 2 working days
                </p>
            </govuk-details-text>
        </govuk-details>
    }
</form>