@using Dfc.CourseDirectory.Models.Enums
@using Dfc.CourseDirectory.Web.Helpers
@{
    Layout = "_Layout_Your_Courses";
}

@model Dfc.CourseDirectory.Web.ViewModels.Apprenticeships.ConfirmationDeleteViewModel

<form class="govuk-!-margin-bottom-9" id="ApprenticeshipConfirmDeleteForm" asp-controller="Apprenticeships" asp-action="ConfirmationDelete" method="post">
    <a asp-controller="ProviderApprenticeships" asp-action="Index" class="govuk-back-link">Back</a>
    <div class="cd-dashboard provider apprenticeship-type govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Delete Apprenticeship
            </h1>

            <table class="govuk-table">
                <caption class="govuk-table__caption">Apprenticeship</caption>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Apprenticeship name</th>
                        <td class="govuk-table__cell">@Model.ApprenticeshipName</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Apprenticeship level</th>
                        <td class="govuk-table__cell">@Model.Level</td>
                    </tr>
                </tbody>
            </table>
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Are you sure?
                </strong>
            </div>
            <div class="govuk-form-group">
                <div class="govuk-radios govuk-!-margin-bottom-6" val-required-message="Select yes to delete?" id="ApprenticeshipConfirmDelete">
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(m => m.ApprenticeshipDelete, ApprenticeshipDelete.Delete, new { @class = "govuk-radios__input", id = ApprenticeshipDelete.Delete })
                        <label class="govuk-label govuk-radios__label" for="@ApprenticeshipDelete.Delete">@WebHelper.GetEnumDescription(ApprenticeshipDelete.Delete)</label>
                    </div>
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(m => m.ApprenticeshipDelete, ApprenticeshipDelete.Back, new { @class = "govuk-radios__input", id = ApprenticeshipDelete.Back })
                        <label class="govuk-label govuk-radios__label" for="@ApprenticeshipDelete.Back">@WebHelper.GetEnumDescription(ApprenticeshipDelete.Back)</label>
                    </div>

                </div>
            </div>
            <div class="cta-container">
                <a class="govuk-button govuk-!-margin-right-3" asp-controller="Apprenticeships" asp-action="ConfirmationDelete" id="Confirm">Confirm</a>
            </div>
        </div>
    </div>
</form>

<script>
    (function ($) {
        $(function () {
            var validStates = [];
            var $button = $("#Confirm");

            var $apprenticeshipConfirmDelete = $("#ApprenticeshipConfirmDelete").govUkRadios();

            function isAllValid(currentValue) {
                return currentValue === true;
            }

            function validate() {

                validStates = [];

                $apprenticeshipConfirmDelete.govUkRadios("validState");

                if ($.requiredValidate($apprenticeshipConfirmDelete.find("input[type='radio']:checked").val())) {
                    $apprenticeshipConfirmDelete.govUkRadios("validState");
                    validStates.push(true);
                } else {
                    $apprenticeshipConfirmDelete.govUkRadios("invalidState", $apprenticeshipConfirmDelete.attr("val-required-message"));
                    validStates.push(false);
                }
            }

            $button.on("click", function (event) {
                event.preventDefault();
                validate();
                if (validStates.every(isAllValid)) {
                    $("#ApprenticeshipConfirmDeleteForm").submit();
                }
            });

        });
    })(jQuery);
</script>


