@using Dfc.CourseDirectory.Services.Models
@using Dfc.CourseDirectory.Web.Helpers
@{
    ViewData["Title"] = "Edit your details"; 
    Layout = "_Layout_Your_Courses";
}

@model Dfc.CourseDirectory.Web.ViewModels.Apprenticeships.ConfirmationDeleteViewModel

<form class="govuk-!-margin-bottom-9" id="ApprenticeshipConfirmDeleteForm" asp-controller="Apprenticeships" asp-action="ConfirmationDelete" method="post">
    @Html.HiddenFor(x=>x.ApprenticeshipId)
    @Html.HiddenFor(x=>x.ApprenticeshipTitle)
    @Html.HiddenFor(x=>x.Level)
    <div class="cd-dashboard provider apprenticeship-type govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Delete Apprenticeship
            </h1>

            <table class="govuk-table">
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">Apprenticeship name</td>
                    <td class="govuk-table__cell">@Model.ApprenticeshipTitle</td>
                </tr>
                @if (Model.Level!=0)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header" scope="row">Apprenticeship level</td>
                        <td class="govuk-table__cell">@Model.Level</td>
                    </tr>
                }
                   
                </tbody>
            </table>
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Are you sure?
                </strong>
            </div>
            
            
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                            Please select
                        </h1>
                    </legend>
                    <div class="govuk-radios govuk-!-margin-bottom-6" val-required-message="Select an option" id="ApprenticeshipConfirmDelete">

                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m =>m.ApprenticeshipDelete, ApprenticeshipDelete.Delete, new { @class = "govuk-radios__input", id = ApprenticeshipDelete.Delete })
                            <label class="govuk-label govuk-radios__label" for="@ApprenticeshipDelete.Delete">@WebHelper.GetEnumDescription(ApprenticeshipDelete.Delete)</label>
                        </div>
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.ApprenticeshipDelete, ApprenticeshipDelete.Back, new { @class = "govuk-radios__input", id = ApprenticeshipDelete.Back })
                            <label class="govuk-label govuk-radios__label" for="@ApprenticeshipDelete.Back">@WebHelper.GetEnumDescription(ApprenticeshipDelete.Back)</label>
                        </div>
                     
                    </div>
                </fieldset>
            </div>

            <div class="cta-container">
                <a class="govuk-button govuk-!-margin-right-3" asp-controller="Apprenticeships" asp-action="ConfirmationDelete" id="Confirm">Confirm</a>
            </div>
        </div>
    </div>
</form>

<script>
    (function ($) {
        $(function () {
            var validStates = [];
            var $button = $("#Confirm");

            var $apprenticeshipConfirmDelete = $("#ApprenticeshipConfirmDelete").govUkRadios();

            function isAllValid(currentValue) {
                return currentValue === true;
            }

            function validate() {

                validStates = [];

                $apprenticeshipConfirmDelete.govUkRadios("validState");

                if ($.requiredValidate($apprenticeshipConfirmDelete.find("input[type='radio']:checked").val())) {
                    $apprenticeshipConfirmDelete.govUkRadios("validState");
                    validStates.push(true);
                } else {
                    $apprenticeshipConfirmDelete.govUkRadios("invalidState", $apprenticeshipConfirmDelete.attr("val-required-message"));
                    validStates.push(false);
                }
            }

            $button.on("click", function (event) {
                event.preventDefault();
                validate();
                if (validStates.every(isAllValid)) {
                    $("#ApprenticeshipConfirmDeleteForm").submit();
                }
            });

        });
    })(jQuery);
</script>


