@using Dfc.CourseDirectory.Web.ViewComponents.ProviderSearchResult;
@model Dfc.CourseDirectory.Web.ViewComponents.ProviderSearch.ProviderSearchModel;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add a Provider";
    ViewData["Subtext"] = "Enter UKPRN number";
    ViewData["Placeholder"] = "Enter UKPRN number";
}


<div class="cd-hero-grey">
    <div class="govuk-width-container">
        <header class="cd-hero-search">
            <div class="content-container">

                <div class="govuk-breadcrumbs">
                    <ol class="govuk-breadcrumbs__list">
                        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="your-courses">Home</a></li>
                        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="Providers">Providers</li>
                        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link">@ViewBag.Title</li>
                    </ol>
                </div>
                <div class="grid-row" data-sf-element="Row">
                    <div class="column-two-thirds">
                        <div>
                            <h1 class="govuk-heading-l govuk-!-margin-top-4">@ViewBag.Title</h1>
                            <p class="column-two-thirds govuk-heading-m">@ViewBag.Subtext</p>
                        </div>
                        <form class="site-search ui-front" id="header-search">
                            <div class="header-search-content">
                                <span asp-validation-for="@Model.SearchTerm" class="govuk-error-message"></span>
                                <div class="search-input-wrapper">
                                    @if (!string.IsNullOrWhiteSpace(Model.HintText))
                                            {
                                                <span class="govuk-hint">
                                                    @Model.HintText
                                                </span>
                                            }

                                    <input class="govuk-input govuk-!-width-three-quarters search-input js-search-focus" asp-for="@Model.SearchTerm" type="text" aria-describedby="@Model.AriaDescribedBy" placeholder="@ViewBag.Placeholder">
                                    <div class="cd-c-search__item cd-search__submit-wrapper">
                                        <button type="button" class=" submit" id="searchProvider">Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>
<div id="ProviderSearchResultContainer">
    @await Component.InvokeAsync(nameof(ProviderSearchResult))
</div>

<script>
    (function ($) {
        $(function () {

            var formGroupErrorClass = "govuk-form-group--error";
            var elementErrorClass = "govuk-input--error";
            var $searchForm = $("form.site-search");
            var $elementSearchTerm = $("#@nameof(Model.SearchTerm)");
            var $providerSearchResultContainer = $("#ProviderSearchResultContainer");
            var $validationMessageSearchTerm = $elementSearchTerm.prev("[data-valmsg-for='@nameof(Model.SearchTerm)']");
            $validationMessageSearchTerm.css("margin-bottom", "0");
            var $formGroupSearchTerm = $elementSearchTerm.closest('.govuk-form-group');
            var $form = $elementSearchTerm.closest("form");
            $form.addTriggersToJqueryValidate().triggerElementValidationsOnFormValidation();
            var validator = $form.validate();
            $elementSearchTerm.on("blur", function () {
                var result = validator.element($elementSearchTerm);
                if (result) {
                    HideValidationErrorMessage();
                } else {
                    ShowValidationErrorMessage();
                }
            });
            $elementSearchTerm.elementValidation(function (element, result) {
                if (!$formGroupSearchTerm.hasClass(formGroupErrorClass)) {
                    $validationMessageSearchTerm.hide();
                }
                if (result) {
                    HideValidationErrorMessage();
                }
                else {
                    ShowValidationErrorMessage()
                }
            });

            var makeRequestWithPayload = function (payload, cb) {
                var qs = $.param(payload);
                $.get("/ProviderSearch?" + qs, cb);
            };
            var onSucess = function (data) {
                $providerSearchResultContainer.html("");
                $providerSearchResultContainer.html(data);
            };

            $("#searchProvider").on("click", function (e) {
                e.preventDefault();
                ValidateAndSearchForProvider();
            });

            $(document).keypress(function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    ValidateAndSearchForProvider();
                }
            });

            function ValidateAndSearchForProvider() {
                $elementSearchTerm.trigger("blur");
                var result = validator.element($elementSearchTerm);
                if (result) {
                    makeRequestWithPayload({
                        SearchTerm: $elementSearchTerm.val()
                    }, onSucess);

                    HideValidationErrorMessage();
                }
                else {
                    $providerSearchResultContainer.html("");
                    ShowValidationErrorMessage();
                }
            }

            function ShowValidationErrorMessage() {
                    $elementSearchTerm.addClass(elementErrorClass);
                    $formGroupSearchTerm.addClass(formGroupErrorClass);
                    $searchForm.addClass("govuk-form-group, govuk-form-group--error");
                    $validationMessageSearchTerm.show();
                    $validationMessageSearchTerm.css("margin-bottom", "15px");              
            }
            function HideValidationErrorMessage() {
                    $elementSearchTerm.removeClass(elementErrorClass);
                    $formGroupSearchTerm.removeClass(formGroupErrorClass);
                    $searchForm.removeClass("govuk-form-group, govuk-form-group--error");
                    $validationMessageSearchTerm.hide();
                    $validationMessageSearchTerm.css("margin-bottom", "0");              
            }
        });
    })(jQuery);
</script>