@using Dfc.CourseDirectory.Web.ViewComponents.ProviderSearchResult;
@model Dfc.CourseDirectory.Web.ViewComponents.ProviderSearch.ProviderSearchModel;
@*Dfc.CourseDirectory.Web.RequestModels.ProviderSearchRequestModel;
    Dfc.CourseDirectory.Web.ViewComponents.ProviderSearch.ProviderSearchModel; Dfc.CourseDirectory.Web.RequestModels.ProviderSearchRequestModel;*@

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add a Provider";
    ViewData["Subtext"] = "Enter UKPRN number";
    //ViewData["Target"] = "/providers/AddResults/";
}


<div class="venue-search">
    <div class="cd-hero-green">
        <div class="govuk-width-container">
            <header class="cd-hero-search">
                <div class="content-container">
                    <div class="grid-row" data-sf-element="Row">
                        <div class="column-two-thirds">
                            <div>
                                <h1 class="govuk-heading-xl">@ViewBag.Title</h1>
                                <p class="govuk-heading-m">@ViewBag.Subtext</p>
                            </div>
                            @*<form action="@ViewBag.Target" class="site-search ui-front" id="header-search" method="post">*@
                            <div class="header-search-content">
                                <form class="site-search ui-front" id="header-search" method="post">
                                    <div class="search-input-wrapper govuk-form-group">
                                        @*<input class="govuk-input govuk-!-width-three-quarters search-input js-search-focus" id="UKPrn" name="UKPrn" type="search" value="">*@
                                        
                                        @*<label class="govuk-label" asp-for="@Model.SearchTerm">@Model.LabelText</label>*@
                                        @if (!string.IsNullOrWhiteSpace(Model.HintText))
                                        {
                                            <span class="govuk-hint">
                                                @Model.HintText
                                            </span>
                                        }
                                        <span asp-validation-for="@Model.SearchTerm" class="govuk-error-message"></span>
                                        <input class="govuk-input govuk-!-width-three-quarters search-input js-search-focus" asp-for="@Model.SearchTerm" type="text" aria-describedby="@Model.AriaDescribedBy" id="UKPrn" name="UKPrn" >

                                        <button type="submit" class="govuk-button" id="searchProvider">
                                            Search
                                        </button>
                                    </div>
                                </form>
                            </div>
                            @*</form>*@
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div id="ProviderSearchResultContainer">
        @await Component.InvokeAsync(nameof(ProviderSearchResult))
    </div>
</div>

<script>
    (function ($) {
        $(function () {
            alert("Start");
            var formGroupErrorClass = "govuk-form-group--error";
            var elementErrorClass = "govuk-input--error";
            var $elementSearchTerm = $("#@nameof(Model.SearchTerm)");
            var $validationMessageVenueName = $elementSearchTerm.prev("[data-valmsg-for='@nameof(Model.SearchTerm)']");
            $validationMessageVenueName.css("margin-bottom", "0");
            var $formGroupVenueName = $elementSearchTerm.closest('.govuk-form-group');
            var $form = $elementSearchTerm.closest("form");
            $form.addTriggersToJqueryValidate().triggerElementValidationsOnFormValidation();
            var validator = $form.validate();
            $elementSearchTerm.on("blur", function () {
                var result = validator.element($elementSearchTerm);
                alert("Alert" + result);
                if (result) {
                    $elementSearchTerm.removeClass(elementErrorClass);
                    $formGroupVenueName.removeClass(formGroupErrorClass);
                    $validationMessageVenueName.hide();
                    $validationMessageVenueName.css("margin-bottom", "0");
                } else {
                    $elementSearchTerm.addClass(elementErrorClass);
                    $formGroupVenueName.addClass(formGroupErrorClass);
                    $validationMessageVenueName.show();
                    $validationMessageVenueName.css("margin-bottom", "15px");
                }
            });
            $elementSearchTerm.elementValidation(function (element, result) {
                if (!$formGroupVenueName.hasClass(formGroupErrorClass)) {
                    $validationMessageVenueName.hide();
                }
                if (result) {
                    $elementSearchTerm.removeClass(elementErrorClass);
                    $formGroupVenueName.removeClass(formGroupErrorClass);
                    $validationMessageVenueName.css("margin-bottom", "0");
                }
            });
        });
    })(jQuery);
</script>