@using Dfc.CourseDirectory.Services.Models.Courses;
@using Dfc.CourseDirectory.Web.Helpers;

@model Dfc.CourseDirectory.Web.ViewComponents.Courses.Attendance.AttendanceModel

<div class="govuk-form-group" id="Attendance">

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading govuk-heading-m">
                @Model.LabelText
            </h2>
            <span class="govuk-hint govuk-!-margin-top-3">
                @Model.HintText
            </span>
        </legend>
        <div class="govuk-radios govuk-radios" val-required-message="Select Attendance Mode" id="AttendanceRadioButtons">

            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.AttendanceMode, AttendancePattern.Daytime, new { @class = "govuk-radios__input", id = AttendancePattern.Daytime })
                <label class="govuk-label govuk-radios__label" for="@AttendancePattern.Daytime">@WebHelper.GetEnumDescription(AttendancePattern.Daytime)</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.AttendanceMode, AttendancePattern.Evening, new { @class = "govuk-radios__input", id = AttendancePattern.Evening })
                <label class="govuk-label govuk-radios__label" for="@AttendancePattern.Evening">@WebHelper.GetEnumDescription(AttendancePattern.Evening)</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.AttendanceMode, AttendancePattern.Weekend, new { @class = "govuk-radios__input", id = AttendancePattern.Weekend })
                <label class="govuk-label govuk-radios__label" for="@AttendancePattern.Weekend">@WebHelper.GetEnumDescription(AttendancePattern.Weekend)</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.AttendanceMode, AttendancePattern.DayOrBlockRelease, new { @class = "govuk-radios__input", id = AttendancePattern.DayOrBlockRelease })
                <label class="govuk-label govuk-radios__label" for="@AttendancePattern.DayOrBlockRelease">@WebHelper.GetEnumDescription(AttendancePattern.DayOrBlockRelease)</label>
            </div>

        </div>
    </fieldset>
</div>
