@using Dfc.CourseDirectory.Core.Validation.CourseValidation
@model Dfc.CourseDirectory.WebV2.ViewModels.DataManagement.Courses.ResolveRowDescription.Command
@{
    ViewContext.SetLayoutData(title: "Non LARS Course description");
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="ResolveNonLarsRowDescription" asp-all-route-data="@ProviderContext.RouteValues" asp-route-rowNumber="@Model.RowNumber">
            <govuk-error-summary>
                <govuk-error-summary-item asp-for="WhoThisCourseIsFor" />
                <govuk-error-summary-item asp-for="EntryRequirements" />
                <govuk-error-summary-item asp-for="WhatYouWillLearn" />
                <govuk-error-summary-item asp-for="HowYouWillLearn" />
                <govuk-error-summary-item asp-for="WhatYouWillNeedToBring" />
                <govuk-error-summary-item asp-for="HowYouWillBeAssessed" />
                <govuk-error-summary-item asp-for="WhereNext" />
            </govuk-error-summary>

            <h1 class="govuk-heading-xl">Course description</h1>

            <p class="govuk-body">
                The course information you provide will be available on the National Careers Service,
                <a href="@ViewBag.LiveServiceURL" target="_blank" class="govuk-link">Find a course</a>,
                available to learners searching for learning and training opportunities.
            </p>

            <p class="govuk-body govuk-!-margin-bottom-8">
                This is your opportunity to tell learners about your course, the content and style of the course information you provide should be aimed at the learner.
            </p>

            <govuk-character-count asp-for="WhoThisCourseIsFor" max-length="@Constants.WhoThisCourseIsForMaxLength">
                <govuk-character-count-label class="govuk-label--m">Who this course is for</govuk-character-count-label>
                <govuk-character-count-hint>
                    An overview of who this course would be suitable for and what they'll get out of the course.
                </govuk-character-count-hint>
            </govuk-character-count>

            <govuk-character-count asp-for="EntryRequirements" max-length="@Constants.EntryRequirementsMaxLength">
                <govuk-character-count-label class="govuk-label--m">Entry requirements (optional)</govuk-character-count-label>
                <govuk-character-count-hint>
                    Anything needed before being accepted to this course including skills, licences, qualifications.
                </govuk-character-count-hint>
            </govuk-character-count>

            <govuk-character-count asp-for="WhatYouWillLearn" max-length="@Constants.WhatYouWillLearnMaxLength">
                <govuk-character-count-label class="govuk-label--m">What you'll learn (optional)</govuk-character-count-label>
                <govuk-character-count-hint>
                    The main topics, units or modules covered during this course.
                </govuk-character-count-hint>
            </govuk-character-count>

            <govuk-character-count asp-for="HowYouWillLearn" max-length="@Constants.HowYoullLearnMaxLength">
                <govuk-character-count-label class="govuk-label--m">How you'll learn (optional)</govuk-character-count-label>
                <govuk-character-count-hint>
                    Course delivery details such as classroom based, online or on site.
                </govuk-character-count-hint>
            </govuk-character-count>

            <govuk-character-count asp-for="WhatYouWillNeedToBring" max-length="@Constants.WhatYouWillNeedToBringMaxLength">
                <govuk-character-count-label class="govuk-label--m">What you'll need to bring (optional)</govuk-character-count-label>
                <govuk-character-count-hint>
                    Anything the applicant may need to access or bring to the course including uniform and devices.
                </govuk-character-count-hint>
            </govuk-character-count>

            <govuk-character-count asp-for="HowYouWillBeAssessed" max-length="@Constants.HowYouWillBeAssessedMaxLength">
                <govuk-character-count-label class="govuk-label--m">How you'll be assessed (optional)</govuk-character-count-label>
                <govuk-character-count-hint>
                    Any ways the course is assessed, such as workplace assessment or written assignments.
                </govuk-character-count-hint>
            </govuk-character-count>

            <govuk-character-count asp-for="WhereNext" max-length="@Constants.WhereNextMaxLength">
                <govuk-character-count-label class="govuk-label--m">What you can do next (optional)</govuk-character-count-label>
                <govuk-character-count-hint>
                    Expected next steps following completion of this course such as qualifications or jobs.
                </govuk-character-count-hint>
            </govuk-character-count>



            <div class="govuk-button-group">
                <govuk-button type="submit" class="cd-cancel-btn">Resolve errors</govuk-button>
                <a asp-action="NonLarsResolveList" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link cd-cancel-link">Cancel</a>
            </div>

        </form>
    </div>
</div>
