
@using Dfc.CourseDirectory.Web.ViewComponents.Extensions
@using Dfc.CourseDirectory.Web.ViewComponents.Pagination;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization;
@using Flurl;

@inject IAuthorizationService Authorization

@{
    var adminLogin = await Authorization.AuthorizeAsync(User, "Admin");
    var providerLogin = await Authorization.AuthorizeAsync(User, "Provider");
}

@addTagHelper *, Dfc.CourseDirectory.WebV2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfc.CourseDirectory.Web.ViewComponents.LarsSearchResult.LarsSearchResultModel;


<div class="govuk-grid-row">

    @if (Model.HasErrors && !Model.Items.Any())
    {
        <div class="govuk-grid-column-full">
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    Sorry, there was a problem.
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        @foreach (var error in Model.Errors)
                        {
                            <li>
                                @error
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

    }
    else if (!Model.HasErrors) // Model.Items.Any())
    {
        @if (!string.IsNullOrEmpty(@Model.SearchTerm))
        {
            <div class="govuk-heading-s lars-search-results govuk-!-font-weight-regular">
                Found <span class="govuk-!-font-weight-bold">@Model.TotalCount</span> results for <span class="govuk-!-font-weight-bold">@Model.SearchTerm</span>
            </div>
        }

        <div class="govuk-grid-column-one-quarter">
            @*<h3>filter controls here</h3>*@
            @if (Model.Filters != null)
            {
                @if (Model.HasSelectedFilters)
                {
                    <div class="govuk-form-group">
                        <a class="govuk-link" id="ClearAllFilters" href="">Clear filters</a>
                    </div>
                }




                var i = 0;
                foreach (var filter in Model.Filters)
                {
                    <div class="govuk-form-group govuk-!-font-size-14">
                        <div class="accordion govuk-heading-s" role="button" tabindex="0">@filter.Title</div>
                        <div class="panel">
                            <fieldset class="govuk-fieldset" id="FilterCheckBoxes_@i">
                                <legend class="govuk-visually-hidden">
                                    Select @filter.Title Level
                                </legend>
                                <div class="govuk-checkboxes govuk-checkboxes--small" id="Filter_@i">
                                    @{ var j = 0; }
                                    @foreach (var item in filter.Items)
                                    {
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="@item.Id" name="@item.Name" type="checkbox" aria-labelledby="Filter_@i" value="@item.Value" @item.IsSelected.ThenCheck()>
                                            <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-14" id="FilterLabel_@item.Id">
                                                @item.Text
                                            </label>
                                        </div>

                                        j++;
                                    }
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    i++;

                }
                <div class="govuk-form-group govuk-!-font-size-14">
                    @*<a class="govuk-button" id="ApplyFilter">Apply</a>*@
                </div>

            }
        </div>

        <div class="govuk-grid-column-three-quarters">


            <div class="govuk-table govuk-!-font-size-14">

                @foreach (var item in Model.Items)
                {
                    <div class="cd-lars-search-result__container">
                        <h2 class="govuk-heading-m">@item.LearnAimRefTitle</h2>
                        <p class="govuk-body">LARS/QAN:<span class="govuk-!-font-weight-bold"> @item.LearnAimRef</span></p>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold"> @item.NotionalNVQLevelv2</span></p>
                        <p class="govuk-body">Awarding body:<span class="govuk-!-font-weight-bold"> @item.AwardOrgCode</span></p>

                        @{
                            if (adminLogin.Succeeded || providerLogin.Succeeded)
                            {
                                <a asp-controller="AddCourse" asp-action="AddCourse" asp-route-learnAimRef=@item.LearnAimRef asp-route-notionalNVQLevelv2=@item.NotionalNVQLevelv2 asp-route-awardOrgCode=@item.AwardOrgCode asp-route-learnAimRefTitle=@item.LearnAimRefTitle asp-route-learnAimRefTypeDesc=@item.LearnAimRefTypeDesc class="link--button" id="">Choose this qualification<span class="govuk-visually-hidden">@item.LearnAimRefTitle</span></a>
                            }
                        }
                    </div>
                }

            </div>
            @if (Model.Items.Any())
            {
                <vc:pager current-page=Model.PageNumber get-page-url="@(pageNumber => new Url(Model.Url).SetQueryParam("PageNo", pageNumber))" total-pages=(int)Math.Ceiling((decimal)Model.TotalCount)/Model.ItemsPerPage />
            }
        </div>

    }
    else if (!string.IsNullOrWhiteSpace(Model.SearchTerm))
    { // && !Model.Items.Any())

        <div class="govuk-grid-column-full">
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    <span class="govuk-visually-hidden">Data Unavailable</span>
                    No records found
                </h2>
            </div>
        </div>
    }
</div>

<script>
    (function ($) {
        $(function () {

            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "none") {
                        panel.style.display = "block";
                    } else {
                        panel.style.display = "none";
                    }
                });
            }
        });
    })(jQuery);
</script>