@using Dfc.CourseDirectory.Models.Enums
@using Dfc.CourseDirectory.Web.Helpers
@{
    Layout = "_Layout_Your_Courses";
}

@model Dfc.CourseDirectory.Web.ViewModels.BulkUpload.WhatDoYouWantToDoNextViewModel


<div class="content-container">
    <div class="govuk-grid-row" data-sf-element="Row">
        <div class="govuk-grid-column-two-thirds">

            <form class="govuk-!-margin-bottom-9" id="WhatDoYouWantToDoNextForm" asp-controller="BulkUpload" asp-action="WhatDoYouWantToDoNext" method="post">
                @*<a asp-controller="Apprenticeships" asp-action="ApprenticeShipDetails" class="govuk-back-link">Back</a><br />*@
                <span class="govuk-caption-xl">Course Directory</span>
                <h1 class="govuk-heading-xl">What do you want to do next?</h1>
                <br />
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">

                        <div class="govuk-radios" val-required-message="Select 'What do you want to do next?'" id="WhatDoYouWantToDoNext">
                            <div class="govuk-radios__item">
                                @Html.RadioButtonFor(m => m.WhatDoYouWantToDoNext, WhatDoYouWantToDoNext.OnScreen, new { @class = "govuk-radios__input", id = WhatDoYouWantToDoNext.OnScreen })
                                <label class="govuk-label govuk-radios__label" for="@WhatDoYouWantToDoNext.OnScreen">@WebHelper.GetEnumDescription(WhatDoYouWantToDoNext.OnScreen)</label>
                            </div>
                            <div class="govuk-radios__item">
                                @Html.RadioButtonFor(m => m.WhatDoYouWantToDoNext, WhatDoYouWantToDoNext.DownLoad, new { @class = "govuk-radios__input", id = WhatDoYouWantToDoNext.DownLoad })
                                <label class="govuk-label govuk-radios__label" for="@WhatDoYouWantToDoNext.DownLoad">@WebHelper.GetEnumDescription(WhatDoYouWantToDoNext.DownLoad)</label>
                            </div>
                            <div class="govuk-radios__item">
                                @Html.RadioButtonFor(m => m.WhatDoYouWantToDoNext, WhatDoYouWantToDoNext.Delete, new { @class = "govuk-radios__input", id = WhatDoYouWantToDoNext.Delete })
                                <label class="govuk-label govuk-radios__label" for="@WhatDoYouWantToDoNext.Delete">@WebHelper.GetEnumDescription(WhatDoYouWantToDoNext.Delete)</label>
                            </div>

                        </div>
                    </fieldset>
                </div>
                <br />

                <button type="submit" class="govuk-button" id="next">Continue</button>
            </form>
        </div>
    </div>
</div>

<script>
    (function ($) {
        $(function () {
            var validStates = [];
            var $button = $("#next");

            var $whatDoYouWantToDoNext = $("#WhatDoYouWantToDoNext").govUkRadios();

            function isAllValid(currentValue) {
                return currentValue === true;
            }

            function validate() {

                validStates = [];

                $whatDoYouWantToDoNext.govUkRadios("validState");

                if ($.requiredValidate($whatDoYouWantToDoNext.find("input[type='radio']:checked").val())) {
                    $whatDoYouWantToDoNext.govUkRadios("validState");
                    validStates.push(true);
                } else {
                    $whatDoYouWantToDoNext.govUkRadios("invalidState", $whatDoYouWantToDoNext.attr("val-required-message"));
                    validStates.push(false);
                }
            }

            $button.on("click", function (event) {
                event.preventDefault();
                validate();
                if (validStates.every(isAllValid)) {
                    $("#WhatDoYouWantToDoNextForm").submit();
                }
            });

        });
    })(jQuery);
</script>



