@using Dfc.CourseDirectory.Core.Models;
@using Dfc.CourseDirectory.Web.Helpers;
@model Dfc.CourseDirectory.Web.ViewComponents.Courses.Sector.SectorModel

<div class="govuk-form-group" id="Sector">

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading govuk-heading-m">
                @Model.LabelText
            </h2>
        </legend>
        <div class="govuk-hint">
            @Model.HintText
        </div>
        <div class="govuk-radios govuk-radios" val-required-message="Select Sector" id="SectorRadioButtons">
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.Sector, Sector.BusinessAndAdministration, new { @class = "govuk-radios__input", id = Sector.BusinessAndAdministration })
                <label class="govuk-label govuk-radios__label" for="@Sector.BusinessAndAdministration">@Sector.BusinessAndAdministration.ToDescription()</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.Sector, Sector.ConstructionAndTheBuiltEnvironment, new { @class = "govuk-radios__input", id = Sector.ConstructionAndTheBuiltEnvironment })
                <label class="govuk-label govuk-radios__label" for="@Sector.ConstructionAndTheBuiltEnvironment">@Sector.ConstructionAndTheBuiltEnvironment.ToDescription()</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.Sector, Sector.CreativeAndDesign, new { @class = "govuk-radios__input", id = Sector.CreativeAndDesign })
                <label class="govuk-label govuk-radios__label" for="@Sector.CreativeAndDesign">@Sector.CreativeAndDesign.ToDescription()</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.Sector, Sector.Digital, new { @class = "govuk-radios__input", id = Sector.Digital })
                <label class="govuk-label govuk-radios__label" for="@Sector.Digital">@Sector.Digital.ToDescription()</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.Sector, Sector.EducationAndEarlyYears, new { @class = "govuk-radios__input", id = Sector.EducationAndEarlyYears })
                <label class="govuk-label govuk-radios__label" for="@Sector.EducationAndEarlyYears">@Sector.EducationAndEarlyYears.ToDescription()</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.Sector, Sector.EngineeringAndManufacturing, new { @class = "govuk-radios__input", id = Sector.EngineeringAndManufacturing })
                <label class="govuk-label govuk-radios__label" for="@Sector.EngineeringAndManufacturing">@Sector.EngineeringAndManufacturing.ToDescription()</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.Sector, Sector.SalesMarketingAndProcurement, new { @class = "govuk-radios__input", id = Sector.SalesMarketingAndProcurement })
                <label class="govuk-label govuk-radios__label" for="@Sector.SalesMarketingAndProcurement">@Sector.SalesMarketingAndProcurement.ToDescription()</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.Sector, Sector.TransportAndLogistics, new { @class = "govuk-radios__input", id = Sector.TransportAndLogistics })
                <label class="govuk-label govuk-radios__label" for="@Sector.TransportAndLogistics">@Sector.TransportAndLogistics.ToDescription()</label>
            </div>
        </div>
    </fieldset>
</div>
