@using Dfc.CourseDirectory.WebV2.Features.NewApprenticeshipProvider.ApprenticeshipSummary
@model ViewModel
@{
    ViewBag.Title = "Check your apprenticeship information";
}

@if (!ViewContext.ModelState.IsValid)
{
    <govuk-error-summary>
        <govuk-error-summary-title>There is a problem</govuk-error-summary-title>
        <govuk-error-summary-item>
            @ViewContext.ModelState[""].Errors.First().ErrorMessage
        </govuk-error-summary-item>
    </govuk-error-summary>
}

<h1 class="govuk-heading-l">Check your apprenticeship information</h1>

<h2 class="govuk-heading-m">@Model.StandardOrFrameworkTitle</h2>

<govuk-summary-list>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Apprenticeship information</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@Html.Raw(Model.MarketingInformation)</govuk-summary-list-row-value>
        <govuk-summary-list-row-action>
            <a asp-action="ApprenticeshipDetails" asp-fragment="MarketingInformation" asp-all-route-data="@ProviderContext.RouteValues" append-mptx-id class="govuk-link">
                Change<span class="govuk-visually-hidden"> apprenticeship information</span>
            </a>
        </govuk-summary-list-row-action>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Apprenticeship website</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@Model.Website</govuk-summary-list-row-value>
        <govuk-summary-list-row-action>
            <a asp-action="ApprenticeshipDetails" asp-fragment="Website" asp-all-route-data="@ProviderContext.RouteValues" append-mptx-id class="govuk-link">
                Change<span class="govuk-visually-hidden"> apprenticeship website</span>
            </a>
        </govuk-summary-list-row-action>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Email</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@Model.ContactEmail</govuk-summary-list-row-value>
        <govuk-summary-list-row-action>
            <a asp-action="ApprenticeshipDetails" asp-fragment="ContactEmail" asp-all-route-data="@ProviderContext.RouteValues" append-mptx-id class="govuk-link">
                Change<span class="govuk-visually-hidden"> email</span>
            </a>
        </govuk-summary-list-row-action>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Telephone</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@Model.ContactTelephone</govuk-summary-list-row-value>
        <govuk-summary-list-row-action>
            <a asp-action="ApprenticeshipDetails" asp-fragment="ContactTelephone" asp-all-route-data="@ProviderContext.RouteValues" append-mptx-id class="govuk-link">
                Change<span class="govuk-visually-hidden"> telephone</span>
            </a>
        </govuk-summary-list-row-action>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Contact URL</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@Model.ContactWebsite</govuk-summary-list-row-value>
        <govuk-summary-list-row-action>
            <a asp-action="ApprenticeshipDetails" asp-fragment="ContactWebsite" asp-all-route-data="@ProviderContext.RouteValues" append-mptx-id class="govuk-link">
                Change<span class="govuk-visually-hidden"> contact URL</span>
            </a>
        </govuk-summary-list-row-action>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Location type</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@Model.ApprenticeshipLocationType.ToDescription()</govuk-summary-list-row-value>
        <govuk-summary-list-row-action>
            <a asp-action="ApprenticeshipLocations" asp-all-route-data="@ProviderContext.RouteValues" append-mptx-id class="govuk-link">
                Change<span class="govuk-visually-hidden"> location type</span>
            </a>
        </govuk-summary-list-row-action>
    </govuk-summary-list-row>
</govuk-summary-list>

@if (Model.ApprenticeshipLocationType.HasFlag(ApprenticeshipLocationType.EmployerBased))
{
    <table class="govuk-table">
        <caption class="govuk-table__caption">
            <a asp-action="ApprenticeshipEmployerLocations" append-mptx-id class="govuk-link govuk-body govuk-!-margin-bottom-0" style="float:right">Change</a>
            @ApprenticeshipLocationType.EmployerBased.ToDescription()
        </caption>
        <tbody class="govuk-table__body">
            @if (Model.ApprenticeshipIsNational == true)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">National</td>
                </tr>
            }
            else
            {
                @foreach (var region in Model.EmployerBasedLocationRegions)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <h6 class="govuk-heading-s">@region.Name</h6>
                            <ul class="govuk-list pttcd-new-apprenticeship-provider__apprenticeship-summary__region">
                                @foreach (var sr in region.SubRegionNames)
                                {
                                    <li>@sr</li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
@if (Model.ApprenticeshipLocationType.HasFlag(ApprenticeshipLocationType.ClassroomBased))
{
    <table class="govuk-table">
        <caption class="govuk-table__caption">
            <a asp-action="AddApprenticeshipClassroomLocation" asp-all-route-data="@ProviderContext.RouteValues" append-mptx-id class="govuk-link govuk-body govuk-!-margin-bottom-0" style="float:right">Add</a>
            @ApprenticeshipLocationType.ClassroomBased.ToDescription()
        </caption>
        <thead>
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Venue</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Delivery method</th>
                <th scope="col" class="govuk-table__header pttcd-!-width-one-fifth">Radius</th>
                <th scope="col" class="govuk-table__header" style="width:75px"></th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var location in Model.ClassroomBasedLocations ?? Array.Empty<ViewModelClassroomBasedLocation>())
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@location.VenueName</td>
                    <td class="govuk-table__cell">
                        <ul class="govuk-list govuk-!-margin-0">
                            @foreach (var dm in location.DeliveryModes)
                            {
                                <li>@dm.ToDescription()</li>
                            }
                        </ul>
                    </td>
                    <td class="govuk-table__cell">
                        @location.Radius miles
                    </td>
                    <td class="govuk-table__cell" style="text-align:right">
                        <a asp-action="EditApprenticeshipClassroomLocation" asp-all-route-data="@ProviderContext.RouteValues" asp-route-venueId="@location.VenueId" append-mptx-id class="govuk-link">Change<span class="govuk-visually-hidden"> location</span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<form asp-action="ApprenticeshipSummaryConfirmation" asp-all-route-data="@ProviderContext.RouteValues" append-mptx-id>
    <govuk-button type="submit" class="govuk-!-margin-right-1">Submit for quality assurance</govuk-button>
    <govuk-button asp-action="Index" asp-controller="Home" class="govuk-button--secondary">Cancel</govuk-button>
</form>
