@model Dfc.CourseDirectory.WebV2.Features.NewApprenticeshipProvider.ApprenticeshipSummary.ViewModel
@{
    ViewBag.Title = "Check and publish to the course directory";
}

<h1 class="govuk-heading-l">Check and publish to the course directory</h1>

<h2 class="govuk-heading-m">@Model.StandardOrFrameworkTitle</h2>

<govuk-summary-list>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Apprenticeship information for employers</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@Html.Raw(Model.MarketingInformation)</govuk-summary-list-row-value>
        <govuk-summary-list-row-action asp-action="ApprenticeshipDetails" asp-fragment="MarketingInformation" mptx-href>Change</govuk-summary-list-row-action>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Apprenticeship website</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@Model.Website</govuk-summary-list-row-value>
            <govuk-summary-list-row-action asp-action="ApprenticeshipDetails" asp-fragment="Website" mptx-href>Change</govuk-summary-list-row-action>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Email</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@Model.ContactEmail</govuk-summary-list-row-value>
        <govuk-summary-list-row-action asp-action="ApprenticeshipDetails" asp-fragment="ContactEmail" mptx-href>Change</govuk-summary-list-row-action>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Telephone</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@Model.ContactTelephone</govuk-summary-list-row-value>
        <govuk-summary-list-row-action asp-action="ApprenticeshipDetails" asp-fragment="ContactTelephone" mptx-href>Change</govuk-summary-list-row-action>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Contact URL</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@Model.ContactWebsite</govuk-summary-list-row-value>
        <govuk-summary-list-row-action asp-action="ApprenticeshipDetails" asp-fragment="ContactWebsite" mptx-href>Change</govuk-summary-list-row-action>
    </govuk-summary-list-row>
</govuk-summary-list>

<form asp-action="ApprenticeshipSummaryConfirmation" append-provider-context append-mptx-id>
    <govuk-button type="submit" class="govuk-!-margin-right-1">Submit for quality assurance</govuk-button>
    <govuk-button asp-action="Index" asp-controller="Home" class="govuk-button--secondary">Cancel</govuk-button>
</form>