@using Dfc.CourseDirectory.Web.ViewComponents.Extensions
@using Dfc.CourseDirectory.Web.ViewComponents.Pagination;
@using Dfc.CourseDirectory.Models.Models.Providers;

@model Dfc.CourseDirectory.Web.ViewComponents.ProviderSearchResult.ProviderSearchResultModel;


@if (Model.Items.Any() && Model.Items.FirstOrDefault() != null)
{
    <div class="govuk-width-container govuk-!-margin-top-4">
        <span class="govuk-caption-xl"> Course Provider</span>
        <h1 class="govuk-heading-xl">Provider Details</h1>
        @foreach (var provider in Model.Items)
        {
            if (!provider.ProviderStatus.Equals("Active", StringComparison.InvariantCultureIgnoreCase))
            {
                <div class="success-container hide show" style="border: 3px solid green; margin: 10px; padding: 10px;">
                    <a class="govuk-breadcrumbs__link">
                        <h3 class="govuk-heading-s">Provider Status is @provider.ProviderStatus => NOT ACTIVE = CAN NOT ADD IT</h3>
                    </a>
                </div>
            }

            if (provider.Registered.Equals(Registered.Onboarded))
            {
                <div class="success-container hide show" style="border: 3px solid green; margin: 10px; padding: 10px;">
                    <a class="govuk-breadcrumbs__link">
                        <h3 class="govuk-heading-s">IT IS ALREADY ONBOARDED = CAN NOT ADD IT</h3>
                    </a>
                </div>
            }

            <input type="hidden" value="@provider.id" id="ProviderId" />
            <div id="OnBoardingAjaxCallResult" class="success-container hide show govuk-heading-s" style="border: 3px solid green; margin: 10px; padding: 10px; display: none;"></div>

            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Course Directory Status</th>
                        <td class="govuk-table__cell"><span id="RegisteredStatusText">@provider.Registered</span></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">UKPRN Status</th>
                        <td class="govuk-table__cell">@provider.ProviderStatus</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">UKPRN</th>
                        <td class="govuk-table__cell">@provider.UnitedKingdomProviderReferenceNumber</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Name</th>
                        <td class="govuk-table__cell">@provider.ProviderName</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Address</th>
                        <td class="govuk-table__cell"><span>@Model.AddressTypeL</span></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Web</th>
                        <td class="govuk-table__cell">@Model.WebTypeL</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Email</th>
                        <td class="govuk-table__cell">@Model.EmailTypeL</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Telephone</th>
                        <td class="govuk-table__cell">@Model.TelephoneTypeL</td>
                    </tr>
                </tbody>
            </table>
            if (provider.ProviderStatus.Equals("Active", StringComparison.InvariantCultureIgnoreCase) && !provider.Registered.Equals(Registered.Onboarded))
            {
                <a id="btnOnboardProvider" onclick="OnBoardProvider(); return false;" href="#" class="govuk-button"><span id="btnOnboardProviderText">Add Provider</span></a>
            }
        }
    </div>
}
else
{
    <div class="govuk-form-group" style="margin-top: 30px;">
        @if (Model.Errors.Any())
        {
            foreach (var error in Model.Errors)
            {
                <span>@error</span><br />
            }
        }
        @if (Model.ServiceWasCalled)
        {
            <span>No results found</span>
        }
    </div>
}

<script type="text/javascript">

    function OnBoardProvider() {

        $.ajax({
            url: '/ProviderSearch/OnBoardProvider',
            type: "POST",
            dataType: "json",
            data: JSON.stringify({
                ProviderId: $('#ProviderId').val()
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#OnBoardingAjaxCallResult').html(data.resultText);
                $('#OnBoardingAjaxCallResult').show();

                if (data.success == true) {
                    $('#RegisteredStatusText').html("<b>Onboarded</b>");
                    $('#RegisteredStatusText').css('color', 'green');
                    $('#OnBoardingAjaxCallResult').addClass("happy");
                }
                else {
                    $('#OnBoardingAjaxCallResult').addClass("sad");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#OnBoardingAjaxCallResult').html(xhr + ", " + ajaxOptions + ", " + thrownError);
            }
        });

        $('#btnOnboardProvider').hide();

        return false;
    }
</script>



@*<div class="venue-list">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                @if (Model.Items.Any() && Model.Items.FirstOrDefault() != null)
                {
                    <div class="govuk-tabs" data-module="tabs">
                        <h2 class="govuk-tabs__title">
                            Contents
                        </h2>
                        <ul class="govuk-tabs__list" role="tablist">
                            <li class="govuk-tabs__list-item" role="presentation">
                                <a class="govuk-tabs__tab" href="#live" id="tab_live" role="tab" aria-controls="live" tabindex="0" aria-selected="true">
                                    PROVIDER
                                </a>
                            </li>

                        </ul>

                        <section class="govuk-tabs__panel" id="live" role="tabpanel" aria-labelledby="tab_live">

                            @foreach (var provider in Model.Items)
                            {
                                <div class="govuk-checkboxes__item">
                                    <label class="govuk-label govuk-checkboxes__label" for="study0">
                                        @provider.UnitedKingdomProviderReferenceNumber<br>
                                        @provider.ProviderName<br>
                                        @provider.ProviderStatus<br>
                                        @provider.VerificationDetails[0].VerificationAuthority<br>
                                        @provider.VerificationDetails[0].VerificationID<br>
                                    </label>
                                </div>
                            }

                        </section>

                        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="archived" role="tabpanel" aria-labelledby="tab_archived">

                            <div class="govuk-checkboxes__item">
                                <label class="govuk-label govuk-checkboxes__label" for="study0">
                                    NOT FROM SERVICE<br>


                                    <br>
                                </label>
                            </div>

                        </section>

                    </div>
                    <div class="govuk-form-group" style="margin-top: 30px;">
                        <a href="add-venue" role="button" class="govuk-button">
                            + Add Provider
                        </a>
                    </div>
                }
                else
                {
                    <div class="govuk-form-group" style="margin-top: 30px;">
                        @if (Model.Errors.Any())
                        {
                            foreach (var error in Model.Errors)
                            {
                                <span>@error</span><br />
                            }
                        }
                        @if (Model.ServiceWasCalled)
                        {
                            <span>No results found</span>
                        }
                    </div>
                }

            </div>
        </div>
    </div>*@