@model Dfc.CourseDirectory.WebV2.Features.ApprenticeshipQA.ApprenticeshipAssessment.ViewModel
@{
    ViewBag.Title = "QA Apprenticeship training course information";
}

<govuk-error-summary>
    <govuk-error-summary-item asp-for="CompliancePassed" />
    <govuk-error-summary-item asp-for="ComplianceFailedReasons" />
    <govuk-error-summary-item asp-for="ComplianceComments" />
    <govuk-error-summary-item asp-for="StylePassed" />
    <govuk-error-summary-item asp-for="StyleFailedReasons" />
    <govuk-error-summary-item asp-for="StyleComments" />
</govuk-error-summary>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="Post" asp-route-apprenticeshipId="@Model.ApprenticeshipId">
            <h1 class="govuk-heading-xl">@Model.ApprenticeshipTitle</h1>
            <div class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-l">Apprenticeship training course information</h2>
                <p class="govuk-!-margin-bottom-6" id="pttcd-apprenticeship-qa-apprenticeship-assessment-marketing-information">@Html.Raw(Model.ApprenticeshipMarketingInformation)</p>

                <govuk-radios asp-for="CompliancePassed" id-prefix="CompliancePassed">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend>
                            <h2 class="govuk-heading-m">Compliance</h2>
                        </govuk-radios-fieldset-legend>
                    </govuk-radios-fieldset>
                    <govuk-radios-hint>
                        The apprenticeship training course is quality assured against compliance guidance.
                    </govuk-radios-hint>
                    <govuk-radios-item disabled="@Model.IsReadOnly" value="@(true)">
                        Pass
                    </govuk-radios-item>
                    <govuk-radios-item disabled="@Model.IsReadOnly" value="@(false)">
                        Reject
                        <govuk-radios-item-conditional>
                            <govuk-checkboxes asp-for="ComplianceFailedReasons" id-prefix="ComplianceFailedReasons" class="govuk-checkboxes--small">
                                <govuk-checkboxes-fieldset>
                                    <govuk-checkboxes-fieldset-legend>
                                        <h1 class="govuk-fieldset__heading">Reasons for rejection</h1>
                                    </govuk-checkboxes-fieldset-legend>
                                </govuk-checkboxes-fieldset>
                                <govuk-checkboxes-hint>
                                    Select all that apply.
                                </govuk-checkboxes-hint>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAApprenticeshipComplianceFailedReasons.UsedCapitalAForApprenticeships)" checked="@((Model.ComplianceFailedReasons ?? 0).HasFlag(ApprenticeshipQAApprenticeshipComplianceFailedReasons.UsedCapitalAForApprenticeships))">
                                    Used capitalised A for apprenticeships
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAApprenticeshipComplianceFailedReasons.SpecificEmployerNamed)" checked="@((Model.ComplianceFailedReasons ?? 0).HasFlag(ApprenticeshipQAApprenticeshipComplianceFailedReasons.SpecificEmployerNamed))">
                                    Specific employer named
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAApprenticeshipComplianceFailedReasons.UnverifiableClaim)" checked="@((Model.ComplianceFailedReasons ?? 0).HasFlag(ApprenticeshipQAApprenticeshipComplianceFailedReasons.UnverifiableClaim))">
                                    Unverifiable claim
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAApprenticeshipComplianceFailedReasons.IncorrectOfsetGradeUsed)" checked="@((Model.ComplianceFailedReasons ?? 0).HasFlag(ApprenticeshipQAApprenticeshipComplianceFailedReasons.IncorrectOfsetGradeUsed))">
                                    Incorrect Ofsted grade used
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAApprenticeshipComplianceFailedReasons.InsufficientDetail)" checked="@((Model.ComplianceFailedReasons ?? 0).HasFlag(ApprenticeshipQAApprenticeshipComplianceFailedReasons.InsufficientDetail))">
                                    Insufficient detail
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAApprenticeshipComplianceFailedReasons.NotAimedAtEmployer)" checked="@((Model.ComplianceFailedReasons ?? 0).HasFlag(ApprenticeshipQAApprenticeshipComplianceFailedReasons.NotAimedAtEmployer))">
                                    Not aimed at employer
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAApprenticeshipComplianceFailedReasons.Other)" checked="@((Model.ComplianceFailedReasons ?? 0).HasFlag(ApprenticeshipQAApprenticeshipComplianceFailedReasons.Other))">
                                    Other
                                </govuk-checkboxes-item>
                            </govuk-checkboxes>

                            <govuk-textarea disabled="@Model.IsReadOnly" asp-for="ComplianceComments">
                                <govuk-textarea-label>Comments</govuk-textarea-label>
                            </govuk-textarea>
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                </govuk-radios>

                <govuk-radios asp-for="StylePassed" id-prefix="StylePassed">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend>
                            <h2 class="govuk-heading-m">Style</h2>
                        </govuk-radios-fieldset-legend>
                    </govuk-radios-fieldset>
                    <govuk-radios-hint>
                        The apprenticeship training course is quality assured against style guidance.
                    </govuk-radios-hint>
                    <govuk-radios-item disabled="@Model.IsReadOnly" value="@(true)">
                        Pass
                    </govuk-radios-item>
                    <govuk-radios-item disabled="@Model.IsReadOnly" value="@(false)">
                        Reject
                        <govuk-radios-item-conditional>
                            <govuk-checkboxes asp-for="StyleFailedReasons" id-prefix="StyleFailedReasons" class="govuk-checkboxes--small">
                                <govuk-checkboxes-fieldset>
                                    <govuk-checkboxes-fieldset-legend>
                                        <h1 class="govuk-fieldset__heading">Reasons for rejection</h1>
                                    </govuk-checkboxes-fieldset-legend>
                                </govuk-checkboxes-fieldset>
                                <govuk-checkboxes-hint>
                                    Select all that apply.
                                </govuk-checkboxes-hint>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAApprenticeshipStyleFailedReasons.SpecificApprenticeshipDetailsGiven)" checked="@((Model.StyleFailedReasons ?? 0).HasFlag(ApprenticeshipQAApprenticeshipStyleFailedReasons.SpecificApprenticeshipDetailsGiven))">
                                    Specific apprenticeship details given
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAApprenticeshipStyleFailedReasons.JobRolesIncluded)" checked="@((Model.StyleFailedReasons ?? 0).HasFlag(ApprenticeshipQAApprenticeshipStyleFailedReasons.JobRolesIncluded))">
                                    Job roles included
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAApprenticeshipStyleFailedReasons.TermStandardUsed)" checked="@((Model.StyleFailedReasons ?? 0).HasFlag(ApprenticeshipQAApprenticeshipStyleFailedReasons.TermStandardUsed))">
                                    Term 'standard' used
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAApprenticeshipStyleFailedReasons.TermFrameworkUsed)" checked="@((Model.StyleFailedReasons ?? 0).HasFlag(ApprenticeshipQAApprenticeshipStyleFailedReasons.TermFrameworkUsed))">
                                    Term 'framework' used
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAApprenticeshipStyleFailedReasons.TermLearnerOrStudentUsed)" checked="@((Model.StyleFailedReasons ?? 0).HasFlag(ApprenticeshipQAApprenticeshipStyleFailedReasons.TermLearnerOrStudentUsed))">
                                    Term 'learner' or 'student' used
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAApprenticeshipStyleFailedReasons.TermCourseUsed)" checked="@((Model.StyleFailedReasons ?? 0).HasFlag(ApprenticeshipQAApprenticeshipStyleFailedReasons.TermCourseUsed))">
                                    Term 'course' used
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAApprenticeshipStyleFailedReasons.Other)" checked="@((Model.StyleFailedReasons ?? 0).HasFlag(ApprenticeshipQAApprenticeshipStyleFailedReasons.Other))">
                                    Other
                                </govuk-checkboxes-item>
                            </govuk-checkboxes>

                            <govuk-textarea disabled="@Model.IsReadOnly" asp-for="StyleComments">
                                <govuk-textarea-label>Comments</govuk-textarea-label>
                            </govuk-textarea>
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                </govuk-radios>
            </div>
            <div class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-l">Locations</h2>

                <govuk-accordion id="pttcd-apprenticeship-qa__apprenticeship-assessment__locations">
                    @if (Model.ApprenticeshipClassroomLocations.Count > 0)
                    {
                        <govuk-accordion-item>
                            <govuk-accordion-item-heading>@ApprenticeshipLocationType.ClassroomBased.ToDescription()</govuk-accordion-item-heading>
                            <table class="govuk-table pttcd-table--last-row-border-0">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">Venue</th>
                                        <th scope="col" class="govuk-table__header">Delivery method</th>
                                        <th scope="col" class="govuk-table__header">Radius</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @foreach (var l in Model.ApprenticeshipClassroomLocations)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">@l.VenueName</td>
                                            <td class="govuk-table__cell">
                                                <ul class="govuk-list">
                                                    @foreach (var dm in l.DeliveryModes)
                                                    {
                                                        <li>@dm.ToDescription()</li>
                                                    }
                                                </ul>
                                            </td>
                                            <td class="govuk-table__cell">@l.Radius miles</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </govuk-accordion-item>
                    }
                    @if (Model.ApprenticeshipEmployerLocationRegions.Count > 0 || Model.ApprenticeshipIsNational == true)
                    {
                        <govuk-accordion-item>
                            <govuk-accordion-item-heading>@ApprenticeshipLocationType.EmployerBased.ToDescription()</govuk-accordion-item-heading>
                            <table class="govuk-table pttcd-table--last-row-border-0">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Region</th>
                                        <th scope="col" class="govuk-table__header">Sub region</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @if (Model.ApprenticeshipIsNational)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">National</td>
                                            <td class="govuk-table__cell">All</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var r in Model.ApprenticeshipEmployerLocationRegions)
                                        {
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell">@r.Name</td>
                                                <td class="govuk-table__cell">
                                                    @string.Join(", ", r.SubRegionNames)
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </govuk-accordion-item>
                    }
                </govuk-accordion>
            </div>
            <div>
                @if (Model.IsReadOnly)
                {
                    <govuk-back-link asp-controller="ApprenticeshipQA" asp-action="ProviderSelected" asp-route-providerId="@(Model.ProviderId)" data-testid="back" />
                }
                else
                {
                    <govuk-button type="submit">Continue</govuk-button>
                }
            </div>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        <vc:provider-apprenticeship-qa-info-panel provider-id="@Model.ProviderId" />
    </div>
</div>
