@model Dfc.CourseDirectory.WebV2.Features.ApprenticeshipQA.ListProviders.ViewModel
@{
    ViewBag.Title = "Quality assurance";
}

<h1 class="govuk-heading-xl">Quality assurance</h1>

<govuk-tabs title="Contents">
    <govuk-tabs-item label="New providers" id="notstarted">
        <h2 class="govuk-heading-l">Select a provider</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Provider name</th>
                    <th scope="col" class="govuk-table__header pttcd-!-width-120px">UKPRN</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var provider in Model.NotStarted)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a asp-action="ProviderSelected" asp-route-providerId="@provider.ProviderId" class="govuk-link">@provider.ProviderName</a></td>
                        <td class="govuk-table__cell">@provider.ProviderUkprn</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.NotStarted.Count == 0)
        {
            <p>You have no new providers.</p>
        }
    </govuk-tabs-item>
    <govuk-tabs-item label="Ready for QA" id="submitted">
        <h2 class="govuk-heading-l">Select a provider</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Provider name</th>
                    <th scope="col" class="govuk-table__header pttcd-!-width-120px">UKPRN</th>
                    <th scope="col" class="govuk-table__header pttcd-!-width-120px">Date added</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var provider in Model.Submitted)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a asp-action="ProviderSelected" asp-route-providerId="@provider.ProviderId" class="govuk-link">@provider.ProviderName</a></td>
                        <td class="govuk-table__cell">@provider.ProviderUkprn</td>
                        <td class="govuk-table__cell">@provider.SubmittedOn.Value.ToString("dd MMM yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.Submitted.Count == 0)
        {
            <p>You have no providers ready to QA.</p>
        }
    </govuk-tabs-item>
    <govuk-tabs-item label="In progress" id="in-progress">
        <h2 class="govuk-heading-l">Select a provider</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Provider name</th>
                    <th scope="col" class="govuk-table__header pttcd-!-width-120px">UKPRN</th>
                    <th scope="col" class="govuk-table__header pttcd-!-width-120px">Date added</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">QA by</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var provider in Model.InProgress)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a asp-action="ProviderSelected" asp-route-providerId="@provider.ProviderId" class="govuk-link">@provider.ProviderName</a></td>
                        <td class="govuk-table__cell">@provider.ProviderUkprn</td>
                        <td class="govuk-table__cell">@provider.SubmittedOn.Value.ToString("dd MMM yyyy")</td>
                        <td class="govuk-table__cell">@provider.LastAssessedBy.FullName</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.InProgress.Count == 0)
        {
            <p>You have no providers in progress.</p>
        }
    </govuk-tabs-item>
    <govuk-tabs-item label="Failed" id="fail">
        <h2 class="govuk-heading-l">Select a provider</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Provider name</th>
                    <th scope="col" class="govuk-table__header pttcd-!-width-120px">UKPRN</th>
                    <th scope="col" class="govuk-table__header pttcd-!-width-120px">Date added</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">QA by</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var provider in Model.Failed)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a asp-action="ProviderSelected" asp-route-providerId="@provider.ProviderId" class="govuk-link">@provider.ProviderName</a></td>
                        <td class="govuk-table__cell">@provider.ProviderUkprn</td>
                        <td class="govuk-table__cell">@provider.SubmittedOn.Value.ToString("dd MMM yyyy")</td>
                        <td class="govuk-table__cell">@provider.LastAssessedBy.FullName</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.Failed.Count == 0)
        {
            <p>You have no providers that have failed QA.</p>
        }
    </govuk-tabs-item>
    <govuk-tabs-item label="Unable to complete" id="unable-to-complete">
        <h2 class="govuk-heading-l">Select a provider</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Provider name</th>
                    <th scope="col" class="govuk-table__header pttcd-!-width-120px">UKPRN</th>
                    <th scope="col" class="govuk-table__header pttcd-!-width-120px">Date added</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var provider in Model.UnableToComplete)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a asp-action="ProviderSelected" asp-route-providerId="@provider.ProviderId" class="govuk-link">@provider.ProviderName</a></td>
                        <td class="govuk-table__cell">@provider.ProviderUkprn</td>
                        <td class="govuk-table__cell">@(provider.SubmittedOn?.ToString("dd MMM yyyy"))</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.UnableToComplete.Count == 0)
        {
            <p>You have no providers unable to complete.</p>
        }
    </govuk-tabs-item>
</govuk-tabs>