@model Dfc.CourseDirectory.WebV2.Features.ApprenticeshipQA.ProviderAssessment.ViewModel
@{
    ViewBag.Title = "QA Provider information";
}

@if (!ViewData.ModelState.IsValid)
{
    <govuk-error-summary>
        <govuk-error-summary-title>There is a problem</govuk-error-summary-title>
        <govuk-error-summary-item asp-for="CompliancePassed" />
        <govuk-error-summary-item asp-for="ComplianceFailedReasons" />
        <govuk-error-summary-item asp-for="ComplianceComments" />
        <govuk-error-summary-item asp-for="StylePassed" />
        <govuk-error-summary-item asp-for="StyleFailedReasons" />
        <govuk-error-summary-item asp-for="StyleComments" />
    </govuk-error-summary>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="ProviderAssessment" asp-route-providerId="@Model.ProviderId">
            <h1 class="govuk-heading-xl">@Model.ProviderName</h1>
            <div class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-l">Provider information</h2>
                <p class="govuk-!-margin-bottom-6" id="pttcd-apprenticeship-qa-provider-assessment-marketing-information">@Model.MarketingInformation</p>

                <govuk-radios asp-for="CompliancePassed" id-prefix="CompliancePassed">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend>
                            <h2 class="govuk-heading-m">Compliance</h2>
                        </govuk-radios-fieldset-legend>
                    </govuk-radios-fieldset>
                    <govuk-radios-hint>
                        Provider information is quality assured against compliance guidance.
                    </govuk-radios-hint>
                    <govuk-radios-item disabled="@Model.IsReadOnly" value="@(true)">
                        Pass
                    </govuk-radios-item>
                    <govuk-radios-item disabled="@Model.IsReadOnly" value="@(false)">
                        Reject
                        <govuk-radios-item-conditional>
                            <govuk-checkboxes asp-for="ComplianceFailedReasons" id-prefix="ComplianceFailedReasons" class="govuk-checkboxes--small">
                                <govuk-checkboxes-fieldset>
                                    <govuk-checkboxes-fieldset-legend>
                                        <h1 class="govuk-fieldset__heading">Reasons for rejection</h1>
                                    </govuk-checkboxes-fieldset-legend>
                                </govuk-checkboxes-fieldset>
                                <govuk-checkboxes-hint>
                                    Select all that apply.
                                </govuk-checkboxes-hint>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAProviderComplianceFailedReasons.UsedCapitalAForApprenticeships)" checked="@((Model.ComplianceFailedReasons ?? 0).HasFlag(ApprenticeshipQAProviderComplianceFailedReasons.UsedCapitalAForApprenticeships))">
                                    Used capitalised A for apprenticeships
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAProviderComplianceFailedReasons.SpecificEmployerNamed)" checked="@((Model.ComplianceFailedReasons ?? 0).HasFlag(ApprenticeshipQAProviderComplianceFailedReasons.SpecificEmployerNamed))">
                                    Specific employer named
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAProviderComplianceFailedReasons.UnverifiableClaim)" checked="@((Model.ComplianceFailedReasons ?? 0).HasFlag(ApprenticeshipQAProviderComplianceFailedReasons.UnverifiableClaim))">
                                    Unverifiable claim
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAProviderComplianceFailedReasons.IncorrectOfsetGradeUsed)" checked="@((Model.ComplianceFailedReasons ?? 0).HasFlag(ApprenticeshipQAProviderComplianceFailedReasons.IncorrectOfsetGradeUsed))">
                                    Incorrect Ofsted grade used
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAProviderComplianceFailedReasons.InsufficientDetail)" checked="@((Model.ComplianceFailedReasons ?? 0).HasFlag(ApprenticeshipQAProviderComplianceFailedReasons.InsufficientDetail))">
                                    Insufficient detail
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAProviderComplianceFailedReasons.NotAimedAtEmployer)" checked="@((Model.ComplianceFailedReasons ?? 0).HasFlag(ApprenticeshipQAProviderComplianceFailedReasons.NotAimedAtEmployer))">
                                    Not aimed at employer
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAProviderComplianceFailedReasons.Other)" checked="@((Model.ComplianceFailedReasons ?? 0).HasFlag(ApprenticeshipQAProviderComplianceFailedReasons.Other))">
                                    Other
                                </govuk-checkboxes-item>
                            </govuk-checkboxes>

                            <govuk-textarea disabled="@Model.IsReadOnly" asp-for="ComplianceComments">
                                <govuk-textarea-label>Comments</govuk-textarea-label>
                            </govuk-textarea>
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                </govuk-radios>

                <govuk-radios asp-for="StylePassed" id-prefix="StylePassed">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend>
                            <h2 class="govuk-heading-m">Style</h2>
                        </govuk-radios-fieldset-legend>
                    </govuk-radios-fieldset>
                    <govuk-radios-hint>
                        Provider information is quality assured against style guidance.
                    </govuk-radios-hint>
                    <govuk-radios-item disabled="@Model.IsReadOnly" value="@(true)">
                        Pass
                    </govuk-radios-item>
                    <govuk-radios-item disabled="@Model.IsReadOnly" value="@(false)">
                        Reject
                        <govuk-radios-item-conditional>
                            <govuk-checkboxes asp-for="StyleFailedReasons" id-prefix="StyleFailedReasons" class="govuk-checkboxes--small">
                                <govuk-checkboxes-fieldset>
                                    <govuk-checkboxes-fieldset-legend>
                                        <h1 class="govuk-fieldset__heading">Reasons for rejection</h1>
                                    </govuk-checkboxes-fieldset-legend>
                                </govuk-checkboxes-fieldset>
                                <govuk-checkboxes-hint>
                                    Select all that apply.
                                </govuk-checkboxes-hint>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAProviderStyleFailedReasons.SpecificApprenticeshipDetailsGiven)" checked="@((Model.StyleFailedReasons ?? 0).HasFlag(ApprenticeshipQAProviderStyleFailedReasons.SpecificApprenticeshipDetailsGiven))">
                                    Specific apprenticeship details given
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAProviderStyleFailedReasons.JobRolesIncluded)" checked="@((Model.StyleFailedReasons ?? 0).HasFlag(ApprenticeshipQAProviderStyleFailedReasons.JobRolesIncluded))">
                                    Job roles included
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAProviderStyleFailedReasons.TermStandardUsed)" checked="@((Model.StyleFailedReasons ?? 0).HasFlag(ApprenticeshipQAProviderStyleFailedReasons.TermStandardUsed))">
                                    Term 'standard' used
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAProviderStyleFailedReasons.TermFrameworkUsed)" checked="@((Model.StyleFailedReasons ?? 0).HasFlag(ApprenticeshipQAProviderStyleFailedReasons.TermFrameworkUsed))">
                                    Term 'framework' used
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAProviderStyleFailedReasons.TermLearnerOrStudentUsed)" checked="@((Model.StyleFailedReasons ?? 0).HasFlag(ApprenticeshipQAProviderStyleFailedReasons.TermLearnerOrStudentUsed))">
                                    Term 'learner' or 'student' used
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAProviderStyleFailedReasons.TermCourseUsed)" checked="@((Model.StyleFailedReasons ?? 0).HasFlag(ApprenticeshipQAProviderStyleFailedReasons.TermCourseUsed))">
                                    Term 'course' used
                                </govuk-checkboxes-item>
                                <govuk-checkboxes-item disabled="@Model.IsReadOnly" value="@(ApprenticeshipQAProviderStyleFailedReasons.Other)" checked="@((Model.StyleFailedReasons ?? 0).HasFlag(ApprenticeshipQAProviderStyleFailedReasons.Other))">
                                    Other
                                </govuk-checkboxes-item>
                            </govuk-checkboxes>

                            <govuk-textarea disabled="@Model.IsReadOnly" asp-for="StyleComments">
                                <govuk-textarea-label>Comments</govuk-textarea-label>
                            </govuk-textarea>
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                </govuk-radios>
            </div>
            <div>
                @if (Model.IsReadOnly)
                {
                    <govuk-back-link asp-controller="ApprenticeshipQA" asp-action="ProviderSelected" asp-route-providerId="@(Model.ProviderId)" />
                }
                else
                {
                    <govuk-button type="submit">Save and continue</govuk-button>
                }
            </div>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        <vc:provider-apprenticeship-qa-info-panel provider-id="@Model.ProviderId" />
    </div>
</div>