@model Dfc.CourseDirectory.WebV2.Features.ApprenticeshipQA.ProviderSelected.ViewModel
@{
    ViewBag.Title = "QA";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@Model.ProviderName</h1>
        <p class="govuk-!-margin-bottom-9">ESFA-funded apprenticeship providers are required to ensure the quality of their data and appropriateness of the content. The data is quality assured for compliance and style against guidance.</p>

        <h2 class="govuk-heading-m">
            Quality assurance status
        </h2>
        <div class="pttcd-apprenticeship-qa__provider-selected__summary govuk-!-margin-bottom-9">
            <div class="pttcd-apprenticeship-qa__provider-selected__summary__label">
                @Model.ApprenticeshipQAStatus.ToDisplayName()
            </div>
            <div class="pttcd-apprenticeship-qa__provider-selected__summary__status">
                <a asp-action="Status" asp-route-providerId="@Model.ProviderId" class="govuk-link">Change</a>
            </div>
        </div>

        <h2 class="govuk-heading-m">
            Provider
        </h2>
        <div class="pttcd-apprenticeship-qa__provider-selected__summary pttcd-apprenticeship-qa__provider-selected__provider govuk-!-margin-bottom-9">
            <div class="pttcd-apprenticeship-qa__provider-selected__summary__label">
                @if (Model.HaveSubmission)
                {
                    <a asp-action="ProviderAssessment" asp-route-providerId="@Model.ProviderId" class="govuk-link">
                        Provider information
                    </a>
                }
                else
                {
                    <text>Not submitted</text>
                }
            </div>
            <div class="pttcd-apprenticeship-qa__provider-selected__summary__status">
                @if (Model.ProviderAssessmentCompleted)
                {
                    <govuk-tag>Completed</govuk-tag>
                }
            </div>
        </div>

        <h2 class="govuk-heading-m">
            Apprenticeship training courses
        </h2>
        @if (Model.HaveSubmission)
        {
            @foreach (var app in Model.ApprenticeshipAssessments)
            {
                <div class="pttcd-apprenticeship-qa__provider-selected__summary pttcd-apprenticeship-qa__provider-selected__apprenticeship govuk-!-margin-bottom-9">
                    <div class="pttcd-apprenticeship-qa__provider-selected__summary__label">
                        <a asp-action="ApprenticeshipAssessment" asp-route-providerId="@Model.ProviderId" asp-route-apprenticeshipId="@app.ApprenticeshipId" class="govuk-link">
                            @app.ApprenticeshipTitle
                        </a>
                    </div>
                    <div class="pttcd-apprenticeship-qa__provider-selected__summary__status">
                        @if (app.AssessmentCompleted)
                        {
                            <govuk-tag>Completed</govuk-tag>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <div class="pttcd-apprenticeship-qa__provider-selected__summary pttcd-apprenticeship-qa-provider-selected-apprenticeship govuk-!-margin-bottom-9">
                <div class="pttcd-apprenticeship-qa__provider-selected__summary__label">
                    Not submitted
                </div>
                <div class="pttcd-apprenticeship-qa__provider-selected__summary__status">
                </div>
            </div>
        }

        @if (Model.SubmissionPassed != null)
        {
            <govuk-inset-text class="pttcd-inset-text--info">
                Overall the provider information and apprenticeship training course has <strong>@(Model.SubmissionPassed == true ? "PASSED" : "FAILED")</strong> quality assurance.
            </govuk-inset-text>
        }

        @if (Model.ApprenticeshipQAStatus != ApprenticeshipQAStatus.Passed && Model.ApprenticeshipQAStatus != ApprenticeshipQAStatus.Failed)
        {
            <form asp-action="Complete" asp-route-providerId="@Model.ProviderId">
                <govuk-button type="Submit" disabled="@(!Model.CanComplete)">Finish</govuk-button>
            </form>
        }
    </div>
    <div class="govuk-grid-column-one-third">
        <vc:provider-apprenticeship-qa-info-panel provider-id="@Model.ProviderId" />
    </div>
</div>