@model Dfc.CourseDirectory.WebV2.Features.ApprenticeshipQA.ProviderAssessment.ConfirmationViewModel
@{
    ViewBag.Title = "QA Provider Information";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="PostConfirmation" asp-route-providerId="@Model.ProviderId">
            <h1 class="govuk-heading-xl">Review</h1>
            <h2 class="govuk-heading-l">Provider information</h2>
            <h2 class="govuk-heading-m">An overview of the provider information for employers</h2>

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Compliance
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @(Model.CompliancePassed ? "Pass" : "Fail")
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-action visually-hidden-text="compliance"  asp-action="Get" asp-fragment="CompliancePassed" asp-route-providerId="@Model.ProviderId">
                        Change
                    </govuk-summary-list-row-action>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Style
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @(Model.StylePassed ? "Pass" : "Fail")
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-action visually-hidden-text="style" asp-action="Get" asp-fragment="StylePassed" asp-route-providerId="@Model.ProviderId">
                        Change
                    </govuk-summary-list-row-action>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <govuk-inset-text class="pttcd-inset-text--info" id="pttcd-apprenticeship-qa-provider-submission-confirmation-overall-status-message">
                The provider information has <strong>@(Model.Passed ? "PASSED" : "FAILED")</strong> quality assurance.
            </govuk-inset-text>

            <govuk-button type="submit">Confirm and continue</govuk-button>
        </form>
    </div>
</div>