@model Dfc.CourseDirectory.WebV2.Features.ApprenticeshipQA.ProviderAssessment.ConfirmationViewModel
@{
    ViewBag.Title = "QA Provider Information";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Review</h1>
        <h2 class="govuk-heading-l">Provider information</h2>
        <h2 class="govuk-heading-m">An overview of the provider information for employers</h2>

        @* TODO Use TagHelper *@
        <dl class="govuk-summary-list qa-check govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Compliance
                </dt>
                <dd class="govuk-summary-list__value" id="pttcd-apprenticeship-qa-provider-submission-confirmation-compliance-status">
                    @(Model.CompliancePassed ? "Pass" : "Fail")
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-action="ProviderAssessment" asp-route-providerId="@Model.ProviderId">
                        Change
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Style
                </dt>
                <dd class="govuk-summary-list__value" id="pttcd-apprenticeship-qa-provider-submission-confirmation-style-status">
                    @(Model.StylePassed ? "Pass" : "Fail")
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" asp-action="ProviderAssessment" asp-route-providerId="@Model.ProviderId">
                        Change
                    </a>
                </dd>
            </div>
        </dl>

        <govuk-inset-text class="pttcd-inset-text--info" id="pttcd-apprenticeship-qa-provider-submission-confirmation-overall-status-message">
            The provider information has <strong>@(Model.Passed ? "PASSED" : "FAILED")</strong> quality assurance.
        </govuk-inset-text>

        <govuk-button asp-action="ProviderSelected" asp-route-providerId="@Model.ProviderId">Confirm and continue</govuk-button>
    </div>
</div>