@model Dfc.CourseDirectory.WebV2.Features.ApprenticeshipQA.ProviderApprenticeshipQAInfoPanel.ViewModel

<aside class="pttcd-apprenticeship-qa-info-panel pttcd-apprenticeship-qa-info-panel--first" role="complementary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-6" id="pttcd-apprenticeship-qa-info-panel__provider-name">
        @Model.ProviderName
    </h3>
    <div class="govuk-!-margin-bottom-4" id="pttcd-apprenticeship-qa-info-panel__provider-ukprn">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            UKPRN
        </h3>
        <div class="govuk-list govuk-!-font-size-16">
            @Model.Ukprn
        </div>
    </div>
    @if (Model.AddressParts.Count > 0)
    {
        <div class="govuk-!-margin-bottom-4" id="pttcd-apprenticeship-qa-info-panel__provider-address">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                Address
            </h3>
            <div class="govuk-!-font-size-16">
                @foreach (var part in Model.AddressParts)
                {
                    @part<br />
                }
            </div>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.Website))
    {
        <div class="govuk-!-margin-bottom-4" id="pttcd-apprenticeship-qa-info-panel__provider-website">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                Web
            </h3>
            <div class="govuk-!-font-size-16">
                <a href="@Model.Website" class="govuk-link" rel="noreferrer" target="_blank">@Model.Website</a>
            </div>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.ContactName))
    {
        <div class="govuk-!-margin-bottom-4" id="pttcd-apprenticeship-qa-info-panel__provider-contact-name">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                Contact name
            </h3>
            <div class="govuk-!-font-size-16">
                @Model.ContactName
            </div>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.Email))
    {
        <div class="govuk-!-margin-bottom-4" id="pttcd-apprenticeship-qa-info-panel__provider-email">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                Email
            </h3>
            <div class="govuk-!-font-size-16">
                <a href="mailto:@Model.Email" class="govuk-link" >@Model.Email</a>
            </div>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.Telephone))
    {
        <div class="govuk-!-margin-bottom-4" id="pttcd-apprenticeship-qa-info-panel__provider-telephone">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                Telephone
            </h3>
            <div class="govuk-!-font-size-16">
                @Model.Telephone
            </div>
        </div>
    }
    <div class="govuk-!-margin-bottom-4" id="pttcd-apprenticeship-qa-info-panel__provider-last-signed-in">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            Last signed in
        </h3>
        <div class="govuk-!-font-size-16">
            @Model.LastSignedIn?.FullName
        </div>
    </div>
    <div class="govuk-!-margin-bottom-4" id="pttcd-apprenticeship-qa-info-panel__provider-last-signed-in-date">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            Date
        </h3>
        <div class="govuk-!-font-size-16">
            @Model.LastSignedInDate?.ToString("dd MMM yyyy")
        </div>
    </div>
</aside>

@if (Model.LastAssessedBy != null)
{
    <aside class="pttcd-apprenticeship-qa-info-panel govuk-!-margin-top-6" role="complementary">
        <div class="govuk-!-margin-bottom-4" id="pttcd-apprenticeship-qa-info-panel__provider-last-qa-by">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0" id="subsection-title">
                Quality assured by
            </h3>
            <div class="govuk-!-font-size-16">
                @Model.LastAssessedBy?.FullName
            </div>
        </div>
        <div class="govuk-!-margin-bottom-4" id="pttcd-apprenticeship-qa-info-panel__provider-last-qa-date">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                Date
            </h3>
            <div class="govuk-!-font-size-16">
                @Model.LastAssessedOn?.ToString("dd MMM yyyy")
            </div>
        </div>
    </aside>
}