@model Dfc.CourseDirectory.WebV2.Features.ApprenticeshipQA.Status.Command
@{
    ViewBag.Title = "Quality assurance status";
}

<govuk-error-summary>
    <govuk-error-summary-item asp-for="UnableToComplete" />
    <govuk-error-summary-item asp-for="UnableToCompleteReasons" />
    <govuk-error-summary-item asp-for="StandardName" />
    <govuk-error-summary-item asp-for="Comments" />
</govuk-error-summary>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="Status">
            <govuk-radios asp-for="UnableToComplete">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--xl">
                        Quality assurance status
                    </govuk-radios-fieldset-legend>
                </govuk-radios-fieldset>
                <govuk-radios-hint>
                    Edit the provider status.
                </govuk-radios-hint>
                <govuk-radios-item value="@(false)" id="UnableToComplete-false">
                    Able to complete
                </govuk-radios-item>
                <govuk-radios-item value="@(true)" id="UnableToComplete-true">
                    Unable to complete
                    <govuk-radios-item-conditional>
                        <govuk-checkboxes asp-for="UnableToCompleteReasons" class="govuk-checkboxes--small" id="UnableToCompleteReasons">
                            <govuk-checkboxes-hint>Select all options that are relevant to you.</govuk-checkboxes-hint>
                            <govuk-checkboxes-item id="@($"{Html.IdFor(m => m.UnableToCompleteReasons)}-{(int)ApprenticeshipQAUnableToCompleteReasons.ProviderDevelopingProvision}")" value="@(ApprenticeshipQAUnableToCompleteReasons.ProviderDevelopingProvision)" checked="@(Model.UnableToCompleteReasons.HasFlag(ApprenticeshipQAUnableToCompleteReasons.ProviderDevelopingProvision))">
                                Provider developing provision
                            </govuk-checkboxes-item>
                            <govuk-checkboxes-item id="@($"{Html.IdFor(m => m.UnableToCompleteReasons)}-{(int)ApprenticeshipQAUnableToCompleteReasons.ProviderHasWithdrawnApplication}")" value="@(ApprenticeshipQAUnableToCompleteReasons.ProviderHasWithdrawnApplication)" checked="@(Model.UnableToCompleteReasons.HasFlag(ApprenticeshipQAUnableToCompleteReasons.ProviderHasWithdrawnApplication))">
                                Provider has withdrawn application
                            </govuk-checkboxes-item>
                            <govuk-checkboxes-item id="@($"{Html.IdFor(m => m.UnableToCompleteReasons)}-{(int)ApprenticeshipQAUnableToCompleteReasons.ProviderHasAppliedToTheWrongRoute}")" value="@(ApprenticeshipQAUnableToCompleteReasons.ProviderHasAppliedToTheWrongRoute)" checked="@(Model.UnableToCompleteReasons.HasFlag(ApprenticeshipQAUnableToCompleteReasons.ProviderHasAppliedToTheWrongRoute))">
                                Provider has applied to the wrong route
                            </govuk-checkboxes-item>
                            <govuk-checkboxes-item id="@($"{Html.IdFor(m => m.UnableToCompleteReasons)}-{(int)ApprenticeshipQAUnableToCompleteReasons.StandardNotReady}")" value="@(ApprenticeshipQAUnableToCompleteReasons.StandardNotReady)" checked="@(Model.UnableToCompleteReasons.HasFlag(ApprenticeshipQAUnableToCompleteReasons.StandardNotReady))">
                                Standard not ready
                                <govuk-checkboxes-item-conditional>
                                    <govuk-textarea asp-for="StandardName">
                                        <govuk-textarea-label>Standard name</govuk-textarea-label>
                                        <govuk-textarea-hint>Give the name of the standard the provider would like to offer.</govuk-textarea-hint>
                                    </govuk-textarea>
                                </govuk-checkboxes-item-conditional>
                            </govuk-checkboxes-item>
                            <govuk-checkboxes-item id="@($"{Html.IdFor(m => m.UnableToCompleteReasons)}-{(int)ApprenticeshipQAUnableToCompleteReasons.Other}")" value="@(ApprenticeshipQAUnableToCompleteReasons.Other)" checked="@(Model.UnableToCompleteReasons.HasFlag(ApprenticeshipQAUnableToCompleteReasons.Other))">
                                Other
                                <govuk-checkboxes-item-conditional>
                                    <govuk-textarea asp-for="Comments">
                                        <govuk-textarea-label>Comments</govuk-textarea-label>
                                    </govuk-textarea>
                                </govuk-checkboxes-item-conditional>
                            </govuk-checkboxes-item>
                        </govuk-checkboxes>
                    </govuk-radios-item-conditional>
                </govuk-radios-item>
            </govuk-radios>

            <govuk-button type="submit">Save and continue</govuk-button>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        <vc:provider-apprenticeship-qa-info-panel provider-id="@Model.ProviderId" />
    </div>
</div>
