@using Dfc.CourseDirectory.Models.Models.Courses;
@using Dfc.CourseDirectory.Web.Helpers;
@model Dfc.CourseDirectory.Web.ViewComponents.Courses.DeliveryType.DeliveryTypeModel

<div class="govuk-form-group" id="Delivery">

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading govuk-heading-m">
                @Model.LabelText
            </h2>
        </legend>
        <div class="govuk-hint">
            @Model.HintText
        </div>
        <div class="govuk-radios govuk-radios" val-required-message="Select Delivery Mode" id="DeliveryModeRadioButtons">

            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.DeliveryMode, DeliveryMode.ClassroomBased, new { @class = "govuk-radios__input", id = DeliveryMode.ClassroomBased })
                <label class="govuk-label govuk-radios__label" for="@DeliveryMode.ClassroomBased">@WebHelper.GetEnumDescription(DeliveryMode.ClassroomBased)</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.DeliveryMode, DeliveryMode.Online, new { @class = "govuk-radios__input", id = DeliveryMode.Online })
                <label class="govuk-label govuk-radios__label" for="@DeliveryMode.Online">@WebHelper.GetEnumDescription(DeliveryMode.Online)</label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.DeliveryMode, DeliveryMode.WorkBased, new { @class = "govuk-radios__input", id = DeliveryMode.WorkBased })
                <label class="govuk-label govuk-radios__label" for="@DeliveryMode.WorkBased">@WebHelper.GetEnumDescription(DeliveryMode.WorkBased)</label>
            </div>

        </div>
    </fieldset>
</div>