
@using Dfc.CourseDirectory.Services.Interfaces.CourseService
@using Dfc.CourseDirectory.Services.Interfaces.VenueService
@using Dfc.CourseDirectory.Services.VenueService
@using Dfc.CourseDirectory.Web.Helpers
@using Dfc.CourseDirectory.Web.ViewComponents.Notification
@model IEnumerable<ProviderCoursesViewModel>
@inject IVenueService venueService
@inject ICourseService courseService


<span class="govuk-caption-xl">Your courses</span>
@{
    var level = Model.FirstOrDefault()?.CoursesForLevel?.FirstOrDefault()?.NotionalNVQLevelv2;
}
<h1 class="govuk-heading-xl"> Level @level</h1>

@if (Model.FirstOrDefault()?.CourseId != Guid.Empty)
{
    @await Component.InvokeAsync(nameof(Notification), new NotificationModel
{

    NotificationTitle = "Course edited",
    NotificationMessage = "<a id='courseeditlink' class='govuk-link' href=# data-courseid=" + Model.FirstOrDefault()?.CourseId + " data-courserunid = " + Model.FirstOrDefault()?.CourseRunId + "> You edited " + Model.FirstOrDefault()?.QualificationTitle + "</a>",
    ClassType = "info-summary"
});

}


<div id="Cd-course-list" class="govuk-body">

    @foreach (var x in Model)
    {

        foreach (var s in x.CoursesForLevel)
        {
            <details id="@s.id" class="govuk-details" data-courseid="@s.id">
                <summary class="govuk-details__summary">
                    <div class="govuk-details__summary-text">
                        @s.QualificationCourseTitle
                        <br />
                        <span style="font-size: 1.1875rem; font-weight: 400;margin-right: 20px">Lars/QAN: @s.LearnAimRef</span>
                        <span style="font-size: 1.1875rem; font-weight: 400;margin-right: 20px">Level: @s.NotionalNVQLevelv2</span>
                        <span style="font-size: 1.1875rem; font-weight: 400;margin-right: 20px">@s.AwardOrgCode</span>
                        <span style="font-size: 1.1875rem; font-weight: 400; margin-right: 20px">
                            <a class="govuk-link" asp-controller="EditCourse" asp-action="Index"
                               asp-route-courseId="@s.id">Edit course description</a>
                        </span>
                    </div>

                </summary>
                <div class="govuk-accordion" data-module="accordion" id="accordion-default">
                    <div class="govuk-details__text" style="padding-left: 20px; padding-top: 0;">
                        @foreach (var a in s.CourseRuns)
                        {
                            <div class="govuk-accordion__section" id="@a.id">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
                                            @a.CourseName
                                            <br />
                                            <span style="font-size: 1rem; font-weight: 400; margin-right: 15px">
                                                Course Id
                                                @{
                                                    if (!string.IsNullOrEmpty(a.ProviderCourseID))
                                                    {
                                                        <span>
                                                            @a.ProviderCourseID
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span>
                                                            --
                                                        </span>
                                                    }
                                                }

                                            </span>
                                            <span style="font-size: 1rem; font-weight: 400;margin-right: 15px">@a.StudyMode</span>
                                            <span style="font-size: 1rem; font-weight: 400;margin-right: 15px">@a.StartDate?.ToShortDateString()</span>
                                        </button><span class="govuk-accordion__icon" aria-hidden="true"></span>
                                    </h2>
                                </div>
                                <div>
                                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1" style="border-style: solid; border-width: 1px;margin-bottom: 10px;">

                                        <div class="cd-course--list" style="margin-bottom: 15px;">
                                            @{
                                                if (a.VenueId.HasValue)
                                                {
                                                    var venueName = await venueService.GetVenueByIdAsync(new GetVenueByIdCriteria(a.VenueId.ToString()));

                                                    if (venueName.HasValue)
                                                    {
                                                        <div class="">
                                                            <label class="govuk-label" for="sort" style="font-weight: 600">
                                                                Venue
                                                            </label>
                                                            <label>
                                                                @venueName.Value.VenueName
                                                            </label>

                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    if (a.Regions != null && a.DeliveryMode == Dfc.CourseDirectory.Models.Models.Courses.DeliveryMode.WorkBased)
                                                    {

                                                        var regionNames = new List<string>();

                                                        string allRegions = "";

                                                        {
                                                            foreach (var region in a.Regions)
                                                            {
                                                                var regionName = courseService.GetRegions().RegionItems.Where(r => r.Id == region).Select(n=>n.RegionName).SingleOrDefault();
                                                                regionNames.Add(regionName);
                                                            }
                                                        }
                                                        allRegions = @String.Join(", ", regionNames.Select(p => p).ToArray());

                                                        <div class="">
                                                            <label class="govuk-label" for="sort" style="font-weight: 600">
                                                                Regions
                                                            </label>
                                                            <label>
                                                                @allRegions
                                                            </label>

                                                        </div>
                                                    }
                                                }

                                            }
                                            <div>
                                                <div class="">
                                                    <label class="govuk-label" for="url" style="font-weight: 600; word-break: break-all;">
                                                        Url
                                                    </label>

                                                    @if (!string.IsNullOrEmpty(a.CourseURL))
                                                    {
                                                        <a class="govuk-link" href="@a.CourseURL" target="_blank">@a.CourseURL</a>
                                                    }
                                                    else
                                                    {
                                                        <label>
                                                            --
                                                        </label>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cd-course--list" style="border:none">
                                            <div class="">
                                                <label class="govuk-label" for="cost" style="font-weight: 600">
                                                    Cost
                                                </label>
                                                @if (a.Cost.HasValue)
                                                {
                                                    <label>
                                                        <span>£ </span><label asp-for="@a.Cost">@string.Format("{0:0.00}", a.Cost)</label>
                                                    </label>
                                                }
                                                else
                                                {
                                                    <label>
                                                        --
                                                    </label>
                                                }

                                            </div>
                                            <div class="">
                                                <label class="govuk-label" for="mode" style="font-weight: 600">
                                                    Mode
                                                </label>
                                                <label asp-for="@a.StudyMode">@WebHelper.GetEnumDescription(a.StudyMode)</label>
                                            </div>
                                            <div class="">
                                                <label class="govuk-label" for="duration" style="font-weight: 600">
                                                    Duration
                                                </label>
                                                <label asp-for="@a.DurationValue">@a.DurationValue </label>
                                                <label asp-for="@a.DurationUnit">
                                                    @{
                                                        if (a.DurationValue.HasValue && a.DurationValue.Value == 1)
                                                        {
                                                            @WebHelper.GetEnumDescription(a.DurationUnit).Remove(@WebHelper.GetEnumDescription(a.DurationUnit).Length - 1, 1)
                                                        }
                                                        else
                                                        {
                                                            @WebHelper.GetEnumDescription(a.DurationUnit)
                                                        }
                                                    }
                                                </label>
                                            </div>
                                            <div class="">
                                                <label class="govuk-label" for="cost" style="font-weight: 600">
                                                    ID
                                                </label>
                                                @{
                                                    if (!string.IsNullOrEmpty(a.ProviderCourseID))
                                                    {
                                                        <span>
                                                            @a.ProviderCourseID
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span>
                                                            --
                                                        </span>
                                                    }
                                                }

                                            </div>
                                            <div class="">
                                                <label class="govuk-label" for="delivery" style="font-weight: 600">
                                                    Delivery
                                                </label>
                                                <label asp-for="@a.DeliveryMode">@WebHelper.GetEnumDescription(a.DeliveryMode)</label>
                                            </div>
                                            <div class="">
                                                <label class="govuk-label" for="attendance" style="font-weight: 600">
                                                    Attendance
                                                </label>
                                                <label asp-for="@a.AttendancePattern">@WebHelper.GetEnumDescription(a.AttendancePattern)</label>
                                            </div>
                                            @{

                                                <div class="">
                                                    <label class="govuk-label" for="startdate" style="font-weight: 600">
                                                        Start date
                                                    </label>

                                                    @if (a.StartDate.HasValue)
                                                    {
                                                        <label>
                                                            @a.StartDate?.ToShortDateString()
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label>
                                                            --
                                                        </label>
                                                    }
                                                </div>
                                            }


                                        </div>
                                        <div class="cd-course--list" style="border-top-style: solid;padding-top: 20px;border-width: 1px">
                                            <a class="govuk-link" asp-controller="EditCourseRun" asp-action="Index"
                                               asp-route-courseId="@s.id"
                                               asp-route-courseRunId="@a.id">Edit course details</a>

                                            <a class="govuk-link" asp-controller="Courses" asp-action="CourseSection2"
                                               asp-route-learnAimRef="@s.LearnAimRef"
                                               asp-route-notionalNVQLevelv2="@s.NotionalNVQLevelv2"
                                               asp-route-awardOrgCode="@s.AwardOrgCode"
                                               asp-route-learnAimRefTitle="@s.QualificationCourseTitle"
                                               asp-route-learnAimRefTypeDesc="@s.QualificationType"
                                               asp-route-courseId="@s.id"
                                               asp-route-courseRunId="@a.id"
                                               asp-route-courseMode="@CourseMode.Copy">Copy this course</a>

                                            <a class="govuk-link" href="#">Archive this course</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </details>
        }
    }
</div>

<script>
    (function ($) {
        $(function () {


            $("#courseeditlink").click(function () {
                var courseId = $(this).attr('data-courseid');

                var courseRunId = $(this).attr('data-courserunid');

                $('#' + courseId).attr('open', '');

                if (courseRunId !== "00000000-0000-0000-0000-000000000000") {
                    var els1 = document.querySelectorAll("div[class^='govuk-accordion__section']");
                    for (var i = 0; i < els1.length; i++) {

                        els1[i].classList.remove('govuk-accordion__section--expanded');

                    }
                    $('#' + courseRunId).addClass('govuk-accordion__section--expanded');
                }

                $('html, body').animate({
                    scrollTop: $('#' + courseId).offset().top
                }, 'slow');
            });

            $(".govuk-details__summary").click(function () {

                var els1 = document.querySelectorAll("div[class^='govuk-accordion__section']");
                for (var i = 0; i < els1.length; i++) {

                    els1[i].classList.remove('govuk-accordion__section--expanded');

                }
            });

        });
    })(jQuery);
</script>





