
@using System.Globalization
@using Dfc.CourseDirectory.Models.Models.Courses
@using Dfc.CourseDirectory.Services.Interfaces.CourseService
@using Dfc.CourseDirectory.Services.Interfaces.VenueService
@using Dfc.CourseDirectory.Services.VenueService
@using Dfc.CourseDirectory.Web.Helpers
@using Dfc.CourseDirectory.Web.ViewComponents.Courses.DeliveryType
@using Dfc.CourseDirectory.Web.ViewComponents.Notification
@model IEnumerable<ProviderCoursesViewModel>
@inject IVenueService venueService
@inject ICourseService courseService


<span class="govuk-caption-xl">Your courses</span>
@{
    var level = Model.FirstOrDefault()?.CoursesForLevel?.FirstOrDefault()?.NotionalNVQLevelv2;
}
<h1 class="govuk-heading-xl"> Level @level</h1>

@if (Model.FirstOrDefault()?.CourseId != Guid.Empty)
{
    @await Component.InvokeAsync(nameof(Notification), new NotificationModel
{
    NotificationTitle = Model.FirstOrDefault()?.NotificationTitle,
    NotificationMessage = @Html.Raw(Model.FirstOrDefault()?.NotificationMessage).ToString(),
    ClassType = "info-summary"
});

}


<div id="Cd-course-list" class="">

    @foreach (var x in Model)
    {

        foreach (var s in x.CoursesForLevel)
        {
            <details id="@s.id" class="govuk-details" data-courseid="@s.id">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        @s.QualificationCourseTitle
                        <br />
                        <span style="font-size: 1.1875rem; font-weight: 400;margin-right: 20px">Lars/QAN: @s.LearnAimRef</span>
                        <span style="font-size: 1.1875rem; font-weight: 400;margin-right: 20px">Level: @s.NotionalNVQLevelv2</span>
                        <span style="font-size: 1.1875rem; font-weight: 400;margin-right: 20px">@s.AwardOrgCode</span>
                        <span style="font-size: 1.1875rem; font-weight: 400; margin-right: 20px">
                            <a class="govuk-link" asp-controller="EditCourse" asp-action="Index"
                               asp-route-courseId="@s.id">Edit course description</a>
                        </span>
                    </span>

                </summary>

                <div class="govuk-details__text" style="padding-left: 20px; padding-top: 0;">
                    <div class="govuk-accordion" data-module="accordion" id="accordion-default">
                        @foreach (var a in s.CourseRuns.OrderBy(l => l.CourseName))
                        {

                            var accordionId = "accordion-default-content-" + a.id;

                            <div class="govuk-accordion__section" id="@a.id">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <button type="button" id="accordion-default-heading-1" aria-controls="@accordionId" class="govuk-accordion__section-button" aria-expanded="false">
                                            @a.CourseName
                                            <br />
                                            <span style="font-size: 1rem; font-weight: 400; margin-right: 15px">
                                                @{
                                                    if (!string.IsNullOrEmpty(a.ProviderCourseID))
                                                    {
                                                        <span>
                                                            @a.ProviderCourseID
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span>

                                                        </span>
                                                    }
                                                }

                                            </span>






                                            @{
                                                switch (a.DeliveryMode)
                                                {
                                                    case DeliveryMode.ClassroomBased:
                                                        {
                                                            if (a.VenueId.HasValue)
                                                            {
                                                                var venueName = await venueService.GetVenueByIdAsync(new GetVenueByIdCriteria(a.VenueId.ToString()));

                                                                if (venueName.HasValue)
                                                                {
                                                                    <span style="font-size: 1rem; font-weight: 400; margin-right: 15px">

                                                                        @venueName.Value.VenueName
                                                                    </span>

                                                                }
                                                                else
                                                                {
                                                                    <span>

                                                                    </span>
                                                                }
                                                            }
                                                            break;
                                                        }
                                                    case DeliveryMode.WorkBased:
                                                        {
                                                            if (a.Regions != null)
                                                            {

                                                                var regionNames = new List<string>();

                                                                string allRegions = "";

                                                                {
                                                                    foreach (var region in a.Regions)
                                                                    {
                                                                        var regionName = courseService.GetRegions().RegionItems.Where(r => r.Id == region).Select(n => n.RegionName).SingleOrDefault();
                                                                        regionNames.Add(regionName);
                                                                    }
                                                                }
                                                                allRegions = @String.Join(", ", regionNames.Select(p => p).ToArray());


                                                      
                                                                <span style="font-size: 1rem; font-weight: 400; margin-right: 15px">

                                                                        @allRegions
                                                                    </span>

                                                               
                                                            }
                                                            break;
                                                        }
                                                }
                                            }


                                            <span style="font-size: 1rem; font-weight: 400; margin-right: 15px">
                                                @if (a.StudyMode != StudyMode.Undefined)
                                                {
                                                    @WebHelper.GetEnumDescription(a.StudyMode)
                                                }

                                            </span>
                                            <span style="font-size: 1rem; font-weight: 400; margin-right: 15px">
                                                @if (a.FlexibleStartDate)
                                                {
                                                    <span>
                                                        Flexible Start Date
                                                    </span>

                                                }
                                                else
                                                {
                                                    @a.StartDate?.ToString("dd/MM/yyy", CultureInfo.InvariantCulture)
                                                }

                                            </span>
                                        </button><span class="govuk-accordion__icon" aria-hidden="true"></span>
                                    </h2>
                                </div>
                                <div>

                                    <div id="@accordionId" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1" style="border-style: solid; border-width: 1px; margin-bottom: 10px;">

                                        <div class="cd-course--list" style="margin-bottom: 15px; border-bottom: none">
                                            @{
                                                switch (a.DeliveryMode)
                                                {
                                                    case DeliveryMode.ClassroomBased:
                                                        {
                                                            if (a.VenueId.HasValue)
                                                            {
                                                                var venueName = await venueService.GetVenueByIdAsync(new GetVenueByIdCriteria(a.VenueId.ToString()));

                                                                if (venueName.HasValue)
                                                                {
                                                                    <div style="padding-bottom: 1em">
                                                                        <label class="govuk-label" for="sort" style="font-weight: 600">
                                                                            Venue
                                                                        </label>
                                                                        <label>
                                                                            @venueName.Value.VenueName
                                                                        </label>

                                                                    </div>
                                                                }
                                                            }
                                                            break;
                                                        }
                                                    case DeliveryMode.WorkBased:
                                                        {
                                                            if (a.Regions != null)
                                                            {

                                                                var regionNames = new List<string>();

                                                                string allRegions = "";

                                                                {
                                                                    foreach (var region in a.Regions)
                                                                    {
                                                                        var regionName = courseService.GetRegions().RegionItems.Where(r => r.Id == region).Select(n => n.RegionName).SingleOrDefault();
                                                                        regionNames.Add(regionName);
                                                                    }
                                                                }
                                                                allRegions = @String.Join(", ", regionNames.Select(p => p).ToArray());

                                                                <div style="padding-bottom: 1em">
                                                                    <label class="govuk-label" for="sort" style="font-weight: 600">
                                                                        Regions
                                                                    </label>
                                                                    <label>
                                                                        @allRegions
                                                                    </label>

                                                                </div>
                                                            }
                                                            break;
                                                        }
                                                }
                                            }
                                            <div>
                                                <div style="padding-bottom: 1em">
                                                    <label class="govuk-label" for="url" style="font-weight: 600">
                                                        Url
                                                    </label>

                                                    @if (!string.IsNullOrEmpty(a.CourseURL))
                                                    {
                                                        <a class="govuk-link" href=@a.CourseURL target="_blank" style="word-break: break-all;">@a.CourseURL</a>
                                                    }
                                                    else
                                                    {
                                                        <label>
                                                            &nbsp;
                                                        </label>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cd-course--list" style="border: none; margin-bottom: 15px;">
                                            <div style="padding-bottom: 1em">
                                                <label class="govuk-label" for="cost" style="font-weight: 600">
                                                    Cost
                                                </label>
                                                @if (a.Cost.HasValue)
                                                {
                                                    <label>
                                                        <span>£ </span><label asp-for="@a.Cost">@string.Format("{0:0.00}", a.Cost)</label>
                                                    </label>
                                                }
                                                else
                                                {
                                                    <label>
                                                        &nbsp;
                                                    </label>
                                                }

                                            </div>

                                            @if (a.DeliveryMode == DeliveryMode.ClassroomBased)
                                            {
                                                <div style="padding-bottom: 1em">
                                                    <label class="govuk-label" for="mode" style="font-weight: 600">
                                                        Mode
                                                    </label>
                                                    @if (a.StudyMode != StudyMode.Undefined)
                                                    {
                                                        <label asp-for="@a.StudyMode">@WebHelper.GetEnumDescription(a.StudyMode)</label>
                                                    }
                                                    else
                                                    {
                                                        <label>
                                                            &nbsp;
                                                        </label>
                                                    }

                                                </div>
                                            }
                                            <div style="padding-bottom: 1em">
                                                <label class="govuk-label" for="duration" style="font-weight: 600">
                                                    Duration
                                                </label>
                                                @if (a.DurationValue.HasValue)
                                                {
                                                    <label asp-for="@a.DurationValue">@a.DurationValue </label>
                                                    if (a.DurationUnit != DurationUnit.Undefined)
                                                    {
                                                        <label asp-for="@a.DurationUnit">@WebHelper.GetEnumDescription(a.DurationUnit)</label>
                                                    }
                                                    else
                                                    {
                                                        <label>
                                                            &nbsp;
                                                        </label>
                                                    }
                                                }
                                                else
                                                {
                                                    <label>
                                                        &nbsp;
                                                    </label>
                                                }



                                            </div>
                                            <div style="padding-bottom: 1em">
                                                <label class="govuk-label" for="cost" style="font-weight: 600">
                                                    ID
                                                </label>
                                                @{
                                                    if (!string.IsNullOrEmpty(a.ProviderCourseID))
                                                    {
                                                        <span>
                                                            @a.ProviderCourseID
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span>
                                                            &nbsp;
                                                        </span>
                                                    }
                                                }

                                            </div>


                                            <div style="padding-bottom: 1em">
                                                <label class="govuk-label" for="delivery" style="font-weight: 600">
                                                    Delivery
                                                </label>
                                                @if (a.DeliveryMode != DeliveryMode.Undefined)
                                                {
                                                    <label asp-for="@a.DeliveryMode">@WebHelper.GetEnumDescription(a.DeliveryMode)</label>
                                                }
                                                else
                                                {
                                                    <label>
                                                        &nbsp;
                                                    </label>
                                                }
                                            </div>

                                            @if (a.DeliveryMode == DeliveryMode.ClassroomBased)
                                            {
                                                <div style="padding-bottom: 1em">
                                                    <label class="govuk-label" for="attendance" style="font-weight: 600">
                                                        Attendance
                                                    </label>
                                                    @if (a.AttendancePattern != AttendancePattern.Undefined)
                                                    {
                                                        <label asp-for="@a.AttendancePattern">@WebHelper.GetEnumDescription(a.AttendancePattern)</label>
                                                    }
                                                    else
                                                    {
                                                        <label>
                                                            &nbsp;
                                                        </label>
                                                    }
                                                </div>
                                            }
                                            @{

                                                <div style="padding-bottom: 1em">
                                                    <label class="govuk-label" for="startdate" style="font-weight: 600">
                                                        Start date
                                                    </label>
                                                    @if (a.FlexibleStartDate)
                                                    {
                                                        <label>
                                                            Flexible Start Date
                                                        </label>

                                                    }
                                                    else
                                                    {
                                                        if (a.StartDate.HasValue)
                                                        {
                                                            <label>
                                                                @a.StartDate?.ToString("dd/MM/yyy", CultureInfo.InvariantCulture)
                                                            </label>
                                                        }
                                                        else
                                                        {
                                                            <label>
                                                                &nbsp;
                                                            </label>
                                                        }
                                                    }
                                                </div>
                                            }


                                        </div>
                                        <div class="cd-course--list" style="border-top-style: solid; padding-top: 20px; border-width: 1px">
                                            <a class="govuk-link" asp-controller="EditCourseRun" asp-action="Index"
                                               asp-route-courseId="@s.id"
                                               asp-route-courseRunId="@a.id">Edit course details</a>

                                            <a class="govuk-link" asp-controller="CopyCourseRun" asp-action="Index"
                                               asp-route-courseId="@s.id"
                                               asp-route-courseRunId="@a.id">Copy this course</a>

                                            <a class="govuk-link" href="#">Archive this course</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </details>
        }
    }
</div>

<script>
    (function ($) {
        $(function () {


            $("#courseeditlink").click(function () {
                var courseId = $(this).attr('data-courseid');

                var courseRunId = $(this).attr('data-courserunid');

                $('#' + courseId).attr('open', '');

                if (courseRunId !== "00000000-0000-0000-0000-000000000000") {

                    var closeall = document.querySelectorAll("div[class^='govuk-accordion__controls']");
                    for (var i = 0; i < closeall.length; i++) {

                        closeall[i].remove();

                    }

                    var els1 = document.querySelectorAll("div[class^='govuk-accordion__section']");
                    for (var i = 0; i < els1.length; i++) {

                        els1[i].classList.remove('govuk-accordion__section--expanded');

                    }
                    $('#' + courseRunId).addClass('govuk-accordion__section--expanded');
                }

                $('html, body').animate({
                    scrollTop: $('#' + courseId).offset().top
                }, 'slow');
            });

            $(".govuk-accordion__section").click(function (e) {
                var el = $(this);
                var elOffset = el.offset().top;
                var elHeight = el.height();
                var windowHeight = $(window).height();
                var offset;

                if (elHeight < windowHeight) {
                    offset = elOffset - ((windowHeight / 2) - (elHeight / 2));
                }
                else {
                    offset = elOffset;
                }
                var speed = 700;
                $('html, body').animate({ scrollTop: offset }, speed);
            });

            $(".govuk-details__summary").click(function () {

                var closeall = document.querySelectorAll("div[class^='govuk-accordion__controls']");
                for (var i = 0; i < closeall.length; i++) {

                    closeall[i].remove();

                }


            });

        });
    })(jQuery);
</script>





