@using Dfc.CourseDirectory.Services.Enums
@using Dfc.CourseDirectory.Web.ViewComponents.Notification
@{
    ViewData["Title"] = "Your published courses"; 
    Layout = "_Layout_Your_Courses";
}
@model Dfc.CourseDirectory.Web.ViewModels.YourCourses.YourCoursesViewModel
@{
    var hasCourses = Model.Courses != null && Model.Courses.Any();

    if (!hasCourses)
    {
        <div class="govuk-body">
            <main id="Cd-course-list" class="govuk-main-wrapper">
                <span class="govuk-caption-l">Course directory</span>
                <h1 class="govuk-heading-l">Your published courses</h1>
                <p class="govuk-body-l">
                    You have no courses listed on the course directory.
                </p>
                <h3 class="govukbody govuk-heading-m">What next?</h3>

                <p>
                    <span class="govuk-caption-xl">You can</span>
                </p>

                <ul>
                    <li>
                        <p>
                            <a href="~/RegulatedQualification" class="govuk-link">publish a course </a>to the course directory
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="~/BulkUpload" class="govuk-link">publish all your courses </a> with a file upload
                        </p>
                    </li>
                    @if (Model.PendingCoursesCount.HasValue && Model.PendingCoursesCount.Value > 0)
                    {
                        <li>
                            <p>
                                <a href="~/Migration" class="govuk-link">or add information to @Model.PendingCoursesCount of your courses </a>that can’t be published until they are fixed
                            </p>
                        </li>
                    }
                </ul>










            </main>
        </div>
    }
    else
    {

        <div class="govuk-body">
            <main id="Cd-course-list" class="govuk-main-wrapper">
                <span class="govuk-caption-xl">Course directory</span>


                @if (!string.IsNullOrWhiteSpace(Model.NotificationTitle))
                {
                    @await Component.InvokeAsync(nameof(Notification), new NotificationModel
                    {
                        NotificationTitle = Model.NotificationTitle,
                        NotificationMessage = Model.NotificationMessage,
                        ClassType = "info-summary"
                    })
                }
                <h1 class="govuk-heading-l">Your published courses</h1>
                <p class="govuk-body-l">These courses are listed on the course directory.</p>
                <div class="govuk-grid-row govuk-!-margin-top-9 ">
                    <div class="cd-grid-coloumn-20 govuk-body">
                        <h3 class="govukbody govuk-heading-m">Levels</h3>

                        <ul class="cd-course-list-level-filter">

                            @foreach (var filter in Model.LevelFilters.OrderBy(x => x.Value))
                            {
                                if (filter.IsSelected)
                                {
                                    <li>
                                        <a class="cd__your-courses__filters-list__link cd__your-courses__filters-list__link--selected filter"
                                           asp-controller="Provider"
                                           asp-action="Courses"
                                           asp-route-level="@filter.Value">@filter.Name (@filter.Facet)</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="cd__your-courses__filters-list__link"
                                           asp-controller="Provider"
                                           asp-action="Courses"
                                           asp-route-level="@filter.Value">@filter.Name (@filter.Facet)</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>

                    <div class="cd-grid-coloumn-80 govuk-!-margin-top-9">

                        <div class="govuk-accordion" data-module="accordion" id="accordion-default">
                            @foreach (var course in Model.Courses.OrderBy(x => x.QualificationTitle))
                            {

                                @*<div class="govuk-accordion" data-module="accordion" id="accordion-@course.Id">*@

                                <div class="govuk-accordion__section" id="@course.Id">
                                    <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading">
                                            <span class="govuk-accordion__section-button" id="accordion-default-heading-@course.Id" aria-controls="accordion-default-content-@course.Id">
                                                @course.QualificationTitle (@course.Facet)
                                            </span>


                                        </h2>

                                    </div>
                                    @if (!string.IsNullOrEmpty(course.LearnAimRef))
                                    {
                                        <span>LARS/QAN: @course.LearnAimRef</span>
                                    }
                                    @if (!string.IsNullOrEmpty(course.NotionalNVQLevelv2))
                                    {
                                        <span> Level @course.NotionalNVQLevelv2, </span>
                                    }
                                    @if (!string.IsNullOrEmpty(course.AwardOrg))
                                    {
                                        <span> @course.AwardOrg </span>
                                    }

                                    <span>
                                        <a class="govuk-link"
                                           asp-controller="EditCourse"
                                           asp-action="Index"
                                           asp-route-courseId="@course.Id"
                                           asp-route-learnAimRef="@course.LearnAimRef"
                                           asp-route-notionalNVQLevelv2="course.NotionalNVQLevelv2"
                                           asp-route-awardOrgCode="@course.AwardOrg"
                                           asp-route-learnAimRefTitle="@course.QualificationTitle"
                                           asp-route-learnAimRefTypeDesc="@course.QualificationType"
                                           asp-route-mode="@PublishMode.Undefined">Edit this qualification</a>
                                    </span>
                                    <div id="accordion-default-content-@course.Id" class="govuk-accordion__section-content" aria-labelledby="">
                                        @foreach (var courseRun in course.CourseRuns.OrderBy(x => x.CourseName))
                                        {


                                            <div class="courserun" id="@courseRun.Id">
                                                @if (!string.IsNullOrEmpty(courseRun.CourseName))
                                                {
                                                    <div class="courserun__row1">
                                                        <span class="coursename">@courseRun.CourseName</span>
                                                    </div>
                                                }
                                                @if (courseRun.DeliveryMode == "Classroom based")
                                                {
                                                    if (!string.IsNullOrEmpty(courseRun.Venue))
                                                    {
                                                        <div class="courserun__row2">
                                                            <span class="">@courseRun.Venue</span>
                                                        </div>
                                                    }
                                                }
                                                @if (courseRun.DeliveryMode == "Work based")
                                                {
                                                    if (!string.IsNullOrEmpty(courseRun.Region))
                                                    {
                                                        <div class="courserun__row2">
                                                            <span class="">@courseRun.Region</span>
                                                        </div>
                                                    }
                                                }
                                                <div class="courserun__row3">
                                                    @if (!string.IsNullOrEmpty(courseRun.CourseId))
                                                    {
                                                        <span>@courseRun.CourseId</span>
                                                    }
                                                    @if (courseRun.DeliveryMode == "Classroom based")
                                                    {
                                                        if (!string.IsNullOrEmpty(courseRun.AttendancePattern))
                                                        {
                                                            <span id="attendance">@courseRun.AttendancePattern</span>
                                                        }
                                                    }
                                                    @if (!string.IsNullOrEmpty(courseRun.DeliveryMode))
                                                    {
                                                        <span id="deliverymode">@courseRun.DeliveryMode</span>
                                                    }
                                                    @if (courseRun.DeliveryMode == "Classroom based")
                                                    {
                                                        @if (!string.IsNullOrEmpty(courseRun.StudyMode))
                                                        {
                                                            <span id="studymode">@courseRun.StudyMode</span>
                                                        }
                                                    }
                                                    @if (!string.IsNullOrEmpty(courseRun.StartDate))
                                                    {
                                                        <span>@courseRun.StartDate</span>
                                                    }
                                                </div>
                                                <div class="courserun__row4">
                                                    @*<a class="govuk-link" asp-controller="Courses" asp-action="Summaryedit">Edit</a>
                                            <a href="#" class="govuk-link">Duplicate</a>
                                            <a href="#" class="govuk-link">Delete</a>*@

                                                    <a class="govuk-link" style="padding-right:1em"
                                                       asp-controller="EditCourseRun"
                                                       asp-action="Index"
                                                       asp-route-learnAimRef="@course.LearnAimRef"
                                                       asp-route-notionalNVQLevelv2="@course.NotionalNVQLevelv2"
                                                       asp-route-awardOrgCode="@course.AwardOrg"
                                                       asp-route-learnAimRefTitle="@course.QualificationTitle"
                                                       asp-route-learnAimRefTypeDesc="@course.QualificationType"
                                                       asp-route-courseId="@course.Id"
                                                       asp-route-courseRunId="@courseRun.Id"
                                                       asp-route-mode="@PublishMode.Undefined">Edit</a>

                                                    <a class="govuk-link" style="padding-right:1em"
                                                       asp-controller="CopyCourseRun"
                                                       asp-action="Index"
                                                       asp-route-learnAimRef="@course.LearnAimRef"
                                                       asp-route-notionalNVQLevelv2="course.NotionalNVQLevelv2"
                                                       asp-route-awardOrgCode="@course.AwardOrg"
                                                       asp-route-learnAimRefTitle="@course.QualificationTitle"
                                                       asp-route-learnAimRefTypeDesc="@course.QualificationType"
                                                       asp-route-courseId="@course.Id"
                                                       asp-route-courseRunId="@courseRun.Id"
                                                       asp-route-mode="@PublishMode.Undefined">Copy</a>

                                                    <a href="#" class="govuk-link archive" id="archive-@courseRun.Id" data-course-run-id="@courseRun.Id" style="padding-right:1em">Archive</a>

                                                    <a id="course-confirm-archive-@courseRun.Id" class="govuk-button" asp-controller="Courses" asp-action="Archive"
                                                       asp-route-courseId="@course.Id"
                                                       asp-route-courseRunId="@courseRun.Id"
                                                       asp-route-level="@course.NotionalNVQLevelv2"
                                                       asp-route-qualificationType="@course.QualificationType"
                                                       style="display: none;padding-right:1em">Confirm archive</a>

                                                    <a href="#" class="govuk-link cancel-archive" id="course-cancel-archive-@courseRun.Id" data-course-run-id="@courseRun.Id" style="display: none">Cancel</a>

                                                </div>
                                            </div>



                                        }

                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>

            </main>
        </div>
    }
}
<script>
    (function ($) {
        $(function () {

            $('a.filter:first-child').attr("tabIndex", 5);

            var $archiveButton = $(".archive");

            var $cancelArchiveButton = $(".cancel-archive");

            var $apprenticeshipUpdatedlink = $("#apprenticeshiplink");


            $cancelArchiveButton.on("click",
                function (event) {
                    event.preventDefault();
                    {
                        var courseRunId = $(this).attr("data-course-run-id");

                        var archiveOption = $("#archive-" + courseRunId);
                        archiveOption.show();

                        var confirmArchive = $("#course-confirm-archive-" + courseRunId);
                        confirmArchive.hide();

                        var archiveCancelDelete = $("#course-cancel-archive-" + courseRunId);
                        archiveCancelDelete.hide();

                    }
                });

          


            $archiveButton.on("click",
                function (event) {
                    event.preventDefault();

                    $('.govuk-button').hide();

                    $('.cancel-archive').hide();

                    $('.archive').show();

                    var courseRunId = $(this).attr("data-course-run-id");

                    var archiveOption = $("#archive-" + courseRunId);
                    archiveOption.hide();

                    var confirmArchive = $("#course-confirm-archive-" + courseRunId);
                    confirmArchive.show();

                    var archiveCancelDelete = $("#course-cancel-archive-" + courseRunId);
                    archiveCancelDelete.show();

                });

            $courseeditlink = $("#courseeditlink");
            if ($courseeditlink.length) {
                $courseeditlink.on("click", function (event) {
                    event.preventDefault();
                    var courseId = $(this).attr('data-courseid');
                    var courseRunId = $(this).attr('data-courserunid');
                    var $courseId = $("#" + courseId);
                    var $courseRunId = $("#" + courseRunId);

                    if (!$courseId.hasClass("govuk-accordion__section--expanded")) {
                        $courseId.addClass("govuk-accordion__section--expanded");
                    }

                    if (courseId !== "" || courseId !== undefined) {
                        $("html,body").animate({
                            scrollTop: $courseId.offset().top
                        }, "slow");
                    }

                    if (courseRunId !== "" || courseRunId !== undefined) {
                        $("html,body").animate({
                            scrollTop: $courseRunId.offset().top
                        }, "slow");
                    }


                });
            }
        });
    })(jQuery);
</script>
