@using Dfc.CourseDirectory.Models.Enums
@using Dfc.CourseDirectory.Models.Models.Courses
@using Dfc.CourseDirectory.Web.Helpers
@using System.ComponentModel.DataAnnotations
@model Dfc.CourseDirectory.Web.ViewModels.ProviderDetailsViewModel
@{
    Layout = "_Layout_Your_Courses";
}

<a asp-controller="" asp-action="" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Course Directory</span>
            <h1 class="govuk-heading-xl">@Model.ProviderName</h1>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Course directory status</th>

                        <td class="govuk-table__cell">@Model.Status</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">UKPRN</th>

                        <td class="govuk-table__cell">@Model.UKPRN</td>
                        <td class="govuk-table__cell"></td>

                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Name registered with UKRLP</th>

                        <td class="govuk-table__cell">@Model.LegalName</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Trading name</th>

                        <td class="govuk-table__cell">@Model.TradingName</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Your alias</th>
                        <td class="govuk-table__cell">@Model.Alias</td>
                        <td class="govuk-table__cell">
                            @if (string.IsNullOrEmpty(Model.Alias))
                            {
                                <a class="govuk-link" style="padding-right:1em"
                                   asp-controller="Provider"
                                   asp-action="AddOrEditDetails"
                                   >Add</a>
                            }
                            else
                            {
                                <a class="govuk-link" style="padding-right:1em"
                                   asp-controller="Provider"
                                   asp-action="AddOrEditDetails"
                                  >Edit</a>
                            }

                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Brief overview of your organisation for employers</th>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">
                            @if (string.IsNullOrEmpty(Model.BriefOverview))
                            {
                                <a class="govuk-link" style="padding-right:1em"
                                   asp-controller="Provider"
                                   asp-action="AddOrEditDetails"
                                  >Add</a>
                            }
                            else
                            {
                                <a class="govuk-link" style="padding-right:1em"
                                   asp-controller="Provider"
                                   asp-action="AddOrEditDetails"
                                  >Edit</a>
                            }
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td colspan="6" class="govuk-table__cell" scope="row">@Html.Raw(Model.BriefOverview)</td>
                        
                    </tr>
                </tbody>
            </table>


        </div>

        <div class="govuk-grid-column-one-third govuk-related-items">
            <h3 class="govuk-heading-m">Contact details</h3>


            <h3 class="govuk-heading-m m20">Address</h3>
            <p>
                @Model.AddressLine1
               
            </p>
            <p>
               
                @Model.AddressLine2
               
            </p>
            <p>
              
                @Model.PostCode
            </p>


            <h3 class="govuk-heading-m m20">Web</h3>
            <p>
                @Model.Web
            </p>

            <h3 class="govuk-heading-m m20">Email</h3>
            <p>
                @Model.Email
            </p>
            <h3 class="govuk-heading-m m20">Telephone</h3>
            <p>
                @Model.Telephone
            </p>

        </div>
    </div>

</main>

<script>
    (function ($) {
        $(function () {
            


          

        });
    })(jQuery);
</script>
