@using Dfc.CourseDirectory.Web.Helpers
@using Dfc.CourseDirectory.Models.Models.Providers
@using Microsoft.AspNetCore.Authorization
@model Dfc.CourseDirectory.Web.ViewModels.ProviderDetailsViewModel
@{
    ViewData["Title"] = Model.ProviderName ?? "Provider";
    Layout = "_Layout_Your_Courses";
}

@inject IAuthorizationService Authorization

@{
    var adminLogin = await Authorization.AuthorizeAsync(User, "Admin");
    var elevated = await Authorization.AuthorizeAsync(User, "ElevatedUserRole");
    var apprenticeshipUser = await Authorization.AuthorizeAsync(User, "Apprenticeship");

    var providerUser = await Authorization.AuthorizeAsync(User, "Provider");
}




<div class="govuk-grid-row" x-ms-format-detection="none">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Course Directory</span>
        <h1 class="govuk-heading-l">@Model.ProviderName</h1>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">Course directory status</td>
                    <td class="govuk-table__cell">
                        @if (string.IsNullOrEmpty(Model.Status))
                        {
                            <span class="govuk-visually-hidden">Data Unavailable</span>
                        }
                        else
                        {
                            @Model.Status
                        }
                    </td>
                    <td class="govuk-table__cell"></td>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Course directory name</th>
                    <td class="govuk-table__cell">
                        @if (string.IsNullOrEmpty(Model.ProviderName))
                        {
                            <span class="govuk-visually-hidden">Data Unavailable</span>
                        }
                        else
                        {
                            @Model.ProviderName
                        }
                    </td>
                    <td class="govuk-table__cell">
                        @if (adminLogin.Succeeded)
                        {
                            <a class="govuk-link" style="padding-right: 1em"
                               asp-controller="Providers" append-provider-context
                               asp-action="EditProviderInfo">Edit</a>

                        }
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">UKPRN</td>
                    <td class="govuk-table__cell">

                        @if (string.IsNullOrEmpty(Model.UKPRN))
                        {
                            <span class="govuk-visually-hidden">Data Unavailable</span>
                        }
                        else
                        {
                            @Model.UKPRN
                        }
                    </td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">Legal name</td>
                    <td class="govuk-table__cell">

                        @if (string.IsNullOrEmpty(Model.LegalName))
                        {
                            <span class="govuk-visually-hidden">Data Unavailable</span>
                        }
                        else
                        {
                            @Model.LegalName
                        }
                    </td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">Trading name</td>
                    <td class="govuk-table__cell">

                        @if (string.IsNullOrEmpty(Model.TradingName))
                        {
                            <span class="govuk-visually-hidden">Data Unavailable</span>
                        }
                        else
                        {
                            @Model.TradingName
                        }
                    </td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">Your alias</td>
                    <td class="govuk-table__cell">

                        @if (string.IsNullOrEmpty(Model.Alias))
                        {
                            <span class="govuk-visually-hidden">Data Unavailable</span>
                        }
                        else
                        {
                            @Model.Alias
                        }
                    </td>
                    <td class="govuk-table__cell">
                        @if (!providerUser.Succeeded)
                        {
                            @if (string.IsNullOrEmpty(Model.Alias))
                            {
                                <a class="govuk-link" style="padding-right: 1em"
                                   asp-controller="Providers" append-provider-context
                                   asp-action="EditProviderInfo">Add</a>
                            }
                            else
                            {
                                <a class="govuk-link" style="padding-right: 1em"
                                   asp-controller="Providers" append-provider-context
                                   asp-action="EditProviderInfo">Edit</a>
                            }
                        }
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">Provider Type</td>
                    <td class="govuk-table__cell">

                        @if (Model.ProviderType ==  ProviderType.Undefined)
                        {
                            <span class="govuk-visually-hidden">Data Unavailable</span>
                        }
                        else
                        {
                            @WebHelper.GetEnumDescription(Model.ProviderType)
                        }
                    </td>
                    <td class="govuk-table__cell">
                        @if (adminLogin.Succeeded)
                        {
                            @if (Model.ProviderType == ProviderType.Undefined)
                            {
                                <a class="govuk-link" style="padding-right: 1em"
                                   asp-controller="Provider"
                                   asp-action="AddOrEditProviderType"
                                   asp-route-updateProviderType="true">Add</a>
                            }
                            else
                            {
                                <a class="govuk-link" style="padding-right: 1em"
                                   asp-controller="Provider"
                                   asp-action="AddOrEditProviderType"
                                   asp-route-updateProviderType="true">Edit</a>
                            }
                        }
                    </td>
                </tr>
                @if (Model.ProviderType.HasFlag(ProviderType.Apprenticeship))
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header">Brief overview of your organisation for employers</td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">
                            @if (elevated.Succeeded)
                            {
                                @if (string.IsNullOrEmpty(Model.BriefOverview))
                                {
                                    <a class="govuk-link" style="padding-right: 1em"
                                       asp-controller="Providers" append-provider-context
                                       asp-action="EditProviderInfo">Add</a>
                                }
                                else
                                {
                                    <a class="govuk-link" style="padding-right: 1em"
                                       asp-controller="Providers" append-provider-context
                                       asp-action="EditProviderInfo">Edit</a>
                                }
                            }
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td colspan="6" class="govuk-table__cell">


                            @if (string.IsNullOrEmpty(Model.BriefOverview))
                            {
                                <span class="govuk-visually-hidden">Data Unavailable</span>
                            }
                            else
                            {
                                @Html.Raw(Model.BriefOverview)
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <h2 class="govuk-heading-m" style="margin-bottom:0px">Contact details</h2>
    <div class="govuk-grid-column-one-third govuk-related-items ">

        <h3 class="govuk-heading-m m20" style="margin:0px">Address</h3>
        <p style="margin:0px">
            @Model.AddressLine1
        </p>
        <p style="margin:0px">
            @Model.AddressLine2
        </p>
        <p style="margin:0px">
            @Model.AddressLine3
        </p>
        <p style="margin:0px">
            @Model.AddressLine4
        </p>
        <p style="margin:0px">
            @Model.TownCity
        </p>
        <p style="margin-top:0px">
            @Model.PostCode
        </p>

        <h3 class="govuk-heading-m m20" style="margin-bottom:0px">Web</h3>
        <p style="margin-top:0px">
            @Model.Web
        </p>
        <h3 class="govuk-heading-m m20" style="margin-bottom:0px">Email</h3>
        <p style="margin-top:0px">
            @Model.Email
        </p>
        <h3 class="govuk-heading-m m20" style="margin-bottom:0px">Telephone</h3>
        <p style="margin-top:0px">
            @Model.Telephone
        </p>
    </div>
</div>



<script>
    (function ($) {
        $(function () {

        });
    })(jQuery);
</script>
