@using Dfc.CourseDirectory.Models.Models.Providers
@using Dfc.CourseDirectory.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@using Dfc.CourseDirectory.Web.Areas.Identity.Data;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Http
@using Dfc.CourseDirectory.Services.Interfaces.ProviderService
@using Dfc.CourseDirectory.Services.ProviderService
@using Dfc.CourseDirectory.Web.ViewComponents.BackLink

@inject IHttpContextAccessor HttpContextAccessor
@inject IAuthorizationService Authorization
@inject IProviderService providerService
@inject IGovukPhaseBannerService bannerService

@{
    var bannerSettings = bannerService.GetSettings();

}
<header class="govuk-header " role="banner" data-module="header">

    <div class="govuk-header__container cd-fullwidth-container cd-header">

        <div class="govuk-header__content cd-header--content">
            <a href="/" class="govuk-header__link govuk-header__link--service-name">
                Publish to the course directory
            </a>
            @if (User.Identity.IsAuthenticated)
            {

                <a asp-action="Logout" asp-controller="Auth" id="submit-link" class="cd-right cd-header--link">Sign out</a>
            }
            @{
                //Handles lack of controller error
                if (ViewContext.RouteData.Values["Controller"] == null)
                {
                    ViewContext.RouteData.Values.Add("Action", "");
                    ViewContext.RouteData.Values.Add("Controller", "");
                }
                var Option = HttpContextAccessor.HttpContext.Session.GetString("Option");
            }



            @{
                if (User.Identity.IsAuthenticated)
                {
                    var authorised = await Authorization.AuthorizeAsync(User, "ElevatedUserRole");
                    var superUser = await Authorization.AuthorizeAsync(User, "SuperUser");
                    var feUser = await Authorization.AuthorizeAsync(User, "Fe");
                    var apprenticeshipUser = await Authorization.AuthorizeAsync(User, "apprenticeship");
                    var adminUser = await Authorization.AuthorizeAsync(User, "admin");
                    <nav>
                        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
                            @if (adminUser.Succeeded)
                            {
                                <li class="govuk-header__navigation-item">
                                    <a class="govuk-header__link" href="~/searchprovider/">
                                        Search providers
                                    </a>
                                </li>
                                <li class="govuk-header__navigation-item">
                                    <a class="govuk-header__link" href="#">
                                        Manage users
                                    </a>
                                </li>
                                <li class="govuk-header__navigation-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Report" ? "govuk-header__navigation-item--active" : "")">
                                    <a class="govuk-header__link" href="/Report/Index">
                                        Your reports
                                    </a>
                                </li>
                            }
                            else
                            {

                                <li class="govuk-header__navigation-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "govuk-header__navigation-item--active" : "")">
                                    <a class="govuk-header__link" asp-controller="home" asp-action="index">Home</a>
                                </li>

                                @if (feUser.Succeeded)
                                {

                                    <li class="govuk-header__navigation-item @(ViewContext.RouteData.Values["Controller"].ToString() == "RegulatedQualification" || ViewContext.RouteData.Values["Controller"].ToString() == "Qualifications" || ViewContext.RouteData.Values["Controller"].ToString() == "UnregulatedCourses" ? "govuk-header__navigation-item--active" : "")">
                                        <a class="govuk-header__link" href="~/Qualifications/LandingOptions">
                                            Your courses
                                        </a>
                                    </li>

                                }

                                @if (apprenticeshipUser.Succeeded)
                                {

                                    <li class="govuk-header__navigation-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Apprenticeships" || ViewContext.RouteData.Values["Controller"].ToString() == "ProviderApprenticeships" ? "govuk-header__navigation-item--active" : "")">
                                        <a class="govuk-header__link" href="~/Apprenticeships/WhatWouldYouLIkeToDo">
                                            Your apprenticeships training
                                        </a>
                                    </li>

                                }


                                <li class="govuk-header__navigation-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Venues" || ViewContext.RouteData.Values["Controller"].ToString() == "VenueSearch" ? "govuk-header__navigation-item--active" : "")">
                                    <a class="govuk-header__link" href="~/Venues/LandingOptions">
                                        Your locations
                                    </a>
                                </li>


                                @if (feUser.Succeeded && apprenticeshipUser.Succeeded)
                                {

                                    <li class="govuk-header__navigation-item @(ViewContext.RouteData.Values["Controller"].ToString() == "BulkUpload" ? "govuk-header__navigation-item--active" : "")">
                                        <a class="govuk-header__link" href="~/BulkUpload/LandingOptions">
                                            Bulk upload
                                        </a>
                                    </li>

                                }
                                else
                                {
                                    @if (feUser.Succeeded)
                                    {

                                        <li class="govuk-header__navigation-item @(ViewContext.RouteData.Values["Controller"].ToString() == "BulkUpload" ? "govuk-header__navigation-item--active" : "")">
                                            <a class="govuk-header__link" href="~/BulkUpload/index">
                                                Bulk upload
                                            </a>
                                        </li>

                                    }

                                    @if (apprenticeshipUser.Succeeded)
                                    {

                                        <li class="govuk-header__navigation-item @(ViewContext.RouteData.Values["Controller"].ToString() == "BulkUpload" ? "govuk-header__navigation-item--active" : "")">
                                            <a class="govuk-header__link" href="~/Bulkupload/apprenticeshipindex">
                                                Bulk upload
                                            </a>
                                        </li>

                                    }
                                }

                            }
                        </ul>
                    </nav>
                }
            }
        </div>
    </div>

</header>

<div class="govuk-phase-banner cd-fullwidth-container govuk-!-margin-bottom-6">

    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag ">
            @bannerSettings.Tag
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your
            <a class="govuk-link" target="_blank" href="@bannerSettings.LinkUrl">@bannerSettings.LinkText</a> will help us to improve it.
        </span>
    </p>

</div>

@if (User.Identity.IsAuthenticated)
{
    var feUser = await Authorization.AuthorizeAsync(User, "Fe");
    var apprenticeshipUser = await Authorization.AuthorizeAsync(User, "apprenticeship");
    var adminUser = await Authorization.AuthorizeAsync(User, "admin");

    if (adminUser.Succeeded)
    {
        var providerName = "";
        var ukPRN = HttpContextAccessor.HttpContext.Session.GetInt32("UKPRN");
        if (ukPRN != null)
        {
            var providerSearchResult = await providerService.GetProviderByPRNAsync(new ProviderSearchCriteria(ukPRN.ToString()));
            providerName = providerSearchResult.Value.Value.FirstOrDefault()?.CourseDirectoryName;

            <div class=" cd-fullwidth-container  ">
                <div class="cd-dashboard provider govuk-body">

                    <div class=" homepage-item govuk-body">
                        <div class="cd-status-panel slim teal--border">
                            <nav>
                                <ul id="adminNavigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
                                    <li class="govuk-header__navigation-item ">
                                        @providerName
                                    </li>
                                    <li class="govuk-header__navigation-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "govuk-header__navigation-item--active" : "")">
                                        <a class="helpdesk__link govuk-header__link" asp-controller="Provider" asp-action="Dashboard">Home</a>
                                    </li>

                                    @if (providerSearchResult?.Value.Value.FirstOrDefault()?.ProviderType == ProviderType.FE)
                                    {

                                        <li class="govuk-header__navigation-item @(ViewContext.RouteData.Values["Controller"].ToString() == "RegulatedQualification" || ViewContext.RouteData.Values["Controller"].ToString() == "Qualifications" || ViewContext.RouteData.Values["Controller"].ToString() == "UnregulatedCourses" ? "govuk-header__navigation-item--active" : "")">
                                            <a class="helpdesk__link govuk-header__link" href="~/Qualifications/LandingOptions">
                                                My courses
                                            </a>
                                        </li>

                                    }

                                    @if (providerSearchResult?.Value.Value.FirstOrDefault()?.ProviderType == ProviderType.Apprenticeship)
                                    {

                                        <li class="govuk-header__navigation-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Apprenticeships" || ViewContext.RouteData.Values["Controller"].ToString() == "ProviderApprenticeships" ? "govuk-header__navigation-item--active" : "")">
                                            <a class="helpdesk__link govuk-header__link" href="~/Apprenticeships/WhatWouldYouLIkeToDo">
                                                My apprenticeships training
                                            </a>
                                        </li>

                                    }

                                    @if (providerSearchResult?.Value.Value.FirstOrDefault()?.ProviderType == ProviderType.Both)
                                    {
                                        <li class="govuk-header__navigation-item @(ViewContext.RouteData.Values["Controller"].ToString() == "RegulatedQualification" || ViewContext.RouteData.Values["Controller"].ToString() == "Qualifications" || ViewContext.RouteData.Values["Controller"].ToString() == "UnregulatedCourses" ? "govuk-header__navigation-item--active" : "")">
                                            <a class="helpdesk__link govuk-header__link" href="~/Qualifications/LandingOptions">
                                                My courses
                                            </a>
                                        </li>
                                        <li class="govuk-header__navigation-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Apprenticeships" || ViewContext.RouteData.Values["Controller"].ToString() == "ProviderApprenticeships" ? "govuk-header__navigation-item--active" : "")">
                                            <a class="helpdesk__link govuk-header__link" href="~/Apprenticeships/WhatWouldYouLIkeToDo">
                                                My apprenticeships training
                                            </a>
                                        </li>
                                    }


                                    <li class="govuk-header__navigation-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Venues" || ViewContext.RouteData.Values["Controller"].ToString() == "VenueSearch" ? "govuk-header__navigation-item--active" : "")">
                                        <a class="helpdesk__link govuk-header__link" href="~/Venues/LandingOptions">
                                            My locations
                                        </a>
                                    </li>


                                    @if (providerSearchResult?.Value.Value.FirstOrDefault()?.ProviderType == ProviderType.Both)
                                    {

                                        <li class="govuk-header__navigation-item @(ViewContext.RouteData.Values["Controller"].ToString() == "BulkUpload" ? "govuk-header__navigation-item--active" : "")">
                                            <a class="helpdesk__link govuk-header__link" href="~/BulkUpload/LandingOptions">
                                                Bulk upload
                                            </a>
                                        </li>

                                    }
                                    else
                                    {
                                        @if (providerSearchResult?.Value.Value.FirstOrDefault()?.ProviderType == ProviderType.FE)
                                        {

                                            <li class="govuk-header__navigation-item @(ViewContext.RouteData.Values["Controller"].ToString() == "BulkUpload" ? "govuk-header__navigation-item--active" : "")">
                                                <a class="helpdesk__link govuk-header__link" href="~/BulkUpload/index">
                                                    Bulk upload
                                                </a>
                                            </li>

                                        }

                                        @if (providerSearchResult?.Value.Value.FirstOrDefault()?.ProviderType == ProviderType.Apprenticeship)
                                        {

                                            <li class="govuk-header__navigation-item @(ViewContext.RouteData.Values["Controller"].ToString() == "BulkUpload" ? "govuk-header__navigation-item--active" : "")">
                                                <a class="helpdesk__link govuk-header__link" href="~/Bulkupload/apprenticeshipindex">
                                                    Bulk upload
                                                </a>
                                            </li>

                                        }

                                        @if (providerSearchResult?.Value.Value.FirstOrDefault()?.ProviderType == ProviderType.Both)
                                        {

                                        }
                                    }





                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
