@using Dfc.CourseDirectory.Web.Views.Shared

@{ var layoutModel = ViewData.GetLayoutModel(); }

<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="blue" />

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="~/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="~/assets/images/govuk-mask-icon.svg" color="blue">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="~/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="~/assets/images/govuk-apple-touch-icon.png">

    <link href="~/dist/site.min.css" rel="stylesheet" />
    <partial name="~/SharedViews/Partials/_V2Styles.cshtml" />
    <script src="https://cloud.tinymce.com/4/tinymce.min.js?apiKey=v5fhwngsz8uph62nxa22obe2bi6kdv5k0zaxt4cx5j1lzh8b"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <partial name="_ScriptsPartial" />
</head>

<body class="govuk-template__body app-body-class">

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <vc:cookie-banner />

    <partial name="_GovukHeaderPartial_Your_Courses" />

    <div class=" cd-fullwidth-container">
        @if (layoutModel.BackLink)
        {
            <pttcd-back-link href="@layoutModel.BackLinkHref" text="@layoutModel.BackLinkText" class="govuk-!-margin-bottom-8 govuk-!-margin-top-0" />
        }
        <main class="cd-dashboard provider govuk-body" id="main-content" role="main">
            @RenderBody()
        </main>
    </div>

    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

        // Warn about using the kit in production
        if (window.console && window.console.info) {
            window.console.info('GOV.UK Prototype Kit - do not use for production');
        }

        $(document).ready(function () {
            window.GOVUKFrontend.initAll();
        });

        $(".govuk-header__menu-button").on("click",
            function () {
                //alert("Clicked");
                if ($(".govuk-header__navigation").is(":visible")) {
                    $("#menu").removeClass("govuk-header__menu-button--open");
                    $(".govuk-header__navigation").hide();
                } else {

                    $("#menu").addClass("govuk-header__menu-button--open");
                    $(".govuk-header__navigation").show();
                }


            });
    </script>
    <partial name="_GovukFooterPartial" />

    @RenderSection("Scripts", required: false)
    <partial name="~/SharedViews/Partials/_V2Scripts.cshtml" />
</body>


</html>
