@model Dfc.CourseDirectory.WebV2.Features.TLevels.ViewAndEditTLevel.EditTLevel.ViewModel
@using Validation = Dfc.CourseDirectory.Core.Validation.TLevelValidation
@{
    ViewContext.SetLayoutData(title: "Edit your T Level information");
}

<govuk-error-summary>
    <govuk-error-summary-item asp-for="YourReference" />
    <govuk-error-summary-item asp-for="StartDate" />
    <govuk-error-summary-item asp-for="LocationVenueIds" />
    <govuk-error-summary-item asp-for="Website" />
    <govuk-error-summary-item asp-for="WhoFor" />
    <govuk-error-summary-item asp-for="EntryRequirements" />
    <govuk-error-summary-item asp-for="WhatYoullLearn" />
    <govuk-error-summary-item asp-for="HowYoullLearn" />
    <govuk-error-summary-item asp-for="HowYoullBeAssessed" />
    <govuk-error-summary-item asp-for="WhatYouCanDoNext" />
</govuk-error-summary>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="Edit" asp-all-route-data="@(RouteValuesHelper.FromQueryString())">
            <h1 class="govuk-heading-xl">Edit your T Level information</h1>

            <h2 class="govuk-heading-l" data-testid="TLevelName">@Model.TLevelName</h2>

            <h3 class="govuk-heading-m">T Level details</h3>
            <p class="govuk-body">Edit information for the learner about how the T Level will be delivered.</p>

            <govuk-input asp-for="YourReference">
                <govuk-input-label class="govuk-label--m">
                    Your reference (optional)
                </govuk-input-label>
                <govuk-input-hint>
                    A reference that will help you identify this T Level in your internal systems.
                    This will not be visible to learners.
                </govuk-input-hint>
            </govuk-input>

            <govuk-date-input asp-for="StartDate">
                <govuk-date-input-label class="govuk-label--m">
                    Start date
                </govuk-date-input-label>
                <govuk-date-input-hint>
                    For example, 30 9 2020
                </govuk-date-input-hint>
            </govuk-date-input>

            <govuk-checkboxes asp-for="LocationVenueIds" class="govuk-checkboxes--small pttcd-tlevel__venues-selector">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend class="govuk-label--m">
                        Venue
                    </govuk-checkboxes-fieldset-legend>
                </govuk-checkboxes-fieldset>
                @foreach (var item in Model.ProviderVenues)
                {
                    <govuk-checkboxes-item value="@item.VenueId" checked="@(Model.LocationVenueIds.Contains(item.VenueId))" input-data-testid="LocationVenueIds-@(item.VenueId)">
                        @item.VenueName
                    </govuk-checkboxes-item>
                }
            </govuk-checkboxes>

            @* TODO move this inside the LocationVenueIds formgroup above when tag helper library supports it? *@
            <div class="pttcd-tlevel__add-another-location">
                <govuk-button type="submit" asp-action="AddAnotherLocation" asp-all-route-data="@(RouteValuesHelper.FromQueryString())" asp-route-tLevelId="@Model.TLevelId" class="govuk-button--secondary">
                    Add another venue
                </govuk-button>
            </div>

            <govuk-input asp-for="Website">
                <govuk-input-label class="govuk-label--m">
                    T Level webpage
                </govuk-input-label>
                <govuk-input-hint>
                    The webpage for this T Level. For example, https://www.provider.com/tlevelname.
                </govuk-input-hint>
            </govuk-input>

            <h3 class="govuk-heading-m govuk-!-margin-top-9">T Level description</h3>

            <govuk-character-count asp-for="WhoFor" max-length="@Validation.Constants.WhoForMaxLength" rows="7">
                <govuk-character-count-label class="govuk-label--m">
                    Who this T Level is for
                </govuk-character-count-label>
                <govuk-character-count-hint>
                    Information that will help the learner decide whether this T Level is suitable for them,
                    the learning experience and opportunities they can expect.
                </govuk-character-count-hint>
            </govuk-character-count>

            <govuk-character-count asp-for="EntryRequirements" max-length="@Validation.Constants.EntryRequirementsMaxLength" rows="7">
                <govuk-character-count-label class="govuk-label--m">
                    Entry requirements
                </govuk-character-count-label>
                <govuk-character-count-hint>
                    Specific skills, licences, vocational or academic requirements.
                </govuk-character-count-hint>
            </govuk-character-count>

            <govuk-character-count asp-for="WhatYoullLearn" max-length="@Validation.Constants.WhatYoullLearnMaxLength" rows="7">
                <govuk-character-count-label class="govuk-label--m">
                    What you'll learn
                </govuk-character-count-label>
                <govuk-character-count-hint>
                    The main topics, units or modules of the T Level a learner can expect.
                </govuk-character-count-hint>
            </govuk-character-count>

            <govuk-character-count asp-for="HowYoullLearn" max-length="@Validation.Constants.HowYoullLearnMaxLength" rows="7">
                <govuk-character-count-label class="govuk-label--m">
                    How you'll learn
                </govuk-character-count-label>
                <govuk-character-count-hint>
                    The methods used to deliver the T Level.
                </govuk-character-count-hint>
            </govuk-character-count>

            <govuk-character-count asp-for="HowYoullBeAssessed" max-length="@Validation.Constants.HowYoullBeAssessedMaxLength" rows="7">
                <govuk-character-count-label class="govuk-label--m">
                    How you'll be assessed
                </govuk-character-count-label>
                <govuk-character-count-hint>
                    The ways a learner will be assessed.
                </govuk-character-count-hint>
            </govuk-character-count>

            <govuk-character-count asp-for="WhatYouCanDoNext" max-length="@Validation.Constants.WhatYouCanDoNextMaxLength" rows="7">
                <govuk-character-count-label class="govuk-label--m">
                    What you can do next
                </govuk-character-count-label>
                <govuk-character-count-hint>
                    The further opportunities a learner can expect after successfully completing the T Level.
                </govuk-character-count-hint>
            </govuk-character-count>

            <div class="govuk-button-group">
                <govuk-button class="cd-cancel-btn">Check and publish changes</govuk-button>
                <a  asp-action="Cancel"asp-all-route-data="@(RouteValuesHelper.FromQueryString())" asp-route-tLevelId="@Model.TLevelId" class="govuk-link cd-cancel-link">Cancel</a>
            </div>
        </form>
    </div>
</div>
