@using System.Net
@using Dfc.CourseDirectory.Web.Validation
@model Dfc.CourseDirectory.Web.ViewComponents.CourseProviderReference.CourseProviderReferenceModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var regex = RegexPattern.AllowValidCharactersRelaxed;
}

<div class="govuk-form-group">
    <label id="govuk-label--m" class="govuk-label--m" asp-for="@Model.CourseProviderReference">
        @Model.LabelText
    </label>
    @if (!string.IsNullOrWhiteSpace(Model.HintText))
    {
        <span class="govuk-hint govuk-!-margin-top-3">
            @Model.HintText
        </span>
    }

    <input class="govuk-input" asp-for="@Model.CourseProviderReference" type="text" aria-describedby="@Model.CourseProviderReference" value="@WebUtility.HtmlDecode(@Model.CourseProviderReference)"
           val-max-length="255"
           val-max-length-message="The maximum length of 'ID' is 255 characters"
           val-regex="@regex"
           val-regex-message="ID contains invalid characters" />

</div>






<script>
    (function ($) {
        $(function () {
            var $elementCourseProviderReference = $("#@nameof(Model.CourseProviderReference)");

            $elementCourseProviderReference.on("blur", function () {
                var trimmed = $elementCourseProviderReference.val().trim();
                $elementCourseProviderReference.val(trimmed);
            });
        });
    })(jQuery);
</script>
